.student_admission_date {
    float:left;
    height:5px;
    width:450px;
  }
  .student_admission_date label {
    color:#444444;
    display:block;
    float:left;
    margin:0 0 10px;
    padding-top: 10px;
    padding-right: 115px;
    font-weight: 600;
    font-size: 14px;
  }
  .text-input-bg-admission input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
    text-align: left;
}

.submit_button {
    margin-top:30px;
    margin-left:270px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.submit_button:hover{
    background: #373b3f;
}

.display-date{
    font-size: 13px;
}