<div class="text-input-bg"><%= select"students","employee_id", options_for_select(@employees.map {|c| [c.first_name, c.id]}),
    {:prompt => "#{t('select_employee')}"},
    {:onChange => "#{remote_function(:url => {:action => "student_list",:batch => @batch,:subject_id => @subject},
    :with => "'employee_id='+ value")}"}
%>
</div>
