<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>

<div id="page-yield">
  <%unless @students.blank? %>
    <div class="selection">
      <%=  t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.subject_merger').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function "#{t('none')}", "$$('input.subject_merger').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading"><td><%= "#{t('sl_no')}" %></td>
        <td><%= "#{t('student_name')}" %></td>
        <td><%= "#{t('status')}" %></td>
      </tr><% i=0 %>
      <% @students.sort_by{|e| e[:first_name]}.each do |s| %>
        <tr class="tr-<%= cycle('odd', 'even') %>"><td class="col-1"><%= i = i+1 %></td>
          <td class="col-2"><%= s.full_name   %></td>
          <td class="col-2"><%= check_box_tag "students[student_ids][]",s.id,(@teacher_student.include?(s) unless @teacher_student.empty?) ? true : false ,:class => "subject_merger" %></td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% else %>
    <%= "#{t('no_students')} " %>
  <% end %>
</div>
