<div class="text-input-bg"><%= select "students","subject_id", options_for_select(@normal_subjects.map {|c| [c.name, c.id]}),
          {:prompt => "#{t('select_a_subject')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_subject_employees",:batch => @batch},
          :with => "'subject_id='+ value")}"}
      %>
      </div>
      