<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <%= show_header_icon %>
  <h1><%= t('assign_students_to_subject_teachers') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('subject_teacher_groups') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
<% form_for :students do |f| %>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_batch') %><span class="necessary-field">*</span> </label>
    <div class="text-input-bg"><%=f.select :batch_id, options_for_select(@batches.map {|c| [c.full_name, c.id]}),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_subjects"},
        :with => "'batch_id='+ value")}"}
    %>
  </div></div>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_subject') %><span class="necessary-field">*</span> </label>
  <div id="subjects"> <%= render :partial => 'subjects', :object => @normal_subjects %></div></div>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_employee') %><span class="necessary-field">*</span> </label>
  <div id="employee"> <%= render :partial => 'employee', :object => @employees %></div></div>
  <div id="students"></div>
<% end %>
</div>