<% unless @assigned_batches.blank? %>
<table id="report_table" align="center" width="50%" cellpadding="1" cellspacing="1" style="margin-top: 50px";>
<td colspan="3" style= "text-align: center; background-color: rgb(200, 223, 226);
    font-size: 20px;"><b><%= @document.name %></b></td>
        </tr>
         <tr class="tr-even">
                    <td class="col-2"style="padding-left: 5px;
    font-size: 15px;"><%= "#{t('batch')}" %></td>
                     <td class="col-1"style="
     padding-left: 5px; font-size: 15px;"><%= "#{t('term')}"  %></td>
          <td class="col-1"style="
   padding-left: 5px; font-size: 15px;"><%= "#{t('options')}"  %></td>
            </tr>
  <% @assigned_batches.each do |d| %>
    <% @term = Term.find(d.term_id) %>
   <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=d.id%>">
                    <td class="col-2"><%= @term.batch.full_name   %></td>
                     <td class="col-1"><%= @term.name  %></td>
                     <td class="col-1"><%= link_to "Delete", {:controller => "term_documents", :action => "destroy_assigned_docs",:id =>  @term.id} ,{:confirm => "Are you sure to delete this record ?"}  %></td>
            </tr>

 <% end %>
  </table>
  <% else %>
        <table id="report_table" align="center" width="50%" cellpadding="1" cellspacing="1" style="margin-top: 50px";>
        <tr>
        <td colspan="2" style="text-align: center; background-color: rgb(200, 223, 226);
    font-size: 13px;"><b><%=  "#{t('not_assigned_to_any_term')}"  %></b></td>
        </tr>
      </table>
 <% end %>