  <% if @terms.empty? %>
    <p class="flash-msg"> <%= "Assign Term To This Batch" %> </p>
  <% else %>
      <table id="report_table" align="center" width="50%" cellpadding="1" cellspacing="1" style="margin-top: 50px";>
          <% @terms.each do |c| %>   
            <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>">
                     <td class="col-1"><%= radio_button_tag "term_id" ,c.id,false %></td>
                     <td class="col-2"><%= c.name %></td>
            </tr>
          <% end %>
      </table>
      <div id="submit-button" style="margin-left: 440px;">
          <%= submit_tag "► #{t('save')}", :disable_with => "► #{t('please_wait')}" , :class=> 'user_button' %>
      </div>
  <% end %>

  