
<%= link_to "► #{t('download_all')}",  {:controller=>"term_documents", :action=>"downloa_all", :term_id=>@term.id }, :class => 'download_button'%>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <% unless @students.blank? %>
          <tr class="tr-head">
            <td> <%= t('sl_no') %></td>
            <td> <%= t('name') %></td>
            <td> <%= t('assigned_template') %></td>
            <td> <%= t('download') %></td>
          </tr>
          <tr class="tr-blank"></tr>
          <% @students.each_with_index do |student, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <td class="col-4"><%= student.full_name %></td>
              <td class="col-1"><%= link_to "#{t('download')}" ,"/system/term_documents/#{@term.id}-#{student.id}.xls"%></td>
<td>
<form method="POST" action="https://sheet.zoho.com/remotedoc.im" target="_blank" accept-charset="UTF-8" style="padding-left: 10px;">
        <!-- <input type="hidden" name="url" value="<%#= @term_document.document.path %>">  -->
         <% d =  "/system/term_documents/#{@term.id}-#{student.id}.xls" %>
        <input type="hidden" name="url" value="<%= @http + @domain + d%>">
        <input type="hidden" name ="authtoken" id="authtoken" value="ea7b4fdfbed4356ee6c0dd4c77bf4470">
        <input type="hidden" name="apikey" value="<%=@api%>">
          <input type="hidden" name ="scope" id="scope" value="DataAPI">
        <input type="hidden" name="output" value="editor">
        <input type="hidden" name="mode" value="normaledit">
        <input type="hidden" name="filename" value="<%="#{@term.id}-#{student.id}"%>">
        <input type="hidden" name="lang" value="en">
        <input type="hidden" name="id" value="sdadasdsa">
        <input type="hidden" name="format" value="xls">
      <% save_url = "/term_documents/save_document" %>
            <input type="hidden" name="saveurl" value="<%= @http + @domain + save_url  %>" >
        <input type="submit" name="submit" value="Edit"></form>
</td>

<%end%>
<%end%>
</table>

<style>
  .download_button {
    -webkit-border-radius: 10px;
  background: #27292B none repeat scroll 0 0;
  color: #FFFFFF !important;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  margin: 12px 10px 10px 10px;
  border: none;
  text-align: center;
  width: 112px;
  height: 30px;
  cursor: pointer;
  float: right;
  text-decoration: none;
  display: block;
  padding-top: 10px;
}

.download_button:hover{
    background:  #373B3F;
}
</style>