<% unless @assigned.nil? %>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">

          <tr class="tr-head">
            <td> <%= t('name') %></td>
            <td> <%= t('download') %></td>
              <td> <%= t('assigned_template') %></td>
          </tr>
          <tr class="tr-blank"></tr>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-4"><%= @student.full_name %></td>
              <td class="col-1"><%= link_to "#{t('download')}" ,"/system/term_documents/#{@term.id}-#{@student.id}.xls"%></td>
<td>
<form method="POST" action="https://sheet.zoho.com/remotedoc.im" target="_blank" accept-charset="UTF-8" style="padding-left: 10px;">
        <!-- <input type="hidden" name="url" value="<%#= @term_document.document.path %>">  -->
         <% d =  "/system/term_documents/#{@term.id}-#{@student.id}.xls" %>
        <input type="hidden" name="url" value="<%= @http + @domain + d%>">
        <input type="hidden" name ="authtoken" id="authtoken" value="ea7b4fdfbed4356ee6c0dd4c77bf4470">
        <input type="hidden" name="apikey" value="<%=@api%>">
          <input type="hidden" name ="scope" id="scope" value="DataAPI">
        <input type="hidden" name="output" value="editor">
        <input type="hidden" name="mode" value="normaledit">
        <input type="hidden" name="filename" value="<%="#{@term.id}-#{@student.id}"%>">
        <input type="hidden" name="lang" value="en">
        <input type="hidden" name="id" value="sdadasdsa">
        <input type="hidden" name="format" value="xls">
        <input type="submit" name="submit" value="Open"></form>
</td>
</table>
<% else %>
 <p class="flash-msg"> <%= "No excel sheets for  #{@student.full_name}" %> </p>
<% end %>