<div class="label-field-pair">
  <% unless @terms.blank? %>
    <label for="student_course"><%= t('select_term') %><span class="necessary-field">*</span>: <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader",:style =>"display: none;" ) %></label>
    <div  class="text-input-bg">
      <%= select :term , :term_id ,
        @terms.map {|b| [b.name, b.id] },
        {:prompt => "#{t('select_term')}"},{:onChange => "#{remote_function(:url => {:action => "student_files"},  :with =>  "'term_id='+ value+ '&student_id=' + '#{@student_id}'",
        :before => "$('loader').show();",
        :success => "$('loader').hide();")}"} %>
    </div>
  <% else %>
     <p class="flash-msg"> <%= "Assign Term To This Batch" %> </p>
  <% end %>
</div>
