<%= stylesheet_link_tag "aau_study_types/new.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('assign_doc') %></h1>
</div>
<div id="page-yield" style="width: 1019px;">
 <div class="bread_crumb">
  <%#= make_breadcrumb %>
  <%#= render_breadcrumbs  %>
</div>
<div class="box">

  <% unless flash[:warn_notice].nil? %>
  <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

  <%- form_for :doc_terms do |c| -%>
    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <%= error_messages_for 'doc_terms', :header_message => nil%>

    <div id="form-content">
      <div class="label-field-pair">
      <label for="grade_name"><%= t('select_document') %><span class="necessary-field">*</span></label>
      <div class="text-input-bg"> <%= c.select :term_document_id , @documents.map { |e| [e.name, e.id] } ,
        {:prompt => "#{t('select_document')}" },{:onChange => "#{remote_function(:url => {:action => "document_list"}, :with => "'term_document_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"} %> </div>
      </div>

        <div class="label-field-pair">
          <% unless @batches.nil? %>
          <label for="student_course"><%= t('select_batch') %><span class="necessary-field">*</span>: <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader",:style =>"display: none;" ) %></label>
          <div  class="text-input-bg">
            <%= c.select :batch_id,
            @batches.map {|b| [b.full_name, b.id] },
            {:prompt => "#{t('select_batch')}"},{:onChange => "#{remote_function(:url => {:action => "list_terms"}, :with => "'batch_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%>
            </div>
          <% else %>
            <%= "#{t('batches_not_created')}" %>
          <% end %>
        </div>
        <div id="list-terms"></div>

    </div>

  <%- end -%>

  <div id="assigned_batch" style="padding-top: 60px;"></div>

</div>
</div>