<div id="content-header">
<div class="header-icon subjects-icon"></div>
  <h1><%= t('document') %></h1>
      <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", {:action => "new"} %> </li>
    </ul>
  </div>
</div>
<div id="page-yield">
 <div class="bread_crumb">
  <%#= make_breadcrumb %>
  <%#= render_breadcrumbs  %>
</div>
<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>

<div class="label-field-pair">
  <% unless @batches.nil? %>
  <label for="student_course"><%= t('select_batch') %><span class="necessary-field">*</span>: <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader",:style =>"display: none;" ) %></label>
  <div  class="text-input-bg">
  <%= select :bat, :batch_id ,
    @batches.map {|b| [b.full_name, b.id] },
    {:prompt => "#{t('select_batch')}"},{:onChange => "#{remote_function(:url => {:action => "list_batch_terms"}, :with => "'batch_id='+value",
      :before => "$('loader').show();",
      :success => "$('loader').hide();")}"} %>
    </div>
    <% else %>
    <%= "#{t('batches_not_created')}" %>
    <% end %>
  </div>
  <div id="list-terms"></div>
  <div id="list-message"></div>
  <div id="list-students"></div>
  </div>
  