<div id="content-header">
<div class="header-icon subjects-icon"></div>
  <h1><%= t('view_excel') %></h1>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%#= make_breadcrumb %>
    <%#= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div id="update_batch">
      <div class="label-field-pair">
        <label for="timetable_entry_course_id"><%= t('select_a_batch') %>:</label>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; float:left;margin-top:5px; margin-left: -30px;" ) %>
        <div class="text-input-bg">
          <%= select :batch_id, :id,
            @all_batches.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_a_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "batch_terms" },
            :with =>  "'batch_id='+ value+ '&student_id=' + '#{@student.id}'",
            :before => "Element.show('loader_batch')",
            :success => "Element.hide('loader_batch')"
            )}"} %>
        </div>
      </div>
    </div>
    <div id="update_batch_terms"></div>
  <div id="student_file"></div>
    <div class="extender"></div>
</div></div>