<div id="content-header">
<div class="header-icon subjects-icon"></div>
  <h1><%= t('document') %></h1>
      <div id="inner-tab-menu">
    <ul>

<form method="POST" action="https://sheet.zoho.com/remotedoc.im" target="_blank" accept-charset="UTF-8">
<input type="hidden" name="apikey" value="3ab6e857fd4073f1901a1109eb1c12df">
<input type="hidden" name="output" value="editor">
<input type="hidden" name="mode" value="normaledit">
<input type="hidden" name="filename" value="spreadsheet.xlsx">
<input type="hidden" name="lang" value="en">
<input type="hidden" name="id" value="jsadgjgdjsghj">
<input type="hidden" name="format" value="xlsx">
<input type="hidden" name="saveurl" value="http://localhost">
<li class='themed_bg themed-dark-hover-background'>
<input type="submit" name="submit" value="NEW" onclick="url">
</form>
      <%#= link_to "#{t('new_text')}", {:action => "new"} %> </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
 <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

<div class="link-box">
        <div class="link-heading"><%= link_to "#{t('uplaod_excel')}", { :action=>:new} %></div>
        <div class="link-descr"><%= t('upload_an_excel_sheet') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('assign_excel')}", {:action=>:assign_doc} %></div>
        <div class="link-descr"><%= t('assign_excel_to_student') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('view_assigned_docs')}", {:action=>:download_document} %></div>
        <div class="link-descr"><%= t('view_document') %></div>
      </div>
      
            <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('view_all_docs')}", {:action=>:show_docs} %></div>
        <div class="link-descr"><%= t('view_document') %></div>
      </div>

</div>





