
<div id="content-header">
<div class="header-icon subjects-icon"></div>
  <h1><%= t('upload_excel') %></h1>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %> 
 <div class="bread_crumb">
  <%#= make_breadcrumb %>
  <%#= render_breadcrumbs  %>
</div>
<div class="box">
<% form_for :term_document, :html => {:multipart => true}, :url => {:controller => "term_documents", :action => 'new' } do |f| %>
<%= error_messages_for 'term_document', :header_message => nil %>
<div class="label-field-pair">
<label for="student_image_file"><%= t('name') %></label>
<div class="text-input-bg"><%= f.text_field :name %></div>
</div>
<div class="label-field-pair">
<label for="student_image_file"><%= t('upload_doc') %>(<%= t('max_size') %>)</label>
<div class="text-input-bg"><%= f.file_field :document,:size=>12 %></div>
</div>

<%= f.submit "", :value => "► #{t('upload')}", :class => "user_button"%>
<% end  %>
</div>
</div>