<div id="content-header">
<div class="header-icon subjects-icon"></div>
  <h1><%= t('document') %></h1>
      <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", {:action => "new"} %> </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
 <div class="bread_crumb">
  <%#= make_breadcrumb %>
  <%#= render_breadcrumbs  %>
</div>

<html>
<table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1" style="margin-top: 50px";>
    <tr class="tr-head sub-heading">
    <td><%= t('name') %></td>
    <td><%= t('actions') %></td>

  </tr>

  <% if !@documents.blank? %>
      <% @documents.each do |doc| %>
<tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=doc.id%>">

        <td><%= doc.name %></td>
 <td>    
 <form method="POST" action="https://sheet.zoho.com/remotedoc.im" target="_blank" accept-charset="UTF-8">
 <% d = doc.document.path %>
 <% parts = d.split("#{Rails.root}/public") %>
<% m = doc.document_file_name.split(".") %>
<input type="hidden" name="url" value="<%= @http + @domain + parts.last%>">
  <input type="hidden" name ="authtoken" id="authtoken" value="ea7b4fdfbed4356ee6c0dd4c77bf4470">
 <input type="hidden" name ="scope" id="scope" value="DataAPI">
<input type="hidden" name="apikey" value="<%= @api %>">
<input type="hidden" name="output" value="editor">
<input type="hidden" name="mode" value="normaledit">
<input type="hidden" name="filename" value="<%= doc.document_file_name %>">
<input type="hidden" name="lang" value="en">
<input type="hidden" name="id" value="<%= rand(99999999) %>">
<input type="hidden" name="format" value="<%= m.last%>">
  <% save_url = "/term_documents/save_document" %>
<input type="hidden" name="saveurl" value="<%= @http + @domain + save_url  %>" >
<input type="submit" name="submit" value="Open"> |
<%  @term = TermDocumentBatch.find_all_by_term_document_id(doc.id) %>
<%  if @term.empty? %>
 <%= link_to "Delete", {:action => :destroy, :id => doc.id }, :confirm => "Are you sure?" %>
    <%else%>
 <s><%= t('delete_text') %></s>
<%end%>
</form></td>
    </tr>
      <% end %>
    <% else %>
    <div>
    <td><%= "No Document file Uploaded" %></td>
    </div>
  <% end %>
</table>
</div>






