<% if params[:progress] %>
  <div class="text-input-bg"><%=  select "teacher","term_id", options_for_select(@terms.map {|c| [c.name, c.id]}),
    {:prompt => "#{t('select_term')}"}
%>
</div>
  <%else %>
<div class="text-input-bg"><%=  select "teacher","term_id", options_for_select(@terms.map {|c| [c.name, c.id]}),
    {:prompt => "#{t('select_term')}"},
    {:onChange => "#{remote_function(:url => {:action => "update_subjects",:batch => @batch},
    :with => "'term_id='+ value")}"}
%>
</div>
<% end %>