<%unless @deadline.nil?%>
  <div class="student_admission_date">
    <label for="student_admission_date"><%= t('select_date') %> <span class="necessary-field">*</span> </label>
    <div class="text-input-bg-admission">
      <%= calendar_date_select_tag 'teacher[deadline_date]', I18n.l((@deadline.deadline_date).to_date,:format=>:default),
        :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
    </div>
  </div>
     <div class="display-date"><%= t('already_set_deadline')%></div>
<% else %>
  <div class="student_admission_date">
    <label for="student_admission_date"><%= t('select_date') %> <span class="necessary-field">*</span> </label>
    <div class="text-input-bg-admission">
      <%= calendar_date_select_tag 'teacher[deadline_date]', I18n.l(Date.today,:format=>:default),
        :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
    </div>
  </div>
<% end %>