<div class="text-input-bg"><%= select"teacher","employee_id", options_for_select(@employees.map {|c| [c.first_name, c.id]}),
    {:prompt => "#{t('select_employee')}"},
    {:onChange => "#{remote_function(:url => {:action => "show_date",:batch => @batch,:subject => @subject,:term => @term},
    :with => "'employee_id='+ value")}"}
%>
</div>
