<%= javascript_include_tag "jquery-1.10.2.min.js" %>
<%= javascript_include_tag "jquery.canvasjs.min.js" %>
<script type="text/javascript">
	window.onload = function () {
      <%= "var params_hash = #{@precentage.to_json}" %>
		var chart = new CanvasJS.Chart("chartContainer", {

			title:{
				text:"Staff Progress"

			},
                        animationEnabled: true,
			axisX:{
				interval: 1,
				gridThickness: 0,
				labelFontSize: 10,
				labelFontStyle: "normal",
				labelFontWeight: "normal",
				labelFontFamily: "Lucida Sans Unicode"

			},
			axisY2:{
				interlacedColor: "rgba(1,77,101,.2)",
				gridColor: "rgba(1,77,101,.1)"

			},

			data: [
			{
				type: "bar",
                name: "companies",
				axisYType: "secondary",
				color: "#014D65",
				dataPoints: params_hash
			}

			]
		});

chart.render();
}
</script>
    <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
<div id="chartContainer" style="height: 400px; width: 100%;">
</div>




