
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <%= show_header_icon %>
  <h1><%= t('assign_deadline_to_teachers') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('input_scores') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
<% form_for :teacher ,:url => {:action => "add_deadline"} do |f| %>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_a_batch') %><span class="necessary-field">*</span> </label>
    <div class="text-input-bg">
    <% unless @batches.nil? %>
    <%=f.select :batch_id, options_for_select(@batches.map {|c| [c.full_name, c.id]}),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_terms"},
        :with => "'batch_id='+ value")}"}
    %>
  </div></div>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_term') %><span class="necessary-field">*</span> </label>
  <div id="terms"> <%= render :partial => 'batch_terms', :object => @terms %></div></div>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_subject') %><span class="necessary-field">*</span> </label>
  <div id="subjects"> <%= render :partial => 'subjects', :object => @normal_subjects %></div></div>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_employee') %><span class="necessary-field">*</span> </label>
  <div id="employee"> <%= render :partial => 'employee', :object => @employees %></div></div>
  <div id="date"></div>
  <div class="new_submit" style="padding-top: 40px;">
  <%= submit_tag "", :value => "► #{t('assign_deadline')}", :class => "submit_button" %>
  </div>
  <% end %>
<%end%>
</div>