<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <%= show_header_icon %>
  <h1><%= t('staff_progress') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('reports') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <% form_for :teacher ,:url => {:action => "graph_progress"} do |f| %>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_a_batch') %><span class="necessary-field">*</span> </label>
  <% unless @batches.nil? %>
    <div class="text-input-bg"><%= select "teacher","batch_id", options_for_select(@batches.map {|c| [c.full_name, c.id]}),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_terms"},
       :with => "'batch_id='+ value + '&progress='")}"}
    %>
  </div></div>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_term') %><span class="necessary-field">*</span> </label>
  <div id="terms"> <%= render :partial => 'batch_terms', :object => @terms %></div></div>
  <%= submit_tag "", :value => "► #{t('generate_graph')}", :class => "submit_button" %>
 <% end %>
 <% end %>
 </div>
