<% unless @terms.blank? %>
  <% unless @link_term.nil? %>
<div class="label-field-pair">  <label for="select_batch"><%= t('select_term') %><span class="necessary-field">*</span> </label>
<div class="text-input-bg"><%=  select "term_links","term_id", options_for_select(@terms.map {|c| [c.name, c.id]},:selected=>@link_term.term_id.to_i ),
    {:prompt => "#{t('select_term')}"},
    {:onChange => "#{remote_function(:url => {:action => "link_terms"},
    :with => "'term_id='+ value")}"}
%>
</div>
 </div>
 <% else %>
 <div class="label-field-pair">  <label for="select_batch"><%= t('select_term') %><span class="necessary-field">*</span> </label>
<div class="text-input-bg"><%=  select "term_links","term_id", options_for_select(@terms.map {|c| [c.name, c.id]} ),
    {:prompt => "#{t('select_term')}"},
    {:onChange => "#{remote_function(:url => {:action => "link_terms"},
    :with => "'term_id='+ value")}"}
%>
</div>
 </div>
 <% end %>
 <% end %>