<ul id="category-list">
  <% unless @link_terms.empty? %>
    <li class="listheading"> <div class="category-name"><%= "#{t('linked_term')}" %> </div>
    <div class="category-name"><%= "#{t('link_name')}" %> </div>
    </li>
    <%- @link_terms.each do |c| -%>

      <li class="list<%=cycle('odd', 'even')%>">
       <div class="category-name"><%= Term.find(c.link_term_id).name %></div>
       <div class="category-name"><%= c.link_name %> </div>
       <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit", :id=>c.id}  %></div>
       <div class="category-edit">
     <%= link_to "#{t('delete_text')}", {:action => "delete", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %>
    </div>
      </li>
    <% end %>
  <% else %>
    <p class="flash-msg"><%= t('no_terms_still_linked') %></p>
  <% end %>
</ul>

<style>
ul{
    list-style-type: none;
}

.warn{
    margin-left: 25px !important;
}

.errorExplanation {
    background: url("/images/_global/error.png") no-repeat scroll 10px 14px #FFDEDF;
    height: auto;
    margin-left: 229px;
    padding: 10px 0 15px 16px;
    width: 545px;
}

.errorExplanation ul li {
    font-size: 13px;
    font-weight: 600;
    margin-left: -19px;
    margin-top: 0px;
    text-decoration: none;
    list-style-type: disc;
}

#form-content{
    height:150px;
    width:500px;
    margin:0px auto;
}

#radio-buttons{
    margin:0;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:left;
    margin-top:10px;
    margin-left: 210px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

div#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 180px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#category-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 5em;
    width:30em;
}

.label-checkbox-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0 0 0px;
    width:600px;
}
.status{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}
.errorExplanation1 {
   background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    padding : 10px 0 20px 20px;
    width: 541px;
    margin-left: 229px;
    margin-bottom: 10px;

}
.errorExplanation1 ul {
    list-style: none;
    margin-top: 7px;
    margin-bottom: 0px;
    padding-left: 21px;

}
.errorExplanation1 ul li{
    font-weight:600;
    font-size:16px;
    display: block;
}

  </style>