<% unless @other_terms.blank? %>
  <% unless @link_term.nil? %>
  <div class="label-field-pair">  <label for="select_batch"><%= t('link_name') %><span class="necessary-field">*</span> </label>
<div class="text-input-bg">
  <%= text_field "term_links","link_name",:value =>@link_term.link_name   %>
</div></div>
<div class="label-field-pair">  <label for="select_batch"><%= t('link_term') %><span class="necessary-field">*</span> </label>
<div class="text-input-bg"><%=  select "term_links","link_term_id", options_for_select(@other_terms.map {|c| [c.name, c.id]},:selected=>@link_term.link_term_id.to_i),
    {:prompt => "#{t('select_term')}"}
%>
</div>
 </div>
  <% else %>
  <div class="label-field-pair">  <label for="select_batch"><%= t('link_name') %><span class="necessary-field">*</span> </label>
<div class="text-input-bg">
  <%= text_field "term_links","link_name"   %>
</div></div>
<div class="label-field-pair">  <label for="select_batch"><%= t('link_term') %><span class="necessary-field">*</span> </label>
<div class="text-input-bg"><%=  select "term_links","link_term_id", options_for_select(@other_terms.map {|c| [c.name, c.id]}),
    {:prompt => "#{t('select_term')}"}
%>
</div>
 </div>
  <% end %>

 <% end %>