<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <%= show_header_icon %>
  <h1><%= t('term_links') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('links_to_other_terms') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
<% form_for :term_links ,:url => {:action => "save"} do |f| %>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_a_batch') %><span class="necessary-field">*</span> </label>
    <div class="text-input-bg">
    <% unless @batches.nil? %>
    <%=select "",:batch_id, options_for_select(@batches.map {|c| [c.full_name, c.id]}),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_terms"},
        :with => "'batch_id='+ value")}"}
    %>
  </div></div>
 
  <div id="terms"></div>
  <div id="link_terms"></div>
  <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% end %>
<%end%>
  <div id="linked_terms"> </div>
   
</div>

<style>
  .submit_button {
    margin-top:30px;
    margin-left:270px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.submit_button:hover{
    background: #373b3f;
}
</style>