<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>
<div id="page-yield">
  <%unless @students.blank? %>
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading"><td><%= "#{t('sl_no')}" %></td>
        <td><%= "#{t('r_student')}" %></td>
        <td><%= "#{t('don_not_disturb')}" %></td>
      </tr><% i=0 %>
      <% @students.each do |s| %>
        <tr class="tr-<%= cycle('odd', 'even') %>"><td class="col-1"><%= i = i+1 %></td>
          <td class="col-2"><%= s.first_name   %></td>
          <td class="col-2"><%= check_box_tag "students[student_ids][]",s.id,(@dnd_students.include?(s) unless @dnd_students.blank?) ? true : false,:class => "subject_merger" %></td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% else %>
    <%= "#{t('no_students')} " %>
  <% end %>
</div>