<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('do_not_distrub') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
<% form_for :students do |f| %>
  <div class="label-field-pair">  <label for="select_batch"><%= t('select_batch') %><span class="necessary-field">*</span> </label>
    <div class="text-input-bg"><%=f.select :batch_id, options_for_select(@batches.map {|c| [c.full_name, c.id]}),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "student_list"},
        :with => "'batch_id='+ value")}"}
    %>
  </div></div>
  <div id="students"></div>
<%end%>
</div>