<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <%= show_header_icon %>
  <h1><%= t('tsend_sms_to_parents') %></h1>
<div class='header-sep'>|</div>
  <div class='sub-header'><%= t('send_sms_students_present') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('d_n_d')}", :controller => "rank_ingres_sms_modules", :action => "assign_students" %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :students do |f| %>
    <div class="student_admission_date">  <label for="student_admission_date"><%= t('select_batch') %><span class="necessary-field">*</span> </label>
      <div class="text-input-bg"><%=f.select :batch_id, options_for_select(@batches.map {|c| [c.full_name, c.id]}),
          {:prompt => "#{t('select_a_batch')}"}
      %>
    </div></div>
    <div class="student_admission_date">
      <label for="student_admission_date"><%= t('select_date') %> <span class="necessary-field">*</span> </label>
      <div class="text-input-bg-admission">
        <%= calendar_date_select_tag 'students[attendance_date]', I18n.l(Date.today,:format=>:default),
          :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
      </div>
    </div>
    <%= submit_tag "", :value => "► #{t('send_sms')}", :class => "submit_button" %>
  <%end%>
</div>
<style>
.submit_button {
    margin-top:30px;
    margin-left:340px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.submit_button:hover{
    background: #373b3f;
}
#page-yield {
/*    margin-right: 10px;*/
    margin-top: 2px;
}

</style>
