<%= stylesheet_link_tag "report_builders/list_students" %>
<style>
  #category-list div.category-delete{
    font-size: 15px ;
    width: 40px;
    text-align: left;
    font-weight: lighter;
    margin-left: 100px;
  }
</style>
<% unless @assigned_batches.empty? %>

  <ul id="category-list"><br />
    <span style="margin-left: 205px;"><%= "Assigned Batches" %></span><br /><br />
    <% @assigned_batches.each do |assigned| %>
       <% unless assigned.batch.nil? %>
      <li  style="background-color: #87CEFA;height:26px;width:520px; text-align: center; margin-left: 200px;" class="list<%= cycle('odd')%>">
        <div class="category-name" style="width:240px;" ><%=  assigned.batch.full_name  %></div>
        <div class="category-delete"><%= link_to "Delete", {:action => :delete_assigned_batch, :id => assigned.id }, :confirm => "Are you sure?" %></div>
      </li>

      <% assigned.term_id.each do |term| %>
        <li  style="width:250px;height:15px; text-align: center; margin-left: 200px;" class="list<%= cycle('odd')%>">
          <div style="width:240px;" class="category-name">
            <%= Term.find(term.to_i).name  %>
          </div>
        </li>
      <% end %><br />
      <% end %>
    <% end %>
  </ul>
<% end %>

<div class="label-field-pair" >
  <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
  <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
  <div class="text-input-bg">
    <%= select "", :batch_id,
      @batches.map {|b| [b.full_name, b.id]},
      {:prompt => "#{t('select_a_batch')}"},
      {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "get_terms"},
      :with => "'batch_id='+ value",
      :before => "Element.show('loader_batch')",
      :success => "Element.hide('loader_batch')")}"}
  %>
  </div>
</div>