<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_a_term') %></label>
  <div class="text-input-bg">
    <%= select '', :term_id, @terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "tutor_batch_students"},
          :with => "'term_id='+ value")}"}
    %>
  </div></div>