<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_ca_term') %></label>
  <div class="text-input-bg">
    <%= select '', :ca_term_id, @batch_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"}
    %>
  </div></div>