<div class="box">
  <% remote_form_for :edit_groups, :url => {:action =>"update_groups", :id => @evaluation_group.id}, :html=> {:multipart=>true} do |f| %>
    <%= f.error_messages %>
    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('evaluation_group')}" %></div>
      <div class="input-container"><%= f.text_field :name, :value=> @evaluation_group.name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('code')}" %></div>
      <div class="input-container"><%= f.text_field :code,:value=> @evaluation_group.code %></div>
    </div>

    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= "#{t('select_grade_format')}" %></label>
        <%#= f.radio_button :score_format,"Alphabets",:checked =>@alpha %><%#= t('alphabets') %>
        <%#= f.radio_button :score_format,"Numbers",:checked =>@numeric %><%#= t('numbers') %>
        <%#= f.radio_button :score_format,"Emerging",:checked =>@emerging %><%#= t('emerging') %>
        <%#= f.radio_button :score_format,"ExamGroups",:checked =>@exam_groups %><%#= t('exam_groups_term') %>
        <%#= f.radio_button :score_format,"Extracurricular",:checked => @extra %><%#= t('extra_activity') %>
       <%#= f.radio_button :score_format,"Effort",:checked=>@effort%><%#= t('effort') %>
       <div class="text-input-bg">
          <%= f.select  :score_format, options_for_select([[t('alphabets'),"Alphabets"],[t('numbers'),"Numbers"],[t('emerging'),"Emerging"],[t('exam_groups_term'),"ExamGroups"],[t('extra_activity'),"Extracurricular"],[t('extra_activity2'),"Extracurricular2"],[t('extra_activity3'),"Extracurricular3"],[t('effort'),"Effort"]]),
            {:selected => @evaluation_group.score_format},
            {:prompt => "#{t('select_grade_format')}"}
        %>
        </div>
</div>

 
    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= "#{t('format')}" %></label>
      <div class="text-input-bg">
        <%#= f.radio_button :evaluation_group,"subject",:checked =>@sub,:onChange => "render_partial(this);j('#flash').hide();"%><%#= t('subject') %>
        <%#= f.radio_button :evaluation_group,"area",:checked =>@area,:onChange => "render_partial(this);j('#flash').hide();" %> <%#= t('area') %>
<%#= select  :evaluation, [["#{t('subject')}", "subject"], ["#{t('area')}", "area"]],
            :selected => @value,
            :prompt=>"#{t('format')}",
            {:onChange => "render_partial(this);j('#flash').hide();"}%>

<%= select "",:evaluation ,  [["#{t('format')}", ""],["#{t('subject')}", "subject"], ["#{t('area')}", "area"]],{:selected => @value},
            {:onChange => "render_partial(this);j('#flash').hide();"}
        %>
    </div>
    </div>
    <div id="render_partial">
      <%  if @area == true %>
        <div class="label-field-pair">
          <label for="timetable_entry_course_id"><%= t('select_a_area') %></label>
          <div class="text-input-bg">
            <%= select "", :area, options_for_select(['Prime Area','Specific Area']),{:selected => @evaluation_group.area},
              {:prompt => "#{t('select_a_area')}"}%>
          </div>
        </div>
      <% end %>
      <div class="label-field-pair">
        <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
        <div class="text-input-bg">
          <%= select "", :batch_id, @batches.map {|c| [c.full_name, c.id]},{:selected => @evaluation_group.batch_id},
            {:onChange => "#{remote_function(:url => {:action => "update_term"},
            :with => "'batch_id='+ value + '&evaluation_groups='")}"}
        %>
        </div>
      </div>
      <div id="update_terms">
        <div class="label-field-pair">
          <label for="timetable_entry_course_id"><%= t('select_a_term') %></label>
          <div class="text-input-bg">
            <%=select "",:term_id, @terms.map {|c| [c.name, c.id]},{:selected => @evaluation_group.term_id} %>
          </div>
        </div>
          <div class="label-field-pair">
    <label for="department_name"><%= t('department') %></label>

     <% @valuess = @department.nil? ? "" : @department.id %>
    <div class="text-input-bg"><%= select "", :department_id, @departments.map { |s| [s.name, s.id] },
        {:selected => @valuess   },
        {:onChange => "#{remote_function(:url => {:action => "update_employees"},
        :with => "'department_id='+value+'&batch_id=#{@batch.id}&'+",:before=>"$('loader').show();",:success=>"$('loader').hide();")}"} %>
      <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
    </div>
  </div>

  <div id="employee-list">
    <div class="label-field-pair">
    <label for="department_name"><%= t('select_a_teacher') %></label>
    <div class="text-input-bg">
        <% unless @employees.nil?   %>
          <%= select "", :employee_id, @employees.map { |s| [s.full_name, s.id] },{:selected => @evaluation_group.employee_id},
        {:prompt => "#{t('select_a_teacher')}"}

         %>
         <% end %>
    </div>
  </div>

  </div>
      </div>
      <% if @sub == true %>
        <div class="label-field-pair">
          <label for="timetable_entry_course_id"><%= t('select_subject') %></label>
          <div class="text-input-bg">
            <%= select"", :subject_id, @subjects.map {|c| [c.name, c.id]},{:selected => @evaluation_group.subject_id}
          %>
          </div>
        </div>
      <% end %>
    </div>
    <%= f.submit "", :value => "► #{t('update')}", :class => "submit_button" %>
  <%  end  %>
</div>

<style>
  form {
    width:500px;
  }
  .label-field-pair {
    float : left;
    width : 500px;
  }
  .input-container{
    float: left;
  }
  .label-checkbox-pair11{
    float: right;
    padding: 15px 0px 0px 10px;
    width: 500px;
  }

  label_for_status
  {
    font-size: 13px;
  }
  .status{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 3px;
    width: 140px;  }

  #radio-buttons{
    width: 290px;
    float: right;
  }
</style>
