<div class="box">
  <% remote_form_for :edit_areas, :url => {:action =>"update_areas", :id => @evaluation_area.id}, :html=> {:multipart=>true} do |f| %>
    <%= f.error_messages %>
    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('evaluation_area')}" %></div>
      <div class="input-container"><%= f.text_field :name, :value=> @evaluation_area.name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('code')}" %></div>
      <div class="input-container"><%= f.text_field :code,:value=> @evaluation_area.code %></div>
    </div>
  <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
      <div class="text-input-bg">
        <%= select  '', :batch_id, options_for_select(@courses.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_term"},
          :with => "'batch_id='+ value + '&evaluation_area='")}"}
      %>
      </div>
    </div>

    <div id="update_terms"></div>
    <div id="evaluation_groups"></div>
    <div id="evaluation_types"></div>

    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% end %>
</div>