     <div class="label-field-pair">
    <label for="department_name"><%= t('select_a_teacher') %></label>
    <div class="text-input-bg"><%= select "", :employee_id, @employees.map { |s| [s.full_name, s.id] },
        {:prompt => "#{t('select_a_teacher')}"}
         %>
    </div>
  </div>