<% unless @evaluation_areas.blank? %>
<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_a_area') %></label>
  <div class="text-input-bg">
    <%= select '', :evaluation_area_id, @evaluation_areas.map {|c| [c.name, c.id]},
      {:prompt => "#{t('select_a_area')}"},
      {:onChange => "#{remote_function(:url => {:action => "evaluation_score",:score_values => @score_values },
        :with => "'id='+ value ")}"}
  %>
  </div>
</div>
<% else %>
  <div class="box">
      <table id="listing" width="80%">
        <tr class="tr-head">
          <td><%= t('name') %></td>
          <td><%= t('value') %></td>
        </tr>
        <% @students.each do |student| %>
        <% @score_value = EvaluationScore.find_by_student_id_and_evaluation_type_id_and_evaluation_area_id(student.id, params[:id],nil) %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= student.full_name %> </td>
            <td class="col-2"><div class="label-field-pair">
                <div class="text-input-bg"><%= select '',"score[#{student.id}][value]", @score_values ,
                    { :prompt =>"#{t('select_grade')}", :selected => @score_value.nil? ? 0 : @score_value.performance}, :class=>"marks-box" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
  <% end %>