<% unless @batch_terms.empty?  %>
<% @batch_terms.each do |term| %>
<div class="link-box">
        <div class="link-heading"><%= link_to term.name.capitalize, :controller => "terms", :action => "term_evaluation",:term_id => term.id, :batch_id => @batch.id %></div>
   </div>
   <% end %>
   <% else %>
    <div style="background-color : #fff1ab; width:70%;height: 25px; margin-top: 90px;">
      <p style="text-align: center; padding-top:5px; font-size: 13px;"><%= t('no_terms_created')  %></p>
    </div>
   <% end %>