<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_a_evaluation_group') %></label>
  <div class="text-input-bg">
    <% if params[:evaluation_area] %>
      <%= select '', :evaluation_group_id, @term_evaluation_groups.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_evaluation_group')}"},
        {:onChange => "#{remote_function(:url => {:action => "term_evaluation_type"},
        :with => "'evaluation_group_id='+ value"
        )}"} %>
    <% elsif params[:evaluation_type] %>
      <%= select '', :evaluation_group_id, @term_evaluation_groups.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_evaluation_group')}"} %>
    <% else %>
      <%= select '', :evaluation_group_id, @term_evaluation_groups.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_evaluation_group')}"},
        {:onChange => "#{remote_function(:url => {:action => "infant_students"},
        :with => "'evaluation_group_id='+ value"
        )}"}
    %>
    <% end %>
  </div>
</div>
