<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_a_evaluation_type') %></label>
  <div class="text-input-bg">
    <%= select '', :evaluation_type_id, @term_evaluation_types.map {|c| [c.name, c.id]},
      {:prompt => "#{t('select_a_evaluation_type')}"}
  %>
  </div>
</div>
