<div class="box">
  <table id="listing" width="80%">
    <tr class="tr-head">
      <td><%= t('name') %></td>
      <td><%= t('value') %></td>
    </tr>
    <% @students.each do |student| %>
      <% @score_value = EvaluationScore.find_by_student_id_and_evaluation_area_id(student.id, params[:id]) %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2"><%= student.full_name %> </td>
        <td class="col-2"><div class="label-field-pair">
            <div class="text-input-bg"><%= select '',"score[#{student.id}][value]", @score_values ,
                { :prompt =>"#{t('select_grade')}", :selected => @score_value.nil? ? "0" : @score_value.performance }, :class=>"marks-box" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>