<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag "exam/update_exam_form"  %>
<% form_for [@batch, @exam_group] do |f| %>
  <%= hidden_field_tag :term_id, params[:term_id] %>
  <%= f.error_messages %>
<div class="exam-basic-details">
  <div class="label-field-pair">
    <%= f.label "#{t('name')}" %>
     <div class="label-field-pair"> <div class="text-input-bg">
  <%= f.text_field :name, :value=>@name %>
    </div></div>
  </div>

  <div class="label-field-pair">
   <%= f.label "#{t('exam_type')}" %>
    <%= f.hidden_field :exam_type,:value=>@type %>
    <div class="text-input-bg">
    <%= text_field_tag "" , t(@type.underscore),:disabled=>true %>
    </div>  <%= link_to "#{t('change_type')}", new_batch_exam_group_path(@batch,:ename=>@name),:class=>"type_link" %>
  </div>
</div>
  <h4>
    <%= t('enter_exam_related_details') %>:
  </h4>

  <table width="100%" id="listing">
    <tr class="tr-head">
      <td><%= t('subject_name') %></td>
      <td><%= t('start_time') %></td>
      <td><%= t('end_time') %></td>
      <td><%= t('do_not_create') %></td>
    </tr>

    <% f.fields_for :exams do |exam_form| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2"> <div class="label-field-pair3"> <div class="text-input-bg3"><%= exam_form.object.subject.name %><%= exam_form.hidden_field :subject_id %></div></div></td>
        <td class="col-2"> <div class="label-field-pair3"> <div class="text-input-bg3"><%= exam_form.calendar_date_select :start_time ,:readonly=>true,:popup=>"force"%></div></div></td>
        <td class="col-3"> <div class="label-field-pair3"> <div class="text-input-bg3"><%= exam_form.calendar_date_select :end_time,:readonly=>true,:popup=>"force" %></div></div></td>
        <td class="col-1"><%= exam_form.check_box :_delete %></td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag "", :value => "► #{t('save_changes')}", :class => "submit_button2" %>

<% end %>
