<%= stylesheet_link_tag "report_builders/list_students" %>
<% unless  @batch_terms.empty? %>
  <%= "Existing Batch Terms" %>
  <ul id="category-list">
    <% @batch_terms.each do |term| %>
      <li  style="width:400px; text-align: center; margin-left: 200px;" class="list<%= cycle('odd')%>">
        <div style="width:400px;" class="category-name">
          <%= term.name.capitalize %> (<%= term.start_date.to_date %> - <%= term.end_date.to_date  %> )
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<style>
  #category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:460px;
    margin-left: -330px;
  }
</style>
