<%= stylesheet_link_tag "report_builders/list_students" %>
<% unless @batch_terms.blank? %>
    <ul id="category-list"><br />
      <% @batch_terms.each do |term| %>
        <li  style="width:250px; text-align: center; margin-left: 200px;" class="list<%= cycle('odd')%>">
          <div style="width:240px;" class="category-name">
            <%= check_box :term_id,  "#{term.id}",:checked=> term =="1" %> <%= term.name.capitalize %>
          </div>
        </li>
      <% end %>
    </ul>
    <% else %>
     <p class="flash-msg"><%= t('no_terms') %></p>
  <% end %>