<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<%#*<div id="register">%>
<%# this_user = User.find(session[:user_id]) if session[:user_id] %>
<%# unless this_user.student? or this_user.parent? %>
<%#*<div class="header">%>
<%#*<div class="month">%>
<%#= @student.full_name %>
<%#*</div>%>
<%#*<div class="extender"></div>%>
<%#*</div>%>
<%# end%>
<%#*</div>%>
<% grade_type = "normal" %>
<% grade_type = "GPA" if @batch.gpa_enabled? %>
<% grade_type = "CWA" if @batch.cwa_enabled? %>

<% all_exams = @exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
<div id="score-table">
  <table id="listing" width="100%">
    <div class="custom_header">
      <span class="student"><%= "#{@student.full_name} - #{@student.admission_no}" %></span>
    </div>
    <tr class="tr-head">
      <td><%= t('subject') %></td>
      <% @exam_groups.each do |exam_group| %>
        <td><%= exam_group.name %></td>
      <% end %>
      <% unless all_exams.empty? %>
        <td><%= t('total') %></td>
      <% end %>
    </tr>
    <% @subjects.each do |subject| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2" ><%= subject.name %></td>
        <% @mmg = 1;@g = 1 %>

        <% @exam_groups.each do |exam_group| %>

          <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
          <% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
          <td class="col-3">
            <% unless @exam.nil? %>
              <% if exam_group.exam_type == "MarksAndGrades" %>
                <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" %>
              <% elsif exam_group.exam_type == "Marks" %>
                <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}" %>
              <% else %>
                <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                <% @g = 0 %>
              <% end %>
            <% else %>
              <%= "#{t('n_a')}" %>
            <% end %>
          <% end %>
        </td>
        <% unless all_exams.empty? %>
          <% if @mmg == @g %>
            <td class="col-1"><%= ReportBuilder.grouped_exam_subject_total(subject,@student,@exam_groups) %></td>
          <% else %>
            <td class="col-1">-</td>
          <% end %>
        <% end %>
      </tr>

    <% end %>
    <tr class="tr-head">
      <td><%= t('total') %></td>
      <% @max_total = 0 %>
      <% @marks_total = 0 %>

      <% @exam_groups.each do |exam_group| %>
        <% if exam_group.exam_type == "MarksAndGrades" %>
          <td><%= exam_group.total_marks(@student)[0] %></td>
        <% elsif exam_group.exam_type == "Marks" %>
          <td><%= exam_group.total_marks(@student)[0] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% unless exam_group.exam_type == "Grades" %>
          <% @max_total = @max_total + exam_group.total_marks(@student)[1] %>
          <% @marks_total = @marks_total + exam_group.total_marks(@student)[0] %>
        <% end %>
      <% end %>
      <% unless all_exams.empty? %>
        <td></td>
      <% end %>
    </tr>
    <tr></tr>
  </table>
  <% if @mmg == @g %>
    <div class="custom_header">
      <% percentage = (@marks_total*100/@max_total.to_f)  unless @max_total==0 %>
      <%= t('total_marks') %> = <%= @marks_total %> | <%= t('aggregate') %> % = <%= "%.2f" %percentage  unless percentage.nil?%>
    </div>
  <% end %>
</div>
<div class="extender"></div>
