<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% unless @batch_students.empty? %>
  <div id="page-yield">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %></p>
    <% end %>
  </div>
<% end %>

<div class="box">
    <table id="listing">
    <tr class="tr-head">
          <td><%= t('sl_no') %></td>
          <td><%= t('student_name') %></td>
          <td><%= t('comments') %></td>
        </tr>
        <% @batch_students.each_with_index do |s,i| %>
          <% @evaluation_comment = EvaluationComment.find_by_term_id_and_evaluation_group_id_and_student_id(@term_id,params[:evaluation_group_id],s.id) %>
        <% i +=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"><%= i %> </td>
        <td class="col-2"><%=  s.full_name.capitalize   %> </td>
        <td class="col-1"> <%= text_area"", "exam[#{s.id}][comment]",:value => @evaluation_comment.nil? ? "" : @evaluation_comment.comment ,:size =>"30x2" ,:maxlength=> "250" %></td>
        </tr>
        <%  end %>
        </table><br />
 </div>
    