<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% unless @evaluation_areas.empty? %>
  <ul id="category-list">
    <br /><% @evaluation_areas.each_with_index do |type,i| %>
      <% i +=1 %>
      <li class="list<%= cycle('odd', 'even')%>">
        <div class="sl_no"><%= i %></div>
        <div class="category-name"><%= type.name.capitalize %></div>
        <% if @current_user.privileges.include?(Privilege.find_by_name("TermManager")) || @current_user.admin? %>
          <div class="category-delete"><%= link_to_remote "Edit", :url => { :action => :edit_areas, :id => type.id } %>&nbsp&nbsp|</div>
          <div class="category-delete">&nbsp<%= link_to "Delete", {:action => :type_destroy, :id => type.id }, :confirm => "Are you sure?" %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
