<%= stylesheet_link_tag "report_builders/view_template" %>
<% if params[:evaluation_area] %>
<div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_type') %></label>
    <div class="text-input-bg">
      <%= select '', :term_id, @evaluation_types.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_type')}"},
        {:onChange => "#{remote_function(:url => {:action => "list_eval_areas"},
        :with => "'group_id='+ value + '&evaluation_area='"
        )}"} %>
    </div>
  </div>
<%  else %>
<% unless @evaluation_types.empty? %>
  <ul id="category-list">
    <br /><% @evaluation_types.each_with_index do |type,i| %>
      <% i +=1 %>
      <li class="list<%= cycle('odd', 'even')%>">
        <div class="sl_no"><%= i %></div>
        <div class="category-name"><%= type.name.capitalize %></div>
        <% if @current_user.privileges.include?(Privilege.find_by_name("TermManager")) || @current_user.admin? %>
          <div class="category-delete"><%= link_to_remote "Edit", :url => { :action => :edit_types, :id => type.id } %>&nbsp&nbsp|</div>
          <div class="category-delete">&nbsp<%= link_to "Delete", {:action => :type_destroy, :id => type.id }, :confirm => "Are you sure?" %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<% end %>