<% unless @batch_students.empty? %>
<div class="box">
<table id="listing">
  <tr class="tr-head">
          <td><%= "Sl_No" %></td>
          <td><%= "Student_Name" %></td>
          <td><%= "Effort" %></td>
          <td><%= "Class Work" %></td>
          <td><%= "Attitude" %></td>
          <td><%= "Home Work" %></td>
          <td><%= "Comments" %></td>
        </tr>
        <% @batch_students.each_with_index do |s,i| %>
         <% @value =   RatingComment.find_by_student_id_and_exam_id(s.id,@exam.id) %>
        <% i +=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"><%= i %> </td>
        <td class="col-2"><%=  s.full_name.titleize   %> </td>
        <td class="col-1"> <%= text_field_tag "exam[#{s.id}][effort]","",:size => "5x1",:value => @value.nil? ? "" : @value.effort%></td>
         <td class="col-1"> <%= text_field_tag "exam[#{s.id}][class_work]","",:size => "5x1" ,:value => @value.nil? ? "" : @value.class_work%></td>
         <td class="col-1">  <%= text_field_tag "exam[#{s.id}][attitude]","",:size => "5x1" ,:value =>@value.nil? ? "" : @value.attitude %></td>
         <td class="col-1"> <%= text_field_tag "exam[#{s.id}][home_work]","",:size => "5x1",:value => @value.nil? ? "" : @value.home_work %></td>
         <td class="col-2">  <%= text_field_tag "exam[#{s.id}][comment_desc]" ,"",:size => '40',:value => @value.nil? ? "" : @value.comment_desc %></td>
        </tr>
        <%  end %>
        </table><br />
          <%= submit_tag "►  "  "#{t('save')}",:class => "submit_button" %>

          <% else %>
           <table id="listing">
              <tr class="tr-head">
          <td><%= "Sl_No" %></td>
          <td><%= "Student_Name" %></td>
          <td><%= "Effort" %></td>
          <td><%= "Class Work" %></td>
          <td><%= "Attitude" %></td>
          <td><%= "Home Work" %></td>
          <td><%= "Comments" %></td>
        </tr>
  <tr class="tr-head">
          <td colspan="6"><%= "No Students"  %></td>
          </tr></table>
          <% end %>