<%= stylesheet_link_tag "report_builders/list_students" %>

<% unless @term_subjects.empty? %>
  <div class="selection">
    <%=  t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.sel').each(function(checkbox) { checkbox.checked = true; });" %>,
    <%= link_to_function "#{t('none')}", "$$('input.sel').each(function(checkbox) { checkbox.checked = false; });" %>
  </div>

  <div id="page-yield">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %></p>
    <% end %>
    <ul id="category-list">
      <% @term_subjects.each_with_index do |s,i| %>
        <% i +=1 %>
        <li class="list<%= cycle('odd', 'even')%>">
          <div class="sl_no"><%= i %></div>
          <div class="category-name"><%= s.name.capitalize %></div>
          <div style="float: right; margin-right: 50px;"> <%= check_box :subject, "#{s.id}",:checked=> s =="1",:class=>"sel"%></div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


