<ul id="category-list">
  <li class="list<%= cycle('odd', 'even')%>">
    <div class="sl_no"><%="Sl.no" %></div>
    <div class="category-name"><%="Term" %> </div>
    <div class="category-name"><%="Batch" %> </div>
    <div class="category-delete"><%= "Options" %></div>
  </li>
  <% unless @terms.nil? %>
    <% @terms.each_with_index do |term,i| %>
      <% i +=1 %>
      <li class="list<%= cycle('odd', 'even')%>">
        <div class="sl_no"><%= i %></div>
        <div class="category-name"><%= term.name.capitalize %></div>
        <div class="category-name"><%= term.batch.full_name %></div>
        <% if @current_user.privileges.include?(Privilege.find_by_name("PinnacleTermManager")) || @current_user.admin? %>
          <div class="category-delete"><%= link_to "Edit", :action => :edit, :id => term.id %>&nbsp|</div>
          <div class="category-delete"><% unless term.exam_groups.blank? %>
            <strike>Delete</strike>
             <% else %>
           <%= link_to "Delete", {:action => :destroy, :id => term.id }, :confirm => "Are you sure?" %></div>
      <% end %>
      <% end %>
      </li>
    <% end %>
  <% else %>
    <div class="category-name"><%= t('no_terms') %></div>
  <% end  %>
</ul>
