<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% form_for :rating_comments, :url=>{:action=>"save_ratings_comments"} do |f| %>
    <%= hidden_field_tag :user_id, @current_user.id  %>
<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('exam_group') %></label>
  <div class="text-input-bg">
<%= select '', :exam_id,  @exam_name.map {|c| [c.name , c.id]},
        {:prompt => "Select_Exam"},
       {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "rating_batch_students"},
        :with => "'exam_id='+ value"
          )}"}
%>
    </div>
</div>
<div id="rating_students"> </div>

<% end %>
