<% unless @batch_students.empty? %>
  <div class="box">
    <table id="listings" width="80%">
      <tr class="tr-head"><td><%= t('name') %></td>
        <td><%= t('comments') %></td>
      </tr>
      <% @batch_students.each do |student| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td><%= student.full_name %></td>
          <%  @tutor_comment = TutorComment.find_by_batch_id_and_term_id_and_student_id_and_user_id_and_is_principal(@term.batch.id,@term.id,student,@current_user.id,@principal == "true" ? true : false) %>
          <td class="col-2">
            <div class="label-field-pair7">
              <div class="text-input-bg">
                <%= text_area"","exam[#{student.id}][description]", :value => @tutor_comment.nil? ? "" : @tutor_comment.description ,:size =>"40x2" %>
          </div></div></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
