<div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_exam_group')}" %>:</label>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
      <div class="text-input-bg">
        <%= select "", :exam_group_id,
          @term_exams.map {|b| [b.name, b.id]},
          {:prompt => "#{t('select_a_exam_group')}"},
          {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "term_subjects"},
          :with => "'exam_group_id='+ value",
          :before => "Element.show('loader_batch')",
          :success => "Element.hide('loader_batch')")}"}
      %>
      </div>
    </div><br />