<% if params[:evaluation_type] %>
  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_term') %></label>
    <div class="text-input-bg">
      <%= select '', :term_id, @evaluation_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_evaluation_group"},
        :with => "'term_id='+ value + '&evaluation_type='"
        )}"} %>
    </div>
  </div>
 <% elsif params[:evaluation_area] %>
<div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_term') %></label>
    <div class="text-input-bg">
      <%= select '', :term_id, @evaluation_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_evaluation_group"},
        :with => "'term_id='+ value + '&evaluation_area='"
        )}"} %>
    </div>
  </div>
<% else %>
  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_term') %></label>
    <div class="text-input-bg">
      <%= select '', :term_id, @evaluation_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_evaluation_group"},
        :with => "'term_id='+ value"
        )}"} %>
    </div>
  </div>
<% end %>