<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_a_term') %></label>
  <div class="text-input-bg">
    <% if params[:evaluation_group] %>
      <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:action => "term_evaluation_group"},
        :with => "'term_id='+ value"
        )}"}
    %>
    <% elsif params[:evaluation_groups] %>
      <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"}
    %>   </div>
</div>

       <div class="label-field-pair">
    <label for="department_name"><%= t('department') %></label>
    <div class="text-input-bg"><%= select "", :department_id, @departments.map { |s| [s.name, s.id] },
        {:prompt => "#{t('select_a_department')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_employees"},
        :with => "'department_id='+value+'&batch_id=#{@batch.id}&'+",:before=>"$('loader').show();",:success=>"$('loader').hide();")}"} %>
      <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
    </div>
  </div>
  <div id="employee-list"></div>
    <% elsif params[:evaluation_type] %>
      <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:action => "term_evaluation_group"},
        :with => "'term_id='+ value + '&evaluation_type='"
        )}"} %>

    <% elsif params[:evaluation_area] %>

      <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:action => "term_evaluation_group"},
        :with => "'term_id='+ value + '&evaluation_area='"
        )}"} %>
    <% elsif params[:comments_ratings] %>
     <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
       {:prompt => "#{t('select_a_term')}"},
       {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "term_exam_groups"},
        :with => "'term_id='+ value"
          )}"}
      %>
    <% elsif params[:term] %>
     <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
       {:prompt => "#{t('select_a_term')}"}
      %>
    <% elsif params[:term_subjects] %>
     <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
       {:prompt => "#{t('select_a_term')}"},
       {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "update_term_subjects"},
          :with => "'term_id='+ value",
          :before => "Element.show('loader_batch')",
          :success => "Element.hide('loader_batch')")}"}
      %>
    <% else %>
      <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_term')}"},
        {:onChange => "#{remote_function(:url => {:action => "final_report_type"},
        :with => "'term_id='+ value"
        )}"} %>
    <% end %>
  </div>
</div>
