<%= stylesheet_link_tag "report_builders/view_template" %>
<% if params[:evaluation_type] %>
  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_group') %></label>
    <div class="text-input-bg">
      <%= select '', :term_id, @evaluation_groups.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_group')}"},
        {:onChange => "#{remote_function(:url => {:action => "list_eval_types"},
        :with => "'group_id='+ value"
        )}"} %>
    </div>
  </div>
<% elsif params[:evaluation_area] %>
<div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_group') %></label>
    <div class="text-input-bg">
      <%= select '', :term_id, @evaluation_groups.map {|c| [c.name, c.id]},
        {:prompt => "#{t('select_a_group')}"},
        {:onChange => "#{remote_function(:url => {:action => "list_eval_types"},
        :with => "'group_id='+ value + '&evaluation_area='"
        )}"} %>
    </div>
  </div>
<% else %>
  <% unless  @evaluation_groups.empty? %>
    <ul id="category-list">
      <br /><% @evaluation_groups.each_with_index do |group,i| %>
        <% i +=1 %>
        <li class="list<%= cycle('odd', 'even')%>">
          <div class="sl_no"><%= i %></div>
          <div class="category-name"><%= group.name.capitalize %></div>
          <% if @current_user.privileges.include?(Privilege.find_by_name("TermManager")) || @current_user.admin? %>
            <div class="category-delete"><%= link_to_remote "Edit", :url => { :action => :edit_groups, :id => group.id } %>&nbsp&nbsp|</div>
            <div class="category-delete">&nbsp<%= link_to "Delete", {:action => :group_destroy, :id => group.id }, :confirm => "Are you sure?" %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

