<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_a_term') %></label>
  <div class="text-input-bg">
    <%= select '', :term_id, @batch_terms.map {|c| [c.name, c.id]},
      {:prompt => "#{t('select_a_term')}"}
  %>
  </div>
</div>
<div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_subject') %></label>
  <div class="text-input-bg">
    <%= select '', :subject_id, @batch_subjects.map {|c| [c.name, c.id]},
      {:prompt => "#{t('select_subject')}"}
  %>
  </div>
</div>