<div id="update_batch">
  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_batch') %>:</label>
    <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; float:left;margin-top:5px; margin-left: -30px;" ) %>
    <div class="text-input-bg">
      <%= select :batch_id, :id,
        @batch.map {|b| [b.full_name, b.id]},
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:controller => "terms", :action => "batch_term",:evaluation_group=>"evaluation" },
        :with =>  "'batch_id='+ value+ '&termwise=' + 'true'",
        :before => "Element.show('loader_batch')",
        :success => "Element.hide('loader_batch')"
        )}"} %>
    </div>
  </div>
</div>