<div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_area') %></label>
      <div class="text-input-bg">
        <%= select  '', :area, options_for_select(['Prime Area','Specific Area']),
          {:prompt => "#{t('select_a_area')}"}%>
      </div>
    </div>
    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
      <div class="text-input-bg">
        <%= select  '', :batch_id, options_for_select(@courses.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_term"},
          :with => "'batch_id='+ value + '&evaluation_groups='")}"}
      %>
      </div>
    </div>
    <div id="update_terms"></div>