<%= stylesheet_link_tag  "courses/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('evaluation_area')}"%></h1>
  <div class="header-sep">|</div>
  <div class="sub-header"><%= t('new') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <div  style=" float: right;width: 300px;margin-left:10px"id="batch_terms"></div>
  <% form_for :evaluation_area do |f| %>
    <%= f.error_messages %>
    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('evaluation_area')}" %></div>
      <div class="input-container"><%= f.text_field :name %></div>
    </div>

    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
      <div class="text-input-bg">
        <%= select  '', :batch_id, options_for_select(@courses.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_term"},
          :with => "'batch_id='+ value + '&evaluation_area='")}"}
      %>
      </div>
    </div>
    <div id="update_terms"></div>
    <div id="evaluation_groups"></div>
    <div id="evaluation_types"></div>
    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% end %>
</div>

<style>
  form {
    width:500px;
  }
  .label-field-pair {
    float : left;


    width : 530px;
  }
  .input-container{
    float: left;
  }
</style>
