<%= stylesheet_link_tag  "courses/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('evaluation_group')}"%></h1>
  <div class="header-sep">|</div>
  <div class="sub-header"><%= t('new') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <div  style=" float: right;width: 300px;margin-left:10px"id="batch_terms"></div>
  <% form_for :evaluation_group do |f| %>
    <%= f.error_messages %>
    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('evaluation_group')}" %></div>
      <div class="input-container"><%= f.text_field :name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('code')}" %></div>
      <div class="text-input-bg"> <%= f.text_field :code %></div>
    </div>
    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= "#{t('select_grade_format')}" %></label>
        <%#= f.radio_button :score_format,"Alphabets"%><%#= t('alphabets') %>
        <%#= f.radio_button :score_format,"Numbers"%><%#= t('numbers') %>
        <%#= f.radio_button :score_format,"Emerging"%><%#= t('emerging') %>
        <%#= f.radio_button :score_format,"ExamGroups"%><%#= t('exam_groups_term') %>
        <%#= f.radio_button :score_format,"Extracurricular"%><%#= t('extra_activity') %>
        <%#= f.radio_button :score_format,"Extracurricular2"%><%#= t('extra_activity2') %>
        <%#= f.radio_button :score_format,"Effort"%><%#= t('effort') %>

    <div class="text-input-bg">
          <%= f.select  :score_format, options_for_select([[t('alphabets'),"Alphabets"],[t('numbers'),"Numbers"],[t('emerging'),"Emerging"],[t('exam_groups_term'),"ExamGroups"],[t('extra_activity'),"Extracurricular"],[t('extra_activity2'),"Extracurricular2"],[t('extra_activity3'),"Extracurricular3"],[t('effort'),"Effort"]]),
            {:prompt => "#{t('select_grade_format')}"}
        %>
        </div>

      </div>
    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= "#{t('format')}" %></label>
      <div class="text-input-bg">
      <%#= f.radio_button :evaluation_group,"subject",:onChange => "render_partial(this);j('#flash').hide();"%><%#= t('subject') %>
      <%#= f.radio_button :evaluation_group,"area",:onChange => "render_partial(this);j('#flash').hide();" %> <%#= t('area') %>

         <%= select  "",:evaluation, options_for_select([[t('subject'),"subject"],[t('area'),"area"]]),
           {:prompt => "#{t('format')}"},
            {:onChange => "render_partial(this);j('#flash').hide();"}
        %>
    </div>
    </div>
    <div id="render_partial">
      <div class="label-field-pair">
        <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
        <div class="text-input-bg">
          <%= select  "" , :batch_id, options_for_select(@courses.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
            {:prompt => "#{t('select_a_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "update_term"},
            :with => "'batch_id='+ value + '&evaluation_groups='")}"}
        %>
        </div>
      </div>
      <div id="update_terms"></div>
    </div>
    <%= f.submit  "► #{t('save')}", :class => "submit_button" %>
  <% end %>
</div>

<style>
  form {
    width:500px;
  }
  .label-field-pair {
    float : left;
    width : 500px;
  }
  .input-container{
    float: left;
  }
  .label-checkbox-pair11{
    float: right;
    padding: 15px 0px 0px 10px;
    width: 500px;
  }

  label_for_status
{
   font-size: 13px;
}
.status{
   color: #444444;
   display: block;
   float: left;
   font-size: 14px;
   font-weight: 600;
   margin: 0 0 10px;
   padding-top: 3px;
   width: 140px;  }

   #radio-buttons{
   width: 290px;
   float: right;
}
</style>

<script type="text/javascript">

  function render_partial(button){
    j('#loader1').show();
    new Ajax.Request('/terms/view',
    {
      parameters:'evaluation_group='+button.value,
      asynchronous:true,
      evalScripts:true,
      method:'post',
      onComplete:function(){
        j('#loader1').hide();
      }
    }
  )
  }
</script>

