
<%= stylesheet_link_tag "exam/update_exam_form"  %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('assign_exam_to_subject')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :exam_group do |f| %>
   <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_batch') %>:</label>
    <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; float:left;margin-top:5px; margin-left: -30px;" ) %>
    <div class="text-input-bg">
      <%= select :batch_id, :id,
        @batch.map {|b| [b.full_name, b.id]},
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:controller => "terms", :action => "update_term" },
        :with =>  "'batch_id='+ value+ '&term_subjects=' + 'true'",
        :before => "Element.show('loader_batch')",
        :success => "Element.hide('loader_batch')"
        )}"} %>
    </div>
  </div>
    <div id="update_terms"></div>
    <div id="update_term_subjects"></div>
    <div id="term_subjects"> </div>


    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit-button", :style => "width: 80px;" %>

  <% end %>
</div>
