<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "Assign Template"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :custom_reports do |f| %>
    <%= hidden_field_tag :type, "general"  %>
    <div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_template')}" %>:</label>
      <div class="text-input-bg">
        <%= select "", :template_id,
          @templates.map {|b| [b.name, b.id]},
          {:prompt => "#{t('select_a_template')}"},
           {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "assigned_batches"},
            :with => "'template_id='+ value",
            :before => "Element.show('loader_batch')",
            :success => "Element.hide('loader_batch')")}"}
      %>
      </div>
    </div>

    <div id="assigned_batches">
      <div class="label-field-pair">
        <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
        <div class="text-input-bg">
          <%= select "", :batch_id,
            @batches.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_a_batch')}"},
            {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "get_terms"},
            :with => "'batch_id='+ value",
            :before => "Element.show('loader_batch')",
            :success => "Element.hide('loader_batch')")}"}
        %>
        </div>
      </div>
    </div>
    <div id="batch_terms"> </div><br />
    <%= f.submit "► Assign", :class=>"submit-button",:style =>"width:100px;margin-left:270px;" %>
  <% end %>
</div>
