<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>




<div id="page-yield">
  <div class="hor_line"></div>
  <h2><%= "Grouped Exam Report for Batch : "+@batch.full_name %></h2>
  <div class="hor_line"></div>
  <% grade_type = "normal" %>
  <% grade_type = "GPA" if @batch.gpa_enabled? %>
  <% grade_type = "CWA" if @batch.cwa_enabled? %>
  <% @students.each_with_index do |student,i| %>
    <% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
    <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
    <% elective_subjects = [] %>
    <% student_electives.each do |elect| %>
      <% elective_subjects.push Subject.find(elect.subject_id,:conditions => {:is_deleted => false}) %>
    <% end %>
    <% @subjects = general_subjects + elective_subjects %>
    <% @subjects.reject!{|s| s.no_exams==true} %>
    <% exams = Exam.find_all_by_exam_group_id(@exam_groups.collect(&:id)) %>
    <% subject_ids = exams.collect(&:subject_id) %>
    <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
    <div class="extender"> </div>
    <% if i == 0  %>
      <div class="report">
      <% else %>
        <div class="report1">
        <% end  %>
        <div id ="main_info">
          <h4> <%= student.full_name %></h4>
        </div>
        <div id="pdf-info">
          <% all_exams = @exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
          <table id="pdf-table" width="100%" cellspacing="0">
            <tr class="table-header">
              <td><%= t('subject') %></td>
              <% @exam_groups.each do |exam_group| %>
                <td><%= exam_group.name %></td>
              <% end %>
              <% unless all_exams.empty? %>
                <td><%= t('total') %></td>
              <% end %>
            </tr>
            <% c ='even' %>
            <% @subjects.each do |subject| %>
              <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                <td class="col-pdf" ><%= subject.name %></td>
                <% @mmg = 1;@g = 1 %>
                <% @exam_groups.each do |exam_group| %>

                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <td class="col-pdf">
                    <% unless @exam.nil? %>
                      <% if exam_group.exam_type == "MarksAndGrades" %>
                        <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" +"/"+@exam.maximum_marks.to_s+"[#{(exam_score.grading_level || "-")}]" %>
                      <% elsif exam_group.exam_type == "Marks" %>
                        <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
                      <% else %>
                        <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                        <% @g = 0 %>
                      <% end %>
                    <% else %>
                      <%= "#{t('n_a')}" %>
                    <% end %>
                  <% end %>
                </td>
                <% unless all_exams.empty? %>
                  <% if @mmg == @g %>
                    <td class="col-pdf"><%= ReportBuilder.grouped_exam_subject_total(subject,student,@exam_groups) %></td>
                  <% else %>
                    <td class="col-pdf">-</td>
                  <% end %>
                <% end %>
              </tr>

            <% end %>
            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <td class="col-pdf-bold"><%= t('total') %></td>
              <% @max_total = 0 %>
              <% @marks_total = 0 %>

              <% @exam_groups.each do |exam_group| %>
                <% if exam_group.exam_type == "MarksAndGrades" %>
                  <td class="col-pdf-bold"><%= exam_group.total_marks(student)[0] %></td>
                <% elsif exam_group.exam_type == "Marks" %>
                  <td class="col-pdf-bold"><%= exam_group.total_marks(student)[0] %></td>
                <% else %>
                  <td class="col-pdf-bold">-</td>
                <% end %>
                <% unless exam_group.exam_type == "Grades" %>
                  <% @max_total = @max_total + exam_group.total_marks(student)[1] %>
                  <% @marks_total = @marks_total + exam_group.total_marks(student)[0] %>
                <% end %>
              <% end %>
              <% unless all_exams.empty? %>
                <td></td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<style>


  #page-yield {
    width:800px;
    margin: 10px auto;
    float: left;
    overflow: hidden;
  }



  .hor_line{
    width:800px;
    background: #333333;
    height: 1px;
  }

  h2.heading{
    text-align: center;
    margin:5px;
  }

  #main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
  }

  #main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

  }


  .odd{
    height:auto;
    background: #EEEEEE;

  }

  .even{

    height:auto;
    background: #fff;


  }
  tr.even{
    border: 1px solid #ADACAB;
  }

  tr.odd{
    border: 1px solid #ADACAB;
  }

  .even td{

    padding: 2px 2px 2px 5px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

  }

  .odd td{
    padding: 2px 2px 2px 5px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

  }



  .table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
  }

  table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
  }


  #page-extender{
    width:100%;
    height :300px;

  }
  #page-extender1{
    width:100%;
    height :300px;

  }

  .report{
    min-height: 1110px;
    margin: 0 auto;
  }

  .report1{
    min-height: 1110px;
    margin: 0 auto;
  }

  #signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
    margin-bottom: 100px;
  }


  #page-yield h2{
    text-align: center;
  }


  .page-break td{
    height: 300px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
  }






</style>
