<%= stylesheet_link_tag  "exam/create_exam"  %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div id="inner-tab-menu">
     <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('teacher_screen')}", {:controller => "rank_ingres_teacher_screens", :action => "index"} %></li>
  </ul>
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('evaluation_group')}", {:controller => "terms", :action => "infant_data"} %></li>
  </ul>
  <ul>
    <% if permitted_to? :previous_batch_exams, :exam %>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('previous_batch_exam')}", {:controller => "exam", :action => "previous_batch_exams"} %></li>
    <% end %>
  </ul>
</div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% unless @batch.blank? %>
    <div id="update_batch">
  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_batch') %>:</label>
    <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; float:left;margin-top:5px; margin-left: -30px;" ) %>
    <div class="text-input-bg">
      <%= select :batch_id, :id,
        @batch.map {|b| [b.full_name, b.id]},
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "batch_term" },
        :with =>  "'batch_id='+ value+ '&termwise=' + 'true'",
        :before => "Element.show('loader_batch')",
        :success => "Element.hide('loader_batch')"
        )}"} %>
    </div>
  </div>
</div>
    <% else %>
    <p class="flash-msg"> <%= "Permission Denied For User" %> </p>
<% end %>
    <div id="update_batch" >
    </div>
    <div id="batch_terms"></div>
    <div class="extender"></div>
  </div></div>
