<%= stylesheet_link_tag  "courses/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('terms')}"%></h1>
  <div class="header-sep">|</div>
  <div class="sub-header"><%= t('edit') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :terms_edit, @term %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
    <% @courses = Batch.active %>
    <div  style=" float: right;width: 300px;margin-left:10px"id="batch_terms"></div>
  <% form_for :term, :url => {:action => "update", :id => @term.id} do |f| %>
    <%= f.error_messages %>
    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('term_name')}" %></div>
      <div class="input-container"><%= f.text_field :name, :value=> @term.name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('code')}" %></div>
      <div class="input-container"><%= f.text_field :code, :value=> @term.code %></div>
    </div>


    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_batch') %>
        <%#= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </label>
      <div class="text-input-bg">
        
          <%=  select "",:batch_id, options_for_select(@courses.map {|c| [c.full_name, c.id]},:selected=>@term.batch_id.to_i ),
    {:prompt => "#{t('select_a_batch')}"},
   {:onChange => "#{remote_function(:url => {:action => "existing_terms"},
          :with => "'batch_id='+ value")}"}
%>


      </div>
    </div>
    <div id="existing_terms">
      <div class="label-field-pair">
  <label for="timetable_entry_course_id"><%= t('select_ca_term') %></label>
  <div class="text-input-bg">
    <%= select  "",:ca_term_id, options_for_select(@batch_terms.map {|c| [c.name, c.id]},:selected=>@term.ca_term_id.to_i),
     {:prompt => "#{t('select_term')}"}%>
    </div></div></div>
    <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('start_date')}" %></div>
      <div class="input-container"><%= calendar_date_select_tag  'start_date',I18n.l(params[:start_date].nil? ? @term.start_date.to_date  : params[:start_date].to_date ,:count => (params[:start_date].nil? ? @term.start_date.to_date: params[:start_date].to_date-5.years).day,:format=>:default),  :popup=>"force" %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('end_date')}" %></div>
      <div class="input-container"><%= calendar_date_select_tag 'end_date', I18n.l(params[:end_date].nil? ? @term.end_date.to_date  : params[:end_date].to_date ,:count => (params[:end_date].nil? ? @term.end_date.to_date : params[:end_date].to_date-5.years).day,:format=>:default), :popup=>"force" %></div>
    </div>
     <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('assumption_date')}" %></div>
      <div class="input-container"><%= calendar_date_select_tag 'assumption_date', I18n.l(@term.assumption_date || Date.today,:format=>:default),:year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
      </div>
    </div>
      
    <%= submit_tag "", :value => "► #{t('update')}", :class => "submit_button" %>
  <% end %>
</div>
