<%= stylesheet_link_tag "exams/show" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
  <% end %>
  <div class="box">
    <% form_for :evaluation_score, :url => {:action => "save_score"}  do |f| %>
    <%= hidden_field_tag "type_id", params[:evaluation_type_id] %>
    <%= hidden_field_tag "area_id", params[:evaluation_area_id] %>
      <table id="listing" width="80%">
        <tr class="tr-head">
          <td><%= t('name') %></td>
          <td><%= "Value" %></td>
        </tr>
        <% @students.each do |student| %>
        <% @score_value = EvaluationScore.find_by_student_id_and_evaluation_area_id(student.id, params[:evaluation_area_id]) %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= student.full_name %> </td>
            <td class="col-2"><div class="label-field-pair">
                <div class="text-input-bg"><%= select '',"score[#{student.id}][value]", @score_values ,
                    { :prompt =>"#{t('select_grade')}", :selected => @score_value.nil? ? "0" : @score_value.performance }, :class=>"marks-box" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
      <div id="sub-button"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :onClick => "if(check_blanks()==true) return true; else return false;" %></div>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
