<%= stylesheet_link_tag "exam_groups/show" %>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>

</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="bread_crumb">
    <%= link_to t('exams_text'), :controller => "exam", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('exam_management')}", :controller => "exam", :action => "create_exam" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch) %> <div class = "bread-crumb-separator"> > </div>
    <%= @subject_group.name.capitalize %>
  </div>
  <div class="box">
    <table id="listing">
      <tr class="tr-head">
        <td><%= t('subject') %></td>
        <td><%= t('manage') %></td>
      </tr>
      <% @assigned_exam_group.each do |assigned_exam_group| %>
      <% subject = Subject.find(assigned_exam_group.subject_id) %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2"><%= link_to subject.name, :action => "subject_students" ,:batch_id => @batch.id, :assigned_exam_group_id => assigned_exam_group.id  %></td>
          <td class="col-1">
            <small><%= link_to t('delete_text'),:method => "delete", :action => "delete_subject_exam_groups", :confirm => t('delete_confirm_msg'), :assigned_exam_group_id => assigned_exam_group.id %></small>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>