<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%=  stylesheet_link_tag "exam/generated_report4"%>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('terms') %></h1>
  <div id="inner-tab-menu">
    <ul>
      <% unless @previous_batch == 1 %>
  <%#  if permitted_to? :combined_grouped_exam_report_pdf,:exam %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}",
            {:controller => "terms", :action => "combined_grouped_exam_report_pdf",:term_id => params[:term_id], :batch => @batch.id},:target => '_blank' %></li>
  <%# end %>
      <% end %>
    </ul>
  </div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <h4 align="center"><%= @batch.name %> - <%= @batch.course.full_name %></h4>
  <% unless @previous_batch == 1 %>
    <div id="student_list">
      <%= render  :partial=>"student_list" %>
    </div>
  <% end %>
  <% unless @previous_batch == 1 %>
    <div class ="current_batch">
      <div id="grouped_exam_report">
        <%= render :partial=>'grouped_exam_report' %>
      </div>
    </div>
  <% else %>
    <div class ="previous_batch">
      <div id="grouped_exam_report">
        <%= render :partial=>'grouped_exam_report' %>
      </div>
    </div>
  <% end %>
<%#*<div class="box">%>
<%#*</div>%>

</div>

<script type="text/javascript">
  function set_active(){
    $$('.active-link').each(function(e){
      e.removeClassName('active-link');
    });
    this.addClassName('active-link')
  }
  function draw_report(){
    Element.show('loader')
    new Ajax.Request('/exam/generated_report4',
    {asynchronous:true, evalScripts:true,
      parameters:'student='+this.id+'&type=<%= @type %>',onSuccess:function(request){Element.hide('loader')}
    })
  }
  document.observe("dom:loaded", function() {
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
  });
</script>
