<%= stylesheet_link_tag 'exam_groups/index' %>
<%= stylesheet_link_tag  "exams/show"  %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :terms_get_evaluation_type, @evaluation_group %>
    <%= render_breadcrumbs  %>
</div>
  <div class="bread_crumb">
    <h2><%= @evaluation_group.name.capitalize %></h2> 
   </div>  
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>

  <% if @exam_groups.present?  %>
    <% form_for :evaluation_score, :url => {:action => "save_score"}  do |f| %>
      <%= f.error_messages %>
      <%= hidden_field_tag "examgroups", @evaluation_group.score_format %>
      <div class="outer">
        <div class="inner">
          <table>
            <tr style="height: 40px;">
              <th><%= t('name') %></th>
              <% @evaluation_types.each do |evaluation_type|  %>
                <% @exam_groups.each do |exam_group| %>
                  <td><%= evaluation_type.name %>-<%= exam_group.name %></td>
                <% end %>
                <td><%= evaluation_type.name %><%= t('effort') %></td>
              <% end %>
            </tr>
            <% @students.each do |student| %>
              <tr style="height: 40px;">
                <th><%= student.full_name %> </th>
                <% @evaluation_types.each do |evaluation_type|  %>
                  <% @score_value = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,evaluation_type.id) %>
                  <% @exam_groups.each do |exam_group| %>
                    <td class="col-2">
                      <div class="label-field-pair7">
                        <div class="text-input-bg">
                    <%= text_area_tag "exam[#{evaluation_type.id}-#{student.id}][#{exam_group.id}]",@score_value.nil? ? "" : @score_value.exam_group_scores["#{exam_group.id}"] ,:size => "14x2"%></div></div></td>
                  <% end %>
                  <td class="col-2"><div class="label-field-pair7">
                      <div class="text-input-bg">
                  <%= text_area_tag "exam[#{evaluation_type.id}-#{student.id}][effort]",@score_value.nil? ? "" : @score_value.exam_group_scores["effort"] ,:size => "14x2" %></div></div></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <%= submit_tag "", :value => "Submit", :class => "submit_button1",:style=>"margin-top:25px;margin-left:250px;" %>
    <% end %>
  <% elsif  @sub_values.present? %>
    <% form_for :evaluation_score, :url => {:action => "save_score"}  do |f| %>
      <%= f.error_messages %>
      <%= hidden_field_tag "examgroups", @evaluation_group.score_format %>
      <div class="outer">
        <div class="inner">
          <table>
            <tr style="height: 40px;">
              <th><%= t('name') %></th>
              <% @evaluation_types.each do |evaluation_type|  %>
                <% unless @score_values.nil?  %>
                <% @score_values.each do |value| %>
                  <td class="center"><%= evaluation_type.name %>-<%= value %></td>
                <% end %>
                <% end %>
              <% end %>
            </tr>
            <% @students.each do |student| %>
              <tr style="height: 40px;">
                <th><%= student.full_name %> </th>
                <% @evaluation_types.each do |evaluation_type|  %>
                  <% @score_value = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,evaluation_type.id) %>
         <% unless  @score_vlaues.nil? %>
        <% @score_values.each do |value| %>
                    <% if value== "Key skill learnt" %>
                      <td class="center">
                        <div class="label-field-pair7">
                          <div class="text-input-bg">
                      <%= text_area_tag "exam[#{evaluation_type.id}-#{student.id}][#{value}]",@score_value.nil? ? "" : @score_value.exam_group_scores["#{value}"] ,:size => "14x2"%></div> </div></td>
                      <% elsif value== "Grading Rubric" %>
                      <td class="center"><table><tr><td>
                        <div class="label-field-pair7">
                          <div class="text-input-bg">
                      <%= text_area_tag "exam[#{evaluation_type.id}-#{student.id}][#{value}]",@score_value.nil? ? "" : @score_value.exam_group_scores["#{value}"],:size => "14x2" %></div> </div></td></tr></table></td>
                    <% else %>
                      <td class="center"><table style="border: 1px solid #ccc;"><tr>
                        <% @sub_values.each do |val| %>
                          <td style="border:none;"><%= val.downcase  %><%= check_box_tag "exam[#{evaluation_type.id}-#{student.id}][#{value}]","#{val}", @score_value.nil? ?false : (@score_value.exam_group_scores["#{value}"] == val ? true : false)  %>
                        </td><% end %>
                     </tr></table></td>
                    <% end %>
                  <% end %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <%= submit_tag "", :value => "Submit", :class => "submit_button1",:style=>"margin-top:25px;margin-left:250px;" %>
    <% end %>
  <% else %>
    <% form_for :evaluation_score, :url => {:action => "save_score"}  do |f| %>

      <%= hidden_field_tag "exam_type_areas" %>
      <div class="outer">
        <div class="inner">
          <table>
            <tr style="height: 40px;">
              <th><%= t('name') %></th>
              <% @evaluation_types.each do |evaluation_type|  %>
                <%unless evaluation_type.evaluation_areas.blank? %>
                  <% evaluation_type.evaluation_areas.each do |evaluation_area| %>
                    <td class="center"><%= evaluation_area.name %></td>
                  <% end %>
                <% else %>
                  <td class="center"><%= evaluation_type.name %></td>
                <% end %>
              <% end %>
            </tr>
            <% @students.each do |student| %>
              <tr style="height: 40px;">
                <th><%= student.full_name %> </th>
                <% @evaluation_types.each do |evaluation_type|  %>
                  <%unless evaluation_type.evaluation_areas.blank? %>
                    <% evaluation_type.evaluation_areas.each do |evaluation_area| %>
                      <% @score = EvaluationScore.find_by_student_id_and_evaluation_area_id(student.id,evaluation_area.id) %>
                      <% unless @score_values.nil? %>
                      <td class="center"><table style="border: 1px solid #ccc;"><tr><% @score_values.each do |val| %>
                          <td style="border:none;"><%= val.downcase  %><%= check_box_tag "areas[#{evaluation_area.id}-#{student.id}]","#{val}", @score.nil? ?  false : (@score.performance == val ? true : false)%></td>
                        <% end %></tr></table></td>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% @score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,evaluation_type.id) %>
                <% unless @score_values.nil? %>
     <td class="center"><table style="border: 1px solid #ccc;"><tr><% @score_values.each do |val| %>
                        <td style="border:none;"><%= val.downcase  %><%= check_box_tag "types[#{evaluation_type.id}-#{student.id}]","#{val}", @score.nil? ?false : (@score.performance == val ? true : false)  %></td>
                      <% end %>
                    </tr></table></td>
                  <% end %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <%= submit_tag "", :value => "Submit", :class => "submit_button",:style=>"margin-top:25px;margin-left:250px;" %>
    <% end %>

  <% end %>
</div>
<style>
  form {
    width:500px;
  }
  .label-field-pair7 {
    float : left;
    width : 125px;
  }

  .label-field-pair7 input {
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    padding:5px;
    width:100px;
  }

  .submit_button1 {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 0 0 500px;
  }

  .input-container{
    float: left;
  }

  table {
  table-layout: fixed;
}
td {

  border-top: 1px solid #ccc;
    font-size:12px;
      width: 40px;
}

th {
    vertical-align: middle;
  border-top: 1px solid #ccc;
  padding:10px;
  position:absolute;
  left:-16px;
  width:150px;
  margin-left:-40px;
  font-size:12px;
}
.outer {position:relative;
  width:1000px;}

.inner {
  overflow-x:scroll;
  overflow-y:visible;
  margin-left:100px;
}
</style>
