<%= stylesheet_link_tag "exam/grouped_exam_report" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('terms')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <% form_for :exam_report, :url =>{:controller=>"terms", :action => "generated_report4"} do |f| %>
    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
      <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader",
        :style =>"display: none;" ) %>
      <div class="text-input-bg">
        <%= select  :exam_report ,:batch_id, Batch.active.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_term"},
          :with => "'batch_id='+ value",
          :before => "Element.show('loader')",
          :selected => Batch.first.full_name,
          :success => "Element.hide('loader')"
          )}"} %>
      </div>
    </div>

    <div id="update_terms"></div>
    <div id="term_exams"></div>

    <%= submit_tag "", :value => "► #{t('view')}", :class => "submit_button" %>
  <% end %>
</div>
