<%= stylesheet_link_tag "exam/index" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('term_exam_expln') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if @current_user.admin? or @current_user.employee? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('create_terms')}",:controller=>"terms" ,:action=>'new_term' %></div>
        <div class="link-descr"><%= t('create_terms_expln') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('assign_exams')}" ,:controller=>"terms",:action=>'index' %> </div>
        <div class="link-descr"><%= t('assign_exams_expln') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('term_wise_report')}" ,:action=>'grouped_exam_report' %></div>
        <div class="link-descr"><%= t('term_wise_report_expln') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('terms')}" ,:action=>'list_terms' %></div>
        <div class="link-descr"><%= t('view_terms_expln') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('add_exam_to_term')}" ,:action=>'add_exam_to_term' %></div>
        <div class="link-descr"><%= t('add_exam_to_term_desc') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('assign_exam_to_subject')}" ,:action=>'assign_exam_to_subject' %></div>
        <div class="link-descr"><%= t('assign_exam_to_subject_desc') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('term_links')}" ,:controller=>"term_link_groups" ,:action=>'index' %></div>
        <div class="link-descr"><%= t('links_to_other_terms') %></div>
      </div>
    <% end %>
  </div>
</div>
