<%= stylesheet_link_tag  "exam/index" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('infant_data') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if @current_user.admin? or @current_user.employee? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('create_evaluation_groups')}",:controller=>"terms" ,:action=>'add_evaluation_group' %></div>
        <div class="link-descr"><%= t('create_evaluation_groups_desc') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('add_evaluation_type')}",:controller=>"terms" ,:action=>'add_evaluation_type' %></div>
        <div class="link-descr"><%= t('create_evaluation_type_desc') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('add_evaluation_area')}",:controller=>"terms" ,:action=>'add_evaluation_area' %></div>
        <div class="link-descr"><%= t('add_evaluation_area_desc') %></div>
      </div>

     <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('evaluation_comment')}",:controller=>"terms" ,:action=>'evaluation_comment' %></div>
        <div class="link-descr"><%= t('add_evaluation_area_comment') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_evaluation')}",:controller=>"terms" ,:action=>'manage_evaluation' %></div>
        <div class="link-descr"><%= t('manage_group_type_area') %></div>
      </div>

   <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_evaluation_score')}",:controller=>"terms" ,:action=>'evaluation_performance' %></div>
        <div class="link-descr"><%= t('add_scores_to_evaluations') %></div>
      </div>
    
    <% end %>
  </div>
</div>
