<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%= stylesheet_link_tag  "courses/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('junior_batch_ratings')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
    <%#  @batches = Batch.active %>
    <div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
      <div class="text-input-bg">
         <%= select  '', :batch_id, options_for_select(@batches.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_term"},
         :with => "'batch_id='+ value + '&comments_ratings='")}"}
      %>
      </div>
    </div>
      <div id="update_terms"></div>
     <div id="exam_groups"></div>
    <br />
</div>