<%= stylesheet_link_tag "report_builders/view_template" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('terms')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>

<div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
    <div class="text-input-bg">
      <%= select  '', :batch_id, options_for_select(@batches.nil? ? "" : @batches.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "list_terms"},
        :with => "'batch_id='+ value ")}"}
    %>
    </div>
  </div>

  <div id="batch_terms"></div>

</div>