<%= stylesheet_link_tag  "exam/index" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('manage_evaluation') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if @current_user.admin? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_evaluation_groups')}",:controller=>"terms" ,:action=>'manage_evaluation_groups' %></div>
        <div class="link-descr"><%= t('manage_evaluation_groups') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_evaluation_type')}",:controller=>"terms" ,:action=>'manage_evaluation_type' %></div>
        <div class="link-descr"><%= t('manage_evaluation_type') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_evaluation_area')}",:controller=>"terms" ,:action=>'manage_evaluation_area' %></div>
        <div class="link-descr"><%= t('manage_evaluation_area') %></div>
      </div>


    <% end %>
  </div>
</div>
