<%= stylesheet_link_tag  "courses/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('manage_evaluation_area')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>

  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_batch') %></label>
    <div class="text-input-bg">
      <%= select  '', :batch_id, options_for_select(@courses.empty? ? "" : @courses.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "update_evaluation_term"},
        :with => "'batch_id='+ value + '&evaluation_area='")}"}
    %>
    </div>
  </div>

  <div id="evaluation_term"></div>
  <div id="evaluation_group"></div>
  <div id="evaluation_type"></div>
  <div id="evaluation_area"></div>
  <div id="attachment-box" style="display:none;"></div>

</div>

<style>
  form {
    width:500px;
  }
  .label-field-pair {
    float : left;


    width : 530px;
  }
  .input-container{
    float: left;
  }
</style>
