<%= stylesheet_link_tag  "courses/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('terms')}"%></h1>
  <div class="header-sep">|</div>
  <div class="sub-header"><%= t('new') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <div  style=" float: right;width: 300px;margin-left:10px"id="batch_terms"></div>
  <% form_for :term do |f| %>
    <%= f.error_messages %>
    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('term_name')}" %></div>
      <div class="input-container"><%= f.text_field :name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container1"><%= "#{t('code')}" %></div>
      <div class="input-container"><%= f.text_field :code %></div>
    </div>

    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_batch') %>
  <%#= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </label>
      <div class="text-input-bg">
        <%= select  '', :batch_id, options_for_select(@courses.map {|c| [c.full_name, c.id]},:selected=>(params[:batch_id].present? ? Batch.find(params[:batch_id]).full_name :  "#{t('select_a_batch')}")),
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "existing_terms"},
          :with => "'batch_id='+ value")}"}
      %>
      </div>
    </div>
    <div id="existing_terms"> </div>
    <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('start_date')}" %></div>
      <div class="input-container"><%= calendar_date_select_tag  'start_date',I18n.l(params[:start_date].nil? ? Date.today : params[:start_date].to_date ,:count => (params[:start_date].nil? ? Date.today : params[:start_date].to_date-5.years).day,:format=>:default),  :popup=>"force" %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('end_date')}" %></div>
      <div class="input-container"><%= calendar_date_select_tag 'end_date', I18n.l(params[:end_date].nil? ? Date.today : params[:end_date].to_date,:count => (params[:end_date].nil? ? Date.today : params[:end_date].to_date-5.years).day,:format=>:default), :popup=>"force" %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('assumption_date')}" %></div>
      <div class="input-container"><%= calendar_date_select_tag 'assumption_date', I18n.l(params[:assumption_date].nil? ? Date.today : params[:assumption_date].to_date,:count => (params[:assumption_date].nil? ? Date.today : params[:assumption_date].to_date-5.years).day,:format=>:default), :popup=>"force" %></div>
    </div>
    
    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% end %>
</div>

<style>
  form {
    width:500px;
  }
  .label-field-pair {
    float : left;


    width : 530px;
  }
  .input-container{
    float: left;
  }
</style>
