<%= stylesheet_link_tag  "exam_groups/new" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>

</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="bread_crumb">
    <%= link_to t('course_text'), courses_path %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to @course.full_name, @course %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('batch')} #{@batch.name}", [@course, @batch] %> <div class = "bread-crumb-separator"> > </div>
    <%= Term.find(params[:term_id]).name.capitalize %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('exam_text')}", batch_exam_groups_path(@batch) %> <div class = "bread-crumb-separator"> > </div>
    <%= t('new_exam') %>
  </div>


  <div class="box">

    <div id="flash"></div>
    <div id="exam-form">
      <% unless params[:exam_group].blank? %>
        <% if params[:exam_group][:exam_type] == 'Marks' or params[:exam_group][:exam_type] == 'MarksAndGrades' %>
          <%= render :partial=>'terms/exam_marks_form' %>
        <% else %>
          <%= render :partial=>'terms/exam_grade_form' %>
        <% end %>
      <% else %>
        <%= error_messages_for :exam_group %>
        <% form_remote_for :exam_option, :url => {:controller=>'terms',:action => 'update_exam_form',:batch=>@batch,:term_id => params[:term_id], :method => "post"} do |form| %>
          <div class="label-field-pair">
            <label for="exam_name"><%= t('exam_name') %></label>
            <% if params[:ename].nil?  %>
              <% @ename = "" %>
            <% else %>
              <% @ename = params[:ename] %>
            <% end  %>
            <div class="text-input-bg"><%= form.text_field :name, :value=>@ename%></div>
          </div>
          <% if @batch.gpa_enabled? or @batch.cwa_enabled? %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :exam_option,:exam_type,[[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% elsif @batch.cce_enabled? %>
            <div class="label-field-pair">
              <label for="cce_exam_category_id"><%= t('cce_exam_category') %></label>
              <div class="text-input-bg"><%= select :exam_option,:cce_exam_category_id,@cce_exam_categories.map{|ec| [ec.name,ec.id]},:prompt=>t("select") %></div>
            </div>
            <%= hidden_field :exam_option,:exam_type, :value=>"MarksAndGrades"  %>
          <% else %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :exam_option,:exam_type,[[t('marks'),"Marks"],[t('grades'), "Grades"],[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% end %>
          <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
          <%  #  form.submit("Save") %>
        <%end%>
      <% end %>
    </div>

    <div class="extender"></div>


  </div></div>
