<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag "student/reports" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('students') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('report_center') %></div>

</div>
<div id="page-yield">
  <%#*<div class="bread_crumb">%>
    <%# breadcrumb :student_reports, @student %>
    <%#= render_breadcrumbs  %>
  <%#*</div>%>

  <div id="exam-results-dashboard">

    <h3><%= t('academics') %></h3>

    <div class="exam-results-reports-col">
      <%# if can_access_request? :exam_report, :student %>
      <% if can_access_request? :generated_report,@student.batch,:context=>:exam %>
        <h4 class="themed_text"><%= t('term_wise_report') %>
         </h4>
        <ul>
            <li><%= link_to "View Reports",{:controller => 'report_builders', :action => 'student_wise_report', :student_id=>@student.id}%>
             </li>
             <li><%= link_to "Excel Reports",{:controller => 'term_documents', :action => 'excel_report', :student_id=>@student.id}%>
             </li>
        </ul>
      <%end%>
    </div>

    <div class="extender"> </div>

  </div>

  <div id="attendance-reports-dashboard">

    <h3><%= t('attendance') %></h3>

    <h4 class="themed_text"><%= t('detailed_report') %></h4>

    <ul>
      <li><%= link_to "#{t('current_year_report')}", :controller => 'student_attendance', :action => 'student', :id => @student %></li>
    </ul>
    <% unless @old_batches.empty? %>
      <h4 class="themed_text"><%= t('archives') %></h4>

      <ul>
        <% @old_batches.each do |b| %>
          <li><%= link_to b.name, :controller => 'student_attendance', :action => 'student_report', :id => @student, :year => b.id %></li>
        <% end %>
      </ul>

    <% end %>
  </div>

</div>
