 <%= stylesheet_link_tag "exams/show" %>
 <div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
 <% form_for :terms, :url => {:action => "subject_elective_destroy"}  do |f| %>
      
              <br /><br /><br /><div class="label-field-pair">
                 <label for="student_batch"><%= "Student Profile Number" %>:</label>
                <div class="text-input-bg">
                <%= text_field "", :admin_no %>
        </div>
            </div> <br /><br /><br />
             <div class="label-field-pair">
                <label for="student_batch"><%= "Subject_id" %>:</label>
                <div class="text-input-bg">
                   <%= text_field "", :subject_id %>
                </div>
            </div
   
      <div id="sub-button"><%= submit_tag "", :value => "► #{t('destroy')}", :class => "submit_button" %></div>
    <% end %>
    </div>
