<%= stylesheet_link_tag "exams/show" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div id="inner-tab-menu">
    <ul>
      <% if (@batch.cce_enabled? and  permitted_to? :exam_fa_groups,:assessment_scores and @exam.exam_group.cce_exam_category.present?) %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "FA Scores",:controller=>:assessment_scores,:action=>"exam_fa_groups",:id=>@exam.id %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
  <% end %>
  <div class="bread_crumb">
    <%= link_to t('exams_text'), :controller => "exam", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('exam_management')}", :controller => "exam", :action => "create_exam"%> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch) %> <div class = "bread-crumb-separator"> > </div>
    <%= @subject_group.name.capitalize %>  <div class = "bread-crumb-separator"> > </div>
    <%= Subject.find(@assigned_exam_group.subject_id).name.capitalize %>
  </div>
  <div class="box">

    <% form_for :exams, :url => {:action => "save_subject_score"}  do |f| %>
      <table id="listing" width="80%">
        <tr class="tr-head">
          <td><%= t('name') %></td>
          <td><%= "Value"  %></td>
        </tr>
        <%= hidden_field_tag :assigned_exam_group_id, @assigned_exam_group.id %>
        <% @students.each do |student| %>
          <% @score = SubjectExamScore.find_by_student_id_and_assigned_exam_group_id(student.id,@assigned_exam_group.id) %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= student.full_name %> </td>
            <td class="col-1">
              <div class="label-field-pair" style="width:150px;">
                <div class="text-input-bg" style="width:150px;">
                  <%= text_field_tag "exam[#{student.id}][value]", @score.nil? ? "" : @score.value , :style =>"width: 140px;"%>
                </div>
              </div>
            </td>
          </tr>
        <% end %>

      </table>
      <div id="sub-button"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %></div>
    <% end %>

    <div class="extender"></div>
  </div>
</div>


