<script type="text/javascript">
  function check_all_or_none(c)
  {
    if ((document.getElementById('chck1')).checked == true)
    {
      $$('input.right').each(function(checkbox) { checkbox.checked = true; });
      total=0;
      for(i=0;i<=c;i++)
      {
        box=$("check"+i);
        set_weightage(box,i-1);
      }

    }
    else
    {
      $$('input.right').each(function(checkbox) { checkbox.checked = false; });
      for(i=0;i<=c;i++)
      {
        box=$("check"+i);
        set_weightage(box,i-1);
      }
    }
    make_total(c);
  }

  function set_weightage(val,cnt)
  {
    c=val.id;
    d=c.replace("check","weightage");
    if(val.checked==true)
    {
      $(d).disabled=false;
    }
    else
    {
      document.getElementById('chck1').checked = false;
      $(d).value="0";
      $(d).disabled=true
    }
    make_total(cnt);

  }
  function make_total(val)
  {
    value=parseInt(val);
    total=0;
    for(i=0;i<=value;i++)
    {
      weightage=$("weightage"+i).value;
      weight=parseFloat(weightage);
      total=total+weight;
    }
    $("tot").innerHTML=total;
  }
  function check_weightage(val,cnt)
  {
    if(val.value=="")
    {
      val.value="0";
    }
    if(isNaN(val.value)){
      alert("Please enter a valid weightage");
      val.value="0";
    }
    if (parseFloat(val.value)>100)
    {
      alert("Weightage cannot be greater than 100%");
      val.value="0";
    }
    make_total(cnt);
  }
</script>

<%= stylesheet_link_tag  "exam/grouping" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
</div>

<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :terms_term_exams, @batch %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <!-- <div class="bread_crumb">
    <%#= link_to "#{@batch.name}", :controller =>"terms", :action => "index" %> <div class = "bread-crumb-separator"> > </div>
     <%#= @term.name.capitalize %> 
  </div> -->
  <div id="application-list" style ="float:left;">
    <% unless @term_exam_groups.empty? %>
      <h4><%= t('connect_exams') %></h4>

      <% form_for :term_exam, :url =>{:controller => "terms", :action => "term_exams",:term_id => @term.id, :batch_id => @batch.id } do |f| %>
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
          <% count= @term_exam_groups.count.to_i - 1 %>
          <tr class="tr-head">
            <td class="col-1"><%= check_box_tag 'chck1','yes', false,{:onClick=> "check_all_or_none(#{count})"} %></td>
            <td class="col-2">
              <%= t('exam_group') %>
            </td>
            <td class="col-3">
              <%= t('weightage') %>(%)
            </td>
          </tr>
          <tr class="tr-blank"></tr>
          <% i=0 %>
          <% total = 0 %>
          <% @term_exam_groups.each do |e| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <% already_grouped = TermExamGroup.find_by_term_id_and_exam_group_id(@term.id,e) %>
              <% is_already_grouped = already_grouped.present? %>
              <td class="col-1"><%= check_box_tag "exam_grouping[exam_group_ids][]", e.id,is_already_grouped,{:class=>'right',:id=>"check#{i}",:onClick=>"set_weightage(this,#{count})"} %></td>
              <td class="col-2"><%= e.name %></td>
              <% if is_already_grouped==true %>
                <td class="col-3"><%=text_field_tag 'weightage[]',already_grouped.weightage,:class=>'total-box',:id=>"weightage#{i}",:onchange=>"check_weightage(this,#{count})"%></td>
                <% total += already_grouped.weightage  if already_grouped.weightage.present? %>
              <% else %>
                <td class="col-3"><%=text_field_tag 'weightage[]',"0",:class=>'total-box',:disabled=>true,:id=>"weightage#{i}",:onchange=>"check_weightage(this,#{count})"%></td>
              <% end %>
            </tr>
            <% i=i+1 %>
          <% end %>
          <tr class="tr-blank"></tr>
          <tr class="tr-head">
            <td class="col-4" colspan="2">
              <%= t('total_weghtage') %>
            </td>
            <td class="col-3">
              <%=label_tag 'total',total,:id=>"tot"%>
            </td>
          </tr>
        </table>
        <%= submit_tag "", :value => "#{t('assign')}", :class => "submit_button" %>
      <% end %>
    <% else %>
      <p class="flash-msg">No valid exams available to connect.</p>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
