<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('terms')}"%></h1>
  <div class="header-sep">|</div>
  <div class="sub-header"><%= t('edit') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :terms_term_evaluation, @term %>
    <%= render_breadcrumbs  %>
</div>
  <% @evaluation_groups = EvaluationGroup.find(:all, :conditions =>{:term_id => @term.id}) %>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless @evaluation_groups.empty? %>
    <div style="font-size: 14px;color: brown"><b><%= "Evaluation Groups" %></b></div>
    <div style="margin-top: 6px; ">
      <table id="listing" width="80%">
        <tr class="tr-head">
          <td><%= t('group_name') %></td>
        </tr>

        <% @evaluation_groups.each do |group| %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2">
              <%= link_to group.name.capitalize, :action => "get_evaluation_type", :controller => "terms", :id => group.id  %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  <% else %>
    <%= t('no_groups')   %>
  <% end %>
</div>
