<%= stylesheet_link_tag 'exam_groups/index' %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div id="inner-tab-menu">
    <ul>
      <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
        <%  if permitted_to? :new,:exam_groups %>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", new_batch_exam_group_path(@batch, :term_id => params[:term_id]) %></li>
        <% end %>
      <% end %>
      <%  if permitted_to? :grouping,:exam %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('connect_exams')}", :controller=>'terms', :action=>'term_exams', :batch_id=> params[:batch_id], :term_id => params[:term_id] %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :terms_term_exam_group, @term %>
    <%= render_breadcrumbs  %>
</div>
    <div class="box">
      <table id="listing" width="100%">
        <tr class="tr-head">
          <td><%= t('exam_name') %></td>
          <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
            <td> <%= t('actions') %> <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader",
                :style =>"display: none;" ) %>
            </td>
          <% end %>
        </tr>
        <% @config = Configuration.available_modules %>
        <% @exam_groups.each do |exam_group| %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2">

              <%= link_to exam_group.name, [@batch, exam_group] %>
              <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
                <span><small>
                    <%#= link_to("#{t('delete_text')}", [@batch, exam_group], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") if exam_group.removable? %>
                    <s><%#= "#{t('delete_text')}" unless exam_group.removable? %></s>
                </small></span>
              <% end %>
            </td>
            <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
              <td class="col-2"><small>
                  <% unless exam_group.is_published %>
                    <%= link_to_remote("#{t('publish_exam_schedule')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"schedule"},
                      :before => "Element.show('loader')",
                      :success => "Element.hide('loader')")  %>
                  <% else  %>
                    <%  unless  exam_group.result_published  %>
                      <%= t('schedule_published') %><% if @sms_setting.application_sms_active and @sms_setting.exam_result_schedule_sms_active %>
                        <%= link_to_remote "#{t('resend')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"schedule"},
                          :before => "Element.show('loader')",
                          :success => "Element.hide('loader')"  %> <%= t('sms_notification') %>.<br />
                      <% end %>
                      <%= link_to_remote("#{t('publish_exam_result')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"result"},:confirm=>"#{t('delete_confirm_msg')}",
                        :before => "Element.show('loader')",
                        :success => "Element.hide('loader')")  %>
                    <% else %>
                      <%= t('result_published') %>. <% if @sms_setting.application_sms_active and @sms_setting.exam_result_schedule_sms_active %>
                        <%= link_to_remote "#{t('resend_sms_notification')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"result"},
                          :before => "Element.show('loader')",
                          :success => "Element.hide('loader')"  %>
                      <% end  %>
                    <% end  %>
                  <% end  %>

                  <span id="publish-notice-<%=exam_group.id%>"></span>

              </small> </td>
            <% end %>
          </tr>
        <% end %>
        <% if @batch.cce_enabled? %>
          <% if permitted_to? :observation_groups,  :assessment_scores %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td colspan="2" class="col-1"><%= link_to "Co-Scholastic result entry", observation_groups_assessment_scores_path(:batch_id=>@batch.id) %></td>
            </tr>
          <% end %>
        <% end %>
      </table><br /><br />
      <% unless @subject_exams.empty? %>
        <div style="font-size:14px;color: brown"><b><%= "Subject Exam Groups" %></b></div>
        <div style="margin-top: 6px; ">
          <table id="listing" width="80%">
            <tr class="tr-head">
              <td><%= t('exam_name') %></td>
            </tr>

            <% @subject_exams.each do |subject_exam| %>
              <tr class="tr-<%= cycle('odd', 'even') %>">
                <td class="col-2">
                  <%= link_to subject_exam.name.capitalize, :action => "exam_subject", :controller => "terms", :id => subject_exam.id  %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
      <div class="extender"></div>
    </div>
    </div>
