<%= stylesheet_link_tag "report_builders/list_students" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('tutor_comments')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :comments, :url=>{:action=>"save_comments"} do |f| %>
    <%= hidden_field_tag :is_principal, @principal %>
    <div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
      <div class="text-input-bg">
        <%= select "", :batch_id,
          @batches.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "batch_terms_comments"},
          :with => "'batch_id='+ value",
          :before => "Element.show('loader_batch')",
          :success => "Element.hide('loader_batch')")}"}
      %>
      </div>
    </div>
    <div id="batch_terms"> </div>
    <div id ="batch_students"> </div>
    <br />
    <%= f.submit "► #{t('add_comment')}", :class=>"submit-button" %>
  <% end %>
</div>

<style>
  form {
    width:500px;
  }
  .label-field-pair7 {
    height: 40px;
    width: 360px;
    padding-top: 3px;
  }
  .text-input-bg7 {
    background: transparent;
    height: 39px;
    width: 44%;
    float: left;
  }
  .label-field-pair7 input {
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 0 10px;
    padding:5px;
    width:50px;
  }

  .submit_button1 {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 0 0 500px;
  }

  .input-container{
    float: left;
  }

  table#listings .tr-even {
    background: #f1f6ff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
  }

  table#listings .tr-odd {
    background: #fff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
  }

  table#listings td.col-2 {
    width: 40%;
    text-align: left;
    padding: 5px;
    padding-left: 8px;
  }

  table#listings tr.tr-head {
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: left;
  }

  table#listings {
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 40px;
    margin-top: 38px;
    margin-left: 20px;
  }

  table#listings .tr-head td {
    padding-right: 120px;
    padding-left: 80px;
  }
</style>