<%= stylesheet_link_tag  "configuration/settings"  %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('tutor_signature') %></h1>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for(:signature, @term, :html=> {:multipart=>true},:url => { :action => "upload_signature"}) do |c| %>
    <div class="box">
      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('name') %></label>
        <div class="text-input-bg">
          <%= text_field "signature", :name %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
        <div class="text-input-bg">
          <%= select "", :batch_id,
            Batch.all.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_a_batch')}"}
        %>
        </div>
      </div><br />
      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('upload_signature') %> (<%= t('max_size') %>, <%= t('height_width') %>)</label>
        <div class="text-input-bg">
          <%= c.file_field :signature_attachment, :size=>12 %>
        </div>
      </div>

      <div id="submit-button">
        <%= submit_tag "#{t('save')}" %>
      </div>
    </div>
  <% end %>
</div>
