<%= stylesheet_link_tag  "exam/index" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('upload_signature') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('tutor_signature')}" ,:action=>'tutor_signature' %></div>
      <div class="link-descr"><%= t('tutor_signature_desc') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('principal_signature')}" ,:action=>'principal_signature' %></div>
      <div class="link-descr"><%= t('principal_signature_desc') %></div>
    </div>
     <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('director_signature')}" ,:action=>'director_signature' %></div>
      <div class="link-descr"><%= t('director_signature_desc') %></div>
    </div>

  </div>
</div>
