/* 
    Document   : index.css
    Created on : Aug 2, 2014, 6:33:36 PM
    Author     : rank2
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.box{
    width:750px;
    margin:0px auto;
}

.submit_button {
    margin-top:20px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.label-container1
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 200px;
}
.text-input-bg select {
    width:217px;
}
.bread_crumb {
 margin-left: 10px;
}





.text-input-bg select {
    border-radius: 10px;
    background-color: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 27px;
    margin: 5px 0 0 10px;
    padding: 3px 6px;
    width: 215px;
}
#page-yield {
    margin: 30px 0;
}

#inner-tab-menu {
    height: 1.5em;
    margin: 0;
    padding: 0;
}
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:695px;
    margin:0px auto;
    float: left;
}
#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .heading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    font-weight: bold;
    font-size: 13px;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 130px;
    font-weight: lighter;
    font-size:13px;
/*    margin-left: 70px;*/
}
#category-list li div a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}
.category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
#category-list li div.category-name{
    width: 300px;
    font-size: 15px;
    text-align: left;
    font-weight: lighter;
/*    margin-left: 70px;*/
}
#category-list li div a {
    color: #444;
    font-size: 15px;
    text-decoration: none;
    font-weight: lighter;
}
.heading{
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}
.sl_no{
    width: 50px;
    color: #444;
    font-size: 15px;
    text-decoration: none;
}
#category-list li div.category-edit, #category-list div.category-delete{
    font-size: 15px ;
    width: 40px;
    text-align: left;
    font-weight: lighter;
}
#category-list li div.category-edit, #category-list li div.category-delete {
    font-size: 15px;
    font-weight: 500;
}
.link-box {
    margin:10px 40px;
    height:15px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
