<% student = @student %>

<% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
<% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
<% elective_subjects = [] %>
<% count = 0 %>
<% student_electives.each do |elect| %>
  <% elective_subjects.push Subject.find_by_id(elect.subject_id,:conditions => {:is_deleted => false}) %>
<% end %>
<% @subjects = general_subjects + elective_subjects %>
<% @subjects = @subjects.compact.flatten %>
<% @subjects.reject!{|s| s.no_exams==true} %>
<% exams = Exam.find_all_by_exam_group_id(@exam_groups.collect(&:id)) %>
<% subject_ids = exams.collect(&:subject_id) %>
<% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
<% unless @subjects.empty? %>
  <% all_exams = @exam_groups.reject{|ex| ex.exam_type == "Grades"} unless @exam_groups.nil? %>
  <div class="corner">
    <div class="corner1">
      <div id="pdf-header">
        <div class="logo">
          <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
        </div>
      </div>

      <p class="result"> <%= "Result at a glance" %> </p>
      <hr> </hr>
      <div class= "grades1"><div  style="float: left; width: 700px;" class="left-values"><%= t('term') %>:<%= @term.name.upcase %></div><div style="float: left; width: 250px;" class="right-values"><%= t('session') %>:<% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%= @start_date.year%>/<%= @end_date.strftime("%y") %></div></div>
      <div class= "grades1"><div  style="float: left; width: 400px;" class="left-values"><%= t('name') %>:<b><%= student.full_name.upcase %></b></div><div style="float: left; width:300px;" class="center-values"><%=  t('amville_adm_no') %>:<%= student.admission_no %></div><div  style="float: left; width:300px;" class="right-values"><%= t('class') %>:<%= @batch.name %></div></div>
      <p></p>
      <hr> </hr>

      <table style="width:950px; height:750px;border:1px">
        <tr style="width:30px"> <td style="width:10px"><%= t('asl_no') %> </td>
          <td style="text-align: center;"><b><%= t('subject') %></b></td>
          <% unless @exam_groups.nil? %>
          <% @term_exam_groups.each do |exam_group| %>
            <td style="text-align: center;"><b><%= exam_group.name.upcase %></b></td>
          <% end %>
          <% end %>
          <td style="text-align: center;"><b><%= t('amville_total') %></b></td>
          <td style="text-align: center;"><b><%= t('amville_gpa') %></b></td>
          <td style="text-align: center;"><b><%= t('amville_grade') %></b></td>
        </tr>
        <% @average_total = 0 %>
        <% @subjects.each_with_index do |subject,i| %>
          <tr><td><%= i+1 %></td>
            <td style="text-align: center;"><%= subject.name %></td>
            <% @mmg = 1;@g = 1 %>
            <% @total = 0 %>
            <% @score = 0 %>
            <% @subject_total = 0 %>
            <% unless @exam_groups.nil? %>
            <% @term_exam_groups.each do |exam_group| %>
              <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
              <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
              <td style="text-align: center;">
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f)  %>
                    <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" %>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f) %>
                    <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}" %>
                  <% else %>
                    <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f)%>
                    <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <%  @score = @score + 0 %>
                  <%= "#{t('n_a')}" %>
                <% end %>
                <% @subject_total = @total + @score %>
              <% end %>
            </td>
            <% @average_total += @subject_total %>
            <td style="text-align: center;"><%= @subject_total %></td>
            <%  t_gpa(@subject_total)%>
            <td style="text-align: center;"><%= @efforts %></td>
            <td style="text-align: center;"><%= @performance %></td>
          <%end%>
          <% end %>
        </tr>
      </table>

    <% end %>
  </div>
</div>
<p></p>
<% @average = (@average_total/@subjects.count) unless @average_total.nil?  %>
<%  t_gpa(@average) unless @average.nil? %>
<table style="width:500px;height:300px;">
  <tr><td><b>Performance Assessment</b></td><td><b><%=  @term.name %></b></td></tr>
  <tr><td><b>Class Average </b></td><td><b><% report_class_average(@batch,@term_exam_groups,@exam_groups) unless @exam_groups.blank? %><%= @batch_average  %></b></td></tr>
  <tr><td><b>Term Average </b></td><td><%= @average.to_f.round(2) unless @average.nil? %></td></tr>
  <tr><td><b>Term G.P.A </b></td><td><%=  @efforts  %></td></tr>
  <tr><td><b>Term Grade</b></td><td><%= @performance %></td></tr>
</table>
<p></p>
<% unless @groups.nil? %>

  <% @groups.each do |evaluation_group| %>
    <div class="module">
      <table style="width:1000px; table-layout: fixed;">
        <tr><td style="text-align: center; width:200px"><b><%= evaluation_group.name %></b></td>
          <% @report_values.each do |val| %>
            <td style="text-align: center;width:50px"><%= val.downcase %> </td>
          <% end %>
          <%    evaluation_group.subject_id.nil? ? empp =  (Employee.find(evaluation_group.employee_id)  unless evaluation_group.employee_id.nil?)  : sub = Subject.find(evaluation_group.subject_id)       %>
          <%  emp =  sub.employees_subjects unless sub.nil?  %>
        <td style="width:250px">Teacher:  <%= evaluation_group.subject_id.nil? ? (empp.full_name unless empp.nil?) : emp.blank?  ? "" : (emp.first.employee.full_name  unless emp.nil?)    %></td><td  style="width:250px">Signature:</td></tr>
        <% unless evaluation_group.evaluation_types.blank?  %>
          <% evaluation_group.evaluation_types.each_with_index do |evaluation_type,i| %>
            <% unless evaluation_type.evaluation_areas.blank? %>
              <% if evaluation_group.evaluation_types.first == evaluation_type %>
                <%  count = 0 %>
                <% evaluation_group.evaluation_types.each do |eval_type| %>
                  <% count += 1 %>
                  <% eval_type.evaluation_areas.each do |eval_area| %>
                    <% count += 1 %>
                  <% end %>
                <%  end %>
                <tr><td colspan ="5"><b> <%= evaluation_type.name.capitalize  %></b></td><td class="group-comment" colspan ="2" rowspan="<%= count-1   %>">
                    <% evaluation_comment = EvaluationComment.find_by_term_id_and_evaluation_group_id_and_student_id(@term.id,evaluation_group.id,student.id) %>
                    <% unless  evaluation_comment.nil? %>
                      <%= evaluation_comment.comment    %>
                    <% end %>
                </td></tr>
              <% else %>
                <tr><td colspan="5"> <b><%= evaluation_type.name.capitalize %></b></td></tr>
              <% end %>
              <% evaluation_type.evaluation_areas.each_with_index do |evaluation_area,j| %>
                <% if  evaluation_group.evaluation_types.last.evaluation_areas.last == evaluation_area  %>
                  <tr><td><%= evaluation_area.name.capitalize %></td>
                    <% score =EvaluationScore.find_by_student_id_and_evaluation_area_id(student.id,evaluation_area.id)%>
                    <% @report_values.each do |val| %>
                      <% unless score.nil? %>
                        <% if score.performance == val %><td style="width:50px; text-align: center;">&#42;</td> <%else%><td style="width:50px"></td><%end%>
                      <% else %>
                        <td style="width:50px"></td>
                      <% end %>
                    <% end %>
                    <%  unless evaluation_group.subject_id.nil? %>
                      <td colspan="2"><table class ="inside-table">
                          <tr>
                            <% @term_exam_groups.each do |exam_group| %>
                              <td style="text-align: center;"><%= exam_group.name.upcase %></td>
                            <% end %>
                            <td style="text-align: center;"><%= t('amville_total') %></td>
                            <td style="text-align: center;"><%= t('amville_gpa')  %></td>
                            <td style="text-align: center;"><%= t('class_av_gpa') %></td>
                          </tr>
                          <tr>
                            <% @mmg = 1;@g = 1 %>
                            <% @total = 0 %>
                            <% @score = 0 %>
                            <% @subject_total = 0 %>
                            <% @term_exam_groups.each do |exam_group| %>
                              <% @exam = Exam.find_by_subject_id_and_exam_group_id(evaluation_group.subject_id,exam_group.id) %>
                              <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                              <td style="text-align: center;">
                                <% unless @exam.nil? %>
                                  <% if exam_group.exam_type == "MarksAndGrades" %>
                                    <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f) %>
                                    <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" %>
                                  <% elsif exam_group.exam_type == "Marks" %>
                                    <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f) %>
                                    <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}" %>
                                  <% else %>
                                    <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f)%>
                                    <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                                    <% @g = 0 %>
                                  <% end %>
                                <% else %>
                                  <%  @score = @score + 0 %>
                                  <%= "#{t('n_a')}" %>
                                <% end %>
                                <% @subject_total = @total + @score %>
                              <% end %>
                            </td>
                            <td style="text-align: center;"><%= @subject_total %></td>
                            <%  t_gpa(@subject_total)%>
                            <td style="text-align: center;"><%= @efforts %></td>
                            <td style="text-align: center;"> <% class_total = ReportBuilder.class_subject_total(evaluation_group.subject_id,@term_exam_groups) %>
                          <%  t_gpa(class_total)%><%= @efforts %></td></tr>
                      </table></td>
                    <% else %>
                      <td class="inside-table" colspan="2"></td>
                    <% end %>
                  </tr>
                <% else %>
                  <tr><td><%= evaluation_area.name.capitalize %></td>
                    <% score =EvaluationScore.find_by_student_id_and_evaluation_area_id(student.id,evaluation_area.id)%>
                    <% @report_values.each do |val| %>
                      <% unless score.nil? %>
                        <% if score.performance == val %><td style="width:50px;text-align: center;">&#42;</td> <%else%><td style="width:50px"></td><%end%>
                      <% else %>
                        <td style="width:50px"></td>
                      <% end %>
                    <% end %></tr>
                  <% end %>
                <% end %>
              <%else%>
                <%  if  evaluation_group.evaluation_types.count == i+1 %>
                <tr><td> <%= evaluation_type.name.capitalize %></td>
                  <% score =EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,evaluation_type.id)%>
                  <% @report_values.each do |val| %>
                    <% unless score.nil? %>
                      <% if score.performance == val %><td style="width:50px;text-align: center;">&#42;</td> <%else%><td></td><%end%>
                    <% else %>
                      <td></td>
                    <% end %>
                  <% end %>
                  <%  unless evaluation_group.subject_id.nil? %>
                    <td colspan="2"><table class="inside-table">
                        <tr>
                          <% @term_exam_groups.each do |exam_group| %>
                            <td style="text-align: center;"><%= exam_group.name.upcase %></td>
                          <% end %>
                          <td style="text-align: center;"><%= t('amville_total') %></td>
                          <td style="text-align: center;"><%= t('amville_gpa')  %></td>
                          <td style="text-align: center;"><%= t('class_av_gpa') %></td>
                        </tr>
                        <tr>
                          <% @mmg = 1;@g = 1 %>
                          <% @total = 0 %>
                          <% @score = 0 %>
                          <% @subject_total = 0 %>
                          <% @term_exam_groups.each do |exam_group| %>
                            <% @exam = Exam.find_by_subject_id_and_exam_group_id(evaluation_group.subject_id,exam_group.id) %>
                            <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                            <td style="text-align: center;">
                              <% unless @exam.nil? %>
                                <% if exam_group.exam_type == "MarksAndGrades" %>
                                  <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f)  %>
                                  <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" %>
                                <% elsif exam_group.exam_type == "Marks" %>
                                  <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f) %>
                                  <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}" %>
                                <% else %>
                                  <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks.to_f)%>
                                  <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                                  <% @g = 0 %>
                                <% end %>
                              <% else %>
                                <%  @score = @score + 0 %>
                                <%= "#{t('n_a')}" %>
                              <% end %>
                              <% @subject_total = @total + @score %>
                            <% end %>
                          </td>
                          <td style="text-align: center;"><%= @subject_total %></td>
                          <%  t_gpa(@subject_total)%>
                          <td style="text-align: center;"><%= @efforts %></td><td style="text-align: center;">
                            <% class_total = ReportBuilder.class_subject_total(evaluation_group.subject_id,@term_exam_groups) %>
                            <%  t_gpa(class_total)%><%= @efforts %>
                        </td></tr>
                    </table></td>
                  <% else %>
                   <% if i+1 == 1 %>
                    <td class="inside-table" colspan="2" rowspan="<%= (evaluation_group.evaluation_types.count )  %>"><% evaluation_comment = EvaluationComment.find_by_term_id_and_evaluation_group_id_and_student_id(@term.id,evaluation_group.id,student.id) %>
                      <% unless  evaluation_comment.nil? %>
                        <%= evaluation_comment.comment    %>
                      <% end %>
                    </td>
                    <% end %>
                  <% end %>
                </tr>
              <% else %>
                <% if i+1 ==1 %>
                  <tr><td style="width:200px;"> <%= evaluation_type.name.capitalize %></td><%score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,evaluation_type.id)%>
                    <% @report_values.each do |val| %>
                      <% unless score.nil? %>
                        <% if score.performance == val %><td style="width:50px;text-align: center;">&#42;</td> <%else%><td style="width:50px"></td><%end%>
                      <% else %>
                        <td style="width:50px"></td>
                      <% end %>
                    <% end %>
                    <% count =  evaluation_group.subject_id.nil? ? evaluation_group.evaluation_types.count :  evaluation_group.evaluation_types.count-1 %>
                    <td class="group-comment" colspan ="2" rowspan="<%= count  %>">
                      <% evaluation_comment = EvaluationComment.find_by_term_id_and_evaluation_group_id_and_student_id(@term.id,evaluation_group.id,student.id) %>
                      <% unless  evaluation_comment.nil? %>
                        <%= evaluation_comment.comment    %>
                      <% end %>
                  </td></tr>
                <% else %>
                  <tr><td style="width:200px;"> <%= evaluation_type.name.capitalize %></td><% score =EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,evaluation_type.id)%>
                    <% @report_values.each do |val| %>
                      <% unless score.nil? %>
                        <% if score.performance == val %><td style="width:50px;text-align: center;">&#42;</td> <%else%><td style="width:50px"></td><%end%>
                      <% else %>
                        <td style="width:50px" ></td>
                      <% end %>
                    <% end %></tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
      </table>
    </div>
  <% end %>

<% end %>
<p> </p>
  <% unless @activity_group2.blank? %>
    <div class="module">
      <table style="width:1000px;">
          <tr class="noBorder"><td style=" text-align: center;" colspan="<%=    @activity_values2.count + 1 %>"><p><b><u>CLUB REPORT</u></b></p><p><b><%= @term.name %></b></p></td></tr>
          <% unless @activity_group2.blank? %>
          <% @activity_group2.each do |evaluation_group| %>
          <tr><td style="width: 150px; text-align: center;"><b><%= evaluation_group.name.titleize %></b></td>
            <% @activity_values2.each do |val| %>
              <td style="text-align: center;"><b><%= val.titleize%> </b></td>
            <% end %>
          </tr>
          <%  evaluation_group.evaluation_types.each do |eval_type| %>
            <tr><td style="width: 150px; text-align: center;"><b><%= eval_type.name.titleize %></b></td>
              <% @activity_score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,eval_type.id ) %>
              <% @activity_values2.each do |val| %>
                <td class="text" style="text-align: center; max-width: 300px"><%= (@activity_score.nil? ? ""  :   (@activity_score.exam_group_scores.nil? ? "" :  (@activity_score.exam_group_scores["#{val}"].nil? ?  "" : @activity_score.exam_group_scores["#{val}"].capitalize))) %></td>
              <% end %>
            </tr>
          <% end %>
      <% end %>
      <% end %>
      <tr class="tr-blank"></tr>
    </table>
  </div>
  <% end %>
    <% unless @activity_group.blank? %>
    <div class="module">
      <table style="width:1000px; table-layout: fixed;">
        <tr><td style=" text-align: center;" colspan="<%=    @activity_values.count + 1 %>"><p><b><%= "KEY TO RATINGS" %></b></p>
          <p>A = EXCELLENT &nbsp;&nbsp; B = VERY GOOD &nbsp;&nbsp; C= GOOD &nbsp;&nbsp; D= IMPROVING &nbsp;&nbsp; E= UNSATISFACTORY </p></td></tr>
    <tr class="tr-blank"></tr>
    <% @activity_group.each do |evaluation_group| %>
          <tr><td style="width:200px;text-align: center;"><b><%= evaluation_group.name.titleize %></b></td>
            <% @activity_values.each do |val| %>
              <td style="width:200px;text-align: center;"><b><%= val.titleize%> </b></td>
            <% end %>
          </tr>
          <%  evaluation_group.evaluation_types.each do |eval_type| %>
            <tr><td style="width:200px;text-align: center;"><b><%= eval_type.name.titleize %></b></td>
              <% @activity_score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,eval_type.id ) %>
              <% @activity_values.each do |val| %>
                <td style="width:200px;text-align: center;"><%= (@activity_score.nil? ? ""  :   (@activity_score.exam_group_scores.nil? ? "" :  (@activity_score.exam_group_scores["#{val}"].nil? ?  "" : @activity_score.exam_group_scores["#{val}"].capitalize))) %></td>
              <% end %>
            </tr>
          <% end %>

      <% end %>
      <tr class="tr-blank"></tr>
    <tr><td style="height:35px;" colspan="<%=    @activity_values.count + 1 %>"><%= "Summary Comment" %>&nbsp;&nbsp;:&nbsp;&nbsp;<% @comment = EvaluationComment.find_by_student_id_and_term_id_and_batch_id_and_evaluation_group_id(student.id,@term.id,@batch.id,@activity_group.first.id) %><%=@comment.comment unless @comment.nil? %> </td></tr>
    </table>
    </div>
  <% end %>
<p> </p>
<div class= "grades">
  <div  class= "grades-along">
    <table style=" width: 470px;">
      <tr><td colspan="4"><b>KEY TO GRADES AND GRADING SYSTEM</b></td></tr>
      <tr><td><b>SCORE</b></td><td><b>GRADES</b></td><td><b>G.P.A</b></td><td><b>DESCRIPTION</b></td></tr>
      <tr><td>90% - 100%</td><td>A*</td><td>4.0</td><td>EXCELLENT</td></tr>
      <tr><td>85% - 89%</td><td>A+</td><td>3.75</td><td>GOOD</td></tr>
      <tr><td>80% - 84%</td><td>A</td><td>3.5</td><td>GOOD</td></tr>
      <tr><td>75% - 79%</td><td>B+</td><td>3.0</td><td>GOOD</td></tr>
      <tr><td>70% - 74%</td><td>B</td><td>2.75</td><td>SATISFACTORY</td></tr>
      <tr><td>65% - 69%</td><td>C+</td><td>2.5</td><td>SATISFACTORY</td></tr>
      <tr><td>60% - 64%</td><td>C</td><td>2.0</td><td>SATISFACTORY</td></tr>
      <tr><td>55% -59 %</td><td>D+</td><td>1.5</td><td>UNSATISFACTORY</td></tr>
      <tr><td>50% - 54%</td><td>D</td><td>1.0</td><td>UNSATISFACTORY</td></tr>
      <tr><td>40% - 49%</td><td>E</td><td>.5</td><td>POOR</td></tr>
      <tr><td>30% - 39%</td><td>F</td><td>0</td><td>POOR</td></tr>
    </table>
  </div>

  <div class ="grades-key">
    <table style=" width: 470px; margin-top: 5px; margin-left: 5px;">
      <tr > <td style="text-align:center" colspan="2"><b>KEY TO RUBRICS</b></td></tr>
      <tr><td style=" width: 150px;">a</td><td>Excellent</td></tr>
      <tr><td style=" width: 150px;">b</td><td>Very good</td></tr>
      <tr><td style=" width: 150px;">c</td><td>Good</td></tr>
      <tr><td style=" width: 150px;">d</td><td>Needs Improvement</td></tr>
    </table>
    <p> </p>
    <table style=" width: 470px; margin-left: 5px;">
      <tr > <td style="text-align:center" colspan="2"><b>ATTENDANCE</b></td></tr>
      <tr><td style=" width: 235px;">Possibility</td><td style=" width: 235px;text-align: center;"><%= (@academic_days.to_i*2)  unless @academic_days.nil?%></td></tr>
      <tr><td style=" width: 235px;">Actual</td><td style=" width: 235px;text-align: center;"><%= (@attendance.to_i*2)  unless @attendance.nil?%></td></tr>
      <tr><td style=" width: 235px;">No of times Absent</td><td style=" width: 235px;text-align: center;"><%=  ((@academic_days.to_i*2) -  (@attendance.to_i*2))   unless @academic_days.nil?%></td></tr>
      <tr><td style=" width: 235px;">Punctuality</td><td style=" width: 235px;text-align: center;"> <%  @value =  ((@attendance/@academic_days)*100).round(2) %> <%  t_gpa(@value)%><%= @performance %></td></tr>
    </table>
    <p> </p>@term.assumption_date
    <p><b>SCHOOL CLOSES: <%= @term.end_date.strftime("%A %B %d ,%Y") %> </b></p>
    <p><b>SCHOOL REOPENS: <%= @term.assumption_date.strftime("%A %B %d ,%Y") unless @term.assumption_date.nil? %> </b></p>
  </div>
</div>
<p> </p>
<p> </p>

<div class= "grades1">
  <div class ="teacher"><p><b><%= "Class Teacher's Comment" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% @tutor_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,false) %><%= @tutor_comment.description unless @tutor_comment.nil? %></p>
    <p><b><%= "Class Teacher's Names" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% @user_name = User.find(@tutor_comment.user_id) unless @tutor_comment.nil?  %><%= @user_name.full_name.titleize unless @user_name.nil? %></p> <b> <%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b> <% unless  @tutor.nil?%>
       <%= image_tag  @tutor.signature_attachment.url,:size =>  "150x30"%>
         <% end %>  
  </div>
  <p> </p>
  <div class="teacher"><p><b><%= "Head Teacher's Comment" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% @head_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,true) %><%= @head_comment .description unless @head_comment .nil? %></p>
    <p><b><%= "Head Teacher" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% @huser_name = User.find(@head_comment.user_id) unless @head_comment.nil?  %><%= @huser_name.full_name.titleize unless @huser_name.nil? %></p>  <b><%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b> <% unless  @principal.nil?%>
       <%= image_tag  @principal.signature_attachment.url,:size =>  "150x30"%>
         <% end %>
  </div>
</div>

<style>
  table td {
    border: 1.5px solid black;
    padding: 5px;
    text-align: left;
    font-size: 20px;
  }
  table {
    border: 1.5px solid black;
  }
  .corner1 {
    border: 2.5px solid #000000;
    padding: 10px;
    width: 975px;
  }
  .corner2 {
    border: 2.5px solid #000000;
    padding: 10px;
    width: 975px;
  }
  .corner {
    border: 2.5px solid #000000;
    padding: 10px;
    width:1000px;
    page-break-inside: avoid !important;
    display: block;
  }
caption {
        padding: .15em .18em;
        display: table-caption;
        font-size:20px;
        height: 15px;
        text-align: center;
        font-weight: bold;
    }
  .teacher {
    margin-top: 20px;
    padding: 10px;
    width: 975px;
    border: 2.5px solid #000000;
    page-break-inside: avoid !important;
    display: block;
  }

  #pdf-header{
    width:950px;
    padding-top: 10px;
    margin: 0;
    overflow: hidden;
    margin-top: -2px;
    height: 100px;
  }

  .logo{
    height: 80px;
    width:120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo img{
    width: 100%;
    margin-top: 10px;
  }

  p.result {
    font-weight: bold;
    text-align: center;
  }

  .right-values {
    font-weight: bold;
    text-align: left;
  }
  .left-values {
    font-weight: bold;
    text-align: left;

  }
  hr
  {
    background-color: black;
    color: black;
    height: 1px;
    width:950px;
    padding-top:1px;
    padding-bottom:1px;
  }
  .center-values {
    font-weight: bold;
    text-align: center;
  }

  .grades1 {
    width: 1000px;
    margin-bottom :40px;
     page-break-inside: avoid !important;
    display: block;
  }

  .grades {
    width: 1000px;
    margin-bottom :40px;
    height: 500px;
    page-break-inside: avoid !important;
    display: block;
  }

  .grades-along {
    float: left;
    width:480px;
    margin-right: 15px;
  }

  .grades-key {
    float: left;
    width: 480px;
    margin-left: 15px;
    border: 1.5px solid #000000;
  }

  .inside-table {
    border: 1.5px solid #000000;
    width:500px;
  }

  tr.noBorder td {border: 0; }

  .module {
    page-break-before: auto;
    display: block;
  }
  td.group-comment {
    width:600px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
  }
  .tr-blank{
   height:  27px;
}

.text {white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: pre-wrap;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     white-space: normal;}

</style>