  <% student = @student %>
  <div id="pdf-header">
      <div class="logo">
        <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
      </div>
  </div>
   <!-- School Address -->

  <div style="text-align:center;margin-top:10px;line-height:40px;"><b><%= "10, Olowogbowo Street, Off Coker Road, Ilupeju, Lagos, Nigeria." %></b><br /></div>
  <div style="text-align:center;line-height:40px;"><b><%= "TEL: 08022684553, 08096311607" %><br /></b></div>
  <div style="text-align:center;line-height:40px;"><b><%= "Email: " %><i><u><% "info@amvilleschool.com," %></u></i><i><u><%= "www.facebook.com/amvilleschool" %></u></i></b><br /></div>
  <div style="text-align:center;line-height:40px;"><b><i><%= "Website: " %></i><i><u><%= "www.amvilleschool.com" %></u></i></b></div>
  <div style="width:600px;align:center;margin-left:275px;">
      <% if @student.upload_document.file? %>
        <%= image_tag(@student.upload_document.url(:original, false), :size => "400x450") %>
      <% else %>
        <%= image_tag "master_student/profile/default_student.png" %>
      <% end %>
  </div>
  <div style="width:1000px;margin-top:50px;line-height:40px;"><b><div style="text-align:center;"><font size="20px"><%= @term.name.upcase %></font></div></b></div>

      <div  style="float: left; width: 600px; height:50px;" class="left-values"><%= t('name') %>:&nbsp;&nbsp;&nbsp;<u><%= student.first_name.titleize %>&nbsp<%= student.last_name.titleize %></u></div>
        <br />
        <div  style="float: left; width: 600px; height:50px;" class="left-values"><%= t('age') %>:&nbsp;&nbsp;&nbsp;<u><% age %><%= @year %> Years <%= @month.to_i == 0 ? "" : " #{@month}  Months" %></u></div>
        <br />
        <div  style="float: left; width:600px; height:50px;" class="right-values"><%= t('class') %>:&nbsp;&nbsp;&nbsp;<u><%= @student.course.course_name.upcase %></u></div>
        <br />
        <div  style="float: left; width:600px; height:50px;" class="right-values"><%= "Section" %>:&nbsp;<u><%= @batch.name %></u></div><br />    
<p style="page-break-before: always;"></p>

<!-- Sores Details -->

<% count = 0 %>
<% unless @evaluation_groups.blank? %>
<div frame="box" style="width:1040px;border: 3px solid black; padding: 20px 20px 555px 20px;margin-top:20px;margin-bottom:50px;">
  <% @evaluation_groups.each do |group| %>
    <% if group.score_format == "Extracurricular3"  %>
    <table style="width:1000px;margin-left:20px;">
        <% if (count == 0) or (count == 2) or (count == 6) or (count == 8)%>
          <tr style="height:60px;background-color: #d6d6c2;">
                <td style="background-color: #d6d6c2;height:60px;"><b><%= "Grading Rubric" %></b></td>
                <td style="background-color: #d6d6c2;height:60px;"><b><%= "Excellent" %></b></td>    
                <td style="background-color: #d6d6c2;height:60px;"><b><%= "Very Good" %></b></td>
                <td style="background-color: #d6d6c2;height:60px;"><b><%= "Good" %></b></td>
                <td style="background-color: #d6d6c2;height:60px;"><b><%= "Needs" %>  <br /><%= "Improvement" %></b></td>
          </tr>
          <% if (count == 2) or (count == 6) or (count == 8) %>
             <div style="page-break-before: always;"> <hr style="width:1120px;margin-left:-60px;margin-bottom:-39px"></div>
             <div style="margin-top:30px;"></div>
             <hr style="width:1120px;margin-left:-60px;margin-bottom: 20px;height:5px;">
          <% end %>
        <% end %>
        <% count += 1 %>
        <% group.evaluation_types.each do |type| %>
            <tr style="width:1000px;height:70px;">
            <td colspan="5"><b><%= group.name.upcase %></b>&nbsp;<br /><div style="font-size:14px;"><%= type.name %></div></td>
            </tr>
            <% @evaluation_areas = type.evaluation_areas %>
            <% unless @evaluation_areas.nil? %>
                <%@evaluation_areas.each do |area|%>
                <%@performance= ReportBuilder.emerging_grade(student.id,area.id)%>
                  <tr><td class="name"><%= area.name%></td>
                  <% if (@performance == "excellent") or @performance == "excellent " %>
                      <td class="grade">&#42;</td><td class="grade"></td>
                      <td class="grade"></td><td class="grade"></td>
                      <% elsif @performance == "very good" %>
                      <td class="grade"></td><td class="grade">&#42;</td>
                      <td class="grade"></td><td class="grade"></td>
                      <% elsif @performance == "good" %>
                      <td class="grade"></td><td class="grade"></td>
                      <td class="grade">&#42;</td><td class="grade"></td>
                      <% elsif @performance == "needs improvement" %>
                      <td class="grade"></td><td class="grade"></td>
                      <td class="grade"></td><td class="grade">&#42;</td>
                      <% else %>
                      <td class="grade"></td><td class="grade"></td>
                      <td class="grade"></td><td class="grade"></td>
                  <% end %>
                  </tr>
                  <% end %>
                <% end %>
        <% end %>
    </table>      
      <%# if (count == 2) or (count == 6) or (count == 8) %>
        <!-- <p style="page-break-before: always;"></p> -->
      <%# end %>
    <% end %>
  <% end %>
</div>
<% end %>
<!-- Batch Course details -->

<div style="page-break-before: always; margin-top: -9px;"> </div>
<div frame="box" style="width:1040px;border: 3px solid black;padding: 20px;height:1490px;">
 <table style="margin-top:10px;margin-bottom:10px;width:1000px;">
          <tr style="font-size:8pt;height:50px;"><td style="text-align:left;">&nbsp;<b>Total times school opened</b></td><td  style="width:300px;"><%term_time_school_open%><%= @ing_academic_days  unless @ing_academic_days.nil?%></td></tr>
          <tr style="font-size:8pt;height:50px;"><td style="text-align:left;">&nbsp;<b>Number of times present</b></td><td style="width:300px;"><%term_time_school_open%><%= (@attendance.to_i)  unless @attendance.nil?%></td></tr>
          <tr style="font-size:8pt;height:50px;"><td style="text-align:left;">&nbsp;<b>Number of times absent</b></td><td style="width:300px;"> <%term_time_school_open%><%= @leaves.to_i   unless  @leaves.nil? %></td></tr>
          <tr style="font-size:8pt;height:50px;"><td style="text-align:left;">&nbsp;<b>School closes</b></td><td style="width:300px;"> <%= @term.end_date.strftime("%A %B %d ,%Y") %></td></tr>
          <tr style="font-size:8pt;height:50px;"><td style="text-align:left;">&nbsp;<b>School reopens</b></td><td style="width:300px;"> <%= @term.assumption_date.strftime("%A %B %d ,%Y") %></td></tr>
  </table>

<!-- Head Teacher comment Signature of classs teacher head teacher -->

    <!-- <table style="margin-top:60px; height:100px;"> -->
       <!-- <tr> -->
          <div style="height:100px;margin-top:20px;"><p><b><%= "Class Teacher's General Comment" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% @head_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,true) %><%= @head_comment .description unless @head_comment .nil? %></p></div>
       <!-- </tr> -->
    <!-- </table> -->
      <div class= "grades1" style="margin-top:200px;"><b><%= "Class Teacher's Name" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
        <%= @tutor.name unless @tutor.nil? %><div style="float: right; width: 435px;" class="right-values"><b> <%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
       <% unless  @tutor.nil?%>
       <%= image_tag  @tutor.signature_attachment.url,:size =>  "150x30"%>
         <% end %>
         </div></div>
            <div class= "grades1" style="margin-top:30px;"><b><%= "Head Teacher" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><%= @principal.name unless @principal.nil? %><div style="float: right; width: 435px;" class="right-values"><b><%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% unless  @principal.nil?%>
       <%= image_tag  @principal.signature_attachment.url,:size =>  "150x30"%>
         <% end %></div></div>
</div>
      
    <style>
table td  {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #adacab;
  border-right: 1px solid #adacab;
  border-top: 1px solid #adacab;
  color: #000000;
  border: 1.5px solid black;
  padding: 0px;
  text-align: center;
  font-size: 17px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}
table td.name  {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #adacab;
  border-right: 1px solid #adacab;
  border-top: 1px solid #adacab;
  color: #000000;
  border: 1.5px solid black;
  padding: 2px;
  text-align: left;
  font-size: 17px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}
table td.grade  {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #adacab;
  border-right: 1px solid #adacab;
  border-top: 1px solid #adacab;
  color: #000000;
  border: 1.5px solid black;
  padding: 0px;
  text-align: center;
  font-size: 17px;
  width:150px;
  height: 40px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}

table {
  border: 1.5px solid black;
}
.corner1 {
  border: 2.5px solid #000000;
  padding: 10px;
  width: 975px;
}
.corner2 {
  border: 2.5px solid #000000;
  padding: 10px;
  width: 975px;
}
.corner {
  border: 2.5px solid #000000;
  padding: 10px;
  width:1000px;
  page-break-inside: avoid !important;
  display: block;
}
caption {
  padding: .15em .18em;
  display: table-caption;
  font-size:20px;
  height: 15px;
  text-align: center;
  font-weight: bold;
}
.teacher {
  margin-top: 20px;
  padding: 10px;
  width: 975px;
  border: 2.5px solid #000000;
  page-break-inside: avoid !important;
  display: block;
}

#pdf-header{
  width:950px;
  padding-top: 10px;
  margin: 0;
  overflow: hidden;
  margin-top: -2px;
  height: 250px;
}

.logo{
  height: 200px;
  width:400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.logo img{
  width: 100%;
  margin-top: 10px;
}

p.result {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0px;
  font-size: 18px;
}

.right-values {
  font-weight: bold;
  text-align: left;
}
.left-values {
  font-weight: bold;
  text-align: left;

}
hr
{
  background-color: black;
  color: black;
  height: 1px;
  width:950px;
  padding-top:1px;
  padding-bottom:1px;
}
.center-values {
  font-weight: bold;
  text-align: center;
}

.grades1 {
  width: 1000px;
  margin-bottom :4px;
}

.grades {
  width: 1000px;
  margin-bottom :40px;
  height: 600px;
  page-break-inside: avoid !important;
  display: block;
}

.grades-along {
  float: left;
  width:480px;
  margin-right: 15px;
}

.grades-key {
  float: left;
  width: 480px;
  margin-left: 15px;
  border: 1.5px solid #000000;
}

.inside-table {
  border: 1.5px solid #000000;
  width:500px;
}

tr.noBorder td {border: 0; }

.module {
  page-break-before: auto;
  display: block;
}
td.group-comment {
  width:600px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}
.tr-blank{
 height:  27px;
}
</style>
