
<% unless @value.nil? %>
  <%  if @value.between?(90,100)  %>
    <%=  @grade = "5.0"%>
  <%  elsif @value.between?(85,89.99)%>
    <%= @grade = "4.5"%>
  <% elsif @value.between?(80,84.99)%>
    <%= @grade = "4.0"%>
  <% elsif @value.between?(75,79.99) %>
    <%= @grade = "3.5"%>
  <%  elsif (@value.between?(70,74.99))%>
    <%=  @grade = "3.0"%>
  <% elsif (@value.between?(65,69.99))%>
    <%=  @grade = "2.5"%>
  <%   elsif (@value.between?(60,64.99))%>
    <%= @grade = "2.0"%>
  <%    elsif (@value.between?(55,59.99))%>
    <%= @grade = "1.5"%>
  <%   elsif (@value.between?(50,54.99))%>
    <%=  @grade = "1.0"%>
  <%  elsif (@value.between?(45,49.99))%>
    <%= @grade = "0.5"%>
  <%  elsif (@value.between?(0,44.99))%>
    <%= @grade = "0.0"%>
  <% else%>
    <%= @grade = "-"%>
  <% end  %>
<% end  %>