<% unless @student_overall_year_age.nil? %>
  <%= @student_overall_year_age %> Years <%= @student_overall_month_age.to_i == 0  ? "" :  @student_overall_month_age.to_i == 1? "#{@student_overall_month_age}  Month" :  " #{@student_overall_month_age}  Months" %>
<% end %>