<%= stylesheet_link_tag "report_builders/list_students" %>

<div class="label-field-pair">
  <label for="configuration_currency_type"><%= t('add_comment') %>:</label>
  <div class="text-input-bg">
    <%= text_area "", :comment,:size =>"30x4" %>
  </div>
</div><br /><br />

<% unless @batch_terms.empty? %>
  <div class="label-field-pair">
    <label for="student_batch"><%= "#{t('select_a_term')}" %>:</label>
    <div class="text-input-bg">
      <%= select "", :term_id,
        @batch_terms.map {|b| [b.name, b.id]},
        {:prompt => "#{t('select_a_term')}"}
    %>
    </div>
  </div>
<% end %>

<% unless @batch_elctive_groups.empty? %>
  <div class="label-field-pair">
    <label for="student_batch"><%= "#{t('select_a_elctive_group')}" %>:</label>
    <div class="text-input-bg">
      <%= select "", :elective_group_id,
        @batch_elctive_groups.map {|b| [b.name, b.id]},
        {:prompt => "#{t('select_a_elctive_group')}"}
    %>
    </div>
  </div>
<% end %>

<% unless @batch_students.empty? %>

  <div class="selection">
    <%=  t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.sel').each(function(checkbox) { checkbox.checked = true; });" %>,
    <%= link_to_function "#{t('none')}", "$$('input.sel').each(function(checkbox) { checkbox.checked = false; });" %>
  </div>

  <div id="page-yield">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %></p>
    <% end %>
    <ul id="category-list">
      <% @batch_students.each_with_index do |s,i| %>
        <% i +=1 %>
        <li class="list<%= cycle('odd', 'even')%>">
          <div class="sl_no"><%= i %></div>
          <div class="category-name"><%= s.full_name.capitalize %></div>
          <div style="float: right; margin-right: 50px;"> <%= check_box :student, "#{s.id}",:checked=> s =="1",:class=>"sel"%></div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

