<%= stylesheet_link_tag "report_builders/list_students" %>

<% @config = Configuration.find_by_config_key('TermwiseExamManagement') %>
<% if @config.config_value == "1" %>
  <%# unless @batch_students.empty? %>
  <% unless @batch_terms.nil? %>
    <ul id="category-list"><br />
      <% @batch_terms.uniq.each do |term| %>
        <li  style="width:250px; text-align: center; margin-left: 200px;" class="list<%= cycle('odd')%>">
          <div style="width:240px;" class="category-name">
            <%= check_box :term,  "#{term.id}",:checked=> term =="1" %> <%= term.name.titleize %>
          </div>
        </li>
      <% end %>
    </ul>
    <% else %>
     <p class="flash-msg"><%= t('no_terms') %></p>
  <% end %>
   <%# end %>
<% end %>

<% if params[:student_id] == "true" %>
<% else %>

  <% unless @batch_students.empty? %>
    <div class="selection">
      <%=  t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.sel').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function "#{t('none')}", "$$('input.sel').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>

    <div id="page-yield">
      <% unless flash[:notice].nil? %>
        <p class="flash-msg"> <%= flash[:notice] %></p>
      <% end %>
      <ul id="category-list">
        <% @batch_students.each_with_index do |s,i| %>
          <% i +=1 %>
          <li class="list<%= cycle('odd', 'even')%>">
            <div class="sl_no"><%= i %></div>
            <div class="category-name"><%= s.full_name.titleize %></div>
            <div style="float: right; margin-right: 50px;"> <%= check_box :student, "#{s.id}",:checked=> s =="1",:class=>"sel"%></div>
          </li>
        <% end %>
      </ul>
    </div>
    <% else %>
    <p class="flash-msg"><%= t('no_students_list') %></p>
  <% end %>
<% end %>
