<div class="label-field-pair1">
      <label for="student_batch"><%= "#{t('select_a_term')}" %>:</label>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
      <div class="text-input-bg1">
        <%= select "", :term_id,
          @terms.map {|b| [b.name, b.id]},
          {:prompt => "#{t('select_a_term')}"},
          {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "term_boarding_students"},
          :with => "'term_id='+ value",
          :before => "Element.show('loader_batch')",
          :success => "Element.hide('loader_batch')")}"}
      %>
      </div>
    </div>
    <div id="term_boarding_students"> </div>

