<% @students.each_with_index do |student,i|%>
	<div>
		<div style="font-size:12px;"><b>STUDENT NAME:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= student.first_name %>&nbsp;<%= student.last_name %></div>
		<div  style="font-size:12px;margin-top:-13px; margin-left:700px;"><b>CLASS:</b>&nbsp;&nbsp;&nbsp;&nbsp; <%= student.batch.course.course_name%></div>
	</div><br/>
	<div>
		<div style="font-size:12px;"><b>STUDENT NUMBER:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= student.admission_no %></div>
		<%report_pickup_date=ReportPickupDate.find_by_student_id_and_batch_id_and_term_id(student.id,student.batch_id,@term.id)%>
		<div style="font-size:12px;margin-top:-13px; margin-left:700px;"><b>DATE:</b>&nbsp;&nbsp;<%= report_pickup_date.report_pickup.strftime("%d/%m/%Y") unless report_pickup_date.nil?%></div>
	</div><br/>
	<table width="1100px">
		<tr height="40px" width="1100px">
			<td colspan="2" style="text-align:center">CHECKPOINT</td>
		</tr>
		<tr height="80px" width="1100px">
			<td width="40%" style="text-align:center">OVERALL RESULT</td>
			<td width="60%" style="text-align:center">SCORES</td>
		</tr>
		<% unless @subjects.empty?%>
			<% @subjects.flatten.each do |subject|%>				
				<tr height="60px" width="1100px">
					<td height="30px" style="padding-left:5px;"><%=subject.name%></td>					
					<td style="padding-left:5px;">						
						<% unless @exams[0].nil?%>&nbsp;&nbsp;<%=@exams[0].name%><span>:</span>
						<%=marks(@alpha_numeric_batch[0].id,student.batch_id,student.id,subject.id)%><% end%>
						<% unless @exams[1].nil?%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@exams[1].name%><span>:</span><%=marks(@alpha_numeric_batch[1].id,student.batch_id,student.id,subject.id)%><% end%>
					</td>					
				</tr>
			<% end%>
		<% end%>				
	</table><br/>
	<% unless  @principal.nil?%>
	<div align="center"><%= image_tag  @principal.signature_attachment.url,:size =>  "150x30"%></div><% end%><br/>
	<div align="center"><b><%="Signature"%>&nbsp;&nbsp;&nbsp;&nbsp;</b></div><br/><br/>
	<% @explanatory_notes = ExplanatoryNote.find_by_batch_id_and_term_id(student.batch_id,@term.id)%>
	<%unless @explanatory_notes.nil?%>
		<div><b>Explanatory Notes</b></div><br/>
		<div><%unless @explanatory_notes.explanatory_note1.empty?%>&#10004;&nbsp;&nbsp;&nbsp;&nbsp;<%= @explanatory_notes.explanatory_note1 %><% end%></div>
		<div><%unless @explanatory_notes.explanatory_note2.empty?%>&#10004;&nbsp;&nbsp;&nbsp;&nbsp;<%= @explanatory_notes.explanatory_note2%><% end%></div>
		<div><%unless @explanatory_notes.explanatory_note3.empty?%>&#10004;&nbsp;&nbsp;&nbsp;&nbsp;<%= @explanatory_notes.explanatory_note3 %><% end%></div>
		<div><%unless @explanatory_notes.explanatory_note4.empty?%>&#10004;&nbsp;&nbsp;&nbsp;&nbsp;<%= @explanatory_notes.explanatory_note4 %><% end%></div>
		<div><%unless @explanatory_notes.explanatory_note5.empty?%>&#10004;&nbsp;&nbsp;&nbsp;&nbsp;<%= @explanatory_notes.explanatory_note5 %><% end%></div>
	<% end%>
<% end%>