<% student = @student %>
<% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
<% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
<% elective_subjects = [] %>
<% @all_subject_total = 0 %>
<% @subject_count = 0 %>
<% student_electives.each do |elect| %>
   <% @en_disable = RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
        <% unless @en_disable.nil?  %>
          <% if  @en_disable.is_deleted == false %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
          <% end %>
          <% else %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
           <% end %>
<% end %>
<% @subjects = general_subjects + elective_subjects %>
<% @subjects.reject!{|s| s.no_exams==true} %>
<% unless @term_exam_groups.empty? %>
  <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
  <% subject_ids = exams.collect(&:subject_id) %>
  <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
  <% @merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
  <% unless @merged_subjects.nil?  %>
    <% @merged_subjects.each do |ms|   %>
      <% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
    <%end%>
  <% end %>
  <% unless @subjects.empty? %>
    <% @subjects = @subjects.sort_by {|u| u.name}  %>
    <% all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
    
      <% @subjects.each_with_index do |subject,i| %>
        <div style="margin-left: 20px; ">
        <% @count = 0 %>
        <% if i==0 %>
          <div style="margin-top: -65px;"></div>
        <% end %>
        <table style="page-break-inside: avoid !important;">
          <caption><%=  subject.name unless subject.nil?%></caption>
          <tr>
            <% unless @ca_exam_groups.nil? %>
              <% @ca_exam_groups.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name unless exam_group.nil? %></td>
              <% end %>
            <% end %>
            <% @count = @count + 1 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total CA (40)" %></td>
            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name  unless exam_group.nil?%></td>
              <% end %>
            <% end %>
            <% @count = @count + 2 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total(#{@weighted_total.to_i})" %></td>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term Grade" %> </td>
            <% unless @unweighted_exam_groups.nil? %>
              <% @unweighted_exam_groups.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name unless exam_group.nil? %></td>
              <% end %>
            <% end %>
            <% @count = @count + 1 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term GPA" %></td>
            <% @assigned_groups = ReportBuilder.assigned_subject_term_exam_groups(subject.id, @term_ids)  %>
            <% unless @assigned_groups.empty? %>
              <% @assigned_groups.each do |assigned_group| %>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"><%@assigned_value =  SubjectExamGroup.find(assigned_group.subject_exam_group_id) %><%= @assigned_value.name unless @assigned_value.nil?   %></td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <% cas_total = 0 %>
            <% total = 0 %>
            <% main_total = 0 %>
            <% @mmg = 1;@g = 1 %>
            <% unless @ca_exam_groups.nil? %>
              <% @ca_exam_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px">
                      <% cas_total = exam_score.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f:  exam_score.marks %>
                      <%= cas_total==0 ? "-" : cas_total %>
                      <% total = total +cas_total   %>
                    </td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px">
                      <% cas_total =  exam_score.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f:  exam_score.marks %>
                      <%= cas_total==0 ? "-" : cas_total %>
                      <% total = total + cas_total   %>
                    </td>
                  <% else %>
                    <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
              <% unless all_exams.empty? %>
                <% if @mmg == @g %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px">
             
            <%=  total==0 ? "-" : total %></td>
                <% else %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px">-</td>
                <% end %>
              <% end %>
            <% end %>

            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px">
                      <% main_total =  (exam_score.nil? ? 0 :  "#{exam_score.marks}").to_f  %>
                      <%= main_total==0 ? "-" : main_total %>
                      <% total = total + main_total  %>
                    </td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px"><% main_total =  ( exam_score.nil? ? 0 : "#{exam_score.marks}").to_f %>
                    <%= main_total==0 ? "-" : main_total %>
                      <% total = total + main_total  %>
                    </td>
                  <% else %>
                    <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
            <% end %>

            <% unless all_exams.empty? %>
              <% if @mmg == @g %>
                <td style="color:green; width:80px; text-align: center;font-size:11px">
<% @all_subject_total += total %>
<% @subject_count +=1 %>
            <%= total==0 ? "-" : total %></td>
              <% else %>
                <td style="color:green; width:80px; text-align: center;font-size:11px">-</td>
              <% end %>
            <% end %>
            <% @subject_percentace = (total.to_f*100)/@weighted_total.to_i %>
            <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
            <td style="text-align: center; font-size:11px" ><%= @grade %></td>

            <% unless @unweighted_exam_groups.nil? %>
              <% @unweighted_exam_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
                  <% else %>
                    <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
            <% end %>

            <% students_average_gpa(@grade) %>
            <td style="text-align: center; font-size:11px" ><%= @verall_gpa %></td>
            <% unless @assigned_groups.empty? %>
              <% @assigned_groups.each do |assigned_group| %>
                <% @score = SubjectExamScore.find_by_student_id_and_assigned_exam_group_id(student.id,assigned_group.id) %>
                <% unless @score.nil? %>
                  <td style="width:80px; text-align: center;font-size:11px"><%= @score.value %></td>
                <% else %>
                  <td style="width:80px; text-align: center;font-size:11px"><%= "-" %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
          <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,@term_exam_groups.last.id) unless @term_exam_groups.nil?  %>
          <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
          <tr>
            <td style="font-size:11px;"colspan="<%=@count %>">
              <%= exam_score.remarks unless exam_score.nil?  %>
              <% unless exam_score.nil? %>
                <% unless exam_score.remarks.nil? %>
                  <% if subject.elective_group_id.nil?%>
                    <%@subject_teachers=  RankIngresTeacherStudent.find_all_by_batch_id_and_subject_id(@batch.id,subject.id) %>
                    <% unless @subject_teachers.blank?  %>
                      <%  @subject_teachers.each do |subject_teacher|%>
                        <span style="float:right;color:green;margin-right: 50px;">
                        <%  unless  subject_teacher.student_ids.nil? %>
                             <%  if  subject_teacher.student_ids.include?(student.id.to_s) %>
                                            <% unless subject_teacher.employee_id.to_i == 0 %>
                                                    <% @emp = Employee.find(subject_teacher.employee_id.to_i) rescue false  %>
                                                            <% unless @emp == false %>
                                                              <%=  @emp.full_name%>
                                                         <% else %>
                                                          <%= "" %>
                                                           <% end %>
                                              <% end %>
                        <% end %>
                        <% end %>
                        </span>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% @sub_employee = subject.employees %>&nbsp;&nbsp;
                    <% unless @sub_employee.empty?  %>
                      <span style="float:right;color:green;margin-right: 50px;"><%= @sub_employee.first.full_name %></span>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <div style="margin-bottom: 5px; "></div>
        </table>
        </div>
        <%# unless  %>
        <% if i==7 %>
         <!-- <hr class="first-hr"> -->
            <div style="page-break-before: always; margin-top: -9px;">
            <hr style="margin-left:-60px;margin-bottom:-15px">
             </div>
            <hr style="margin-left:-60px;margin-bottom: 20px;height:0px;">
            <!-- <hr> -->
          <% end %>
      <% end %>



  <% end %>


  <% unless @merged_subjects.nil?  %>
    <% @merge_count = 0 %>
      <% @merged_subjects.each_with_index do |merged_subject,i| %>
        <div style="margin-left: 20px; ">
        <table>
          <caption><%=  merged_subject.name  unless merged_subject.nil? %></caption>
          <tr>
            <% unless @ca_exam_groups.nil? %>
              <% @ca_exam_groups.each do |exam_group| %>
                 <% @merge_count += 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name  unless exam_group.nil?%></td>
              <% end %>
            <% end %>
            <% @merge_count += 1 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total CA (40)" %></td>
            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @merge_count += 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name unless exam_group.nil? %></td>
              <% end %>
            <% end %>
            <% @merge_count += 2 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total(#{@weighted_total.to_i})" %></td>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term Grade" %> </td>
            <% unless @unweighted_exam_groups.nil? %>
              <% @unweighted_exam_groups.each do |exam_group| %>
                <% @merge_count += 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name unless exam_group.nil? %></td>
              <% end %>
            <% end %>
            <% @merge_count += 1 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term GPA" %></td>
            <%  merged_subject.subject_id.each do |subject| %>
              <% @assigned_groups = ReportBuilder.assigned_subject_term_exam_groups(subject.to_i, @term_ids)  %>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <% @merge_count += 1 %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"><%@assigned_value = SubjectExamGroup.find(assigned_group.subject_exam_group_id) %><%= @assigned_value.name %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
          <% h = {} %>
          <% score = 0 %>
          <%  main_score = 0 %>
          <% un_score = 0 %>
          <% as_ascore = 0 %>
          <%  merged_subject.subject_id.each do |subject| %>
            <% @mmg = 1;@g = 1 %>
            <% unless @ca_exam_groups.nil? %>
              <% @ca_exam_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.to_i,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <% score = exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms)).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms).to_f  : exam_score.marks %>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <% score = exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms)).to_f : exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms).to_f  : exam_score.marks%>
                  <% else %>
                    <% score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <% score = 0 %>
                <% end %>
                <%  unless h["#{exam_group.name}"].nil? %>
                  <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + score  %>
                <% else %>
                  <% h["#{exam_group.name}"] = score %>
                <% end %>
              <% end %>
            <% end %>

            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.to_i,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <%  main_score = exam_score.nil? ? 0 :  exam_score.marks %>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <% main_score = exam_score.nil? ? 0 : exam_score.marks %>
                  <% else %>
                    <% main_score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <%   main_score = 0 %>
                <% end %>
                <%  unless h["#{exam_group.name}"].nil? %>
                  <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] +main_score  %>
                <% else %>
                  <% h["#{exam_group.name}"] = main_score %>
                <% end %>
              <% end %>
            <% end %>
            <% unless @unweighted_exam_groups.nil? %>
              <% @unweighted_exam_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.to_i,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <% un_score  = exam_score.nil? ? 0 :  exam_score.marks  %>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <%un_score  = exam_score.nil? ? 0 :  exam_score.marks %>
                  <% else %>
                    <%  un_score  = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <%  un_score  =0 %>
                <% end %>
                <%  unless h["#{exam_group.name}"].nil? %>
                  <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] +un_score  %>
                <% else %>
                  <% h["#{exam_group.name}"] = un_score %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <tr>
            <% unless @ca_exam_groups.nil? %>
              <% ca_total = 0 %>
              <% @ca_exam_groups.each do |exam_group| %>
                <%  ca_total = ca_total + h["#{exam_group.name}"] %>
                <td style="text-align: center; font-size:11px"><%= h["#{exam_group.name}"] == 0 ? "-" : (h["#{exam_group.name}"].to_f/merged_subject.subject_id.count).round(2)  %> </td>
              <% end %>
              <td style="color:green; text-align: center; font-size:11px"> <%= ca_total == 0 ?  "-" :  (ca_total/merged_subject.subject_id.count).round(2)  %></td>
            <% end %>
            <% unless @main_exam_group.nil? %>
              <% main_total = 0 %>
              <% @main_exam_group.each do |exam_group| %>
                <%  main_total =main_total + h["#{exam_group.name}"] %>
                <td style="text-align: center; font-size:11px"><%= h["#{exam_group.name}"] == 0 ? "-" : (h["#{exam_group.name}"].to_f/merged_subject.subject_id.count).round(2)  %></td>
              <% end %>
            <% end %>
            <td style="color:green;text-align: center; font-size:11px">
              <% group_total = ca_total +main_total    %>
              <%= group_total == 0 ? total_grade = 0 : total_grade = ((group_total)/merged_subject.subject_id.count).round(2)   %></td>
             <% @all_subject_total += total_grade %>
             <% @subject_count +=1 %>
       <% unless total_grade.nil? %>
                <% @subject_percentace = (total_grade == 0 ? 0 :  (total_grade*100)/@weighted_total.to_i) %>
              <%end %>
              <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
            <td style="text-align: center; font-size:11px" ><%= @grade %></td>
            <% unless @unweighted_exam_groups.nil? %>
              <% @unweighted_exam_groups.each do |exam_group| %>
                <td style="text-align: center; font-size:11px"> <%= h["#{exam_group.name}"] == 0 ? "-" : (h["#{exam_group.name}"].to_f/merged_subject.subject_id.count).round(2)  %></td>
              <% end %>
            <%end%>
            <% students_average_gpa(@grade) %>
            <td style="text-align: center; font-size:11px" ><%= @verall_gpa %></td>

            <%# unless @assigned_groups.empty? %>
            <%# @assigned_groups.each do |assigned_group| %>
            <%# assign_name = SubjectExamGroup.find(assigned_group.subject_exam_group_id).name %>
            <%#*<td style="text-align: center; font-size:11px"> <%#= ((h["#{assign_name}"]/merged_subject.subject_id.count).round(2)) %><%#</td>%>
            <%# end %>
            <%# end %>

            <%  merged_subject.subject_id.each do |subject| %>
              <% @assigned_groups = ReportBuilder.assigned_subject_term_exam_groups(subject.to_i, @term_ids)  %>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <% @score = SubjectExamScore.find_by_student_id_and_assigned_exam_group_id(student.id,assigned_group.id) %>
                  <% unless @score.nil? %>
                    <td style="width:80px; text-align: center;font-size:11px"><%= @score.value %></td>
                  <% else %>
                    <td style="width:80px; text-align: center;font-size:11px"><%= "-" %></td>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
      
          <% @exam = Exam.find_by_subject_id_and_exam_group_id(merged_subject.subject_id.first.to_i,@term_exam_groups.last.id) unless @term_exam_groups.nil?  %>
          <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
          <tr>
            <td style="font-size:11px;"colspan="<%=@merge_count  %>">
              <%= exam_score.remarks unless exam_score.nil?  %>
              <% unless exam_score.nil? %>
                <% unless exam_score.remarks.nil? %>
                  <%@subject_teachers=  RankIngresTeacherStudent.find_all_by_batch_id_and_subject_id(@batch.id,merged_subject.subject_id.first.to_i) %>
                  <% unless @subject_teachers.blank?  %>
                    <%  @subject_teachers.each do |subject_teacher|%>
                      <span style="float:right;color:green;margin-right: 50px;">
                             <%  if  subject_teacher.student_ids.include?(student.id.to_s) %>
                        <% @emp = Employee.find(subject_teacher.employee_id.to_i) %>
                        <% unless @emp.nil?  %>
                          <%=  @emp.full_name%>
                          <% else %>
                          <%= "" %>
                          <% end %>
                        <% end %>
                        </span>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <div style="margin-bottom: 5px; "></div>
      <% end %>
       </table>
      </div>
    <% end %>
<% end %>
<style>
  hr {
      border-style: solid;
      border-color: LimeGreen;
      border-width: 2px;
}
  /*.first-hr {
    margin-top: 2%;
  }*/
  </style>