<% student = @student %>
<% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
<% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
<% elective_subjects = [] %>
<% student_electives.each do |elect| %>
   <% @en_disable = RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
        <% unless @en_disable.nil?  %>
          <% if  @en_disable.is_deleted == false %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
          <% end %>
          <% else %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
           <% end %>
<% end %>
<% @subjects = general_subjects + elective_subjects %>
<% @subjects.reject!{|s| s.no_exams==true} %>
<% unless @term_exam_groups.empty? %>
  <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
  <% subject_ids = exams.collect(&:subject_id) %>
  <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
  <% merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
  <% unless merged_subjects.nil?  %>
    <% merged_subjects.each do |ms|   %>
      <% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
    <%end%>
  <% end %>
  <% unless @subjects.empty? %>
    <% @subjects = @subjects.sort_by {|u| u.name}  %>
    <% all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
  
      <% @subjects.each_with_index do |subject,i| %>
                <div style="margin-left: 20px; ">
        <% @count = 0 %>
       
        <table>
          <caption><%=  subject.name %></caption>
          <tr>
            <% unless @ca_exam_groups.nil? %>
              <% @ca_exam_groups.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
              <% end %>
            <% end %>
            <% @count = @count + 1 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total CA (40)" %></td>
            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
              <% end %>
            <% end %>
            <% @count = @count + 4 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Percentage" %> </td>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term Grade" %> </td>
           <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
                    <td style="color:green; width:80px; text-align: center;font-size:11px"><%= link_term.link_name%></td>
              <% end %>
              <% end %>
            <% unless @other_weighted_groups.nil? %>
              <% @other_weighted_groups.each do |exam_group|%>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
              <% end %>
            <% end %>
            <%# unless @unweighted_exam_groups.nil? %>
            <%# @unweighted_exam_groups.each do |exam_group| %>
            <%#*<td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name </td>%>
            <%# end %>
            <%# end %>
            <% @count = @count + 1 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term GPA" %></td>
            <% @assigned_groups = ReportBuilder.assigned_subject_term_exam_groups(subject.id, @term_ids)  %>
            <% unless @assigned_groups.empty? %>
              <% @assigned_groups.each do |assigned_group| %>
                <% @count = @count + 1 %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"><%= SubjectExamGroup.find(assigned_group.subject_exam_group_id).name %></td>
              <% end %>
            <% end %>
            <% @count = @count + 3 %>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Annual Score" %> </td>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Annual Grade" %> </td>
            <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Annual GPA" %> </td>
          </tr>
          <tr>
            <% cas_total = 0 %>
            <% total = 0 %>
            <% main_exam_total = 0 %>
            <% total_count = 1 %>
            <% @mmg = 1;@g = 1 %>
            <% unless @ca_exam_groups.nil? %>
              <% @ca_exam_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px"><% cas_total =(exam_score.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f:  exam_score.marks).to_f   %>
                      <% total = total + cas_total   %>
                      <%= cas_total == 0 ? "- " : cas_total  %>
                    </td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px"><% cas_total =(exam_score.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f:  exam_score.marks).to_f  %>
                      <% total = total + cas_total   %>
                      <%= cas_total == 0 ? "- " : cas_total  %>
                    </td>
                  <% else %>
                    <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
              <% unless all_exams.empty? %>
                <% if @mmg == @g %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= total.to_f == 0 ? "-" : total.to_f%>
                  </td>
                <% else %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px">-</td>
                <% end %>
              <% end %>
            <% end %>
            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px"><% main_exam_total +=   exam_score.nil? ? 0 :  exam_score.marks  %>
                    <%=  exam_score.nil? ? "-" :  exam_score.marks  %>
                    </td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px"><% main_exam_total +=   exam_score.nil? ? 0 :  exam_score.marks  %>
                    <%=  exam_score.nil? ? "-" :  exam_score.marks  %>
                         </td>
                  <% else %>
                    <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
            <% end %>
            <% unless all_exams.empty? %>
              <% if @mmg == @g %>
                <td style="color:green; width:80px; text-align: center;font-size:11px">
                  <% grand_total = main_exam_total.to_f + total.to_f %>
                  <%= grand_total==0 ? "-" : @subject_percentace = ((grand_total*100)/@weighted_total.to_i).round(2)   %>
                </td>
              <% else %>
                <td style="color:green; width:80px; text-align: center;font-size:11px">-</td>
              <% end %>
            <% end %>
            <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
            <td style="text-align: center; font-size:11px" ><%= @grade %></td>
               <%  unless @link_term_groups.blank? %>
                 <% @link_total = 0 %>
                <% @link_term_groups.each do |link_term| %>
                  <% @term =  Term.find(link_term.link_term_id)   %>
                  <% term_value =  (ReportBuilder.term_1(subject,student,@term))  %>
                    <td style="color:green; width:80px; text-align: center;font-size:11px"><%= term_value==0 ? "-" : term_value   %></td>
                              <% total_count += 1 unless term_value==0 or term_value.nil?  %>
                 <% @link_total += term_value  unless term_value==0 or term_value.nil? %>
                  <% end %>
              <% end %>
            <% unless @other_weighted_groups.nil? %>
              <% @other_weighted_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
                  <% else %>
                    <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
            <% end %>
            <%# unless @unweighted_exam_groups.nil? %>
            <%# @unweighted_exam_groups.each do |exam_group| %>
            <%# @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
            <%# exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
            <%# unless @exam.nil? %>
            <%# if exam_group.exam_type == "MarksAndGrades" %>
            <%#*<td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  </td>%>
            <%# elsif exam_group.exam_type == "Marks" %>
            <%#*<td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" </td>%>
            <%# else %>
            <%#*<td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  </td>%>
            <%# @g = 0 %>
            <%# end %>
            <%# else %>
            <%#*<td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" </td>%>
            <%# end %>
            <%# end %>
            <%# end %>
            <% students_average_gpa(@grade) %>
            <td style="text-align: center; font-size:11px" ><%= @verall_gpa %></td>
            <% unless @assigned_groups.empty? %>
              <% @assigned_groups.each do |assigned_group| %>
                <% @score = SubjectExamScore.find_by_student_id_and_assigned_exam_group_id(student.id,assigned_group.id) %>
                <% unless @score.nil? %>
                  <td style="width:80px; text-align: center;font-size:11px"><%= @score.value %></td>
                <% else %>
                  <td style="width:80px; text-align: center;font-size:11px"><%= "-" %></td>
                <% end %>
              <% end %>
            <% end %>
            <td style="text-align: center; font-size:11px" ><%=  @total_score = ((@subject_percentace.to_f +  @link_total)/total_count).round(2)  unless @subject_percentace.nil?%></td>
            <td style="text-align: center; font-size:11px" ><%=  @total_grade = get_grade(@total_score) %></td>
            <td style="text-align: center; font-size:11px" ><%=  @total_gpa = students_average_gpa(@total_grade) %></td>
          </tr>
          <% @remarks =  ""  %>
            <% unless @term_exam_groups.nil? %>
                <% @term_exam_groups.each do |exam_group| %>
                           <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id)   %>
                           <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
                          <% unless exam_score.nil? %>
                                    <% unless exam_score.remarks.nil? %>
                                               <% @remarks = exam_score.remarks   %>
                                    <% end %>
                        <% end %>
              <%  end %>
          <% end  %>
          <tr>
                    <td style="font-size:11px;"colspan="<%=@count %>">
                      <%= @remarks  %>
                      <% @sub_employee = Subject.find(subject.id).employees %><br />
                      <% unless @sub_employee.empty?  %>
                        <div style="float:right;color:green;margin-right: 50px;"><%= @sub_employee.first.full_name %></div>
                      <% end %>
                    </td>
                  </tr>
                   <div style="margin-bottom: 5px; "></div>
        </table>
        </div>
         <% if i==6 %>
         <hr class="first-hr">
            <div style="page-break-before: always;margin-top: -9px;"> </div>
            <hr>
          <% end %>
      <% end %>
    
    <% unless merged_subjects.nil? or merged_subjects.empty? %>
      
        <% merged_subjects.each_with_index do |merged_subject,i| %>
          <%  @merge_count = 0 %>
          <div style="margin-left:20px;">
          <table>
            <caption><%=  merged_subject.name %></caption>
            <tr>
              <% unless @ca_exam_groups.nil? %>
                <% @ca_exam_groups.each do |exam_group| %>
                  <%  @merge_count += 1 %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
                <% end %>
              <% end %>
              <%  @merge_count += 1 %>
              <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total CA (40)" %></td>
              <% unless @main_exam_group.nil? %>
                <% @main_exam_group.each do |exam_group| %>
                  <%  @merge_count += 1 %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
                <% end %>
              <% end %>
              <%  @merge_count += 2 %>
              <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Percentage" %> </td>
              <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term Grade" %> </td>
              <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
                  <%  @merge_count += 1 %>
                    <td style="color:green; width:80px; text-align: center;font-size:11px"><%= link_term.link_name%></td>
              <% end %>
              <% end %>
              <% unless @other_weighted_groups.nil? %>
                <% @other_weighted_groups.each do |exam_group|%>
                  <%  @merge_count += 1 %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
                <% end %>
              <% end %>
              <%# unless @unweighted_exam_groups.nil? %>
              <%# @unweighted_exam_groups.each do |exam_group| %>
              <%#*<td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name </td>%>
              <%# end %>
              <%# end %>
              <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Term GPA" %></td>
              <% @assigned_groups = ReportBuilder.assigned_subject_term_exam_groups(merged_subject.subject_id.first,@term_ids)  %>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <%  @merge_count += 1 %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"><%= SubjectExamGroup.find(assigned_group.subject_exam_group_id).name %></td>
                <% end %>
              <% end %>
              <%  @merge_count += 3 %>
              <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Annual Score" %> </td>
              <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Annual Grade" %> </td>
              <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Annual GPA" %> </td>
            </tr>
            <% h = {} %>
            <% score = 0 %>
            <%  main_score = 0 %>
             <% total_count = 1 %>
            <% oh_score = 0 %>
            <% as_ascore = 0 %>

            <%  merged_subject.subject_id.each do |subject| %>
              <% subjects = Subject.find subject %>
              <% @mmg = 1;@g = 1 %>
              <% unless @ca_exam_groups.nil? %>
                <% @ca_exam_groups.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                      <%   score =  (exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms)).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms).to_f  : exam_score.marks).to_f %>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <% score =  (exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms)).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms).to_f  : exam_score.marks).to_f %>
                    <% else %>
                      <% score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <% score = 0 %>
                  <% end %>
                  <%  unless h["#{exam_group.name}"].nil? %>
                    <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + score  %>
                  <% else %>
                    <% h["#{exam_group.name}"] = score %>
                  <% end %>
                <% end %>
              <% end %>
              <% unless @main_exam_group.nil? %>
                <% @main_exam_group.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                      <%   main_score = exam_score.nil? ? 0 :  exam_score.marks %>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <% main_score = exam_score.nil? ? 0 : exam_score.marks %>
                    <% else %>
                      <% main_score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <% main_score =0 %>
                  <% end %>
                  <%  unless h["#{exam_group.name}"].nil? %>
                    <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + main_score  %>
                  <% else %>
                    <% h["#{exam_group.name}"] = main_score %>
                  <% end %>
                <% end %>
              <% end %>
              <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
                  <% @term = Term.find(link_term.link_term_id) %>
                  <%  unless h["#{link_term.link_name}"].nil? %>
                    <% h["#{link_term.link_name}"] =  h["#{link_term.link_name}"] +(ReportBuilder.term_1(subjects,student,@term)).to_f  %>
                  <% else %>
                    <% h["#{link_term.link_name}"] = (ReportBuilder.term_1(subjects,student,@term)).to_f %>
                  <% end %>
              <% end %>
              <% end %>
              <%#  alpha_total = alpha_total + ReportBuilder.grouped_exam_subject_total(subjects,student,@previous_alpha_term_groups) +(ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@batch.id,"Alpha Mid Term (Term 1)",@previous_alpha_term_groups)).to_f %>
              <%#  easter_total = easter_total +((ReportBuilder.grouped_exam_subject_total(subjects,student,@previous_easter_term_groups).to_f*100)/40).round(2) +  (((ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@batch.id,"Easter Mid Term",@previous_alpha_term_groups)).to_f*100)/40).round(2) %>
              <% unless @other_weighted_groups.nil? %>
                <% @other_weighted_groups.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                      <%   oh_score = exam_score.nil? ? 0 :  exam_score.marks %>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <% oh_score = exam_score.nil? ? 0 : exam_score.marks %>
                    <% else %>
                      <% oh_score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <% oh_score =0 %>
                  <% end %>
                  <%  unless h["#{exam_group.name}"].nil? %>
                    <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + oh_score  %>
                  <% else %>
                    <% h["#{exam_group.name}"] = oh_score %>
                  <% end %>
                <% end %>
              <% end %>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <% @score = SubjectExamScore.find_by_student_id_and_assigned_exam_group_id(student.id,assigned_group.id) %>
                  <% unless @score.nil? %>
                    <%  as_ascore = @score.value %>
                  <% else %>
                    <%  as_ascore = 0 %>
                  <% end %>
                  <%  unless h["a-#{assigned_group.id}"].nil? %>
                    <% h["a-#{assigned_group.id}"] =  h["a-#{assigned_group.id}"] +as_ascore   %>
                  <% else %>
                    <% h["a-#{assigned_group.id}"] = as_ascore  %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <tr>
              <% unless @ca_exam_groups.nil? %>
                <% ca_total = 0 %>
                <% @ca_exam_groups.each do |exam_group| %>
                  <%  ca_total = ca_total + h["#{exam_group.name}"] %>
                  <td style="text-align: center; font-size:11px"> <%= (h["#{exam_group.name}"]/merged_subject.subject_id.count).round(2) unless h["#{exam_group.name}"] == 0 %></td>
                <% end %>
                <td style="color:green;text-align: center; font-size:11px"> <%=  total = (ca_total/merged_subject.subject_id.count).round(2) unless ca_total == 0  %></td>
              <% end %>
              <% unless @main_exam_group.nil? %>
                <% main_total = 0 %>
                <% @main_exam_group.each do |exam_group| %>
                  <%  main_total =main_total + h["#{exam_group.name}"] %>
                  <td style="text-align: center; font-size:11px"> <%= (h["#{exam_group.name}"]/merged_subject.subject_id.count).round(2) unless h["#{exam_group.name}"] == 0 %></td>
                <% end %>
              <% end %>
              <td style="text-align: center; font-size:11px">
         <% grand_total = main_total.to_f + total.to_f %>
                     <%=  (@subject_percentace = (grand_total*100)/@weighted_total.to_i).round(2) unless grand_total.nil?%>  </td>
              <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
              <td style="text-align: center; font-size:11px" ><%= @grade %></td>
              <%  unless @link_term_groups.blank? %>
               <% @link_total = 0 %>
                <% @link_term_groups.each do |link_term| %>
              <td style="color:green;text-align: center; font-size:11px"><%= term_value =  (h["#{link_term.link_name}"].to_f/merged_subject.subject_id.count).round(2) unless h["#{link_term.link_name}"].nil? %> </td>
              <%  total_count += 1  unless h["#{link_term.link_name}"] == 0  %>
                 <%  @link_total += term_value unless h["#{link_term.link_name}"]== 0 %>
                <% end %>
              <% end %>
              <% unless @other_weighted_groups.nil? %>
                <%@other_weighted_groups.each do |exam_group| %>
                  <td style="text-align: center; font-size:11px"> <%= (h["#{exam_group.name}"]/merged_subject.subject_id.count).round(2) unless h["#{exam_group.name}"] == 0 %></td>
                <% end %>
              <% end %>
              <% students_average_gpa(@grade) %>
              <td style="text-align: center; font-size:11px" ><%= @verall_gpa %></td>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <td style="text-align: center; font-size:11px"> <%= (h["a-#{assigned_group.id}"]).chomp.split(//).uniq.join("") unless h["a-#{assigned_group.id}"].nil? %></td>
                <% end %>
              <% end %>
              <td style="text-align: center; font-size:11px" ><%=  total_score =  ((@subject_percentace.to_f + @link_total.to_f)/total_count).round(2)  unless total==0%></td>
              <td style="text-align: center; font-size:11px" ><%=  total_grade =  get_grade(total_score) %></td>
              <td style="text-align: center; font-size:11px" ><%=  students_average_gpa(total_grade) %></td>
            </tr>
            <% @remarks =  ""  %>
            <% unless @term_exam_groups.nil? %>
                <% @term_exam_groups.each do |exam_group| %>
                           <% @exam = Exam.find_by_subject_id_and_exam_group_id(merged_subject.subject_id.last,exam_group.id)   %>
                           <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
                          <% unless exam_score.nil? %>
                                    <% unless exam_score.remarks.nil? %>
                                               <% @remarks = exam_score.remarks   %>
                                    <% end %>
                        <% end %>
              <%  end %>
          <% end  %>
          <tr>
                    <td style="font-size:11px;"colspan="<%=@merge_count %>">
                      <%= @remarks  %>
                      <% @sub_employee = Subject.find(merged_subject.subject_id.last).employees %><br />
                      <% unless @sub_employee.empty?  %>
                        <div style="float:right;color:green;margin-right: 50px;"><%= @sub_employee.first.full_name %></div>
                      <% end %>
                    </td>
                  </tr>
                  <div style="margin-bottom: 5px; "></div>
          </table>
        <% end %>
        
      <% end %>
       </div>
    <% end %>
 
<% end %>
<style>
  hr {
      border-style: solid;
      border-color: LimeGreen;
      border-width: 2px;
}
  .first-hr {
    margin-top: 2%;
  }
  </style>
