<% @students.each_with_index do |student,i| %>
  <% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
  <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
  <% elective_subjects = [] %>
  <% student_electives.each do |elect| %>
    <% @en_disable = RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
    <% unless @en_disable.nil?  %>
      <% if  @en_disable.is_deleted == false %>
        <% elective_subjects.push Subject.find(elect.subject_id) %>
      <% end %>
    <% else %>
      <% elective_subjects.push Subject.find(elect.subject_id) %>
    <% end %>
  <% end %>
  <% @subjects = general_subjects + elective_subjects %>
  <% @subjects.reject!{|s| s.no_exams==true} %>
  <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
  <% subject_ids = exams.collect(&:subject_id) %>
  <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
  <% merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
  <% unless merged_subjects.nil?  %>
    <% merged_subjects.each do |ms|   %>
      <% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
    <%end%>
  <% end %>
  <% unless @subjects.empty? %>
    <% @subjects = @subjects.sort_by {|u| u.name}  %>
    <% all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
    <% @subjects.each do |subject| %>
      <% @count = 0 %>
      <table  style="width:1070px;border:0.18em solid #000000;margin-left:2px; " >
        <caption><%=  subject.name %></caption>
        <tr>
          <% @term_exam_groups.each do |exam_group| %>
            <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
            <% unless @exam.nil? %>
            <% end %>
            <% @count += 1 %>
            <td style="color:green; width:80px; text-align: center;font-size:14px"> <%= exam_group.name %></td>
          <% end %>
          <% @count += 3 %>
          <td style="color:green; width:80px; text-align: center;font-size:14px"> <%= "Total(#{@weighted_total.to_i})" %></td>
          <td style="color:green; width:80px; text-align: center;font-size:14px"><%= "Percentage" %> </td>
          <td style="color:green; width:80px; text-align: center;font-size:14px"><%= "Grade" %> </td>
          <%# @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,@comment_exam_group.id) unless @comment_exam_group.nil?  %>
          <%# exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
          <%#*<td rowspan= "2" style="font-size:9px;width:700px!important;" >%>
          <%#= exam_score.remarks unless exam_score.nil?  %>
          <%#*</td>%>
        </tr>
        <tr>
          <% @mmg = 1;@g = 1 %>
          <% @term_exam_groups.each do |exam_group| %>
            <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
            <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
            <% unless @exam.nil? %>
              <% if exam_group.exam_type == "MarksAndGrades" %>
                <td style="text-align: center; font-size:14px"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
              <% elsif exam_group.exam_type == "Marks" %>
                <td style="text-align: center; font-size:14px"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
              <% else %>
                <td style="text-align: center; font-size:14px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                <% @g = 0 %>
              <% end %>
            <% else %>
              <td style="text-align: center; font-size:14px"><%= "#{t('n_a')}" %></td>
            <% end %>
          <% end %>
          <% total_score = ExamScore.new() %>
          <% unless all_exams.empty? %>
            <% if @mmg == @g %>
              <td style="color:green; width:80px; text-align: center;font-size:14px"> <%=  @total = ReportBuilder.grouped_exam_subject_total(subject,student,@weighted_exam_groups,@ca_terms) %></td>
            <% else %>
              <td style="color:green; width:80px; text-align: center;font-size:14px">-</td>
            <% end %>
          <% end %>
          <% if @total.nil? %>
            <td style="color:green; width:80px; text-align: center;font-size:14px"><%= "-" %></td>
          <% else %>
            <td style="color:green; width:80px; text-align: center;font-size:14px">
              <% @subject_percentace = (@total*100)/@weighted_total.to_i %>
              <%= @subject_percentace.to_f.round(2)%>
            </td>
          <% end %>
          <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
          <td style="text-align: center; font-size:14px" ><%= @grade %></td>
        </tr>

        <% unless @term_exam_groups.nil? %>
          <tr>
          <% @remarks =  ""  %>
          <% @term_exam_groups.each do |exam_group| %>
            <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id)   %>
            <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
                <% unless exam_score.nil? %>
                   <% unless exam_score.remarks.nil?  %>
                             <%  @remarks =  exam_score.remarks unless exam_score.nil?  %>
                             <% @sub_employee = Subject.find(subject.id).employees %><br />
                  <% end %>
               <% end %>
          <%  end %>
                          <td style="font-size:14px;"colspan="<%=@count %>" >
                             <%=  @remarks %>
                             <% unless @sub_employee.empty?  %>
                                <div style="float:right;color:green;margin-right: 50px;"><%= @sub_employee.first.full_name %></div>
                           <% end %>
                         </td>
     </tr>
        <% end  %>
      </table>
      <div style="padding-top: 2px;"></div>
    <% end %>
    <div id ="line_items"></div>
    <div style="padding-top: 10px;"></div>
    <% unless merged_subjects.nil? %>
      <% merged_subjects.each do |merged_subject| %>
        <table  style="width:1070px;border:0.18em solid #000000;margin-left:2px; " >
          <caption><%=  merged_subject.name %></caption>
          <tr>
            <% @term_exam_groups.each do |exam_group| %>
              <td style="color:green; width:80px; text-align: center;font-size:14px"> <%= exam_group.name %></td>
            <% end %>
            <td style="color:green; width:80px; text-align: center;font-size:14px"> <%= "Total(#{@weighted_total.to_i})" %></td>
            <td style="color:green; width:80px; text-align: center;font-size:14px"><%= "Percentage" %> </td>
            <td style="color:green; width:80px; text-align: center;font-size:14px"><%= "Grade" %> </td>
          </tr>
          <% h = {} %>
          <% score = 0 %>
          <% total = 0 %>
          <%  merged_subject.subject_id.each do |subject| %>
            <% @mmg = 1;@g = 1 %>
            <% @term_exam_groups.each do |exam_group| %>
              <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject,exam_group.id) %>
              <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
              <% unless @exam.nil? %>
                <% if exam_group.exam_type == "MarksAndGrades" %>
                  <% score = exam_score.nil? ? 0 :  exam_score.marks  %>
                <% elsif exam_group.exam_type == "Marks" %>
                  <% score = exam_score.nil? ? 0 : exam_score.marks %>
                <% else %>
                  <% score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                  <% @g = 0 %>
                <% end %>
              <% else %>
                <% score = 0 %>
              <% end %>
              <%  unless h["#{exam_group.name}"].nil? %>
                <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + score  %>
              <% else %>
                <% h["#{exam_group.name}"] = score %>
              <% end %>
            <% end %>
            <% subjects = Subject.find subject %>
            <% total =  total + ReportBuilder.grouped_exam_subject_total(subjects,student,@weighted_exam_groups,@ca_terms) %>
          <% end %>
          <tr>
            <% @term_exam_groups.each do |exam_group| %>
              <td style="text-align: center; font-size:11px"> <%= ((h["#{exam_group.name}"]/merged_subject.subject_id.count).to_f).round(2) unless h["#{exam_group.name}"] == 0 %></td>
            <% end %>

            <td style="color:green; width:80px; text-align: center;font-size:11px"> <%=  term_total = ((total/merged_subject.subject_id.count).to_f).round(2) unless total == 0  %></td>
            <td style="color:green; width:80px; text-align: center;font-size:11px">
              <% @subject_percentace = (term_total*100)/@weighted_total.to_i unless term_total.nil? %>
              <%= @subject_percentace.to_f.round(2) unless @subject_percentace.nil?%>
            </td>
            <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
            <td style="text-align: center; font-size:11px" ><%= @grade %></td>
          </tr>
      
      
        <% @remarks =  ""  %>
        <% unless @term_exam_groups.nil? %>
          <tr>
          <% @term_exam_groups.each do |exam_group| %>
            <% @exam = Exam.find_by_subject_id_and_exam_group_id(merged_subject.subject_id.last,exam_group.id)   %>
            <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
                <% unless exam_score.nil? %>
                   <% unless exam_score.remarks.nil?  %>
                       
                             <%  @remarks =  exam_score.remarks unless exam_score.nil?  %>
                             <% @sub_employee = Subject.find(merged_subject.subject_id.last).employees %><br />
                    
                  <% end %>
               <% end %>
          <%  end %>
          <td style="font-size:14px;"colspan="<%=@count %>" >
            <%=  @remarks %>
                             <% unless @sub_employee.empty?  %>
                                <div style="float:right;color:green;margin-right: 50px;"><%= @sub_employee.first.full_name %></div>
                           <% end %>
                        </td>
           <% end  %>
           </tr>
        <% end %>
        </table>
      <div style="padding-top: 2px;"></div>
    <% end %>
  <% end %>
<% end %>
</div>
<style>
  table {
    margin: 0 auto;
    border: none !important;
  }
</style>
