<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
<script>

<%#*$(document).ready(function() {%>
<%#*$("#exam_score").css("margin-left", function() { return $(this).outerLeft() });%>
<%#*var sp =  parseInt($("#exam_score").css("margin-left"));%>
<%#*$("#text123").css("margin-left", $("#table123").offset().left );%>
<%#*});%>
</script>

<div id="page-yield">
  <% grade_type = "normal" %>
  <% grade_type = "GPA" if @batch.gpa_enabled? %>
  <% grade_type = "CWA" if @batch.cwa_enabled? %>

  <% @students.each_with_index do |student,i| %>
    <% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
    <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
    <% elective_subjects = [] %>
    <% student_electives.each do |elect| %>
        <% @en_disable = RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
        <% unless @en_disable.nil?  %>
          <% if  @en_disable.is_deleted == false %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
          <% end %>
          <% else %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
           <% end %>
    <% end %>
    <% @subjects = general_subjects + elective_subjects %>
    <% @subjects.reject!{|s| s.no_exams==true} %>
    <% if @term_exam_groups.empty? %>
      <% exams = Exam.find_all_by_exam_group_id(@exam_groups.collect(&:id)) %>
    <% else %>
      <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
    <% end %>
    <% subject_ids = exams.collect(&:subject_id) %>
    <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
    <% unless @subjects.empty? %>
      <% if params[:type] =="grouped" %>
        <% @subjects.each do |subject| %>
          <div style="color:red; background:gainsboro; width:314px;font-size:14px "><%=  subject.name %> </div>
          <table style="align: center;">
            <tr>
              <% @exam_groups.each do |exam_group| %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
              <% end %>
              <td style="color:green; width:80px; text-align: center;font-size:11px"> <%=  "Total(40)" %></td>
              <td style="color:green; width:80px; text-align: center;font-size:11px"><%=  "Grade" %> </td>
            </tr>
            <tr>
              <% @exam_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>

                <% if grade_type=="GPA" %>
                  <td style="text-align: center; font-size:11px"> <%= exam_score.present? ? "#{exam_score.grading_level || "-"}"+" ["+"#{exam_score.grading_level.present? ? (exam_score.grading_level.credit_points || "-") : "-"}"+"]" : "-" %></td>
                <% elsif grade_type=="CWA" %>
                  <td style="text-align: center;font-size:11px">  <%= exam_score.present? ? "#{exam_score.marks.present? ? ("%.2f" %((exam_score.marks.to_f/@exam.maximum_marks.to_f)*100)) : "-"}"+" ["+"#{exam_score.grading_level.present? ? exam_score.grading_level : "-"}"+"]" : "-" %></td>
                <% else %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center;font-size:11px;"> <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}"  %></td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center;font-size:11px"> <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}" %></td>
                  <% else %>
                    <td style="text-align: center;font-size:11px">  <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% subject_average = GroupedExamReport.find_by_student_id_and_subject_id_and_score_type(student.id,subject.id,"s") %>
              <td style="text-align: center;font-size:11px"><%= subject_average.present? ? subject_average.marks : "-" %></td>
              <% get_grade(subject_average.marks.to_i) unless subject_average.nil? %>
              <td style="text-align: center; font-size:11px" ><%= @grade %></td>
            </tr>

          </table><br />
        <% end %>
      <% else %>
        <% if @term_exam_groups.empty? %>
          <% all_exams = @exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
        <% else %>
          <% all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
        <% end %>

        <% @subjects.each do |subject| %>
          <% if @term_exam_groups.empty? %>
            <div style="color:red; background:gainsboro; width:314px;font-size:14px;"><%=  subject.name %> </div>
          <%#*<div style="text-align: center; margin-left:78px; width:814px;">%>
            <table  style="border:0.18em solid #000000; " >
              <tr>
          <%# @max_marks = 0 %>
                <% @exam_groups.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                  <% unless @exam.nil?  %>
              <%# @max_marks = @max_marks + @exam.maximum_marks.to_f.round(2) %>
                  <% end %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
                <% end %>
                <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total(#{@weighted_total.to_i})" %></td>
                <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Percentage" %> </td>
                <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Grade" %> </td>
              </tr>
              <tr>
                <% @mmg = 1;@g = 1; %>
                <% @exam_groups.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>

                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                      <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
                    <% else %>
                      <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                  <% end %>
                <% end %>

                <% total_score = ExamScore.new() %>
                <% unless all_exams.empty? %>
                  <% if @mmg == @g %>
                    <td style="color:green; width:80px; text-align: center;font-size:11px"> <%=  @total = total_score.grouped_exam_subject_total(subject,student,@type) %></td>
                  <% else %>
                    <td style="color:green; width:80px; text-align: center;font-size:11px">-</td>
                  <% end %>
                <% end %>
                <% if @total.nil? %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "-" %></td>
                <% else %>
                  <td style="color:green; width:80px; text-align: center;font-size:11px">
                    <% @subject_percentace = (@total*100)/@weighted_total.to_i %>
                    <%= @subject_percentace.to_f.round(2)%>
                  </td>
                <% end %>
                <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
                <td style="text-align: center; font-size:11px" ><%= @grade %></td>
              </tr>
            </table>
          <%#*</div>%>
            <div style="padding-top: 5px;"></div>

          <% else %>
            <div  style="margin-left:100px;color:red; background:gainsboro; width:314px;font-size:14px;  "><%=  subject.name %> </div>
            <table  style="border:0.18em solid #000000;margin-left:100px;width:750px; " >
                    <tr>
          <%# @max_marks = 0 %>
                      <% @term_exam_groups.each do |exam_group| %>
                        <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                        <% unless @exam.nil? %>
              <%# @max_marks = @max_marks + @exam.maximum_marks.to_f.round(2) %>
                        <% end %>
                        <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= exam_group.name %></td>
                      <% end %>
                      <td style="color:green; width:80px; text-align: center;font-size:11px"> <%= "Total(#{@weighted_total.to_i})" %></td>
                      <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Percentage" %> </td>
                      <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "Grade" %> </td>
                    </tr>
                    <tr>
                      <% @mmg = 1;@g = 1 %>
                      <% @term_exam_groups.each do |exam_group| %>
                        <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                        <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>

                        <% unless @exam.nil? %>
                          <% if exam_group.exam_type == "MarksAndGrades" %>
                            <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
                          <% elsif exam_group.exam_type == "Marks" %>
                            <td style="text-align: center; font-size:11px"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
                          <% else %>
                            <td style="text-align: center; font-size:11px"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                            <% @g = 0 %>
                          <% end %>
                        <% else %>
                          <td style="text-align: center; font-size:11px"><%= "#{t('n_a')}" %></td>
                        <% end %>
                      <% end %>

                      <% total_score = ExamScore.new() %>
                      <% unless all_exams.empty? %>
                        <% if @mmg == @g %>
                          <td style="color:green; width:80px; text-align: center;font-size:11px"> <%=  @total = ReportBuilder.grouped_exam_subject_total(subject,student,@weighted_exam_groups) %></td>
                        <% else %>
                          <td style="color:green; width:80px; text-align: center;font-size:11px">-</td>
                        <% end %>
                      <% end %>
                      <% if @total.nil? %>
                        <td style="color:green; width:80px; text-align: center;font-size:11px"><%= "-" %></td>
                      <% else %>
                        <td style="color:green; width:80px; text-align: center;font-size:11px">
                          <% @subject_percentace = (@total*100)/@weighted_total.to_i %>
                          <%= @subject_percentace.to_f.round(2)%>
                        </td>
                      <% end %>
                      <% get_grade(@subject_percentace) unless @subject_percentace.nil? %>
                      <td style="text-align: center; font-size:11px" ><%= @grade %></td>
                    </tr>
                  </table>
                <%#*</div>%>
          <%#*<div style="padding-top: 1px;"></div>%>
          <% end %>

        <% end %>

      <% end %>
    <% end %>
  <% end %>
</div>
<style>
html, body {
    width: 100%;
}
table {
    margin: 0 auto;
}
</style>

