<% student = @student %> 
<% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
<% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
<% elective_subjects = [] %>
<% student_electives.each do |elect| %>
  <% elective_subjects.push Subject.find_by_id(elect.subject_id,:conditions => {:is_deleted => false}) %>
<% end %>
<% @subjects = general_subjects + elective_subjects %>
<% @subjects = @subjects.compact.flatten %>
<% @subjects.reject!{|s| s.no_exams==true} %>
<% exams = Exam.find_all_by_exam_group_id(@exam_groups.collect(&:id)) %>
<% subject_ids = exams.collect(&:subject_id) %>
<% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
<% unless @subjects.empty? %>
  <% all_exams = @exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
  <table style="border:1px">
    <tr style="width:30px"><td style="width:10px"><%= t('sl_no') %></td>
      <td><%= t('subject') %></td>
      <% @term_exam_groups.each do |exam_group| %>
        <td><%= exam_group.name %></td>
      <% end %>
      <td><%= t('total') %></td>
      <td><%= t('highest_score') %></td>
      <td><%= t('lowest_score') %></td>
      <td><%= t('average') %></td>
      <td><%= t('grade') %></td>
      <td><%= t('remarks') %></td>
    </tr>
    <% @subjects.each_with_index do |subject,i| %>
      <tr><td><%= i+1 %></td>
        <td><%= subject.name %></td>
        <% @mmg = 1;@g = 1 %>
        <% @total = 0 %>
        <% @score = 0 %>
        <% @term_exam_groups.each do |exam_group| %>
          <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
          <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
          <td>
            <% unless @exam.nil? %>
              <% if exam_group.exam_type == "MarksAndGrades" %>
                <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks).to_i %>
                <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" %>
              <% elsif exam_group.exam_type == "Marks" %>
                <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks).to_i %>
                <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}" %>
              <% else %>
                <%  @score =  @score + (exam_score.nil? ? 0 :  exam_score.marks).to_i%>
                <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                <% @g = 0 %>
              <% end %>
            <% else %>
              <%  @score = @score + 0 %>
              <%= "#{t('n_a')}" %>
            <% end %>
            <% @subject_total = @total + @score %>
          <% end %>
        </td>
        <td><%= @subject_total %></td>
        <% highest_lowest_score(subject.id) %>
        <td><%= @highest_score %></td>
        <td><%= @lowest_score %></td>
        <td><%= @average_score  %></td>
        <td><%= t_grade(@subject_total) %></td>
        <%if i==0 %>
          <td rowspan="<%= @subjects.count %>"><%= "shhhhshshshshshshshkljfsdgjfgsdfsdlhfsdjfhdofhsdiofsdifhdfdfdfdfdf"   %></td>
        <%end%>
      <%end%>
    </tr>
  </table>
  <div>
    <h3>Keys to Grades:</h3>
    <h5>Note: CLIS takes 70% as the benchmark</h5>
  </div>
  <div id="table_container" >
    <table style="width:300px;float:left">
      <tr><td>A*</td><td>Distinction</td><td>94 AND ABOVE</td></tr>
      <tr><td>A</td><td>EXCELLENT</td><td>92-93</td></tr>
      <tr><td>B</td><td>MERIT</td><td>83-91</td></tr>
      <tr><td>C+</td><td>UPPER CREDIT</td><td>78-82</td></tr>
      <tr><td>C2</td><td>CREDIT</td><td>7-77</td></tr>
      <tr><td>C</td><td>GOOD</td><td>60-72</td></tr>
      <tr><td>D</td><td>PASS</td><td>50-59</td></tr>
      <tr><td>F</td><td>FAIL</td><td>49 AND BELOW</td></tr>
    </table>
    <div style="width:400px;float:left;padding-left:10px">
      <table style="width:400px;float:left">
        <tr><td colspan="12"><%= @groups.first.name %></td></tr>
      </table>
      <%  @groups.first.evaluation_types.each_with_index do |evaluation_type,i| %>
        <% p =cycle('odd1','even1') %>
        <table class="<%= "#{p}" %>">
          <tr><td style="width:150px"></td>
          <% (@range.first).downto(@range.last).each do |n| %>
          <td style="width:10px"><%= n %></td>
          <% end %>
          </tr>
          <tr>
            <td style="width:150px"><%= evaluation_type.name %></td>
            <%  perform = 0 %>
            <% evaluation_score = EvaluationScore.find_by_student_id_and_evaluation_type_id_and_evaluation_area_id(student.id,evaluation_type.id,nil) %>
         <%  unless evaluation_score.nil? %>
         <% perform = (evaluation_score.performance).to_i   %>
          <% end %>
          <% (@range.first).downto(@range.last).each do |n| %>
           <% if perform == n %>
            <td style="width:10px;">&#10004;</td>
            <% else %>
            <td style="width:10px;"></td>
              <% end %>
               <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div style="width:200px;float:left;padding-left:10px">
    <table  style="width:200px;float:left">
      <tr><td></td><td>SCALES</td></tr>
      <tr><td>5</td><td>EXCELLENT</td></tr>
      <tr><td>4</td><td>VERY GOOD</td></tr>
      <tr><td>3</td><td>ABOVE AVERAGE</td></tr>
      <tr><td>2</td><td>FAIR</td></tr>
      <tr><td>1</td><td>POOR</td></tr>
    </table>
    </div>
    <div style="width:200px;float:left;padding-left:10px">
    <table style="width:200px;float:left">
      <tr><td colspan="6"><%= @groups.last.name %></td></tr>
      <tr><td style="width:100px;"></td>
            <% (@range.first).downto(@range.last).each do |n| %>
          <td style="width:10px"><%= n %></td>
          <% end %></tr>
      <%  @groups.last.evaluation_types.each do |evaluation_type| %>
        <tr>
            <td style="width:150px"><%= evaluation_type.name %></td>
            <%  perform = 0 %>
            <% evaluation_score = EvaluationScore.find_by_student_id_and_evaluation_type_id_and_evaluation_area_id(student.id,evaluation_type.id,nil) %>
         <%  unless evaluation_score.nil? %>
         <% perform = (evaluation_score.performance).to_i   %>
          <% end %>
         <% (@range.first).downto(@range.last).each do |n| %>
           <% if perform == n %>
            <td style="width:10px;">&#10004;</td>
            <% else %>
            <td style="width:10px;"></td>
              <% end %>
                <% end %>
          </tr>
      <% end %>
    </table>
    </div>
  </div>
<% end %>
<style>
  #table_container {
    width:1200px;
    float:left;
  }
  .odd1 {
    float:left;
    width:200px;
  }
  .even1 {
    float:right;
    width:200px;
  }
</style>
