<script type="text/javascript">
  tinymce.init({
    selector: "textarea",
    fontsize_formats: "6pt 7pt 8pt 9pt 10pt 11pt 12pt 26pt 36pt",
     
    setup: function(editor) {
      // Add a button that opens a window
      editor.addButton('example', {
        text: 'My button',
        icon: false,
        onclick: function() {
          // Open window
          editor.windowManager.open({
            title: 'Report variables',
            body: [
              {

                type: 'listbox',
                name: 'select menu list',
                label: 'Select Menu List',
                //                            onselect: function(e) {
                //                            },
                values: [
                  {text:'Student Basic Data', menu:[<% for data in @student_basic_data %>{text:'<%= " #{t(data)}" %>', onclick: function() {editor.insertContent('<i>$%<%= data %>\%</i>');}},<% end %>]},
                  {text:'Previous Institute Data', menu:[<% for data in @student_previous_data %>{text:'<%= " #{t(data)}" %>', onclick: function() {editor.insertContent('<i>$%<%= data %>\%</i>');}},<% end %>]},
                  {text:'Student Additional Data', menu:[<% for record in @student_additional_data %>{text:'<%= " #{record.name}" %>', onclick: function() {editor.insertContent('<i>$%<%= record.name.squish.downcase.tr(" ","_") %>\%</i>');}},<% end %>]},
                  {text:'Student Attendance Data', menu:[<%for data in @student_attendance_data %>{text:'<%= " #{t(data)}" %>', onclick: function() {editor.insertContent('<i>$%<%= data %>\%</i>');}},<% end %>]},
                  {text:'Student Examination Data', menu:[<% for data in @student_examination_data %>{text:'<%= " #{t(data)}" %>', onclick: function() {editor.insertContent('$%<%= data %>\%');}},<% end %>]},
                  {text:'Tutor Data', menu:[<% for data in @tutor_data %>{text:'<%= " #{t(data)}" %>', onclick: function() {editor.insertContent('<i>$%<%= data %>\%</i>');}},<% end %>]},
                  {text:'Teachers Data', menu:[{text:' Teacher Full Name'}], onclick: function() {editor.insertContent('<i>$%<%= "teachers" %>\%</i>');}},
                  {text:'Time Data', menu:[<% for data in @date_time %>{text:'<%= " #{t(data)}" %>', onclick: function() {editor.insertContent('<i>$%<%= data %>\%</i>');}},<% end %>]},
                  {text:'Principal Data', menu:[<%for data in @principal_data %>{text:'<%= " #{t(data)}" %>', onclick: function() {editor.insertContent('<i>$%<%= data %>\%</i>');}},<% end %>]},
                  {text:'Check Box', onclick: function() {editor.insertContent('<input name ="god" value="done" checked type="checkbox" />');}},
                  {text:'Page Orientation',  onclick: function() {
                      editor.windowManager.open({
                        title: 'Page Orientation',
                        width : 370,
                        height : 110,
                        body: [
                          {type: 'listbox',
                            //name: 'align',
                            label: 'Select :',
                            onselect: function(e) {
<%= remote_function(
  :url => {:controller=>"report_builders",:action => "page_orientation"},
  :with => "'orientation=' + this.value() " )
%>
                            },
                            values: [

<% for orientation in @page_oreintation %>
                                {text: '<%= "#{t(orientation)}" %>', value: '<%=  "#{t(orientation)}" %>'},
<% end %>
                            ]
                           
                           
                          }
                        ]
                      });
                    }},
                  /* {text:'Tutor Signature', onclick: function() {editor.insertContent('From Tutors Signature:');}},
                  {text:'Tutor Comments', onclick: function() {editor.insertContent('From Tutors Comments:');}},
                  {text:'Principal', onclick: function() {editor.insertContent('Principal:');}}, */
                ]
                // onPostRender: function() {
                // Select the item
                //   this.value('');
                //  }
              }
            ]
               
          });
        }
      });
    },
    plugins: [
      "hr image fullpage advlist autolink lists charmap print preview anchor",
      "searchreplace visualblocks code fullscreen",
      "insertdatetime table contextmenu paste ",
      "emoticons print textcolor","pagebreak"
    ],
    pagebreak_separator: "<span style='page-break-before: always;'></span>",
    toolbar: "image  example | undo redo | fontsizeselect | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor | pagebreak "
  });

  //plugins : media link moxiemanager
  // toolbar : insertfile link emoticons
</script>
