<div style="margin-left:300px;"><%= image_tag "../../report_builder_images/Neander_School_Logo.png",:size =>  "300x120" %></div>
<div class="head" style="font-size: 13pt;">HALF TERM REPORT For&nbsp;<%= @term.name %>&nbsp;<% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%=   @start_date.year%>/<%= @end_date.strftime("%y") %>
</div>
<% @students.each_with_index do |student,i| %>
<% merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id )  %>
<% merged_subjects.each do |merged_subject| %>
<% @m_sub = merged_subject.subject_id %>
<% end %>
<table class="border"style="width:900px;">
      <!-- <tr style= "border-color: #FFFFFF;"> -->
       <td class="border">
      	<table style="margin-right:20px; height: 80px; border: 3px solid black; width: 400px;">
             <tr>
               <td class="head" style="width:170px;text-align: left;font-size: 13pt;">&nbsp;Name of Student:</td>
               <td class="tablecontent" style="width:230px;text-align: left;font-size: 13pt;">&nbsp;<%= student.first_name %>&nbsp;<%= student.middle_name %>&nbsp; <%= student.last_name %></td>
             </tr>
             <tr>
                <td class="head" style="width:170px;text-align: left;font-size: 13pt;">&nbsp;Half Term Begins:</td>
                <td class="tablecontent" style="width:230px;text-align: left;font-size: 13pt;">&nbsp;<%= @term.start_date.to_date %></td>
             </tr>
      	</table>
       </td>
       <td class="border">
      	<table style="margin-right:10px; height: 80px; border: 3px solid black;margin-left: 20px; width: 320px;">
               <tr>
               <td class="head" style="width:150px;text-align: left;font-size: 13pt;">&nbsp;Class:</td>
               <td class="tablecontent" style="width:170px;text-align:center;font-size: 13pt;">&nbsp;<%= @batch.name %></td>
             </tr>
             <tr>
                <td class="head" style="width:150px;text-align: left;font-size: 13pt;">&nbsp;No of Students:</td>
                <td class="tablecontent" style="width:170px;text-align:center;font-size: 13pt;">&nbsp;<%= @batch.students.count %></td>
             </tr>
      	</table>
       </td>
       <td class="border">
      	<table style="height: 80px; border: 3px solid black;width:160px;">
              <tr>
               <td class="head" style="width:80px;text-align: left;font-size: 13pt;">&nbsp;Sex:</td>
               <% if student.gender == 'm' %>
               <td class="tablecontent" style="width:80px;text-align: center;font-size: 13pt;">&nbsp; MALE</td>
               <% elsif student.gender == 'f' %>
               <td class="tablecontent" style="width:80px;text-align: center;font-size: 13
               pt;">&nbsp; FEMALE</td>
               <% end %>
             </tr>
             <tr>
                <td class="head" style="width:80px;text-align: left;font-size: 13pt;">&nbsp;  Overall %:</td>
                <td class="tablecontent" style="width:80px;text-align: center;font-size: 13pt;">&nbsp;<%= (@over_total/(@subjects.count + merged_subjects.count)).to_f.round(2) %></td>
             </tr>
      	</table>
     </td>
    <!-- </tr> -->
</table>
<div style="margin-top: 15px;font-size: 13pt;"><b><%= "Cognitive Domain"%></b></div>
  <% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
  <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
  <% elective_subjects = [] %>
     <% student_electives.each do |elect| %>
        <% @en_disable = RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
        <% unless @en_disable.nil?  %>
          <% if  @en_disable.is_deleted == false %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
          <% end %>
          <% else %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
        <% end %>
     <% end %>
  <% @subjects = general_subjects + elective_subjects %>
  <% @subjects.reject!{|s| s.no_exams==true} %>
  <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
  <% subject_ids = exams.collect(&:subject_id) %>
  <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
  <% merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
     <% unless merged_subjects.nil?  %>
        <% merged_subjects.each do |ms|   %>
          <% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
        <%end%>
     <% end %>
  <% unless @subjects.empty? %>
    <% @subjects = @subjects.sort_by {|u| u.name}  %>
    <% all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
      <table  style="width:800px;border:0.18em solid #000000;margin-left:2px; margin-bottom:20px; " >
        <tr style="height:140px;">
            <td class="tablehead" style="width:250px;font-size: 13pt;"><%= "Subject"%></td>
               <% @term_exam_groups.each do |exam_group| %>
               <% @exam = Exam.find_by_exam_group_id(exam_group.id) %>
                  <% unless @exam.nil? %>
                  <% end %>
            <td class="verticalText" style="font-size: 13pt;"> <%= exam_group.name %></td>
               <% end %>
            <td class="tablehead" style="width:100px;font-size: 13pt;"> <%= "1st Half Term Total C.A" %></td>
            <td class="verticalText" style="font-size: 13pt;"><%= "Percentage" %> </td>
            <td class="verticalText" style="font-size: 13pt;"><%= "Class Average" %> </td>
        </tr>
        <tr style="border:0.18em solid #000000">
            <td class="tablehead" style="text-align:left; width:250px;font-size: 13pt;">&nbsp;<%= "Maximum Score"%></td>
            <td class="tablehead" style="font-size: 13pt;"><%= "100" %></td>
            <td class="tablehead" style="font-size: 13pt;"><%= "100" %></td>
            <td class="tablehead" style="font-size: 13pt;"><%= "100" %></td>
            <td class="tablehead" style="width:100px;font-size: 13pt;"><%= "20" %></td>
            <td class="tablehead" style="font-size: 13pt;"><%= "100" %></td>
            <td class="tablehead" style="font-size: 13pt;"><%= "100" %></td>
        </tr>
             <% total = [] %>
             <% @subjects.each do |subject| %>
        <tr>
            <td class="tablecontent" style="text-align:left; width:250px;font-size: 13pt;">&nbsp;<%=  subject.name %></td>
                 <% @mmg = 1;@g = 1 %>
                 <% @term_exam_groups.each do |exam_group| %>
                 <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                 <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                     <% unless @exam.nil? %>
                        <% if exam_group.exam_type == "MarksAndGrades" %>
                            <td class="tablecontent" style="font-size: 13pt;"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
                        <% elsif exam_group.exam_type == "Marks" %>
                            <td class="tablecontent" style="font-size: 13pt;"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
                        <% else %>
                            <td class="tablecontent" style="font-size: 13pt;"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                             <% @g = 0 %>
                        <% end %>
                      <% else %>
                            <td class="tablecontent" style="font-size: 13pt;"><%= "#{t('n_a')}" %></td>
                     <% end %>
                 <% end %>
                 <% total_score = ExamScore.new() %>
                 <% unless all_exams.empty? %>
                     <% if @mmg == @g %>
                          <td class="tablecontent" style="font-size: 13pt;"><%  @totals = ReportBuilder.grouped_exam_subject_total(subject,student,@weighted_exam_groups,@ca_terms) %><%= @total = (@totals/15).to_f.round(2) %></td>
                     <% else %>
                          <td class="tablecontent" style="font-size: 13pt;">-</td>
                     <% end %>
                 <% end %>
                 <% if @total.nil? %>
                         <td class="tablecontent" style="width:100px; font-size: 13pt;"><%= "-" %></td>
                    <% else %>
                         <td class="tablecontent" style="width:100px; font-size: 13pt;">
                            <% @subject_percentace = (@total*100)/20 %>
                            <%= @subject_percentace.to_f.round(2)%>
                            <% total << @subject_percentace %>
                         </td>
                 <% end %>    
                             <!-- class subject average -->

                 <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
                <% @student_electives =StudentsSubject.find_by_subject_id(subject.id) %>
                <%  @subject1 = Subject.find(subject.id) %>
                <% @subject_count = @subject1.students.count %>
                <% unless @student_electives.nil? %>
                  <td class="tablecontent" style="font-size: 13pt;"><% @class_avg = ReportBuilder.class_avg(subject,@term) %>
                  <% @cl_cvg = ((@class_avg*subject.batch.students.count)/15).to_f.round(2) %>
                  <%= @cl_avg1 = (((@cl_cvg*5).to_f.round(2))/@subject_count).to_f.round(2) %>
                  <%#= (((@class_avg/3).to_f*subject.batch.students.count).to_f/@subject_count).to_f.round(2) %></td>
                <%else%>
                  <td class="tablecontent" style="font-size: 13pt;"><% @class_avg = ReportBuilder.class_avg(subject,@term) %><%= (@class_avg/3).to_f.round(2) %></td>
                <% end %>
                       <!--  -->
        </tr>
            <% end %>
                 <!-- Merge Subject -->  
          <% unless merged_subjects.nil? %>
             <% merged_subjects.each do |merged_subject| %>    
             <% h = {} %>
             <% class_avg = [] %>
             <% score = 0 %>
             <%  m_total = 0 %>
             <%  merged_subject.subject_id.each do |subject| %>
             <% @mmg = 1;@g = 1 %>
                <% @term_exam_groups.each do |exam_group| %>
                   <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject,exam_group.id) %>
                   <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})  unless @exam.nil? %>
                     <% unless @exam.nil? %>
                        <% if exam_group.exam_type == "MarksAndGrades" %>
                            <% score = exam_score.nil? ? 0 :  exam_score.marks  %>
                        <% elsif exam_group.exam_type == "Marks" %>
                            <% score = exam_score.nil? ? 0 : exam_score.marks %>
                        <% else %>
                            <% score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                            <% @g = 0 %>
                        <% end %>
                       <% else %>
                         <% score = 0 %>
                     <% end %>
                     <%  unless h["#{exam_group.name}"].nil? %>
                        <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + score  %>
                        <% else %>
                        <% h["#{exam_group.name}"] = score %>
                     <% end %>
                <% end %>
                <% subjects = Subject.find subject %>
                <% m_total =  m_total + ReportBuilder.grouped_exam_subject_total(subjects,student,@weighted_exam_groups,@ca_terms) %>
                <% @term = Term.find(@term_ids.first) %> 
                <% @class_avg = ReportBuilder.class_avg(subjects,@term) %>
                <% class_avg << @class_avg %>
             <% end %>
        <tr>
            <td class="tablecontent" style="text-align:left; width:250px; font-size: 13pt;">&nbsp;<%=  merged_subject.name %></td>
               <% @term_exam_groups.each do |exam_group| %>
                 <td class="tablecontent" style="font-size: 13pt;"> <%= ((h["#{exam_group.name}"]/merged_subject.subject_id.count).to_f).round(2) unless h["#{exam_group.name}"] == 0  %></td>
                <% end %>
             <td class="tablecontent" style="font-size: 13pt;"> <%  term_total = ((m_total/merged_subject.subject_id.count).to_f).round(2) unless total == 0  %><%= (term_total/ 15).to_f.round(2) %></td>
            <td class="tablecontent" style="font-size: 13pt;">
                 <% @subject_percentace = ((term_total/15)*100)/20 unless term_total.nil? %>
                 <%= @subject_percentace.to_f.round(2) unless @subject_percentace.nil?%>
                 <% total << @subject_percentace %>
            </td>
            <td class="tablecontent" style="font-size: 13pt;"><%= ((class_avg.sum/merged_subject.subject_id.count)/3).to_f.round(2) %></td>
        </tr>
        <% end %>
      <% end %>
     <% end %>
                     <!--  -->
        <tr>
            <td class="head" style="font-size: 13pt;"><%= "Total" %></td>
            <td colspan="4"></td>
            <td class="head" style="font-size: 13pt;"><%= (total.sum).to_f.round(2) %></td>  
        </tr>
        <tr>
            <td class="head" style="font-size: 13pt;"><%= "Average" %></td>
            <td colspan="4"></td>
            <td class="head" style="font-size: 13pt;"><%= (total.sum/(@subjects.count + merged_subjects.count)).to_f.round(2) %></td>  
        </tr>
      </table>  
  <div style="width:1000px; margin-top:20px;">
        <div style="width:900px;margin-top:20px; height:70px;font-size: 13pt;"><b><%= "Form Tutor's Comment:" %>&nbsp;&nbsp;&nbsp;</b>
             <div style="float:right;">
              <table style="height: 70px; width: 680px;font-size: 13pt;">
                 <td style="font-size: 13pt;"> <% @tutor_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,false) %> <%= @tutor_comment.description unless @tutor_comment.nil? %>
                 </td>
              </table>
            </div>
        </div>
        <table class="border" style="width:900px; margin-top:5px; height:80px;">
          <tr style="border-color: white;">
          <td colspan="2" style="font-size: 13pt; border-top-style:none; border-bottom-style:none; border-left-style:none;"><b><%= "Signature:" %>&nbsp;</b>
          </td>
            <td colspan="4", style="height: 50px; width: 400px;">&nbsp;&nbsp;
              <% unless  @tutor.nil?%>
                <% if @tutor.signature_attachment.file? %>
                  <%= image_tag @tutor.signature_attachment.url,:size => "150x30" %>
                <% end %>
              <% end %>
            </td>
            <td colspan="2" style="text-align:center;font-size: 13pt; border-top-style:none; border-bottom-style:none; border-left-style:none;"><% t = Time.now %><b><%= "Date" %>&nbsp;&nbsp;</b></td>
              <td colspan="2", style="height: 40px; width: 50px; text-align:center;font-size: 13pt;">
              <%= t.strftime("%A")%>&nbsp;<%= t.strftime("%d") %>th&nbsp;<%= t.strftime("%B") %>,&nbsp;<%= t.strftime("%Y")%>
              </td>
         </tr>
        </table>
          <div style="width:900px;margin-top:5px; height:70px;font-size: 13pt;"><b><%= "Principal’s  Comment:" %>&nbsp;&nbsp;&nbsp;</b>
              <table style="height: 70px; width: 680px; border: 3px solid black; float:right;font-size: 13pt;">
                 <td style="font-size: 13pt;"><% @head_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,true) %><%= @head_comment .description unless @head_comment .nil? %>
                    </td>
              </table>
        </div>
<table class="border" style="width:900px; margin-top:5px; height:80px;">
  <tr style="border-color: white;">
  <td colspan="2" style="font-size: 13pt; border-top-style:none; border-bottom-style:none; border-left-style:none;"><b><%= "Signature:" %>&nbsp;</b>
  </td>
    <td colspan="4", style="height: 50px; width: 400px;">&nbsp;&nbsp;
      <% unless  @principal.nil?%>
        <%= image_tag  @principal.signature_attachment.url,:size =>  "150x30"%>
      <% end %>
    </td>
      <td colspan="2" style="text-align:center;font-size: 13pt; border-top-style:none; border-bottom-style:none; border-left-style:none;"><% t = Time.now %><b><%= "Date" %>&nbsp;&nbsp;</b></td>
      <td colspan="2", style="height: 40px; width: 50px; text-align:center;font-size: 13pt;">
      <%= t.strftime("%A")%>&nbsp;<%= t.strftime("%d") %>th&nbsp;<%= t.strftime("%B") %>,&nbsp;<%= t.strftime("%Y")%>
      </td>
 </tr>
</table>          
   </div>
<% end %>


<style type="text/css">
 .head {
  text-align: center;
  font-weight: bold;
  font-size: normal;
 }

 .tablehead {
  text-align: center;
  font-weight: bold;
  font-size: normal;
 }

 .tablecontent {
  text-align: center;
  font-weight: normal;
  font-size: normal;
  width: 75px;
  height: 25px;
 }
 .verticalText {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
  font-weight: bold;
  text-align: center;
  width:20px;
}
.border {
        border: 3px solid #FFFFFF;
    }
.border1{
  border-top-style: none;
  border-top-style: none;
  border-right-color: white;
  border-left-color: white;
}
</style>