<table style="width: 220px;">
  <tr>
    <th style ="color:green;font-size:16px;">Home Work Rating</th>
    
  </tr>
  <tr>
    <td style="text-align: center;color: red; font-size: 14px">
      <% unless @rating.nil? %>
      <b><%= @rating %></b>
      <% else %>
      <b><%= "Usually Completed" %></b>
      <% end %>
    </td>
  </tr>
</table>
