<% unless @comment.nil? %>
<div style="float:left;margin-left:20px;font-size: 11px;"><span style="color: green;font-size: 12px;"><%= "House Parent Comment:" %></span> &nbsp;<%= @comment.description %></div>
  <div style="color: limegreen;margin-right:60px;font-size:14px;float:right;margin-top:1px;"><%= Employee.find_by_user_id(@comment.user_id).full_name.capitalize  %></div>
<% end %>
