<%= stylesheet_link_tag "remainder/view_reminder"  %>
<style>
  #reminder-message{
    background:#eeeeee;
    padding:20px;
    text-align:justify;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-size:15px;
  }
</style>
<% unless @house_parent_comments.empty? %>
<br /><br /><br /><br />
  <% @house_parent_comments.each do |comment| %>
    
    <div id="reminder-body">
      <div id="reminder-message"><strong><%= "Commented By" %>: &nbsp;<%= Employee.find_by_user_id(comment.user_id).full_name.capitalize %></strong><br /><br />
        <strong><%= "To" %>: &nbsp;<%= Student.find(comment.student_id).full_name.capitalize %></strong><br /><br />
        <%= comment.description %>
      </div>
    </div><br />
    <div class="extender"></div>
  <% end %>
<% else %>
  <div style="background-color : #fff1ab; width:70%;height: 25px; margin-top: 90px;">
    <p style="text-align: center; padding-top:5px; font-size: 13px;"><%= t('no_comments_added')  %></p>
  </div>
<% end %>
