<style type="text/css">
  #line_items {
    page-break-inside:   always;
  }
  #section1 {
    width:465px;
    float:right;
    padding:10px;
    height:750px;
  }
  #section2 {
    width:475px;
    float:right;
    padding:5px;
    height:750px;
  }
  #section3 {
    width:475px;
    float:left;
    padding:5px;
    border-right: 1px solid black;
  }
  #section4 {
    width:475px;
    float:right;
    padding:5px;
  }
  .box1 {
    padding: 5px;
    width:475px;
    border-right: 1px solid black;
  }

  .box2 {
    padding: 5px;
    width:475px;
    border-right: 1px solid black;
  }
  .box3 {
    padding: 5px;
    width:475px;
    border-right: 1px solid black;
  }
  table {
    border: 0.5px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    empty-cells: hide;
  }
  th,td{
    font-weight: bold;
    text-align: center;
    font-family: DejaVu Serif Condensed;
  }

</style>

<div id="section1">
  <%  @count_infant = EvaluationGroup.count  %>
  <%  @count_prime = EvaluationGroup.find_all_by_area("Prime Area") %>
  <%  @count_specific = EvaluationGroup.find_all_by_area("Specific Area") %>
  <span style="color:#000000;font-size:14px;font-family: DejaVu Serif Condensed"><b><h5 align = "center">BRIEF SUMMARY OF THE <%= @count_infant %> EARLY LEARNING GOALS (ELGs)</h5></b></span>
  <% unless @count_prime.empty? %>
    <table width="100%" style="float: left;">
      <p align="center"><span style="color:#FF00FF;font-size:14px"><b>THE <%= @count_prime.count %> PRIME AREAS</b></span><p>
        <%  @count_prime.each do |groups| %>
        <tr>
          <td><span style="color:#A34719;font-size:12.5px"><b><%= groups.name %></b></span>
            <br />
            <span style="color:#000000;font-size:11px"><b><%= groups.code %></b></span></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% unless @count_specific.empty? %>
    <table width="100%" style="float: left;">
      <p><BR>&nbsp;<BR></p>
      <p align ="center"><span style="color:#FF00FF;font-size:14px"><b>THE <%= @count_specific.count %> SPECIFIC AREAS</b></span></p>
      <%  @count_specific.each do |groups| %>
        <tr>
          <td><span style="color:#990000;font-size:12.5px"><b><%= groups.name %></b></span>
            <br />
            <span style="color:#000000;font-size:11px"><b><%= groups.code %></span></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<div id="section3">
  <% @ty_cout = 0%>
  <% unless @count_prime.empty? %>
    <%  @count_prime.each do |groups| %>
      <% @prime_types =  EvaluationType.find_all_by_evaluation_group_id(groups.id) %>
      <% @prime_term_name = Term.find_by_id(groups.term_id) %>
      <table width="100%" style="float: left;">
        <% unless @prime_types.empty? %>
          <tr><th colspan="5"> <span style="color:brown;font-size:12.5px;font-family: DejaVu Serif Condensed"><b><%= "AN ASPECT OF THE PRIME AREAS OF LEARNING" %></b></span></th></tr>
          <% @prime_types.each do |types| %>
            <tr>
              <td width="8"><span style="font-size:11px"><b>ELG<%=@ty_cout = @ty_cout+1 %></b></span></td>
              <td><span style="font-size:11px;color:#0000FF"><b><%= groups.name %><br />
                    <span style="font-size:11px;color:#191919"><b><%= types.name %></b></span></b></span></td>
              <td><span style="font-size:11px;color:#006600"><b>Emerging</b></span></td>
              <td><span style="font-size:11px;color:#996633"><b>Expected</b></span></td>
              <td><span style="font-size:11px;color:#00007A"><b>Exceeding</b></span></td>
            </tr>
            <% @prime_area = EvaluationArea.find_all_by_evaluation_type_id(types.id) %>
            <% unless @prime_area.empty? %>
              <% @prime_area.each do |areas| %>
                <tr><td colspan="2" ><span style="font-size:11px"><%= areas.name %></b></span></td>
                  <% @score = EvaluationScore.find_by_evaluation_area_id(areas.id) %>
                  <% unless @score.nil? %>
                    <% if @score.performance == "Emerging"  %>
                      <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:black;">&#10004;</td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @score.performance == "Expected" %>
                      <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:black;">&#10004;</td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @score.performance == "Exceeding" %>
                      <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:black;">&#10004;</td>
                    <% else %>
                      <td></td>
                    <% end %>
                  <% else %>
                    <td></td>
                    <td></td>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
            <tr><td colspan="5" height=10></td></tr>
          <% end %>
            <% @comment = EvaluationComment.find_by_term_id_and_evaluation_group_id_and_student_id(@prime_term_name.id,groups.id,@student.id) %>
          <tr><td colspan="5"><span style="font-size:12.5px"><b>Comments:</b></span><span style="color:brown;font-size:12.5px;font-family: DejaVu Serif Condensed"><b><%= groups.name %></b></span></td></tr>
          <tr><td colspan="5" style="text-align:left;"><span style="font-size:12.5px"><%= @prime_term_name.name %>:<%= @comment.comment unless @comment.nil? %> </b></span></td></tr>
        <% end  %>
      </table>
      <p><BR>&nbsp;<BR></p>
    <% end %>

  <% end %>
</div>

<div id="section4">
  <% unless @count_specific.empty? %>
    <%  @count_specific.each do |groups| %>
      <% @specific_types =  EvaluationType.find_all_by_evaluation_group_id(groups.id) %>
      <% @specific_term_name = Term.find_by_id(groups.term_id) %>
      <table width="100%" style="float: left;">
        <% unless @specific_types.empty? %>
          <tr><th colspan="5"><span style="color:brown;font-size:12.5px;font-family: DejaVu Serif Condensed"><b><%= "AN ASPECT OF THE SPECIFIC AREA OF LEARNING" %></b></span></th></tr>
          <% @specific_types.each do |types| %>
            <tr>
              <td width="8"><span style="font-size:11px"><b>ELG<%=@ty_cout = @ty_cout+1 %></b></span></td>
              <td><span style="font-size:11px;color:#3399FF"><b><%= groups.name %><br />
                    <span style="font-size:11px;color:#191919"><b><%= types.name %></b></span></b></span></td>
              <td><span style="font-size:11px;color:#006600"><b>Emerging</b></span></td>
              <td><span style="font-size:11px;color:#996633"><b>Expected</b></span></td>
              <td><span style="font-size:11px;color:#00007A"><b>Exceeding</b></span></td>
            </tr>
            <% @specific_area = EvaluationArea.find_all_by_evaluation_type_id(types.id) %>
            <% unless @specific_area.empty? %>
              <% @specific_area.each do |areas| %>
                <tr><td colspan="2"><span style="font-size:11px"><b><%= areas.name %></b></span></td>
                  <% @score = EvaluationScore.find_by_evaluation_area_id(areas.id) %>
                  <% unless @score.nil? %>
                    <% if @score.performance == "Emerging"  %>
                      <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:black;">&#10004;</td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @score.performance == "Expected" %>
                      <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:black;">&#10004;</td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @score.performance == "Exceeding" %>
                      <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:black;">&#10004;</td>
                    <% else %>
                      <td></td>
                    <% end %>
                  <% else %>
                    <td></td>
                    <td></td>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
            <tr><td colspan="5" height=10></td></tr>
          <% end %>
          <% @comment = EvaluationComment.find_by_term_id_and_evaluation_group_id_and_student_id(@specific_term_name.id,groups.id,@student.id) %>
          <tr><td colspan="5"><span style="font-size:12.5px"><b>Comments:</b></span><span style="color:brown;font-size:12.5px;font-family: DejaVu Serif Condensed"><b><%= groups.name %></b></span></td></tr>
          <tr><td colspan="5" style="text-align:left;"><span style="font-size:12.5px"><b><%= @specific_term_name.name %>:<%= @comment.comment  unless @comment.nil? %></b></span></td></tr>
        <% end  %>
      </table>
      <p><BR>&nbsp;<BR></p>
    <% end %>
  <% end %>
</div>
<div class="box1">
  <table width="100%" style="float: left;">
    <tr><td colspan="2"><span style="color:brown;font-size:12.5px"><b>Class Teachers General Comments</b></span></td></tr>
    <tr><td colspan="2" height=60 style="text-align:left;"><span style="font-size:12.5px"><b><%#= @prime_term_name.name %>:</b></span></td></tr>
    <tr><td width="230" height=30 style="text-align:left;"><span style="font-size:12.5px"><b>Signature:</b></span></td>
      <td style="text-align:left;"><span style="font-size:12.5px"><b>Date:<%= Date.today %></b></span></td></tr>
  </table>
  <p><BR>&nbsp;<BR></p>
</div>
<div class="box2">
  <table width="100%" style="float: left;">
    <tr><td colspan="2"><span style="color:brown;font-size:12.5px"><b>Head Teachers Signature</b></span></td></tr>
    <tr><td  colspan="2" height=60 style="text-align:left;"><span style="font-size:12.5px"><b> <%#= @prime_term_name.name %>:</b></span></td></tr>
    <tr><td width="230" height=30 style="text-align:left;"><span style="font-size:12.5px"><b>Signature:</b></span></td>
      <td style="text-align:left;"><span style="font-size:12.5px"><b>Date:<%= Date.today %></b></span></td></tr>
  </table>
  <p><BR>&nbsp;<BR></p>
</div>
<div class="box3">
  <table width="100%" style="float: left;">
    <tr><td colspan="2"><span style="color:brown;font-size:12.5px"><b>Parents Comments during Open Day</b></span></td></tr>
    <tr><td colspan="2" height=60 style="text-align:left;"><span style="font-size:12.5px"><b> <%#= @prime_term_name.name %>:</b></span></td></tr>
    <tr><td width="230" height=30 style="text-align:left;"><span style="font-size:12.5px"><b>Signature:</b></span></td>
      <td style="text-align:left;"><span style="font-size:12.5px"><b>Date:<%= Date.today %></b></span></td></tr>
  </table>
  <p><BR>&nbsp;<BR></p>
</div>
