<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="page-yield">

  <% @students.each_with_index do |student,i| %>
    <% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
    <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
    <% elective_subjects = [] %>
    <% student_electives.each do |elect| %>
      <% @en_disable =  RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
        <% unless @en_disable.nil?  %>
          <% if  @en_disable.is_deleted == false %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
          <% end %>
          <% else %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
           <% end %>
    <% end %>
    <% @subjects = general_subjects + elective_subjects %>
    <% @subjects = @subjects.compact.flatten %>
    <% @subjects.reject!{|s| s.no_exams==true} %>
    <% exams = Exam.find_all_by_exam_group_id(@exam_groups.collect(&:id)) %>
    <% subject_ids = exams.collect(&:subject_id) %>
    <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
    <% unless @subjects.empty? %>
      <div class="extender"> </div>
      <% if i == 0  %>
        <div class="report">
        <% else %>
      <%#*<div class="report1">%>
        <% end  %>
    <%#*<div id="pdf-info">%>
        <% if params[:type] =="grouped" %>

        <% else %>
          <% all_exams = @exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
          <table width="90%" style="margin-left: 50px; border: 1px solid black; font-family: 'Calibri', Helvetica, Arial, sans-serif;">
            <tr class="table-header" style="width:50px;">
              <td style="text-align: center;"><span style="color:#000000;font-size:12px"><b><%= t('subject') %></b></span></td>
              <% @term_exam_groups.each do |exam_group| %>
                <td style="text-align: center;"><span style="color:#000000;font-size:12px"><b><%= exam_group.name %></b></span></td>
              <% end %>
            </tr>
            <% c ='even' %>
            <% @subjects.each do |subject| %>
              <tr>
                <td class="col-pdf" ><span style="color:#000000;font-size:12px"><b><%= subject.name %></b></span></td>
                <% @mmg = 1;@g = 1 %>
                <% @term_exam_groups.each do |exam_group| %>

                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <td  style="text-align: center;"><span style="color:#000000;font-size:12px"><b>
                        <% unless @exam.nil? %>
                          <% if exam_group.exam_type == "MarksAndGrades" %>
                            <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" %>
                          <% elsif exam_group.exam_type == "Marks" %>
                            <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}" %>
                          <% else %>
                            <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                            <% @g = 0 %>
                          <% end %>
                        <% else %>
                          <%= "#{t('n_a')}" %>
                        <% end %>
                      <% end %>
                    </b></span></td>
              </tr>

            <% end %>
          </table><br />
        <% end %>
      </div>
    <% end %>
      
      <% @rating = RatingComment.find_by_student_id_and_exam_id(student.id,@term_exam_groups.first.id) %>
      <div id="section1">
      <table width="70%" style="margin-left: 50px; width: 245px; border: 1px solid black; text-align: center;color:#000000;font-size:12px;font-family: 'Calibri', Helvetica, Arial, sans-serif;">
        <tr><td><strong><b>Aspect of learning</b></strong></td><td><strong><b>Rating</b></strong></td></tr>
        <tr><td><strong>Effort</strong></td><td><%= @rating.effort unless @rating.nil?  %></td></tr>
        <tr><td><strong>Class work</strong></td><td><%=  @rating.class_work unless @rating.nil? %></td></tr>
        <tr><td><strong>Attitude</strong></td><td><%=  @rating.attitude unless @rating.nil?  %></td></tr>
        <tr><td><strong>Home work</strong></td><td><%=  @rating.home_work unless @rating.nil? %></td></tr>
      </table><br />
      </div>
      <div id="section2">
        <table style="height: 120px; width: 246px; margin-right: 20px; float: right; font-family: 'Calibri', Helvetica, Arial, sans-serif;" >
          <tbody>
            <tr>
              <td style="text-align: justify; border: hidden;"><strong>KEY:</strong></td>
            </tr>
            <tr>
              <td style="text-align: justify; border: hidden;"><strong>5 - Outstanding</strong></td>
            </tr>
            <tr>
              <td style="text-align: justify; border: hidden;"><strong>4 - Very good</strong></td>
            </tr>
            <tr>
              <td style="text-align: justify; border: hidden;"><strong>3 - good</strong></td>
            </tr>
            <tr>
              <td style="text-align: justify; border: hidden;"><strong>2 - satisfactory</strong></td>
            </tr>
            <tr>
              <td style="text-align: justify; border: hidden;"><strong>1 - Needs Improvement</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="section1">
       <table width="90%" style="margin-left: 50px; border: 1px solid black;font-size:12px; font-family: 'Calibri', Helvetica, Arial, sans-serif;">
        <tr><td style="text-align: justify;"><strong>Teacher's Comment:</strong></td></tr>
        <tr><td><%=  @rating.comment_desc unless @rating.nil? %></td></tr>
      </table> 
    </div>

  <% end %>

</div>
<%#*</div>%>
<%#*</div>%>
<style>
  #page-yield {
    width:800px;
    margin: 10px auto;
    float: left;
    overflow: hidden;
  }

  #section1 {
    width:400px;
    float:left;
    padding-bottom:10px;
  }
  #section2 {
    width:400px;
    float:right;
    padding:0px;
    height: 200px;
  }

  .hor_line{
    width:800px;
    background: #333333;
    height: 1px;
  }

  h2.heading{
    text-align: center;
    margin:5px;
  }

  #main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
  }

  #main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

  }


  .odd{
    height:auto;
    background: #EEEEEE;

  }

  .even{

    height:auto;
    background: #fff;


  }
  tr.even{
    border: 1px solid #ADACAB;
  }

  tr.odd{
    border: 1px solid #ADACAB;
  }

  .even td{

    padding: 2px 2px 2px 5px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

  }

  .odd td{
    padding: 2px 2px 2px 5px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

  }



  .table-header td{
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
  }

  table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
  }


  #page-extender{
    width:100%;
    height :300px;

  }
  #page-extender1{
    width:100%;
    height :300px;

  }


  #signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
    margin-bottom: 100px;
  }


  #page-yield h2{
    text-align: center;
  }


</style>

