<% student = @student %>
<table style="height: 106px; width: 941px; margin-left: 10px; margin-top: -80px; margin-bottom: -30px; border-style: solid; border-color: white;">
  <tbody style="border-style: solid; border-color: white;">
    <tr>
      <td style="border-style: solid; border-color: white;">
        <table style="border: 0.5px solid black; margin-right:40px; margin-bottom: -20px; border-collapse: collapse; background-color: #f1f1f1 ! important; width: 290px; height: 75px;">
          <tbody>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">NAME:</span></td>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=student.first_name%>&nbsp;<%= student.last_name%></span></td>
            </tr>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">CLASS:</span></td>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=student.batch%></span></td>
            </tr>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">AGE:</span></td>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><% age %><%= @year %> Years <%= @month.to_i == 0 ? "" : @month.to_i == 1 ? "1 Month" : " #{@month}  Months" %></span></td>
            </tr>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">GENDER:</span></td>
              <% if student.gender == 'm' %>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;">MALE</span></td>
              <% elsif student.gender == 'f' %>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;">FEMALE</span></td>
              <% end %> 
            </tr>
          </tbody>
        </table>
      </td>
      <td style="border-style: solid; border-color: white;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%= image_tag "../../report_builder_images/Ikoyi.jpeg",:size =>  "155x85" %>
        &nbsp;&nbsp;</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td style="border-style: solid; border-color: white;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<% if student.photo.file? %>
        <%= wicked_pdf_image_tag_for_public "/"+("#{Rails.root}/"+  student.photo.path(:original) ), :size => "100x100" %>
        <% else %>
        <%= image_tag "master_student/profile/default_student.png" , :size => "100x100" %>
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br /></em></td>
        <td style="border-style: solid; border-color: white;">
          <table style="border: 0.5px solid black; margin-left:40px; margin-bottom: -20px; border-collapse: collapse; background-color: #f1f1f1 ! important; width: 423px; height: 74px;">
            <tbody>
              <tr>
                <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">Admission No:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=student.admission_no%></span></td>
                <td style="border: 0.5px solid black; width: 45%; text-align: right;"><span style="font-size: 9pt;">Student Average:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;font-size:9pt;"><span style="font-size: 9pt;"></span><%student_group_average%><%=@student_average%></td>
              </tr>
              <tr>
                <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">Term:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=@term.name.capitalize%></span></td>
                <td style="border: 0.5px solid black; width: 45%; text-align: right;"><span style="font-size: 9pt;">Overall Grade:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><% get_junior_grade(@student_average.to_f)  %><%= @performance%></span></td>
              </tr>
              <tr>
                <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">Session:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%= @start_date.year%>/<%= @end_date.strftime("%y") %></span></td>
                <td style="border: 0.5px solid black; width: 45%; text-align: right;"><span style="font-size: 9pt;">Class Average:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%group_class_average%><%=@class_overall_marks.to_f.round(2)%></span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="text-align: center;"><span style="border: 1px solid;font-size: 9pt; margin-bottom: -30px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PUPIL END OF TERM REPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<% count = 0 %>
<% tr_left_count = 0 %>
<% tr_right_count = 0 %>
<% unless @groups.nil?  %>
  <div style="width: 1100px;">
    <div class="d-odds">
      <%  @first_group.to_a.each_with_index do |group,i|  %>
        
        <table class="odds">
          <% if i==0 %>
            <tr class="heading">
              <% count += 1 %>
              <td class="subject"> <div>Subject</div></td>
              <% @term_exam_groups.each do |term_group| %>
                <% count += 1 %>
                <td class="type-exam-group"> <div><%= term_group.name %></div> </td>
              <% end %>
              <% count += 4 %>
              <td class ="type-exam-group" ><div>Total</div></td>
              <td class ="type-exam-group"><div>P</div></td>
              <td class ="type-exam-group"><div>E</div></td>
              <td style= " margin-top: 5px; margin-bottom: 5px;"><div>(Area covered and comments)</div></td>
            </tr><% tr_left_count += 1 %>
          <% end %>
          <tr><td colspan="<%= count  %> "><div style="font-size:9pt;"><%= group.name %></div></td></tr><% tr_left_count += 1 %><% if  tr_left_count == 21 %>
           <tr class="noBorder"><td></td><td></td><td></td><td></td><td></td></tr>
           <% end %>
          <% group.evaluation_types.each_with_index do |type,j|%>
            <% total = 0 %>
            <% score = EvaluationScore.find_by_evaluation_type_id_and_student_id(type.id,student.id)%>
            <tr class="heading" style= "text-align:left;"><td class="subject"><div><%= type.name %></div></td>
              <% @term_exam_groups.each do |term_group| %>
                <% total +=  (score.nil? ? 0 : score.exam_group_scores["#{term_group.id}"].blank? ? 0 : score.exam_group_scores["#{term_group.id}"]).to_f %>
                <td class="type-exam-group container"> <div><%= score.nil? ? "NA" : score.exam_group_scores["#{term_group.id}"].blank? ? "NA" : score.exam_group_scores["#{term_group.id}"] %></div>
                </td>
              <% end %>
              <td class ="type-exam-group container"><div><%= total==0 ? "NA" : total.to_i%></div></td>
              <td class ="type-exam-group container" ><% get_junior_grade(total) %><div><%= @performance %></div></td>
              <td class ="type-exam-group container"><div><%= score.nil? ? @efforts : score.exam_group_scores["effort"].blank? ? @efforts : score.exam_group_scores["effort"] %></div></td>
              <% if j == 0 %>
                <td class ="group-comments container" rowspan="<%= group.evaluation_types.count %>" style="text-align:left;vertical-align:top;padding:0; font-size:8pt;" > <!-- <div style="text-align:left;vertical-align:top;padding:0; font-size:6pt;"> --> <% remarks = EvaluationComment.find_by_evaluation_group_id_and_student_id(group.id,student.id) %>
                  <%= remarks.nil? ? "" : truncate("#{remarks.comment}",:length => 250)%><!-- </div> -->
                </td>
              <% end %>
            </tr><% tr_left_count += 1 %><%if  tr_left_count == 21 %>
           <!-- <tr class="noBorder"><td></td><td></td><td></td><td></td><td></td></tr> -->
           <% end %>
          <% end %>
        </table>
        <% break if tr_left_count == 21%>
        <% break if i >= 4%>
      <% end %>
      <p></p>
      <p></p>
    </div>
    <div class="d-evens">
      <% @second_group.to_a.each_with_index do |group,j|  %>      
        <table class="evens">
          <% if j==0 %>
            <tr class="heading">
              <% count += 1 %>
              <td class="subject"> <div>Subject</div></td>
              <% @term_exam_groups.each do |term_group| %>
                <% count += 1 %>
                <td class="type-exam-group"> <div><%= term_group.name %></div>  </td>
              <% end %>
              <% count += 4 %>
              <td class ="type-exam-group" ><div>Total</div></td>
              <td class ="type-exam-group"><div>P</div></td>
              <td class ="type-exam-group"><div>E</div></td>
              <td style= " margin-top: 5px; margin-bottom: 5px;"><div>(Area covered and comments)</div></td>
            </tr><% tr_right_count += 1 %>
          <% end %>
          <tr><td colspan="<%= count  %> "><div style="font-size:9pt;"><%= group.name %></div></td></tr><% tr_right_count += 1 %>
          <% if  tr_right_count == 21 %>
           <tr class="noBorder"><td></td><td></td><td></td><td></td><td></td></tr>
           <% end %>
          <% group.evaluation_types.each_with_index do |type,j|%>
            <% total = 0 %>
            <% score = EvaluationScore.find_by_evaluation_type_id_and_student_id(type.id,student.id)%>
            <tr class="heading" style= "text-align:left;"><td class="subject"><%= type.name %></td>
              <% @term_exam_groups.each do |term_group| %>
                <% total +=  (score.nil? ? 0 : score.exam_group_scores["#{term_group.id}"].blank? ? 0 : score.exam_group_scores["#{term_group.id}"]).to_f %>
                <td class="type-exam-group container"> <div><%= score.nil? ? "NA" : score.exam_group_scores["#{term_group.id}"].blank? ? "NA" : score.exam_group_scores["#{term_group.id}"] %></div>
                </td>
              <% end %>
              <td class ="type-exam-group container"><div><%= total==0 ? "NA" : total.to_i%></div></td>
              <td class ="type-exam-group container" ><div><% get_junior_grade(total) %><%= @performance %></div></td>
              <td class ="type-exam-group container"><div><%= score.nil? ? @efforts : score.exam_group_scores["effort"].blank? ? @efforts : score.exam_group_scores["effort"] %></div></td>
              <% if j == 0 %>
                <td class ="group-comments container" rowspan="<%= group.evaluation_types.count %>" style="text-align:left;vertical-align:top;padding:0; font-size:8pt;"> <!-- <div style="text-align:left;vertical-align:top;padding:0; font-size:6pt;"> --> <% remarks = EvaluationComment.find_by_evaluation_group_id_and_student_id(group.id,student.id) %>
                  <%= remarks.nil? ? "" : truncate("#{remarks.comment}",:length => 250)%><!-- </div> -->
                </td>
              <% end %>
            </tr><% tr_right_count += 1 %>
            <% if  tr_right_count == 21 %>
           <tr class="noBorder"><td></td><td></td><td></td><td></td><td></td></tr>
           <% end %>
          <% end %>
        </table>
      <% end %>
    </div>
    <table style="height: 106px; width: 941px; margin-left: 10px; border-style: solid; border-color: white; margin-bottom: -20px;">
  <tbody style="border-style: solid; border-color: white;">
    <tr>
      <td style="border-style: solid; border-color: white;">
        <table style="border: 0.5px solid black; margin-right:40px; margin-bottom: -20px; border-collapse: collapse; background-color: #f1f1f1 ! important; width: 290px; height: 75px;">
          <tbody>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">NAME:</span></td>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=student.first_name%>&nbsp;<%= student.last_name%></span></td>
            </tr>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">CLASS:</span></td>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=student.batch%></span></td>
            </tr>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">AGE:</span></td>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><% age %><%= @year %> Years <%= @month.to_i == 0 ? "" : @month.to_i == 1 ? "1 Month" : " #{@month}  Months" %></span></td>
            </tr>
            <tr>
              <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">GENDER:</span></td>
              <% if student.gender == 'm' %>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;">MALE</span></td>
              <% elsif student.gender == 'f' %>
              <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;">FEMALE</span></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="border-style: solid; border-color: white;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%= image_tag "../../report_builder_images/Ikoyi.jpeg",:size =>  "155x85" %>
        &nbsp;&nbsp;</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td style="border-style: solid; border-color: white;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<% if student.photo.file? %>
        <%= wicked_pdf_image_tag_for_public "/"+("#{Rails.root}/"+  student.photo.path(:original) ), :size => "100x100" %>
        <% else %>
        <%= image_tag "master_student/profile/default_student.png" , :size => "100x100" %>
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br /></em></td>
        <td style="border-style: solid; border-color: white;">
          <table style="border: 0.5px solid black; margin-left:40px; margin-bottom: -20px; border-collapse: collapse; background-color: #f1f1f1 ! important; width: 423px; height: 74px;">
            <tbody>
              <tr>
                <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">Admission No:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=student.admission_no%></span></td>
                <td style="border: 0.5px solid black; width: 45%; text-align: right;"><span style="font-size: 9pt;">Student Average:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;font-size:9pt;"><span style="font-size: 9pt;"></span><%student_group_average%><%=@student_average%></td>
              </tr>
              <tr>
                <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">Term:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%=@term.name.capitalize%></span></td>
                <td style="border: 0.5px solid black; width: 45%; text-align: right;"><span style="font-size: 9pt;">Overall Grade:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><% get_junior_grade(@student_average.to_f)  %><%= @performance%></span></td>
              </tr>
              <tr>
                <td style="border: 0.5px solid black; width: 25%; text-align: right;"><span style="font-size: 9pt;">Session:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%= @start_date.year%>/<%= @end_date.strftime("%y") %></span></td>
                <td style="border: 0.5px solid black; width: 45%; text-align: right;"><span style="font-size: 9pt;">Class Average:</span></td>
                <td style="border: 0.5px solid black; width: auto; text-align: center;"><span style="font-size: 9pt;"><%group_class_average%><%=@class_overall_marks.to_f.round(2)%></span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="text-align: center;"><span style="border: 1px solid;font-size: 9pt; margin-bottom: -10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PUPIL END OF TERM REPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<div class="d-odds">
      <%  @first_group.to_a.each_with_index do |group,i|  %>
      <%if i >= 5 %>        
        <table class="odds">
          <% if i==5 %>
            <tr class="heading">
              <% count += 1 %>
              <td class="subject"> <div>Subject</div></td>
              <% @term_exam_groups.each do |term_group| %>
                <% count += 1 %>
                <td class="type-exam-group"> <div><%= term_group.name %></div> </td>
              <% end %>
              <% count += 4 %>
              <td class ="type-exam-group" ><div>Total</div></td>
              <td class ="type-exam-group"><div>P</div></td>
              <td class ="type-exam-group"><div>E</div></td>
              <td style= " margin-top: 5px; margin-bottom: 5px;"><div>(Area covered and comments)</div></td>
            </tr><% tr_left_count += 1 %>
          <% end %>
          <tr><td colspan="<%= count  %> "><div style="font-size:9pt;"><%= group.name %></div></td></tr><% tr_left_count += 1 %><% if  tr_left_count == 21 %>
           <tr class="noBorder"><td></td><td></td><td></td><td></td><td></td></tr>
           <% end %>
          <% group.evaluation_types.each_with_index do |type,j|%>
            <% total = 0 %>
            <% score = EvaluationScore.find_by_evaluation_type_id_and_student_id(type.id,student.id)%>
            <tr class="heading" style= "text-align:left;"><td class="subject"><div><%= type.name %></div></td>
              <% @term_exam_groups.each do |term_group| %>
                <% total +=  (score.nil? ? 0 : score.exam_group_scores["#{term_group.id}"].blank? ? 0 : score.exam_group_scores["#{term_group.id}"]).to_f %>
                <td class="type-exam-group container"> <div><%= score.nil? ? "NA" : score.exam_group_scores["#{term_group.id}"].blank? ? "NA" : score.exam_group_scores["#{term_group.id}"] %></div>
                </td>
              <% end %>
              <td class ="type-exam-group container"><div><%= total==0 ? "NA" : total.to_i%></div></td>
              <td class ="type-exam-group container" ><% get_junior_grade(total) %><div><%= @performance %></div></td>
              <td class ="type-exam-group container"><div><%= score.nil? ? @efforts : score.exam_group_scores["effort"].blank? ? @efforts : score.exam_group_scores["effort"] %></div></td>
              <% if j == 0 %>
                <td class ="group-comments container" rowspan="<%= group.evaluation_types.count %>" style="text-align:left;vertical-align:top;padding:0; font-size:8pt;" > <!-- <div style="text-align:left;vertical-align:top;padding:0; font-size:6pt;"> --> <% remarks = EvaluationComment.find_by_evaluation_group_id_and_student_id(group.id,student.id) %>
                  <%= remarks.nil? ? "" : truncate("#{remarks.comment}",:length => 250)%><!-- </div> -->
                </td>
              <% end %>
            </tr><% tr_left_count += 1 %><%if  tr_left_count == 21 %>
           <!-- <tr class="noBorder"><td></td><td></td><td></td><td></td><td></td></tr> -->
           <% end %>
          <% end %>
        </table>
        <% break if tr_left_count == 21%>
      <% end %>
      <% end %>
    </div>
    <% class_count = (@groups.count-1).even? ? "d-evens" : "d-odds"   %>
    <div class="<%= class_count %>">
      <div id="breaks">
        <table class ="commentss">
          <tr style="height:40px;"><td colspan="3" style="font-size:9pt;">HEAD TEACHER'S COMMENT</td></tr>
          <tr style="height:80px; "><td colspan ="3" style="font-size:9pt;"> <%=  @comment unless @comment.nil? %></td></tr>
          <%report_pickup_date=ReportPickupDate.find_by_student_id_and_batch_id_and_term_id(student.id,student.batch_id,@term.id)%>
          <tr style="height:40px;"><td style="font-size:9pt;">Report Pickup Date</td><td style="font-size:9pt;"><%= report_pickup_date.report_pickup.strftime("%d/%m/%Y") unless report_pickup_date.nil?%></td><td><%tutor_signature%><%@tutor%><% unless  @tutor.nil?%>
  <% if @tutor.signature_attachment.file? %>
    <%= image_tag @tutor.signature_attachment.url,:size => "150x30" %>
  <% end %>
<% end %></td></tr>
        </table>
      </div>
      <div class ="grade-record">
        <table class="record" >
          <tr style="font-size:8pt;"><td colspan="2">ATTENDANCE RECORD</td></tr>
          <tr style="font-size:8pt;"><td>Times School Opened</td><td  style="width:30px;"><%term_time_school_open%><%= @ing_academic_days  unless @ing_academic_days.nil?%></td></tr>
          <tr style="font-size:8pt;"><td>Times Present</td><td style="width:30px;"><%term_time_school_open%><%= (@attendance.to_i)  unless @attendance.nil?%></td></tr>
          <tr style="font-size:8pt;"><td>Times Absent</td><td style="width:30px;"><%term_time_school_open%><%= @leaves.to_i   unless  @leaves.nil? %></td></tr>
        </table>
        <table class="grade-system" style= "width: 280px;">
          <tr style="font-size:8pt;"><td colspan="4">GRADE KEY / GRADING SYSTEM</td></tr>
          <tr style="font-size:8pt;"><td>MARKS</td><td>Performance (P)</td><td>Effort(E)</td><td>Description</td></tr>
          <tr style="font-size:8pt;"><td>90 - 100</td><td>A</td><td>5</td><td>Excellent</td></tr>
          <tr style="font-size:8pt;"><td>70 - 89</td><td>B</td><td>4</td><td>Very Good</td></tr>
          <tr style="font-size:8pt;"><td>60 - 69</td><td>C</td><td>3</td><td>Good</td></tr>
          <tr style="font-size:8pt;"><td>50 - 59</td><td>D</td><td>2</td><td>Satisfactory</td></tr>
          <tr style="font-size:8pt;"><td>Below 49</td><td>NI</td><td>1</td><td>Needs Improvement</td></tr>
          <tr style="font-size:8pt;"><td>NA</td><td>  </td><td></td><td>Not Applicable</td></tr>
        </table>
      </div>
    </div>
    </div>
  <% end %>
<div style="float: right; margin-top: 60px;">
<p style="text-align: left; margin-left: 10px;"><span style="border: 1px solid;">Director's Signature </span></p><p style="text-align: left;  margin-left: 10px;"><em><%director_signature%><%@director%><% unless @director.nil? %>
  <% if @director.signature_attachment.file? %>
    <%= image_tag @director.signature_attachment.url,:size =>  "150x30" %>
  <% end %>
<% end %></em></p>
<p style="text-align: right; font-size: 8pt;"> School Resumes on: &nbsp;<%next_term_begins%><%@assumption_date%><%= @assumption_date.strftime("%A #{@assumption_date.day.ordinalize} %B, %Y")  unless @assumption_date.nil?%></p>
<p style="float: right;margin-top:-10px; margin-bottom:-15px;"><%= image_tag "../../report_builder_images/association.jpg",:size =>  "430x47" %></p>
</div>

<style>
  @media print {
  td.container > div { width: 100%; height: 110%; overflow:hidden;font-weight: normal; }
td.container { height: 26px;font-weight: normal; }
  table.odds {
        border: 0.5px;
        page-break-inside:auto;
        float: left;
        width: 530px;
        text-align:center;
        margin-right: 5px;
        margin-left: 5px;
        font-size:7pt;
        font-weight: normal;
    }
    table.evens {
        border: 0.5px ;
        page-break-inside:auto;
        float: right;
        width: 530px;
        text-align:center;
        margin-right: 5px;
        margin-left: 5px;
        font-size:7pt;
        font-weight: normal;
    }
     table.odds td.subject {
     width:150px;
     overflow:hidden;
     margin-top: 5pt;
     margin-bottom: 5pt;
     page-break-inside:avoid;
     page-break-after: auto;
     font-weight: normal;
    }

    table.evens td.subject {
     width:150px;
     overflow:hidden;
     margin-top: 5pt;
     margin-bottom: 5pt;
     page-break-inside:avoid;
     page-break-after: auto;
     font-weight: normal;
    }

    table.odds tr.heading {
      border: 0.5px;
      height: 18px;
      padding:0;
       text-align:center;
       page-break-inside:avoid;
       page-break-after: auto;
       font-weight: normal;
    }

    table.evens tr.heading {
      border: 0.5px;
      height: 18px;
      padding:0;
       text-align:center;
       page-break-inside:avoid;
       page-break-after: auto;
       font-weight: normal;
    }

    table.evens td.type-exam-group {
      width:30px;
     overflow:hidden;
      text-align:center;
      page-break-inside:avoid;
      page-break-after: auto;
      font-weight: normal;
    }

     table.odds td.type-exam-group {
      width:30px;
     overflow:hidden;
      text-align:center;
      page-break-inside:avoid;
      page-break-after: auto;
      font-weight: normal;
    }

    table.evens td.group-comments {
        text-align:left;
         vertical-align:top;
         padding:0;
         text-align:center;
       page-break-inside:avoid;
       page-break-after: auto;
       font-weight: normal;
    }

      table.odds td.group-comments {
        text-align:left;
        vertical-align:top;
        padding:0;
        text-align:center;
        page-break-inside:avoid;
        page-break-after: auto;
        font-weight: normal;
    }
    table.commentss {
     border: 0.5px solid black;
    page-break-inside:auto;
      text-align:center;
      width:525px;
      float: left;
      margin-top: 5px;
      margin-bottom: 5px;
       font-size:7pt;
       font-family:Arial;
       font-weight: normal;
  }

   table.commentss tr {
    page-break-inside:avoid;
    page-break-after: auto;
    font-weight: normal;
  }

  .d-odds {
      page-break-inside:auto;
     float:left;
     width: 525px;
     margin-bottom: 10px;
      font-size:7pt;
      font-weight: normal;
}


  .d-evens {
      page-break-inside:auto;
     float: right;
     width: 535px;
     margin-bottom: 10px;
      font-size:7pt;
      font-weight: normal;
  }
    tr.noBorder td {border: 0;
    height:18px;
    font-weight: normal;
    }
  }
</style>