
<div style="width:400px;text-align:center;border-width:1px;border-style: solid;margin-left: 270px;">PROGRESS REPORT SHEET</div>
<div style="width: 800px;float: left;text-align: center;margin-top: 5px;"><div style="border-width: 1px; border-style: solid;width: 112px;float: left;margin-left:150px;">Name of Pupil</div><div style="border-width: 1px; border-style: solid;width: 265px;float: left;"><%= "#{@student.first_name.titleize}" %>&nbsp&nbsp<%= "#{@student.last_name.titleize}" %></div><div style="border-width: 1px; border-style: solid;width: 152px;float: left;margin-left: 115px;"><%= @batch.full_name  %></div></div>
<div style="width: 800px;float: left;margin-top: 3px;margin-bottom: 10px;text-align: center;"><div style="border-width: 1px; border-style: solid;width: 110px;float: left;margin-left: 150px;">Term:</div><div style="border-width: 1px; border-style: solid;width: 150px;float: left;"><%= @term.name.titleize %></div><div style="border-width: 1px; border-style: solid;width: 100px;float: left;margin-left: 182px;">Session:</div><div style="border-width: 1px; border-style: solid;width: 100px;float: left;"><% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%= @start_date.year%>/<%= @end_date.strftime("%y") %></div></div>
<% student = @student %>
<% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
<% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
<% elective_subjects = [] %>
<% student_electives.each do |elect| %>
  <% @en_disable =  RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
  <% unless @en_disable.nil?  %>
    <% if  @en_disable.is_deleted == false %>
      <% elective_subjects.push Subject.find(elect.subject_id) %>
    <% end %>
  <% else %>
    <% elective_subjects.push Subject.find(elect.subject_id) %>
  <% end %>
<% end %>
<% @subjects = general_subjects + elective_subjects %>
<% @subjects.reject!{|s| s.no_exams==true} %>
<% unless @term_exam_groups.empty? %>
  <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
  <% subject_ids = exams.collect(&:subject_id) %>
  <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
  <% @merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
  <% unless @merged_subjects.blank?  %>
    <% @merged_subjects.each do |ms|   %>
      <% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
    <%end%>
  <% end %>
  <% @all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
<% end %>
<table id="sample">
  <tr class="toprow">
    <td class="toptd">
      <%= t('demo_subjects') %>
    </td>
    <% unless @term_exam_groups.nil? %>
      <% @term_exam_groups.each do |exam_group| %>
        <td class="toptd"> <%= exam_group.name %></td>
      <% end %>
    <% end %>
    <td class="toptd"> <%= "Total CA (40)" %></td>
  </tr>
  <% unless @merged_subjects.blank? %>
  <% @merged_subjects.each do |m| %>
       <% i = 0 %>
                 <% m.subject_id.each do |s_id| %>
                 <tr>
                        <td><div><div style="text-align:left; width:50%"><b><%= i==0 ? "#{m.name.titleize}:"  : "" %></b></div><div style="text-align:left; width:50%"></div><%= Subject.find(s_id).name.titleize %></div></td>
                                <% total = 0 %>
                                <% @mmg = 1;@g = 1 %>
                                       <% unless @term_exam_groups.nil? %>
                                                 <% @term_exam_groups.each do |exam_group| %>
                                                       <% @exam = Exam.find_by_subject_id_and_exam_group_id(s_id,exam_group.id) %>
                                                       <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                                                              <% unless @exam.nil? %>
                                                                   <% if exam_group.exam_type == "MarksAndGrades" %>
                                                                                <td style="text-align: center; font-size:11px"><%= cas_total =(exam_score.nil? ? 0 :  "#{exam_score.marks}").to_i  %>
                                                                                <% total = total + cas_total   %>
                                                                                </td>
                                                                  <% elsif exam_group.exam_type == "Marks" %>
                                                                                <td><%= cas_total =(exam_score.nil? ? 0 : "#{exam_score.marks}").to_i %>
                                                                                <% total = total + cas_total   %>
                                                                                </td>
                                                                 <% else %>
                                                                                <td> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                                                                                <% @g = 0 %>
                                                                <% end %>
                                                         <% else %>
                                                            <td><%= "#{t('n_a')}" %></td>
                                                        <% end %>
                                              <% end %>
                                              <% unless @all_exams.nil? %>
                                                    <% if @mmg == @g %>
                                                           <td> <%= total.to_i %></td>
                                                    <% else %>
                                                           <td>-</td>
                                                    <% end %>
                                      <% end %>
                               <% end %>
                               <% i += 1 %>
                </tr>
            <% end %>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
  <% end %>
  <% end %>
  <% unless @subjects.blank? %>
    <% @subjects.each do |sub| %>
      <tr>
        <td style="text-align:left"><b><%= sub.name.titleize %></b></td>
        <% total = 0 %>
        <% @mmg = 1;@g = 1 %>
        <% unless @term_exam_groups.nil? %>
          <% @term_exam_groups.each do |exam_group| %>
            <% @exam = Exam.find_by_subject_id_and_exam_group_id(sub.id,exam_group.id) %>
            <% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
            <% unless @exam.nil? %>
              <% if exam_group.exam_type == "MarksAndGrades" %>
                <td><%= cas_total =(exam_score.nil? ? 0 :  "#{exam_score.marks}").to_i  %>
                  <% total = total + cas_total   %>
                </td>
              <% elsif exam_group.exam_type == "Marks" %>
                <td><%= cas_total =(exam_score.nil? ? 0 : "#{exam_score.marks}").to_i %>
                  <% total = total + cas_total   %>
                </td>
              <% else %>
                <td> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                <% @g = 0 %>
              <% end %>
            <% else %>
              <td><%= "#{t('n_a')}" %></td>
            <% end %>
          <% end %>
          <% unless @all_exams.nil? %>
            <% if @mmg == @g %>
              <td> <%= total.to_i %>
              </td>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<div id="table_container">
  <% @rating = RatingComment.find_by_student_id_and_exam_id(@student.id,@term_exam_groups.first.id) %>
  <table id="sample1">
    <tr><td><strong><b>Aspect of learning</b></strong></td><td style="text-align: center;" ><strong><b>Rating</b></strong></td></tr>
    <tr><td>Effort</td><td style="text-align: center;"><%= @rating.effort unless @rating.nil?  %></td></tr>
    <tr><td>Class work</td><td style="text-align: center;"><%=  @rating.class_work unless @rating.nil? %></td></tr>
    <tr><td>Attitude</td><td style="text-align: center;"><%=  @rating.attitude unless @rating.nil?  %></td></tr>
    <tr><td>Home work</td><td style="text-align: center;"><%=  @rating.home_work unless @rating.nil? %></td></tr>
  </table>
  <table id="sample2">
    <tr>
      <td><strong>KEY:</strong></td>
    </tr>
    <tr>
      <td>5 - Outstanding</td>
    </tr>
    <tr>
      <td>4 - Very Good</td>
    </tr>
    <tr>
      <td>3 - Good</td>
    </tr>
    <tr>
      <td>2 - Satisfactory</td>
    </tr>
    <tr>
      <td>1 - Needs Improvement</td>
    </tr>
  </table>
</div>
<table id="sample3">
  <tr><td class="comment"><strong>Teacher's Comment</strong></td></tr>
  <tr><td class="desc-comment" style="font-size: 16px;"><%=  @rating.comment_desc unless @rating.nil? %></td></tr>
</table>

