	<% student = @student %>
	<p  class="result"> <%= "PROGRESS REPORT" %> </p>
	<p class="result"><%= @term.name %></p>
	<table style="width:1000px;">
	  <tr>
        <div class= "grades1"><div  style="float: left; width: 600px;" class="left-values"><%= t('name') %>:&nbsp<b><u><%= student.first_name.titleize %>&nbsp<%= student.last_name.titleize %></u></b></div><div style="float: left; width:350px;" class="center-values"><%=  t('age') %>:&nbsp<u><% age %><%= @year %> Years <%= @month.to_i == 0 ? "" : " #{@month}  Months" %></u></div><div  style="float: left; width:690px;" class="right-values"><%= t('class') %>:&nbsp<u><%= @batch.name %></u></div></div>
	   <div class= "grades1"><div style="float: left; width: 175px;" class="right-values"><%= t('session') %>:&nbsp<u><% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%= @start_date.year%>/<%= @end_date.strftime("%y") %></u></div></div>
	  </tr>
	    <p class="result"><pre> </pre></p>
	  <% unless @evaluation_groups.blank? %>
	  <% @evaluation_groups.each do |group| %>
	  	  <tr><td><b><%= group.name %></b></td>
	   <% if group.score_format == "Effort"  %>

	    <td><%= "Needs improvement" %></td>
	    <td><%= "Satisfactory" %></td>
	    <td><%= "Excellent" %></td>
	  </tr>
	   <% else %>
	    <td><b><%= "Emerging" %></b></td>
	    <td><b><%= "Expected" %></b></td>
	    <td><b><%= "Exceeding" %></b></td>
	  <% end %>
	</tr>
	  	<% group.evaluation_types.each do |type| %>
	       <tr><td class="grade"> <b><%= type.name.upcase%></b></td><td class="grade"></td>
         <td class="grade"></td><td class="grade"></td></tr>
	        <% @evaluation_areas = type.evaluation_areas %>
	       <% unless @evaluation_areas.nil? %>
	              <%@evaluation_areas.each do |area|%>
	              <%@performance= ReportBuilder.emerging_grade(student.id,area.id)%>
	                <tr><td class="name"><%= area.name%></td>
	               <% if group.score_format == "Effort"  %>
	                	<% @effort.each do |val| %>
	                	      <% if val.downcase == @performance %>
	                	         <td class="grade">&#42;</td>
	                	         <% else %>
	                	        <td class="grade"></td>
	                	        <%end%>
	                	 <% end %>
	              <% else %>
	                   <% @emerging.each do |val| %>
	                	   <% if val.downcase == @performance %>
	                	   <td class="grade">&#42;</td>
	                	   <% else %>
	                	   <td class="grade"></td>
	                	  <%end%>
	                  <% end%>
	               <% end %></td></tr>
	       <% end %>
	    <% end %>
	  <% end %>

	 <% end %>
 <% end %>
	  	 <tr>
	    <td class="name" colspan ="10"><b><%= "Targets / Improvement Areas: " %></b><%= @target_area.comment unless @target_area.nil? %> </td>
	  </tr>
	  	<tr>
	   <td class="name" colspan ="10" >
	    <div class= "grades1"><b><%= "Class Teacher's Name" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
	      <%= @tutor.name unless @tutor.nil? %><div style="float: right; width: 435px;" class="right-values"><b> <%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
       <% unless  @tutor.nil?%>
       <%= image_tag  @tutor.signature_attachment.url,:size =>  "150x30"%>
         <% end %>
         </div></div>
	    </td>
	  </tr>
	  <tr>
	    <td class="name" colspan ="10">
            <div class= "grades1"><b><%= "Head Teacher" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><%= @principal.name unless @principal.nil? %><div style="float: right; width: 435px;" class="right-values"><b><%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% unless  @principal.nil?%>
       <%= image_tag  @principal.signature_attachment.url,:size =>  "150x30"%>
         <% end %></div></div>
	    </td>
	  </tr>

	  </table>
	  <style>
table td  {
  background: none repeat scroll 0 0 #eeeeee;
  border-left: 1px solid #adacab;
  border-right: 1px solid #adacab;
  border-top: 1px solid #adacab;
  color: #000000;
  border: 1.5px solid black;
  padding: 0px;
  text-align: center;
  font-size: 17px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}
table td.name  {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #adacab;
  border-right: 1px solid #adacab;
  border-top: 1px solid #adacab;
  color: #000000;
  border: 1.5px solid black;
  padding: 2px;
  text-align: left;
  font-size: 17px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}
table td.grade  {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #adacab;
  border-right: 1px solid #adacab;
  border-top: 1px solid #adacab;
  color: #000000;
  border: 1.5px solid black;
  padding: 0px;
  text-align: center;
  font-size: 17px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}

table {
  border: 1.5px solid black;
}
.corner1 {
  border: 2.5px solid #000000;
  padding: 10px;
  width: 975px;
}
.corner2 {
  border: 2.5px solid #000000;
  padding: 10px;
  width: 975px;
}
.corner {
  border: 2.5px solid #000000;
  padding: 10px;
  width:1000px;
  page-break-inside: avoid !important;
  display: block;
}
caption {
  padding: .15em .18em;
  display: table-caption;
  font-size:20px;
  height: 15px;
  text-align: center;
  font-weight: bold;
}
.teacher {
  margin-top: 20px;
  padding: 10px;
  width: 975px;
  border: 2.5px solid #000000;
  page-break-inside: avoid !important;
  display: block;
}

#pdf-header{
  width:950px;
  padding-top: 10px;
  margin: 0;
  overflow: hidden;
  margin-top: -2px;
  height: 100px;
}

.logo{
  height: 80px;
  width:120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo img{
  width: 100%;
  margin-top: 10px;
}

p.result {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0px;
  font-size: 18px;
}

.right-values {
  font-weight: bold;
  text-align: left;
}
.left-values {
  font-weight: bold;
  text-align: left;

}
hr
{
  background-color: black;
  color: black;
  height: 1px;
  width:950px;
  padding-top:1px;
  padding-bottom:1px;
}
.center-values {
  font-weight: bold;
  text-align: center;
}

.grades1 {
  width: 1000px;
  margin-bottom :4px;
}

.grades {
  width: 1000px;
  margin-bottom :40px;
  height: 600px;
  page-break-inside: avoid !important;
  display: block;
}

.grades-along {
  float: left;
  width:480px;
  margin-right: 15px;
}

.grades-key {
  float: left;
  width: 480px;
  margin-left: 15px;
  border: 1.5px solid #000000;
}

.inside-table {
  border: 1.5px solid #000000;
  width:500px;
}

tr.noBorder td {border: 0; }

.module {
  page-break-before: auto;
  display: block;
}
td.group-comment {
  width:600px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
}
.tr-blank{
 height:  27px;
}

</style>
