<table width="100%">
<tr>
  <td>S/No</td>
<td>SUBJECT</td>
<td>SCORE</td>
<td>GRADE</td>
</tr>
<% unless @exam_score.blank? %>
<% i=0  %>
<%@exam_score.each do |s|%>
<tr>
  <td><%= i=i+1 %></td>
  <td><%=s.exam.subject.name %></td>
  <td><%= s.marks %></td>
  <td><%#= term_grade(s.marks) %><%= term_fedena_grade(s.marks,s.student_id) %></td>
</tr>
<%end%>

<% else %>
<tr><td colspan="4" style="text-align:center" ><%= t('add_scores') %></td></tr>
<%end%>
</table>
<style>
  
 table tr td {
    text-align: center;
    font-size:12px;
    font-weight: bold;
   }

</style>