<%=stylesheet_link_tag 'report_builders/student_wise_pdf_report.css'%>
<!-- <div style="margin-left:300px;"><%#= image_tag "../../report_builder_images/amville.jpg",:size =>  "400x300" %></div> -->
<div id="pdf-header">
   <div class="logo">
     	<%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false%>
   </div>   
</div>
<div><h4 style="text-align: center;">10, Olowogbowo Street, Off Coker Road, Ilupeju, Lagos, Nigeria.</h4></div>
<div><h4 style="text-align: center;">TEL: 08022684553, 08096311607</h4></div>
<div><h4 style="text-align: center;">Email: <a href="" style="color:blue;">info@amvilleschool.com</a>, <a href="" style="color:blue;">headteacher4amville@gmail.com</a></h4></div>
<div><h4 style="text-align: center;">Website: <a href="" style="color:blue;">www.amvilleschool.com</a></h4></div>
<div style="width:400px;align:center;margin-left:475px;height:260px;">
	<% @students.each_with_index do |student,i|%>
		<% if @student.upload_document.file? %>
      <%= image_tag(student.upload_document.url(:original, false), :size => "300x250") %>
    <% else %>
      <%= image_tag "master_student/profile/default_student.png", :size => "300x250" %>
    <% end %>
	<% end%>
</div>
<div class="head" id="header_id1">SCHOOL REPORT&nbsp; <% if @start_date.year == @end_date.year %><%= @start_date.year %><% else %><%= @start_date.year %>/<%= @end_date.year %><% end %>&nbsp;SESSION</div>
<div class="head" id="header_id1"><%= @term.name.upcase %></div>
<% count = 0 %>
<% count_first = 0 %>
<% tr_left_count = 0 %>
<% tr_right_count = 0 %>
<% @students.each_with_index do |student,i|%>
	<% dob = student.date_of_birth %>
  <% @year = Date.today.year - dob.year %>
  <% if dob.month > Date.today.month %>
    <% month = Date.today.month+ 12 %>
    <% @year = @year - 1 %>
    <% @month = month - dob.month %>
  <% else %>
    <% @month = Date.today.month - dob.month %>
  <% end %>
	<div class="student2">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= student.first_name %>&nbsp;<%= student.last_name %></div>
	<div class="student2">Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% unless @year.nil? %><%= @year %> Years <%= @month.to_i == 0 ? "" : @month.to_i == 1? " #{@month}  Month" : " #{@month}  Months" %><% end %></div>
	<div class="student2">Class:&nbsp;&nbsp;&nbsp;&nbsp; <%= student.batch.course.course_name%></div>
	<div class="student2">Section:&nbsp;&nbsp;<%= student.batch.course.section_name%></div>
	<div class="page-break"></div>
	<% unless @groups.nil? %>
	  <% @groups.each do |evaluation_group| %>
	  	<% @evaluation_types=evaluation_group.evaluation_types%>
	  	<% @group_count = (@evaluation_types.count/2).to_i %> 
      <% @first_type = @evaluation_types[0..@group_count-1] %>
      <% @second_type = @evaluation_types[@group_count..@evaluation_types.count-1] %>
	    <div style="width: 1220px;">
	    	<div class="d-odds">
		    	<% if @first_type.blank? %>
		    		<table style="width:620px; table-layout: fixed;float:left;">
			        <tr>
			        	<td style="text-align: center; width:200px; height:50px;">
			        		<b><%= evaluation_group.name %></b>
			        	</td>
			        	<% @report_values.each do |val| %>
			            <td style="text-align: center;width:50px"><%= val.upcase %> </td>
			          <% end %>
			        </tr>
				      <%  @first_type.to_a.each_with_index do |group,j|  %>
			          <%# if j==0 %>
			            <tr>
			              <% count += 1 %>			 
			                <td class="type-exam-group" style="height:70px;"> <div><%= group.name %></div> </td>
			                <% @activity_score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,group.id ) %>
			            <% @report_values.each do |val| %>
			              <% unless @activity_score.nil? %>
                    	<% if @activity_score.performance == val %>
			              		<td style="width:200px;text-align: center;height:60px;">&#10004;</td>
			              	<%else%>
			              		<td style="width:200px"></td>
			              	<%end%>
                  	<% else %>
                    	<td style="width:200px;text-align: center;height:60px;"></td>
                  	<% end %>
			            <% end %>
			            </tr>
			          <% #end%>
				      <% end %>
					  </table>
		    	<% else%>
			    	<table style="width:620px; table-layout: fixed;float:left;height:200px;">
			        <tr>
			        	<td style="text-align: center; width:200px; height:50px;">
			        		<b><%= evaluation_group.name %></b>
			        	</td>
			        	<% @report_values.each do |val| %>
			            <td style="text-align: center;width:50px"><%= val.upcase %> </td>
			          <% end %>
			        </tr>
				      <%  @first_type.to_a.each_with_index do |group,j|  %>
			          <%# if j==0 %>
			          <% @activity_score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,group.id ) %>
			            <tr>
			              <% count += 1 %>
			              <% if count > 2 && @first_type.count >2%>
			              	<% count = 0%>
			              	<td class="type-exam-group" rowspan="2" style="height:140px;"> <div><%= group.name %></div> </td>
			              	<% @report_values.each do |val| %>
			              		<% unless @activity_score.nil? %>
                      		<% if @activity_score.performance == val %>
				              			<td style="width:200px;text-align: center;height:120px;" rowspan="2">&#10004;</td> 
				              		<%else%>
				              			<td style="width:200px;text-align: center;height:120px;" rowspan="2"></td>
				              		<%end%>
                    		<% else %>
                      		<td style="width:200px;text-align: center;height:120px;" rowspan="2"></td>
                    		<% end %>
					            <% end %>
			              <%else%>
			              	<td class="type-exam-group" style="height:70px;"> <div><%= group.name %></div> </td>
			              	<% @report_values.each do |val| %>
			              		<% unless @activity_score.nil? %>
                        	<% if @activity_score.performance == val %>
					              		<td style="width:200px;text-align: center;height:60px;">&#10004;</td>
					              	<%else%>
					              		<td style="width:200px"></td>
					              	<%end%>
                      	<% else %>
                        	<td style="width:200px;text-align: center;height:60px;"></td>
                      	<% end %>
					            <% end %>
			              <%end%>      
			            </tr>
			          <% #end%>
				      <% end %>
					  </table>
					<% end%>
			  </div>
			  <div class="d-evens">
			  	<% if @second_type.blank? %>
			  		<table style="width:600px; table-layout: fixed;float:right;">
			        <tr>
			          <td style="width:250px; height:50px;">
			          </td>
			          <% @report_values.each do |val| %>
			            <td style="text-align: center;width:50px"><%= val.upcase %> </td>
			          <% end %>
			        </tr>			    
				      <%  @second_type.to_a.each_with_index do |group,k|  %>
			          <%# if k==0 %>
			            <tr>
			              <% count += 1 %>
			              <td class="type-exam-group" style="float:right;height:70px;"> <div><%= group.name %></div> </td>
			              <% @activity_score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,group.id ) %>
			            <% @report_values.each do |val| %>
			              <% unless @activity_score.nil? %>
                    	<% if @activity_score.performance == val %>
			              		<td style="width:200px;text-align: center;height:60px;">&#10004;</td>
			              	<%else%>
			              		<td style="width:200px"></td>
			              	<%end%>
                  	<% else %>
                    	<td style="width:200px;text-align: center;height:60px;"></td>
                  	<% end %>
			            <% end %>
			            </tr>
			          <%# end%>
				      <% end %>
					  </table>
			  	<% else%>
					  <table style="width:600px; table-layout: fixed;float:right;height:200px;">
			        <tr>
			          <td style="width:250px; height:50px;">
			          </td>
			          <% @report_values.each do |val| %>
			            <td style="text-align: center;width:50px"><%= val.upcase %> </td>
			          <% end %>
			        </tr>			    
				      <%  @second_type.to_a.each_with_index do |group,k|  %>
			          <%# if k==0 %>
			            <tr>
			              <% count_first += 1 %>
			              <td class="type-exam-group" style="height:70px;"> <div><%= group.name %></div> </td>
			              <% @activity_score = EvaluationScore.find_by_student_id_and_evaluation_type_id(student.id,group.id ) %>
			            <% @report_values.each do |val| %>
			              <% unless @activity_score.nil? %>
                    	<% if @activity_score.performance == val %>
			              		<td style="width:200px;text-align: center;height:60px;">&#10004;</td>
			              	<%else%>
			              		<td style="width:200px"></td>
			              	<%end%>
                  	<% else %>
                    	<td style="width:200px;text-align: center;height:60px;"></td>
                  	<% end %>
			            <% end %>
			            </tr>
			          <%# end%>
				      <% end %>
					  </table>
					<% end%>
			  </div>			  
	  	</div>

	  <% end%>
	<% end%>
  <table  class="noBorder">
  	<tr class="noBorder" ></tr>
  </table>
	<div style="width: 1220px;">
		<div class="d-odds">
	    <table style="width:620px; table-layout: fixed;float:left;">
	      <tr > <td style="text-align:center;height:60px;" colspan="2"><b>KEY TO RUBRICS</b></td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">A</td><td style="text-align:center;height:50px;padding:5px;">Excellent</td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">B</td><td style="text-align:center;height:50px;padding:5px;">Very good</td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">C</td><td style="text-align:center;height:50px;padding:5px;">Good</td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">D</td><td style="text-align:center;height:50px;padding:5px;">Needs Improvement</td></tr>
	    </table>
	  </div>
	  <div class="d-evens">
	    <table style="width:600px; table-layout: fixed;float:right;">
	      <tr > <td style="text-align:center;height:60px;" colspan="2"><b>ATTENDANCE</b></td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">No of times open</td><td style="text-align:center;height:50px;padding:5px;"><%term_time_school_open%><%= @ing_academic_days  unless @ing_academic_days.nil?%></td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">No of times present</td><td style="text-align:center;height:50px;padding:5px;"><%term_time_school_open%><%= (@attendance.to_i)  unless @attendance.nil?%></td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">No of times absent</td><td style="text-align:center;height:50px;padding:5px;"><%term_time_school_open%><%= @leaves.to_i   unless  @leaves.nil? %></td></tr>
	      <tr><td style=" width: 150px;text-align:center;height:50px;padding:5px;">Punctuality</td><td style="text-align:center;height:50px;padding:5px;"></td></tr>
	    </table>
	  </div>
  </div>
  <table  class="noBorder">
  	<tr class="noBorder" ></tr>
  </table>
  <div style="width: 1220px">
	  <div class ="teacher">
	  	<table style="width: 1220px;">
		  	<tr><td class="teacher_comment" valign="top" colspan="3"><p><b><%= "Class Teacher's Comment" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
		  		<% @tutor_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,false) %><%= @tutor_comment.description unless @tutor_comment.nil? %>
		  	</p></td></tr>
		    <tr><td style="height:60px;padding:5px;"><p><b><%= "Class Teacher" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% @user_name = User.find(@tutor_comment.user_id) unless @tutor_comment.nil?  %><%= @user_name.full_name.titleize unless @user_name.nil? %></p></td><td style="height:60px;padding:5px;"> <b> <%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b> 
		    <% unless  @tutor.nil?%>
		      <%= image_tag  @tutor.signature_attachment.url,:size =>  "150x30"%>
		    <% end %></td></tr>
		    <% @head_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,true) %>
	    	<tr><td style="height:60px;padding:5px;"><p><b><%= "Head Teacher" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><% @huser_name = User.find(@head_comment.user_id) unless @head_comment.nil?  %><%= @huser_name.full_name.titleize unless @huser_name.nil? %></p> </td><td style="height:60px;padding:5px;"> <b><%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b> <% unless  @principal.nil?%>
	       <%= image_tag  @principal.signature_attachment.url,:size =>  "150x30"%>
	         <% end %> </td></tr>
	    </table> 
	  </div>
  </div><br/>
  <table  class="noBorder">
  	<tr class="noBorder" ></tr>
  </table>
  <div  class= "grades1" style="width: 1220px;">
  	<div class ="teacher">
	  	<table style="width: 1220px;">
			  <tr><td style="height:50px;padding:5px;"><p><b>SCHOOL CLOSES:</b> <%= @term.end_date.strftime("%A %B %d ,%Y") %> </p></td></tr>
			  <tr><td style="height:50px;padding:5px;"><p><b>SCHOOL REOPENS:</b> <%= @term.assumption_date.strftime("%A %B %d ,%Y") unless @term.assumption_date.nil? %></p></td></tr>
			</table>
		</div>
	</div>
<% end%>
