  <% if @subject_count > 0 %>
<% exam_score =  (@all_subject_total/@subject_count).to_f.round(2) %>
<% if exam_score.between?(90,100) %>
  <%=   "A+" %>
<% elsif exam_score.between?(85,89.99) %>
  <%=  "A" %>
<% elsif exam_score.between?(80,84.99) %>
  <%=   "A-" %>
<% elsif exam_score.between?(75,79.99) %>
  <%= "B" %>
<%  elsif (exam_score.between?(70,74.99)) %>
  <%= "B-" %>
<% elsif (exam_score.between?(65,69.99)) %>
  <%= "C+" %>
<%  elsif (exam_score.between?(60,64.99)) %>
  <%= "C"  %>
<% elsif (exam_score.between?(55,59.99)) %>
  <%= "C-" %>
<%  elsif (exam_score.between?(50,54.99)) %>
  <%= "D" %>
<%  elsif (exam_score.between?(45,49.99)) %>
  <%= "E" %>
<%  elsif (exam_score.between?(0,44.99)) %>
  <%= "Ungraded" %>
<%  else %>
  <%= "-" %>
<%  end %>
<% end %>