  <% if @subject_count > 0 %>
<% exam_score =  (@all_subject_total/@subject_count).to_f.round(2) %>
<% if exam_score.between?(90,100) %>
  <%=   "5.0" %>
<% elsif exam_score.between?(85,89.99) %>
  <%=  "4.5" %>
<% elsif exam_score.between?(80,84.99) %>
  <%=   "4" %>
<% elsif exam_score.between?(75,79.99) %>
  <%= "3.5" %>
<%  elsif (exam_score.between?(70,74.99)) %>
  <%= "3.0" %>
<% elsif (exam_score.between?(65,69.99)) %>
  <%= "2.5" %>
<%  elsif (exam_score.between?(60,64.99)) %>
  <%= "2.0"  %>
<% elsif (exam_score.between?(55,59.99)) %>
  <%= "1.5" %>
<%  elsif (exam_score.between?(50,54.99)) %>
  <%= "1.0" %>
<%  elsif (exam_score.between?(45,49.99)) %>
  <%= "0.5" %>
<%  elsif (exam_score.between?(0,44.99)) %>
  <%= "0.0"  %>
<%  else %>
  <%= "-" %>
<%  end %>
<%  end %>