<% @current_student = Student.find($student_id) %>
<% subject_score = [] %>
<% batch = @current_student.batch %>
<% term_exam_groups = batch.terms %>
<% exam_groups = ExamGroup.find_all_by_batch_id(batch.id)%>
<% batch_students = @current_student.batch.students %>
   <% @student_average = 0 %>
    <% @batch_average = 0 %>
   <% batch_students.each do |student| %>
     <% general_subjects = Subject.find_all_by_batch_id(batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
      <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{batch.id}") %>
     <% elective_subjects = [] %>
      <% student_electives.each do |elect| %>
        <% elective_subjects.push Subject.find_by_id(elect.subject_id,:conditions => {:is_deleted => false}) %>
      <% end %>
       <% subjects = general_subjects + elective_subjects %>
     <% subjects = @subjects.compact.flatten %>
      <% subjects.reject!{|s| s.no_exams==true} %>
       <% exams = Exam.find_all_by_exam_group_id(exam_groups.collect(&:id)) %>
      <%subject_ids = exams.collect(&:subject_id) %>
     <% subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
     <% unless subjects.empty? %>
       <% all_exams = exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
       <% average_total = 0 %>
        <% subjects.each_with_index do |subject,i| %>
          <% mmg = 1 %>
         <% g = 1 %>
          <% total = 0 %>
          <% score = 0 %>
         <% subject_total = 0 %>
         <% term_exam_groups.each do |exam_group| %>
            <% exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
           <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>exam.id})unless exam.nil? %>
            <% unless exam.nil? %>
              <% if exam_group.exam_type == "MarksAndGrades" %>
                <%score =  score + (exam_score.nil? ? 0 :  exam_score.marks.to_f) %>
             <% elsif exam_group.exam_type == "Marks" %>
               <% score =  score + (exam_score.nil? ? 0 :  exam_score.marks.to_f) %>
              <% else %>
                <% score =  score + (exam_score.nil? ? 0 :  exam_score.marks.to_f) %>
             <% end %>
            <% else %>
              <% score = score + 0 %>
            <% end %>
            <% subject_score << score %>
           <% subject_total = total + score %>
          <% end %>
         <% end %>
         <% subject_score = subject_score.sort.reverse %>
   <% index = subject_score.each_with_index.map{|score,i| score == score ? i : nil}.compact %>
   <%= @position = index.join(",").to_i + 1 %>
      <% end %>
      
    <% end %>
   