<% student = @student %>
<% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
<% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
<% elective_subjects = [] %>
<% student_electives.each do |elect| %>
    <% elective_subjects.push Subject.find(elect.subject_id,:conditions => {:is_deleted => false}) %>
<% end %>
<% @subjects = general_subjects + elective_subjects %>
<% @subjects.reject!{|s| s.no_exams==true} %>
<% unless @term_exam_groups.empty? %>
    <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
    <% subject_ids = exams.collect(&:subject_id) %>
    <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
    <% @merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
    <% unless @merged_subjects.blank?  %>
    	<% @merged_subjects.each do |ms|   %>
    		<% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
    	<%end%>
    <% end %>
    <% @all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
<% end %>

<div id="pdf-header">
    <div class="logo">
      	<%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
    </div>   
</div>


<p class="result"> <%= "PROGRESS REPORT" %> </p>
<table style="width:1000px;">
    <tr>
    	<td class="grade" colspan ="6">
        	<div class= "grades1"><div  style="float: left; width: 400px;" class="left-values"><%= t('name') %>:&nbsp;<b><u><%= student.full_name %></u></b></div><div style="float: left; width:405px;" class="center-values"><%=  t('age') %>:&nbsp;<u><% age %><%= @year %> years <%= @month.to_i == 0 ? "" : " #{@month}  month" %></u></div></div>
        	<div class= "grades1"><div  style="float: left; width:511px;" class="right-values"><%= t('class') %>:&nbsp;<u><%= @batch.name %></u></div><div  style="float: left; width: 240px;" class="left-values"><%= t('term') %>:&nbsp;<u><%= @term.name %></u></div><div style="float: left; width: 175px;" class="right-values"><%= t('session') %>:&nbsp;<u><% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%= @start_date.year%>/<%= @end_date.strftime("%y") %></u></div></div>
        </td>
    </tr>
    <p class="result"></p>
    <tr class="toprow tr_custom_color">
        <td class="toptd" colspan="2">
         	<b><%= t('demo_subjects') %></b>
        </td>
        <% unless @term_exam_groups.nil? %>
        	<% @term_exam_groups.each do |exam_group| %>
        		<td class="toptd"> <b><%= exam_group.name.titleize %></b><br>
        		 	(<b><%= "#{exam_group.exams.first.maximum_marks.to_f}" + " " +"Marks"   unless exam_group.exams.blank? %></b>)
        		</td>
        	<% end %>
        	<td class="toptd">
          		<b><%= t('total') %></b><br>
          		(<b><%= "#{@weighted_total.to_i}"+" "+"Marks" %></b>)
        	</td>
        <% end %>

        <td class="toptd">
          	<b><%= t('class_average') %></b>
        </td>       
    </tr>
   <!--  <tr>
        <%# unless @term_exam_groups.nil? %>
        	<%# @term_exam_groups.each do |exam_group| %>
        		<td> <b><%#= "#{exam_group.exams.first.maximum_marks.to_f}" + " " +"Marks"   unless exam_group.exams.blank? %></b></td>
        	<%# end %>
       		<td><b><%#= "#{@weighted_total.to_i}"+" "+"Marks" %></b></td>
        <%# end %>       
    </tr> -->
    <% @total_score = [] %>
    <% unless @subjects.blank? %>	   
	    <% @subjects.each_with_index do |sub,i| %>
	     	<tr>
	     		<td class="name" colspan="2"><b><%= sub.name %></b></td>
	      		<% total = 0 %>
	      		<% @mmg = 1;@g = 1 %>
	      		<% unless @term_exam_groups.nil? %>
	      			<% @term_exam_groups.each do |exam_group| %>
	      			<% @exam = Exam.find_by_subject_id_and_exam_group_id(sub.id,exam_group.id) %>
	      			<% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
	      				<% unless @exam.nil? %>
	      					<% if exam_group.exam_type == "MarksAndGrades" %>
	      						<td><%= cas_total =(exam_score.nil? ? 0 :  "#{exam_score.marks}").to_f  %>
	        						<% total = total + cas_total   %>
	      						</td>
	      					<% elsif exam_group.exam_type == "Marks" %>
	      						<td><%= cas_total =(exam_score.nil? ? 0 : "#{exam_score.marks}").to_f %>
	        						<% total = total + cas_total   %>
	      						</td>
	      					<% else %>
	      						<td> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
	      						<% @g = 0 %>
	      					<% end %>
	      				<% else %>
	      					<td><%= "#{t('n_a')}" %></td>
	      				<% end %>
	      			<% end %>
	      			<% unless @all_exams.nil? %>
	      				<% if @mmg == @g %>
	      					<td> <%= total.to_f %></td>
	      					<% @total_score << total.to_f %>
					    <% else %>
					      	<td>-</td>
					    <% end %>
	      			<% end %>
	      		<% end %>
	      		<%# sub.elective_group_id.nil? ? student_count= @batch_students.to_f : student_count = sub.students.count %>
	      		<td>
            	<% if sub.elective_group_id.nil? %>
                <%= ReportBuilder.class_avg(sub,@term).round(2)  %>
              <% else%>     			
	      			  <%= ReportBuilder.class_avg_with_elective(sub,@term).round(2)  %>
              <% end%>
	      		</td>  	
	    	</tr>
	    <% end %>    
    <% end %>

    <!-- merged subject start -->     
    <% unless @merged_subjects.nil? %>
        <% @merged_subjects.each do |merged_subject| %>  
        	<% total = 0 %>  
            <% h = {} %>
            <% class_avg = [] %>
            <% score = 0 %>
            <%  merged_subject.subject_id.each do |subject| %>
            	<% @mmg = 1;@g = 1 %>
                <% @term_exam_groups.each do |exam_group| %>
                   	<% @exam = Exam.find_by_subject_id_and_exam_group_id(subject,exam_group.id) %>
                   	<% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})  unless @exam.nil? %>
                    <% unless @exam.nil? %>
                        <% if exam_group.exam_type == "MarksAndGrades" %>
                            <% score = exam_score.nil? ? 0 :  exam_score.marks  %>
                        <% elsif exam_group.exam_type == "Marks" %>
                            <% score = exam_score.nil? ? 0 : exam_score.marks %>
                        <% else %>
                            <% score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                            <% @g = 0 %>
                        <% end %>
                    <% else %>
                    	<% score = 0 %>
                	<% end %>
                	<%  unless h["#{exam_group.name}"].nil? %>
                   		<% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + score  %>
                   		<% total += score %>
                	<% else %>
                    	<% h["#{exam_group.name}"] = score %>
                    	<% total += score %>
             		<% end %>
            	<% end %>
                <% subjects = Subject.find subject %>                
                <% @term = Term.find(@term_ids.first) %> 
                <% @class_avg = ReportBuilder.class_avg(subjects,@term) %>
                <% class_avg << @class_avg %>
            <% end %>
	        <tr>
	            <td class="name" colspan="2"><b><%= merged_subject.name %></b></td>
	            <% @term_exam_groups.each do |exam_group| %>
	                <td><%#= ((h["#{exam_group.name}"]/merged_subject.subject_id.count).to_f).round(2) unless h["#{exam_group.name}"] == 0 %>
	                	<%= (h["#{exam_group.name}"] == 0? 0 : (h["#{exam_group.name}"]/merged_subject.subject_id.count)).to_f.round(2) %>	           
	                </td>
	            <% end %>	            
	            <td><%= mg_total = (total/ merged_subject.subject_id.count).to_f.round(2) %>
	             	<% @total_score << mg_total %>
	            </td>	           
	            <td><%= (class_avg.sum/merged_subject.subject_id.count).to_f.round(2) %></td>
	        </tr>
        <% end %>
    <% end %>                    
   	<!-- merged subject end -->

    <tr>
     	<td class="name tr_custom_color" colspan="4"><b> <%= t('total_score') %></b></td>
     	<td class="tr_custom_color" colspan="2"><b> <%= @total_score.sum %></b></td>     	
    </tr>

    <tr>
      	<td class="name tr_custom_color" colspan="4"><b><%= t("average") %></b></td>
      	<td class="tr_custom_color" colspan="2"><b><%unless @subjects.blank?%><%= (@total_score.sum/(@subjects.count+@merged_subjects.count)).to_f.round(2)%><% else%>0<% end%></b></td>      	
    </tr>
 
    <tr>
      	<td class="name tr_custom_color" colspan="4"><b><%= t('class_average')%></b></td>
      	<td class="tr_custom_color" colspan="2"><b><% unless class_overall_average==0%><%= class_overall_average.round(2) %><% else%><%= class_overall_average %><% end%></b></td>      	
    </tr>

	<!-- evaluation groups start-->
    <% unless @evaluation_group.nil? %>	  
	  	<tr>
	  		<td colspan="6"><b><%= @evaluation_group.name %></b></td>	   
		</tr>
		<% unless @evaluation_types.blank? %>
		  	<% @evaluation_types.each do |type| %>		       
		        <% @evaluation_areas = type.evaluation_areas %>
	       		<% unless @evaluation_areas.nil? %>	              	
                	<tr>
                		<td class="name" colspan="5">
                			<u><b><%= type.name.upcase%>:</b></u><br>
                			<% @evaluation_areas.each do |area|%>	              					
                				<%= area.name%><br>	 
                			<% end %>               			
                		</td>
                		<td class="grade">
                			<% @evaluation_areas.each do |area|%>
              					<% @performance= ReportBuilder.emerging_grade(student.id,area.id) %>
                				<%= @performance.upcase if @performance %><br>
                			<% end %>                				                			
                		</td>               			
               		</tr>	       			
	    		<% end %>
		  	<% end %>
	  	<% end %>
	<% end %>
	<!-- evaluation groups end-->

    <tr>
        <td class="grade" colspan ="6"><b><%= "KEY TO RATINGS" %></b><br>
        	<i><%= "A= Excellent B= Very Good C= Good D= Improving E= Unsatisfactory" %></i>
        </td>
    </tr>

    <tr>
        <td class="name" colspan ="6"><b><%= "Targets / Improvement Areas: " %><%= @target_area.comment unless @target_area.nil? %> </b></td>
    </tr>

    <tr>
       <td class="name" colspan ="3">
        	<p><b><%= "Class Teacher's Names" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
        	<%=  @tutor.name  unless @tutor.nil?   %></p>
        </td>
        <td class="name" colspan ="3">
        	<b><%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
        	<% unless  @tutor.nil?%>
	 			<% if @tutor.signature_attachment.file? %>
	    			<%= image_tag @tutor.signature_attachment.url,:size => "200x35" %>
	  			<% end %>
			<% end %>
        </td>
    </tr>

    <tr>
        <td class="name" colspan ="3">
          	<p><b><%= "Head Teacher" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><%= @principal.name unless @principal.nil?  %><%= @huser_name.full_name unless @huser_name.nil? %></p>
        </td>
        <td class="name" colspan ="3">
        	<b><%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
          	<% unless @principal.nil? %>
	  			<% if @principal.signature_attachment.file? %>
	    			<%= image_tag @principal.signature_attachment.url,:size =>  "200x35"%>
	  			<% end %>
			<% end %>
        </td>
    </tr>
     <%report_pickup_date=ReportPickupDate.find_by_student_id_and_batch_id_and_term_id(student.id,student.batch_id,@term.id)%>
    <tr>
        <td class="name" colspan ="6">

         	<% t = Time.now %><p><b><%= "Date" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><%= report_pickup_date.report_pickup.strftime("%d/%m/%Y") unless report_pickup_date.nil?%>
          <!-- <%#= t.strftime("%A")%>&nbsp;<%#= t.strftime("%B") %>&nbsp;<%#= t.strftime("%d") %>&nbsp;<%#= t.strftime("%Y")%> -->
          </p>
        </td>
    </tr>
</table>


<style>
    table td  {
      /*background: none repeat scroll 0 0 #eeeeee;*/
      border-left: 1px solid #adacab;
      border-right: 1px solid #adacab;
      border-top: 1px solid #adacab;
      color: #000000;
      border: 1.5px solid black;
      padding: 5px;
      text-align: center;
      font-size: 18px;
    }
    table td.name  {
      /*background: none repeat scroll 0 0 #eeeeee;*/
      border-left: 1px solid #adacab;
      border-right: 1px solid #adacab;
      border-top: 1px solid #adacab;
      color: #000000;
      border: 1.5px solid black;
      padding: 5px;
      text-align: left;
      font-size: 18px;
      width: 170px;
    }
    table td.conduct  {
      /*background: none repeat scroll 0 0 #eeeeee;*/
      border-left: 1px solid #adacab;
      border-right: 1px solid #adacab;
      border-top: 1px solid #adacab;
      color: #000000;
      border: 1.5px solid black;
      padding: 34px;
      text-align: center;
      font-size: 18px;
    }
    table {
      border: 1.5px solid black;
      background-color: none;
    }
    .corner1 {
      border: 2.5px solid #000000;
      padding: 10px;
      width: 975px;
    }
    .corner2 {
      border: 2.5px solid #000000;
      padding: 10px;
      width: 975px;
    }
    .corner {
      border: 2.5px solid #000000;
      padding: 10px;
      width:1000px;
      page-break-inside: avoid !important;
      display: block;
    }
    caption {
      padding: .15em .18em;
      display: table-caption;
      font-size:20px;
      height: 15px;
      text-align: center;
      font-weight: bold;
    }
    .teacher {
      margin-top: 20px;
      padding: 10px;
      width: 975px;
      border: 2.5px solid #000000;
      page-break-inside: avoid !important;
      display: block;
    }

    #pdf-header{
      width:1000px;
      padding-top: 10px;
      margin: 0;
      overflow: hidden;
      margin-top: -2px;
      height: 180px;
    }

    .logo{
      height: 180px;
      width:240px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .logo img{
      width: 100%;
      margin-top: 10px;
    }

    p.result {
      font-weight: bold;
      text-align: center;
      /*padding-bottom: 10px;*/
      font-size: 28px;
      font-family: initial;
    }

    .right-values {
      font-weight: bold;
      text-align: left;
    }
    .left-values {
      font-weight: bold;
      text-align: left;

    }
    hr
    {
      background-color: black;
      color: black;
      height: 1px;
      width:950px;
      padding-top:1px;
      padding-bottom:1px;
    }
    .center-values {
      font-weight: bold;
      text-align: center;
    }

    .grades1 {
      width: 1000px;
      margin-bottom :40px;
    }

    .grades {
      width: 1000px;
      margin-bottom :40px;
      height: 600px;
      page-break-inside: avoid !important;
      display: block;
    }

    .grades-along {
      float: left;
      width:480px;
      margin-right: 15px;
    }

    .grades-key {
      float: left;
      width: 480px;
      margin-left: 15px;
      border: 1.5px solid #000000;
    }

    .inside-table {
      border: 1.5px solid #000000;
      width:500px;
    }

    tr.noBorder td {border: 0; }

    .module {
      page-break-before: auto;
      display: block;
    }
    td.group-comment {
      width:600px;
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
    }
    .tr-blank{
     height:  27px;
    }
    .tr_custom_color{
     background-color: #d6d6c2;
    }
</style>
