    <% student = @student %>
    <% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
    <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
    <% elective_subjects = [] %>
    <% student_electives.each do |elect| %>
    <% elective_subjects.push Subject.find(elect.subject_id,:conditions => {:is_deleted => false}) %>
    <% end %>
    <% @subjects = general_subjects + elective_subjects %>
    <% @subjects.reject!{|s| s.no_exams==true} %>
    <% unless @term_exam_groups.empty? %>
    <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
    <% subject_ids = exams.collect(&:subject_id) %>
    <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
    <% @merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
    <% unless @merged_subjects.blank?  %>
    <% @merged_subjects.each do |ms|   %>
    <% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
    <%end%>
    <% end %>
    <% @all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
    <% end %>
    <p class="result"> <%= "PROGRESS REPORT" %> </p>
    <table style="width:1000px;">
      <tr>
          <div class= "grades1"><div  style="float: left; width: 400px;" class="left-values"><%= t('name') %>:&nbsp<b><u><%= student.full_name %></u></b></div><div style="float: left; width:350px;" class="center-values"><%=  t('age') %>:&nbsp<u><% age %><%= @year %> years <%= @month.to_i == 0 ? "" : " #{@month}  month" %></u></div><div  style="float: left; width:522px;" class="right-values"><%= t('class') %>:&nbsp<u><%= @batch.name %></u></div></div>
          <div class= "grades1"><div  style="float: left; width: 240px;" class="left-values"><%= t('term') %>:&nbsp<u><%= @term.name %></u></div><div style="float: left; width: 175px;" class="right-values"><%= t('session') %>:&nbsp<u><% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%= @start_date.year%>/<%= @end_date.strftime("%y") %></u></div></div>
      </tr>
      <p class="result"></p>
      <tr class="toprow">
        <td class="toptd" rowspan = "2">
         <b><%= t('demo_subjects') %></b>
        </td>
        <% unless @term_exam_groups.nil? %>
        <% @term_exam_groups.each do |exam_group| %>
        <td class="toptd"> <b><%= exam_group.name.titleize %></b></td>
        <% end %>
        <td class="toptd">
          <b><%= t('total') %></b>
        </td>
        <% end %>

        <td class="toptd" rowspan="2">
          <b><%= t('subject_average') %></b>
        </td>
        <td class="toptd" colspan="5">
          <b><%= t('class_conduct') %></b>
        </td>
      </tr>
      <tr>
        <% unless @term_exam_groups.nil? %>
        <% @term_exam_groups.each do |exam_group| %>
        <td> <b><%= "#{exam_group.exams.first.maximum_marks.to_f}" + " " +"Marks"   unless exam_group.exams.blank? %></b></td>
        <% end %>
        <td><b><%= "#{@weighted_total.to_i}"+" "+"Marks" %></b></td>
        <% end %>


       <td class="conduct"><b><%= "A"%></b></td>
       <td class="conduct"><b><%= "B"%></b></td>
       <td class="conduct"><b><%= "C"%></b></td>
       <td class="conduct"><b><%= "D"%></b></td>
       <td class="conduct"><b><%= "E"%></b></td>
     </tr>
      <% @total_score = [] %>
    <% unless @subjects.blank? %>
    <tr>
      <% @subjects.each_with_index do |sub,i| %>
      <td class="name"><b><%= sub.name %></b></td>
      <% total = 0 %>
      <% @mmg = 1;@g = 1 %>
      <% unless @term_exam_groups.nil? %>
      <% @term_exam_groups.each do |exam_group| %>
      <% @exam = Exam.find_by_subject_id_and_exam_group_id(sub.id,exam_group.id) %>
      <% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
      <% unless @exam.nil? %>
      <% if exam_group.exam_type == "MarksAndGrades" %>
      <td><%= cas_total =(exam_score.nil? ? 0 :  "#{exam_score.marks}").to_f  %>
        <% total = total + cas_total   %>
      </td>
      <% elsif exam_group.exam_type == "Marks" %>
      <td><%= cas_total =(exam_score.nil? ? 0 : "#{exam_score.marks}").to_f %>
        <% total = total + cas_total   %>
      </td>
      <% else %>
      <td> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
      <% @g = 0 %>
      <% end %>
      <% else %>
      <td><%= "#{t('n_a')}" %></td>
      <% end %>
      <% end %>
      <% unless @all_exams.nil? %>
      <% if @mmg == @g %>
      <td> <%= total.to_f %>
      </td>
      <% @total_score << total.to_f %>
      <% else %>
      <td>-</td>
      <% end %>
      <% end %>
      <% end %>
      <% sub.elective_group_id.nil? ? student_count= @batch_students.to_f : student_count = sub.students.count %>
      <td><%= ((ReportBuilder.subject_total(sub.id,@term_exam_groups))/student_count).round(2)  %></td>
      <% @class_conduct.each do |val| %>
      <% if val == ReportBuilder.grade(student,sub,@term) %>
      <td>&#42;</td>
      <% else %>
      <td></td>
      <% end %>
      <% end %>
      <% break if i == 2 %>
    </tr>
    <% end %>
    <% end %>
    <tr>
      <td colspan ="4"><%= "Total (40 Marks)" %></td>
      <td colspan = "6"></td>
    </tr>
    <% unless @subjects.blank? %>
    <tr>
      <% @subjects.each_with_index do |sub,i| %>
      <% next if i == (0) %>
      <% next if i == (1) %>
      <% next if i == (2) %>
      <td class="name" colspan ="2"><b><%= sub.name %></b></td>
      <% total = 0 %>
      <% @mmg = 1;@g = 1 %>
      <% unless @term_exam_groups.nil? %>
      <% @term_exam_groups.each do |exam_group| %>
      <% @exam = Exam.find_by_subject_id_and_exam_group_id(sub.id,exam_group.id) %>
      <% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
      <% unless @exam.nil? %>
      <% if exam_group.exam_type == "MarksAndGrades" %>
      <% cas_total =(exam_score.nil? ? 0 :  "#{exam_score.marks}").to_f  %>
      <% total = total + cas_total   %>
      <% elsif exam_group.exam_type == "Marks" %>
      <% cas_total =(exam_score.nil? ? 0 : "#{exam_score.marks}").to_f %>
      <% total = total + cas_total   %>
      <% else %>
      <% exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
      <% @g = 0 %>
      <% end %>
      <% else %>
      <% "#{t('n_a')}" %>
      <% end %>
      <% end %>
      <% unless @all_exams.nil? %>
      <% if @mmg == @g %>
      <td colspan ="2"> <%= total.to_f %>
      </td>
      <% @total_score << total.to_f %>
      <% else %>
      <td>-</td>
      <% end %>
      <% end %>
      <% end %>
        <% sub.elective_group_id.nil? ? student_count= @batch_students.to_f : student_count = sub.students.count %>
      <td><%= ((ReportBuilder.subject_total(sub.id,@term_exam_groups))/student_count).round(2)  %></td>
      <% @class_conduct.each do |val| %>
      <% if val == ReportBuilder.grade(student,sub,@term) %>
      <td>&#42;</td>
      <% else %>
      <td></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
    <% end %>
    <tr>
     <td class="name" colspan="2"><b> <%= t('total_score') %></b></td>
     <td colspan="3"><b> <%= @total_score.sum %></b></td>
     <td colspan="5"><pre><b> <%= t('key_to_class_conduct_rating')%></b>
       <%= "A= Excellent B= Very Good C= Good D= Improving E= Unsatisfactory" %></pre></td>
     </tr>
     <tr>
      <td class="name" rowspan="2" colspan="2"><b><%= t("average") %></b></td>
      <td colspan="3" rowspan="2"><b><%= (@total_score.sum/@subjects.count).to_f.round(2) %></b></td>
      <td colspan="5"><b><%= "Report on Distance learning/e-learning pack" %></b></td>
    </tr>
    <tr>
      <td colspan="3"><b><%= t('participated_and_submitted') %></b></td>
      <td colspan="2"><%=  %></td>
    </tr>
    <tr>
      <td class="name" colspan="2"><b><%= t('class_average')%></b></td>
      <td colspan="3"><b><%= class_overall_average %></b></td>
      <td colspan="3"><b><%= t('yet_to_submit_learning_pack') %></b></td>
      <td colspan="2"><%= %></td>
    </tr>
    <tr><td colspan ="10"><%= %></td></tr>
    <tr>
      <td class="name" colspan ="3">
       <p><b><%= "Class Teacher's Comment" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
         <td colspan ="7"> <% @tutor_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,false) %> <%= @tutor_comment.description unless @tutor_comment.nil? %> </td>
       </tr>
       <tr>
        <td class="name" colspan ="10"><b><%= "Targets / Improvement Areas: " %><%= @target_area.comment unless @target_area.nil? %> </b></td>
      </tr>
      <tr>
       <td class="name" colspan ="10" >
        <p><b><%= "Class Teacher's Names" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b>
          <%=  @tutor.name  unless @tutor.nil?   %></p> <b> <%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b> <% unless  @tutor.nil?%>
  <% if @tutor.signature_attachment.file? %>
    <%= image_tag @tutor.signature_attachment.url,:size => "150x30" %>
  <% end %>
<% end %>
        </td>
      </tr>
      <tr>
        <td class="name" colspan ="10">
          <p><b><%= "Head Teacher" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><%= @principal.name unless @principal.nil?  %><%= @huser_name.full_name unless @huser_name.nil? %></p>  <b><%="Signature"%>&nbsp;&nbsp;:&nbsp;&nbsp;</b> <% unless @principal.nil? %>
  <% if @principal.signature_attachment.file? %>
    <%= image_tag @principal.signature_attachment.url,:size =>  "150x30"%>
  <% end %>
<% end %>

        </td>
      </tr>
      <tr>
        <td class="name" colspan ="10">
         <% t = Time.now %><p><b><%= "Date" %>&nbsp;&nbsp;:&nbsp;&nbsp;</b><%= t.strftime("%A")%>&nbsp<%= t.strftime("%B") %>&nbsp<%= t.strftime("%d") %>&nbsp<%= t.strftime("%Y")%></p>
        </td>
      </tr>
    </table>
    <style>
    table td  {
      background: none repeat scroll 0 0 #eeeeee;
      border-left: 1px solid #adacab;
      border-right: 1px solid #adacab;
      border-top: 1px solid #adacab;
      color: #000000;
      border: 1.5px solid black;
      padding: 5px;
      text-align: center;
      font-size: 18px;
    }
    table td.name  {
      background: none repeat scroll 0 0 #eeeeee;
      border-left: 1px solid #adacab;
      border-right: 1px solid #adacab;
      border-top: 1px solid #adacab;
      color: #000000;
      border: 1.5px solid black;
      padding: 5px;
      text-align: left;
      font-size: 18px;
    }
    table td.conduct  {
      background: none repeat scroll 0 0 #eeeeee;
      border-left: 1px solid #adacab;
      border-right: 1px solid #adacab;
      border-top: 1px solid #adacab;
      color: #000000;
      border: 1.5px solid black;
      padding: 34px;
      text-align: center;
      font-size: 18px;
    }
    table {
      border: 1.5px solid black;
    }
    .corner1 {
      border: 2.5px solid #000000;
      padding: 10px;
      width: 975px;
    }
    .corner2 {
      border: 2.5px solid #000000;
      padding: 10px;
      width: 975px;
    }
    .corner {
      border: 2.5px solid #000000;
      padding: 10px;
      width:1000px;
      page-break-inside: avoid !important;
      display: block;
    }
    caption {
      padding: .15em .18em;
      display: table-caption;
      font-size:20px;
      height: 15px;
      text-align: center;
      font-weight: bold;
    }
    .teacher {
      margin-top: 20px;
      padding: 10px;
      width: 975px;
      border: 2.5px solid #000000;
      page-break-inside: avoid !important;
      display: block;
    }

    #pdf-header{
      width:950px;
      padding-top: 10px;
      margin: 0;
      overflow: hidden;
      margin-top: -2px;
      height: 100px;
    }

    .logo{
      height: 80px;
      width:120px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .logo img{
      width: 100%;
      margin-top: 10px;
    }

    p.result {
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
      font-size: 20px;
    }

    .right-values {
      font-weight: bold;
      text-align: left;
    }
    .left-values {
      font-weight: bold;
      text-align: left;

    }
    hr
    {
      background-color: black;
      color: black;
      height: 1px;
      width:950px;
      padding-top:1px;
      padding-bottom:1px;
    }
    .center-values {
      font-weight: bold;
      text-align: center;
    }

    .grades1 {
      width: 1000px;
      margin-bottom :40px;
    }

    .grades {
      width: 1000px;
      margin-bottom :40px;
      height: 600px;
      page-break-inside: avoid !important;
      display: block;
    }

    .grades-along {
      float: left;
      width:480px;
      margin-right: 15px;
    }

    .grades-key {
      float: left;
      width: 480px;
      margin-left: 15px;
      border: 1.5px solid #000000;
    }

    .inside-table {
      border: 1.5px solid #000000;
      width:500px;
    }

    tr.noBorder td {border: 0; }

    .module {
      page-break-before: auto;
      display: block;
    }
    td.group-comment {
      width:600px;
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',' Verdana, sans-serif';
    }
    .tr-blank{
     height:  27px;
    }

    </style>
