		<%# unless  @term_exam_groups.empty? %>
		<%# @term_exam_groups.each do |exam_group| %>
		<%#= ExamGroup.find(exam_group.id).name %>
		<%# end %>
		<%# end %>
		<% @student = Student.find($student_id) %>
		<% @batch = @student.batch %>
		<% @start_date = @batch.start_date.to_date %>
		<% @end_date = @batch.end_date.to_date > Date.today ? @batch.end_date.to_date : Date.today %>
		<% if @start_date.year == @end_date.year %>
		   <%= @start_date.year %>
		<% else %>
		   <%= @start_date.year %>/<%= @end_date.strftime("%y") %>	
		<% end %>