<% if @students.photo.file? %>
  <%= wicked_pdf_image_tag_for_public "/"+("#{Rails.root}/"+  @students.photo.path(:original) ), :size => "100x100" %>
<% else %>
  <%= image_tag "master_student/profile/default_student.png" , :size => "100x100" %>
<% end %>
