<% unless @student_ids.nil? %>
<% @student_ids.each_with_index do |student_id, i| %>
  <% test(student_id) %>
  <% if i > 0 %>
    <div style="padding-top:5px;"> </div>
  <% end %>
  <div class="page">
    <% @sorted_description.each_with_index do |sorted, j| %>
      <% if i==j %>
        <% sorted.split.each do |report_word| %>
          <% if report_word.match(/\$%/).present? %>
            <% report = report_word.split('$%') %>
            <% report = report.compact.reject(&:empty?) %>
            <% report.each do |report_field| %>
              <% if report_field.match(/\%/).present? %>
                <% report_element = report_field.split('%') %>
                <% report_field_element = report_element[0] %>
                <% if report_field_element == 'student-photo' %>
                  <% photo = report_field_element.split('-').join('_') %>
                  <% eval photo %>
                  <%= render :partial => photo %>
                <% end %>
                <%  if ReportBuilder.examination_data.include?(report_field_element) %>
                  <% if report_field_element == "tutor_comments" %>
                    <% eval report_field_element %>
                    <%= render :partial => report_field_element %>
                  <% elsif report_field_element == "tutor_signature" %>
                    <% eval report_field_element %>
                    <%= render :partial => report_field_element %>
                  <%  elsif report_field_element == "principal_name" %>
                    <% eval report_field_element %>
                    <%= render :partial => report_field_element %>
                  <%  elsif report_field_element == "director_signature" %>
                    <% eval report_field_element %>
                    <%= render :partial => report_field_element %>
                  <%  elsif report_field_element == "house_parent_comment" %>
                    <% eval report_field_element %>
                    <%= render :partial => report_field_element %>
                  <% end %>
                <% end %>
                <% if ReportBuilder.student_examination_data.include?(report_field_element) %>
                <%# if @config_key.config_value == "1" %>
                  <% eval report_field_element %>
                  <%= render :partial => report_field_element %>
                <%# end %>
                <% elsif ReportBuilder.tutor_data.include?(report_field_element) %>
                  <% eval report_field_element %>
                  <%= render :partial => report_field_element%>
                <% end %>
                <% if report_element[1].present? %>
                  <%= report_element[1] %>
                <% end %>
              <% else %>
                <%= report_field %>
              <% end %>
            <% end %>
          <% else%>
            <%= report_word %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if student_id != @student_ids.last  %>
    <div class="page-break"></div>
  <% end %>
<% end %>

<% unless @current_batch.nil? %>
  <% @current_student.update_attribute :batch_id, @current_batch %>
<% end %>
<% end %>
<style>
  table, tr, td, th, tbody, thead, tfoot  {
    page-break-inside: avoid !important;
  }
</style>
<style type="text/css" >
  .page-break { display:block; clear:both; page-break-after: always;}

  body {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;

  }

  table
  {
    border:0.1em solid #000000;
    padding: 0; margin: 0;
    color:black; border-color:black;border-weight:1px;
    background : white;
    overflow: auto;
    border-collapse:collapse;
<%#*width: 100% !important;%>

  }

  table, tr, td
  {
    border:0.1em solid #000000;
    font-size : 100%;
  }


  h1, h2, h3, h4, h5, h6{
    width: auto;
  }

  hr {
    width: auto;
  }
</style>
    