<br/><br/>
<% unless @students.empty? %>
   <div class="box">
    <table id="listing" width="100%">
      <tr class="tr-head">
    <td> <%= t('sl_no') %> </td><td> <%= t('name') %> </td><td> <%= t('comment') %> </td>
  </tr>
    <% @students.each_with_index do |student,i| %>
      <% @comment = HouseParentComment.find_by_term_id_and_student_id(@term.id,student.id) %>
    <tr class="tr-<%= cycle('odd', 'even') %>"><td><%= i+1 %></td><td><%= student.full_name.titleize  %></td><td class="col-2">
            <div class="label-field-pair7">
              <div class="text-input-bg"><%= text_area_tag "comment[#{student.id}]" ,@comment.nil? ? "" : @comment.description,:size => "42x2" %></div></div></td></tr>
     <% end %>
  </table>
<% else %>
<%= t('no_students')  %>
  </div>
<% end %>

