<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
<% student = @student %>
<div style="border-style: solid; border-color: blue; width: 800px;">
<p><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<%= image_tag "../../report_builder_images/Neander_School_Logo.png",:size =>  "276x89" %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em><% if student.photo.file? %>
        <%= wicked_pdf_image_tag_for_public "/"+("#{Rails.root}/"+  student.photo.path(:original) ), :size => "100x100" %>
        <% else %>
        <%= image_tag "master_student/profile/default_student.png" , :size => "100x100" %>
        <% end %></em></em></p>
<!-- <table style="height: 116px; width: 791px; border-style: solid; border-color: white; margin-left: 2px;">
<tbody style="border-style: solid; border-color: white;">
<tr>
<td style="border-style: solid; border-color: white;">
<p style="margin-top: -15px;"><span style="font-size: 7pt;"><strong><span style="font-size: 9pt;"><span style="color: #ff0000;">&nbsp; &nbsp;House</span><span style="color: #ff0000;">:</span></span>&nbsp;
<%# unless @student_house_detail.nil? %>
<span style="color: blue; font-size: 9pt;"><%#= @student_house_detail.additional_info %></span>
<%# else %>
<span style="color: blue; font-size: 9pt;">-</span>
<%# end %></strong></span></p>
<p style="margin-top: -15px;"><span style="font-size: 7pt;"><strong><span style="font-size: 9pt;"><span style="color: #ff0000;">&nbsp; &nbsp;Name</span><span style="color: #ff0000;">:</span></span>&nbsp;<span style="color: blue; font-size: 9pt;"><%#=student.first_name%>&nbsp;<%#= student.last_name%></span></strong></span></p>
<p style="margin-top: -15px;"><span style="font-size: 7pt;"><strong><span style="font-size: 9pt;"><span style="color: #ff0000;">&nbsp; &nbsp;Class:</span> <span style="color: blue;"><%#=student.batch%></span></span></strong></span></p>
<p style="margin-top: -15px;"><strong><span style="font-size: 9pt;"><span style="color: #ff0000;">&nbsp; &nbsp;Admission No:</span>&nbsp;&nbsp;<span style="color: blue;"><%#=student.admission_no%></span></span></strong></p>
<p style="margin-top: -15px;"><strong><span style="font-size: 9pt;"><span style="color: #ff0000;">&nbsp; &nbsp;Gender:</span>&nbsp;&nbsp;
<%# if student.gender == 'm' %>
<span style="color: blue;">MALE</span>
<%# elsif student.gender == 'f' %>
<span style="color: blue;">FEMALE</span>
<%# end %></span></strong></p>

</td>
<td style="border-style: solid; border-color: white;">&nbsp;</td>
<td style="border-style: solid; border-color: white;"><strong>&nbsp; &nbsp; &nbsp;</strong></td>
<td style="border-style: solid; border-color: white;">
<p style="margin-top: -15px;"><span style="font-size: 7pt;"><strong><span style="color: blue;"><span style="color: #ff0000;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 9pt;"><span style="color: #ff0000;">Age: </span>&nbsp;<%# age %><%#= @year %> Years <%#= @month.to_i == 0 ? "" : @month.to_i == 1 ? "1 Month" : " #{@month}  Months" %></span></span><span style="font-size: 9pt;">&nbsp;<span style="color: blue;"><em><br /></em></span> </span></strong></span></p>
<p style="margin-top: -15px;"><span style="font-size: 7pt;"><strong><span style="color: blue;"><span style="color: #ff0000;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 9pt;"><span style="color: #ff0000;">Avg Age of Class: </span>&nbsp;<%#= average_age_of_class %></span></span><span style="font-size: 9pt;">&nbsp;<span style="color: blue;"><em><br /></em></span> </span></strong></span></p>
<p style="margin-top: -15px;"><span style="font-size: 9pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><strong><strong style="color: #000000;"><span style="color: #ff0000;">No. of Days Absent: &nbsp;<span style="color: blue;"><em><%# number_of_day_present %><%#= @leaves %></em></span></span><span style="color: blue;"><em><br /></em></span></strong></strong></strong></span></p>
<p style="margin-top: -15px;"><span style="font-size: 9pt;"><strong><strong>&nbsp; &nbsp;<span style="color: #ff0000;"><br /></span></strong></strong></span></p>
<p style="margin-top: -15px;"><span style="font-size: 9pt;"><strong><strong>&nbsp; &nbsp;<span style="color: #ff0000;"><br /></span></strong></strong></span></p>
<p style="margin-top: -15px;">&nbsp;</p>
</td>
</tr>
</tbody>
</table> -->
<% @term11 = Term.find(@term_ids.first) %>
<table style="height: 60px; width: 780px; border-style: solid; border-color: white; margin-left: 5px; margin-right: 5px; margin-top: 20px; margin-bottom: 2px;">
  <tr>
    <td style="border-style: solid; border-color: white;width:50px;">
      <strong><span style="font-size: 11px;"><span style="color: #ff0000;">Name : </span></span></strong>
    </td>
    <td style="border-style: solid; border-color: white; width:350px;text-align: left;">
      <span style="color: blue; font-size: 11px;"><strong><%=student.full_name%></strong></span>
    </td>
    <td style="border-style: solid; border-color: white; width:50px;"></td>
    <td style="border-style: solid; border-color: white; width:180px;text-align: right;">
      <strong><span style="font-size: 11px;"><span style="color: #ff0000;">Overall % : </span></span></strong>
    </td>
    <td style="border-style: solid; border-color: white; width:70px;">
    <span style="font-size: 11px;"><strong><span style="color: blue; font-size: 11px;"><%= @overall_student %></span></strong></span>
    </td>
  </tr>
  <tr>
    <td style="border-style: solid; border-color: white;width:50px;">
      <strong><span style="font-size: 11px;"><span style="color: #ff0000;">Class : </span></span></strong>
    </td>
    <td style="border-style: solid; border-color: white; width:350px;text-align: left;">
      <span style="color: blue; font-size: 11px;"><strong><%=student.batch%></strong></span>
    </td>
    <td style="border-style: solid; border-color: white; width:50px;"></td>
    <td style="border-style: solid; border-color: white; width:180px;text-align: right;">
      <strong><span style="font-size: 11px;"><span style="color: #ff0000;">No of Students : </span></span></strong>
    </td>
    <td style="border-style: solid; border-color: white; width:70px;">
    <span style="font-size: 11px;"><strong><span style="color: blue; font-size: 11px;"><%= student.batch.students.count.to_i %></span></strong></span>
    </td>
  </tr>
  <tr>
    <td style="border-style: solid; border-color: white;width:50px">
      <strong><span style="font-size: 11px;"><span style="color: #ff0000;">Gender : </span></span></strong>
    </td>
    <td style="border-style: solid; border-color: white; width:255px;text-align: left;">
      <strong><span style="font-size: 11px;">
      <% if student.gender == 'm' %>
      <span style="color: blue;font-size: 11px;">MALE</span>
      <% elsif student.gender == 'f' %>
      <span style="color: blue;font-size: 11px;">FEMALE</span>
      <% end %></span></strong> 
    </td>
    <td style="border-style: solid; border-color: white; width:50px;"></td>
    <td style="border-style: solid; border-color: white; width:180px;text-align: right;">
      <strong><span style="font-size: 11px;"><span style="color: #ff0000;">Next Term Begins : </span></span></strong>
    </td>
    <td style="border-style: solid; border-color: white; width:70px;"><strong><span style="font-size: 11px;"><span style="color: blue;font-size: 11px;"><%= @term11.assumption_date.strftime("%Y-")%><%= @term11.assumption_date.strftime("%m-")%><%= @term11.assumption_date.strftime("%d")%></span></span></strong></td>
  </tr>
</table>


<div style="text-align:center;"><b>End of Term Result for <%= @term11.name %>&nbsp;<% @start_date = @batch.start_date.to_date %><% @end_date = @batch.end_date.to_date %><%=   @start_date.year%>/<%= @end_date.strftime("%y") %></b>
</div>



<% student = @student %>
<% student_overall = [] %>
<% class_overall = [] %>
<% general_subjects = Subject.find_all_by_batch_id(@batch.id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
<% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
<% elective_subjects = [] %>
<% student_electives.each do |elect| %>
  <% @en_disable = RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elect.id,@term.id) %>
        <% unless @en_disable.nil?  %>
          <% if  @en_disable.is_deleted == false %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
          <% end %>
          <% else %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
           <% end %>
<% end %>
<% @subjects = general_subjects + elective_subjects %>
<% @subjects.reject!{|s| s.no_exams==true} %>
<% unless @term_exam_groups.empty? %>
  <% exams = Exam.find_all_by_exam_group_id(@term_exam_groups.collect(&:id))  %>
  <% subject_ids = exams.collect(&:subject_id) %>
  <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
  <% merged_subjects = RankIngresSubjectMerger.find_all_by_batch_id(@batch.id ) %>
  <% unless merged_subjects.nil?  %>
    <% merged_subjects.each do |ms|   %>
      <% @subjects = @subjects.reject {|sub| ms.subject_id.include? sub.id.to_s} %>
    <%end%>
  <% end %>
  <% unless @subjects.empty? %>
    <% @subjects = @subjects.sort_by {|u| u.name}  %>
    <% all_exams = @term_exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
    
      <% @subjects.each_with_index do |subject,j| %>
        <div style="margin-left: 20px; ">
        <% @count = 0 %>
        <% annual_score = [] %>
        <table>
          <caption><%=  subject.name %></caption>
          <tr>
            <% unless @ca_exam.nil? %>
              <% @ca_exam.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
              <% end %>
            <% end %>
            <% @count = @count + 1 %>
            <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= "Total CA (40)" %></td>
            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
              <% end %>
            <% end %>
            <% @count = @count + 3 %>
            <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= "Total (100)" %></td>
            <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Term Grade" %> </td>
            <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
                    <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= link_term.link_name%></td>
              <% end %>
              <% end %>
            <% unless @other_weighted_groups.nil? %>
              <% @other_weighted_groups.each do |exam_group|%>
                <% @count = @count + 1 %>
                <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
              <% end %>
            <% end %>
            <% unless @unweighted_exam_groups.nil? %>
              <% @unweighted_exam_groups.each do |exam_group| %>
                <% @count = @count + 1 %>
                <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
              <% end %>
            <% end %>
            <% @count = @count + 1 %>
            <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Annual Score" %></td>
            <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Class Average" %></td>
            <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Annual Grade" %></td>
            <% @assigned_groups = ReportBuilder.assigned_subject_term_exam_groups(subject.id, @term_ids)  %>
            <% unless @assigned_groups.empty? %>
              <% @assigned_groups.each do |assigned_group| %>
                <% @count = @count + 1 %>
                <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= SubjectExamGroup.find(assigned_group.subject_exam_group_id).name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <% i = 0 %>
            <% cas_total = 0 %>
            <% total = 0 %>
            <% @mmg = 1;@g = 1 %>
            <% unless @ca_exam.nil? %>
              <% @ca_exam.each_with_index do |exam_group,i| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                     <% if i == 0 %>
                     <td style="text-align: center; font-size:11px;"><% cas_total =  (exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms)/7.5).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f:  exam_score.marks).to_f  %>
                      <% total = total + cas_total   %>
                      <% total = (total/7.5).to_f.round(2) %>
                      <%= cas_total==0 ? "-" : (cas_total/7.5).to_f.round(2) %>
                    </td>
                    <% elsif i == 1 %>
                      <td style="text-align: center; font-size:11px;"><%# cas_total =  (exam_score.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f:  exam_score.marks).to_f  %>
                        <% cas_total =  (exam_score.nil? ? @term.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f :  exam_score.marks.nil? ? @term.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f:  exam_score.marks).to_f  %>
                      <% total = total + cas_total   %>
                      <%= cas_total==0 ? "-" : cas_total %>
                    </td>
                    <% else %>
                    <td><%= '-' %></td>
                    <% end%> 
                  <% elsif exam_group.exam_type == "Marks" %>
                <% if i == 0 %>
                     <td style="text-align: center; font-size:11px;"><% cas_total =  (exam_score.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@ca_terms).to_f:  exam_score.marks).to_f  %>
                      <% total = total + cas_total   %>
                      <% total = (total/7.5).to_f.round(2) %>
                      <%= cas_total==0 ? "-" : (cas_total/7.5).to_f.round(2) %>
                    </td>
                    <% elsif i == 1 %>
                      <td style="text-align: center; font-size:11px;"><%# cas_total =  (exam_score.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f:  exam_score.marks).to_f  %>
                        <% cas_total =  (exam_score.nil? ? @term.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f :  exam_score.marks.nil? ? @term.nil? ? 0 : ReportBuilder.midterm_to_end_of_term(subject.id,student.id,@term).to_f:  exam_score.marks).to_f  %>
                      <% total = total + cas_total   %>
                      <%= cas_total==0 ? "-" : cas_total %>
                    </td>
                    <% else %>
                    <td><%= '-' %></td>
                    <% end%> 
                  <% else %>
                    <td style="text-align: center; font-size:11px;"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px;"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
              <% unless all_exams.empty? %>
                <% if @mmg == @g %>
                  <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%=  total.to_f==0 ? "-" : total %></td>
                <% else %>
                  <td style="color:blue; width:80px; text-align: center;font-size:11px;">-</td>
                <% end %>
              <% end %>
            <% end %>
             <% exam_total = 0 %>
             <% main_total = 0 %>
            <% unless @main_exam_group.nil? %>
              <% @main_exam_group.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px;"><%= exam_total = (exam_score.nil? ? '-' : exam_score.marks)  %>
                      <% main_total += exam_total.to_f %>
                    </td>

                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px;"><%= exam_total = (exam_score.nil? ? '-' : exam_score.marks) %>
                       <% main_total += exam_total.to_f %>
                    </td>
                  <% else %>
                    <td style="text-align: center; font-size:11px;"> <%= exam_total = (exam_score.nil? ? '-' : (exam_score.grading_level || '-') ) %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px;"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
            <% end %>

            <% unless all_exams.empty? %>
              <% if @mmg == @g %>
                <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= @grand_total = (total + main_total) %> </td>
                 <% annual_score << @grand_total %>
                 <% student_overall << @grand_total %>
              <% else %>
                <td style="color:blue; width:80px; text-align: center;font-size:11px;">-</td>
              <% end %>
            <% end %>
            <% @subject_percentace = (@grand_total*100)/(@weighted_total.to_i) %>
            <% key_grade22(@subject_percentace) unless @subject_percentace.nil? %>
            <td style="text-align: center; font-size:11px;" ><%= @grade %></td>  
            <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
                   <% @term = Term.find(link_term.link_term_id) %>
                    <td style="color:blue; width:80px; text-align: center;font-size:11px;"><% @total =  (ReportBuilder.term_first(subject,student,@term)).to_f %>
                      <% @ca = ReportBuilder.ca_1(subject,student,@term) %>
                 <%#= @total + (@ca/15).to_f.round(2)  %>
                 <%# @term_total = @total + (@ca/15).to_f.round(2) %>

                 <%= @total %>
                 <% @term_total = @total %>
                 <% annual_score << @term_total %>
                 </td>
              <% end %>
              <% end %>
            <% unless @other_weighted_groups.nil? %>
              <% @other_weighted_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px;"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px;"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
                  <% else %>
                    <td style="text-align: center; font-size:11px;"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px;"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
            <% end %>

            <% unless @unweighted_exam_groups.nil? %>
              <% @unweighted_exam_groups.each do |exam_group| %>
                <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                <% unless @exam.nil? %>
                  <% if exam_group.exam_type == "MarksAndGrades" %>
                    <td style="text-align: center; font-size:11px;"><%= exam_score.nil? ? '-' :  "#{exam_score.marks}"  %></td>
                  <% elsif exam_group.exam_type == "Marks" %>
                    <td style="text-align: center; font-size:11px;"><%= exam_score.nil? ? '-' : "#{exam_score.marks}" %></td>
                  <% else %>
                    <td style="text-align: center; font-size:11px;"> <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %></td>
                    <% @g = 0 %>
                  <% end %>
                <% else %>
                  <td style="text-align: center; font-size:11px;"><%= "#{t('n_a')}" %></td>
                <% end %>
              <% end %>
            <% end %>
            <td style="text-align: center; font-size:11px;"><%= @annual_score = (((annual_score.sum)/3).to_f.round(2)) %></td>
            <% @term = Term.find(@term_ids.first) %>
             <% ca_id = @term.ca_term_id %>
             <% ca_term = Term.find(ca_id) unless ca_id.nil? %>
            <% @ca = ReportBuilder.class_avg(subject,ca_term) %>
            <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@batch.id}") %>
              <% @student_electives =StudentsSubject.find_by_subject_id(subject.id) %>
              <%  @subject1 = Subject.find(subject.id) %>
                <% @elective_student1 = @subject1.students.count %>
              <% unless @student_electives.nil? %>
                 <td style="text-align: center; font-size:11px;" ><% @class_avg = ReportBuilder.class_avg(subject,@term) %>

                 <% @cl_cvg = ((@ca*subject.batch.students.count)/15).to_f.round(2) %>
                    <% @cl_avg1 = (((@cl_cvg*5).to_f.round(2))/@elective_student1).to_f.round(2) %>
                    <%= @cl_avg = (@cl_avg1/5).to_f.round(2) + ((@class_avg*subject.batch.students.count).to_f.round(2)/@elective_student1).to_f.round(2) %>
                 
                 <%#= @cl_avg = (((@class_avg + (@ca/15).to_f.round(2))*subject.batch.students.count)/@elective_student1) %></td>
                 <% class_overall << @cl_avg %>
            <% else %>
                 <td style="text-align: center; font-size:11px;" ><% @class_avg = ReportBuilder.class_avg(subject,@term) %><%= @cl_avg = ((@class_avg + ((@ca/3)/5).to_f.round(2))).round(2) %></td>
                 <% class_overall << @cl_avg %>
            <% end %>
            <!-- <td style="text-align: center; font-size:11px;"><%#= @annual_score = (((annual_score.sum)/3).to_f.round(2)) %></td> -->
            <td style="text-align: center; font-size:11px;"><%= key_grade22(@annual_score) %></td>
            <% unless @assigned_groups.empty? %>
              <% @assigned_groups.each do |assigned_group| %>
                <% @score = SubjectExamScore.find_by_student_id_and_assigned_exam_group_id(student.id,assigned_group.id) %>
                <% unless @score.nil? %>
                  <td style="width:80px; text-align: center;font-size:11px;"><%= @score.value %></td>
                <% else %>
                  <td style="width:80px; text-align: center;font-size:11px;"><%= "-" %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
          <% unless @term_exam_groups.nil? %>
            <% @term_exam_groups.each do |exam_group| %>
              <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id)   %>
              <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
              <% unless exam_score.nil? %>
                <% unless exam_score.remarks.nil? %>
                      <% @remarks = exam_score.remarks   %>
                <% end %>
              <% end %>
            <%  end %>
          <% end  %>
          <tr>
                    <td style="font-size:11px;"colspan="<%=@count + 3 %>">
                      <%= @remarks  %>
                      <% @sub_employee = Subject.find(subject.id).employees %>&nbsp;&nbsp;
                      <% unless @sub_employee.empty?  %>
                        <div style="float:right;color:blue;margin-right: 50px;font-size:11px;"><%= @sub_employee.first.full_name %></div>
                      <% end %>
                    </td>
                  </tr>
                  <div style="margin-bottom: 5px; "></div>
        </table>
        </div>
        <% if j==7 %>
         <div style="page-break-before: always; margin-top: -9px;">
            <hr style="margin-left:-60px;margin-bottom:-15px">
             </div>
            <hr style="margin-left:-60px;margin-bottom: 20px;height:0px;">
          <% end %>
      <% end %>
                 <!-- Merge Subject -->
         <% unless merged_subjects.nil? %>
           <% @merge_ca = 0 %>
           <% @m_ca = 0 %>
           <% annual_score = [] %>
        <% merged_subjects.each_with_index do |merged_subject,i| %>
          <%  @merge_count = 0 %>
           <div style="margin-left:20px;">
          <table>
            <caption><%=  merged_subject.name %></caption>
            <tr>
              <% unless @ca_exam.nil? %>
                <% @ca_exam.each do |exam_group| %>
                   <%  @merge_count += 1 %>
                  <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
                <% end %>
              <% end %>
               <%  @merge_count += 1 %>
              <td style="color:blue; width:80px; text-align: center;font-size:11px"> <%= "Total CA (40)" %></td>
              <% unless @main_exam_group.nil? %>
                <% @main_exam_group.each do |exam_group| %>
                   <%  @merge_count += 1 %>
                  <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
                <% end %>
              <% end %>
               <%  @merge_count += 2 %>
              <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= "Total (100)" %></td>
              <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Term Grade" %> </td>
              <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
                   <%  @merge_count += 1 %>
                    <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= link_term.link_name%></td>
              <% end %>
              <% end %>
              <% unless @other_weighted_groups.nil? %>
                <% @other_weighted_groups.each do |exam_group|%>
                  <%  @merge_count += 1 %>
                  <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
                <% end %>
              <% end %>
              <% unless @unweighted_exam_groups.nil? %>
                <% @unweighted_exam_groups.each do |exam_group| %>
                  <%  @merge_count += 1 %>
                  <td style="color:blue; width:80px; text-align: center;font-size:11px;"> <%= exam_group.name %></td>
                <% end %>
              <% end %>
              <%  @merge_count += 1 %>
              <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Annual Score" %></td>
              <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Class Average" %></td>
              <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= "Annual Grade" %></td>
              <% @assigned_groups = ReportBuilder.assigned_subject_term_exam_groups(merged_subject.subject_id.first, @term_ids)  %>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <%  @merge_count += 1 %>
                  <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= SubjectExamGroup.find(assigned_group.subject_exam_group_id).name %></td>
                <% end %>
              <% end %>
            </tr>
            <% h = {} %>
            <% score = 0 %>
            <% class_avg = [] %>
            <%  main_score = 0 %>
            <% un_score = 0 %>
            <% oh_score = 0 %>
            <% as_ascore = 0 %>
            <% previous_total = 0 %>
            <%  merged_subject.subject_id.each do |subject| %>
              <% @mmg = 1;@g = 1 %>
              <% unless @ca_exam.nil? %>
                <% @ca_exam.each_with_index do |exam_group,i| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                        <% if i == 0 %>
                          <%   score = (exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms)).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms).to_f  : exam_score.marks).to_f %>
                           <% score = (score/7.5).to_f.round(2) %>
                        <% elsif i == 1%>
                          <%   score = (exam_score.nil? ? @term.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term)).to_f :  exam_score.marks.nil? ? @term.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term).to_f  : exam_score.marks).to_f %>
                          <%#   score = (exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term)).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term).to_f  : exam_score.marks).to_f %>
                          <% else %>
                          <%= '-' %>
                        <% end %>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <% if i == 0 %>
                          <%   score = (exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms)).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@ca_terms).to_f  : exam_score.marks).to_f %>
                           <% score = (score/7.5).to_f.round(2) %>
                        <% elsif i == 1%>
                          <%   score = (exam_score.nil? ? @term.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term)).to_f :  exam_score.marks.nil? ? @term.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term).to_f  : exam_score.marks).to_f %>
                          <%#   score = (exam_score.nil? ? @ca_terms.nil? ? 0 :  (ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term)).to_f :  exam_score.marks.nil? ? @ca_terms.nil? ? 0 :  ReportBuilder.midterm_to_end_of_term(subject.to_i,student.id,@term).to_f  : exam_score.marks).to_f %>
                          <% else %>
                          <%= '-' %>
                        <% end %>
                    <% else %>
                      <% score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <% score = 0 %>
                  <% end %>
                  <%  unless h["#{exam_group.name}"].nil? %>
                    <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] + score  %>
                  <% else %>
                    <% h["#{exam_group.name}"] = score %>
                  <% end %>
                <% end %>
              <% end %>
              <% unless @main_exam_group.nil? %>
                <%@main_exam_group.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.to_i,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                      <%  main_score = exam_score.nil? ? 0 :  exam_score.marks %>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <% main_score = exam_score.nil? ? 0 : exam_score.marks %>
                    <% else %>
                      <% main_score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <%   main_score = 0 %>
                  <% end %>
                  <%  unless h["#{exam_group.name}"].nil? %>
                    <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] +main_score  %>
                  <% else %>
                    <% h["#{exam_group.name}"] = main_score %>
                  <% end %>
                <% end %>
              <% end %>
              <% subjects = Subject.find subject.to_i  %>
               <% @term = Term.find(@term_ids.first) %> 
                <% ca_id = @term.ca_term_id %>
                <% ca_term = Term.find(ca_id) unless ca_id.nil? %>
                <% @ca = (ReportBuilder.term_first(subjects,student,ca_term)).to_f %>
               <% @m_ca += @ca%>
               <% @m_ca_1 = (@m_ca).to_f %>
              <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
                  <% @term = Term.find(link_term.link_term_id) %>
                  <%  unless h["#{link_term.link_name}"].nil? %>
                    <% h["#{link_term.link_name}"] =  h["#{link_term.link_name}"] +(ReportBuilder.term_first(subjects,student,@term)).to_f  %>
                  <% else %>
                    <% h["#{link_term.link_name}"] = (ReportBuilder.term_first(subjects,student,@term)).to_f %>
                  <% end %>
              <% end %>
              <% end %>

               <% @term = Term.find(@term_ids.first) %> 
                <% ca_id = @term.ca_term_id %>
                <% ca_term = Term.find(ca_id) unless ca_id.nil? %>
                  <% @batch.students.each do |student| %>
                 <% @ca_avg = ReportBuilder.merge_class_avg(student,subjects,ca_term) %>
                  <% @merge_ca += @ca_avg %>
                    <% end %>

               <% @class_avg = ReportBuilder.class_avg(subjects,@term) %>
                <% class_avg << @class_avg %>
                 <% @m_class_avg = ((class_avg.sum.to_f.round(2))/merged_subject.subject_id.count).to_f.round(2) %>


               <% unless @other_weighted_groups.nil? %>
                <% @other_weighted_groups.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.to_i,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                      <%  oh_score = exam_score.nil? ? 0 :  exam_score.marks %>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <%  oh_score = exam_score.nil? ? 0 :  exam_score.marks %>
                    <% else %>
                      <% oh_score = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <%   oh_score = 0 %>
                  <% end %>
                  <%  unless h["#{exam_group.name}"].nil? %>
                    <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] +oh_score  %>
                  <% else %>
                    <% h["#{exam_group.name}"] = oh_score %>
                  <% end %>
                <% end %>
              <% end %>
              <% unless @unweighted_exam_groups.nil? %>
                <% @unweighted_exam_groups.each do |exam_group| %>
                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.to_i,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <% unless @exam.nil? %>
                    <% if exam_group.exam_type == "MarksAndGrades" %>
                      <% un_score  = exam_score.nil? ? 0 :  exam_score.marks  %>
                    <% elsif exam_group.exam_type == "Marks" %>
                      <%un_score  = exam_score.nil? ? 0 :  exam_score.marks %>
                    <% else %>
                      <%  un_score  = exam_score.nil? ? 0 : (exam_score.grading_level || 0)  %>
                      <% @g = 0 %>
                    <% end %>
                  <% else %>
                    <%  un_score  =0 %>
                  <% end %>
                  <%  unless h["#{exam_group.name}"].nil? %>
                    <% h["#{exam_group.name}"] =  h["#{exam_group.name}"] +un_score  %>
                  <% else %>
                    <% h["#{exam_group.name}"] = un_score %>
                  <% end %>
                <% end %>
              <% end %>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <% @score = SubjectExamScore.find_by_student_id_and_assigned_exam_group_id(student,assigned_group.id) %>
                  <% unless @score.nil? %>
                    <%  as_ascore = @score.value %>
                  <% else %>
                    <%  as_ascore = 0 %>
                  <% end %>
                  <%  unless h["a-#{assigned_group.id}"].nil? %>
                    <% h["a-#{assigned_group.id}"] =  h["a-#{assigned_group.id}"] +as_ascore   %>
                  <% else %>
                    <% h["a-#{assigned_group.id}"] = as_ascore  %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <tr>
              <% ca = [] %>
              <% unless @ca_exam.nil? %>
                <% ca_total = 0 %>
                <% @ca_exam.each do |exam_group| %>
                  <%  ca_total = ca_total + h["#{exam_group.name}"] %>
                  <td style="text-align: center; font-size:11px;"> <%= @ca = (h["#{exam_group.name}"]/merged_subject.subject_id.count).round(2) unless h["#{exam_group.name}"]==0  %></td>
                 <% ca << @ca %>
                <% end %>
                <td style="text-align: center;color:blue; font-size:11px;"> <%= total_grade =  (ca_total/merged_subject.subject_id.count).round(2) unless ca_total==0 %></td>
              <% end %>
              <% unless @main_exam_group.nil? %>
                 <% main_score = 0 %>
                 <% @main_exam_group.each do |exam_group| %>
                   <% main_score = main_score + h["#{exam_group.name}"] %>
                   <td style="text-align: center; color:blue;font-size:11px;"><%= @main = (main_score/merged_subject.subject_id.count).to_f.round(2) %></td>
                 <% end %>
              <% end %>
              <td style="text-align: center; color:blue;font-size:11px;">  <%= @merg_total = (ca.sum + @main).to_f.round(2) %></td> 
              <% annual_score << @merg_total %>
              <% student_overall << @merg_total %>
              <% key_grade22(@subject_percentace) unless @subject_percentace.nil? %>
              <td style="text-align: center; font-size:11px;" ><%= @grade %></td>
              <%  unless @link_term_groups.blank? %>
                <% @link_term_groups.each do |link_term| %>
              <td style="color:blue; width:80px; text-align: center;font-size:11px;"><%= @merge_annual = ((@m_ca_1/merged_subject.subject_id.count)/5.to_f.round(2) + (h["#{link_term.link_name}"].to_f/merged_subject.subject_id.count).round(2)) unless h["#{link_term.link_name}"].nil? %> </td>
              <% annual_score << @merge_annual %>
              <% end %>
              <% end %>
              <% unless @other_weighted_groups.nil? %>
                <% @other_weighted_groups.each do |exam_group| %>
                  <td style="text-align: center; font-size:11px;"> <%=(h["#{exam_group.name}"]/merged_subject.subject_id.count).round(2) unless h["#{exam_group.name}"]==0 %></td>
                <%end%>
              <% end %>
              <% unless @unweighted_exam_groups.nil? %>
                <% @unweighted_exam_groups.each do |exam_group| %>
                  <td style="text-align: center; font-size:11px;"> <%= (h["#{exam_group.name}"]/merged_subject.subject_id.count).round(2) unless h["#{exam_group.name}"]==0  %></td>
                <% end %>
              <%end%>
              <% unless @assigned_groups.empty? %>
                <% @assigned_groups.each do |assigned_group| %>
                  <td style="text-align: center; font-size:11px;"> <%= (h["a-#{assigned_group.id}"]).chomp.split(//).uniq.join("") unless h["a-#{assigned_group.id}"].nil? %></td>
                <% end %>
              <% end %>
              <%# students_average_gpa(@grade) %>
              <td style="text-align: center; font-size:11px;" ><%= @c_avg = (@m_class_avg + (((@merge_ca/merged_subject.subject_id.count)/3)/5).to_f.round(2)) %></td>
              <% class_overall << @c_avg %>
              <td style="text-align: center; font-size:11px;"><%= @annual_score = ((annual_score.sum)/3).to_f.round(2) %></td>
              <td style="text-align: center; font-size:11px;"><%= key_grade22(@annual_score) %></td>
            </tr>
            <% @remarks =  ""  %>
            <% unless @term_exam_groups.nil? %>
            <% @term_exam_groups.each do |exam_group| %>
              <% @exam = Exam.find_by_subject_id_and_exam_group_id(merged_subject.subject_id.last,exam_group.id)   %>
              <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id}) unless @exam.nil? %>
              <% unless exam_score.nil? %>
                <% unless exam_score.remarks.nil? %>
                      <% @remarks = exam_score.remarks   %>
                <% end %>
              <% end %>
            <%  end %>
          <% end  %>
          <tr>
                    <td style="font-size:11px;"colspan="<%=@merge_count + 3 %>">
                      <%= @remarks  %>
                      <% @sub_employee = Subject.find(merged_subject.subject_id.last).employees %>&nbsp;&nbsp;
                      <% unless @sub_employee.empty?  %>
                        <div style="float:right;color:blue;margin-right: 50px;"><%= @sub_employee.first.full_name %></div>
                      <% end %>
                    </td>
                  </tr>
          <div style="margin-bottom: 5px; "></div>
        <% end %>
       </table>
      <% end %>
        </div>
    <% end %>
<% end %>
</div>
<div style="border-style: solid; border-color: blue; width: 800px;">
<table style="border: 0.1em solid #FFFFFF; width:760px; margin-top:8px;margin-left:5px;">
  <tr style="border: 0.1em solid #FFFFFF;" >
    <td style="border: 0.1em solid #FFFFFF; width:160px;text-align:right;font-size: 11px;">
    <b><%= "Student Overall Average:" %></b></td>
    <td style="border: 0.1em solid #FFFFFF; width:80px;font-size: 11px;">&nbsp;&nbsp;<%= @overall_student = ((student_overall.sum)/(@subjects.count + merged_subjects.count)).to_f.round(2) %></td>
    <td style="border: 0.1em solid #FFFFFF;"></td>
    <td style="border: 0.1em solid #FFFFFF;width:200px;text-align:right;font-size: 11px;"><b><%= "Class Overall Average:" %></b></td>
    <td style="border: 0.1em solid #FFFFFF; width:50px;font-size: 11px;float:right;">&nbsp;&nbsp;<%= ((class_overall.sum)/(@subjects.count + merged_subjects.count)).to_f.round(2) %></td>   
  </tr>
  <tr style="border: 0.1em solid #FFFFFF;">
    <td style="border: 0.1em solid #FFFFFF; width:160px;font-size: 11px;text-align:right;"><b>
    <%= "Student Overall Grade:" %></b></td><td style="border: 0.1em solid #FFFFFF; width:80px;">&nbsp;&nbsp;<%= key_grade22(@overall_student) %></td>
  </tr>
</table>

<table class="border1" style="width:770px; margin-top:10px;margin-left:5px; margin-bottom:20px;">
<tr class="border1" style="border: 0.1em solid #FFFFFF;"><td class="border1" style="border: 0.1em solid #FFFFFF;">
<table class="border1" style="width:150px; margin-right:40px; height:30px; border: 0.1em solid #FFFFFF;">
<tr class="border1" style"text-align:center;font-size: 11px;"><b><%= "Key Grades" %></b></tr>
    <tr>
       <td style="text-align:center;font-size: 11px;"><%= "90-100" %></td>
       <td style="text-align:center;font-size: 11px;"><%= "A*" %></td>
       <!-- <td style="text-align:center;font-size: 11px;"><%#= "Distinction" %></td> -->
     </tr>
     <tr>
       <td style="text-align:center;font-size: 11px;"><%= "80-89" %></td>
       <td style="text-align:center;font-size: 11px;"><%= "A" %></td>
       <!-- <td style="text-align:center;font-size: 11px;"><%#= "Excellent" %></td> -->
     </tr>
     <tr>
       <td style="text-align:center;font-size: 11px;"><%= "70-79" %></td>
       <td style="text-align:center;font-size: 11px;"><%= "B" %></td>
       <!-- <td style="text-align:center;font-size: 11px;"><%#= "Very Good" %></td> -->
     </tr>
     <tr>
       <td style="text-align:center;font-size: 11px;"><%= "60-69" %></td>
       <td style="text-align:center;font-size: 11px;"><%= "C" %></td>
       <!-- <td style="text-align:center;font-size: 11px;"><%#= "Credit" %></td> -->
     </tr>
     <tr>
       <td style="text-align:center;font-size: 11px;"><%= "50-59" %></td>
       <td style="text-align:center;font-size: 11px;"><%= "D" %></td>
       <!-- <td style="text-align:center;font-size: 11px;"><%#= "Credit" %></td> -->
     </tr>
     <tr>
       <td style="text-align:center;font-size: 11px;"><%= "40-49" %></td>
       <td style="text-align:center;font-size: 11px;"><%= "E" %></td>
       <!-- <td style="text-align:center;font-size: 11px;"><%#= "Pass" %></td> -->
     </tr>
     <tr>
       <td style="text-align:center;font-size: 11px;"><%= "0-39" %></td>
       <td style="text-align:center;font-size: 11px;"><%= "F" %></td>
       <!-- <td style="text-align:center;font-size: 11px;"><%#= "Fail" %></td> -->
     </tr>
</table>
</td>
<td class="border1" style="border: 0.1em solid #FFFFFF;">  
<table class="border1" style="width:300px; border: 0.1em solid #FFFFFF;">
<tr class="border1" style="text-align:center;font-size: 11px;"><b><%= "Scale" %></b></tr>
    <tr>  
      <td style="width:30px; border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "5" %>&nbsp;<%= "-"%></td>
      <td style="border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "Excellent degree of observable trait" %></td>
    </tr>
    <tr>
      <td style="width:30px; border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "4" %>&nbsp;<%= "-"%></td>
      <td style="border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "Good level of observable trait" %></td>
    </tr>
    <tr>
      <td style="width:30px; border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "3" %>&nbsp;<%= "-"%></td>
      <td style="border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "Fair but acceptable level of observable trait" %></td>
    </tr>
    <tr>
      <td style="width:30px; border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "2" %>&nbsp;<%= "-"%></td>
      <td style="border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "Poor level of observable trait" %></td>
    </tr>
    <tr>
      <td style="width:30px; border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "1" %>&nbsp;<%= "-"%></td>
      <td style="border: 0.1em solid #FFFFFF;font-size: 11px;"><%= "No observable trait" %></td>
    </tr>
</table>
</td>
<td class="border1" style="border: 0.1em solid #FFFFFF;">
<table class="border1" style="width:280px; border: 0.1em solid #FFFFFF;">
   <tr>
    <% unless @evaluation_groups.blank? %>
        <% @evaluation_groups.each do |group| %>
          <td style="width:180px;font-size: 11px;"><b><%= group.name %></b></td>
             
          <td style="width:20px;font-size: 11px;"><%= "5" %></td>
          <td style="width:20px;font-size: 11px;"><%= "4" %></td>
          <td style="width:20px;font-size: 11px;"><%= "3" %></td>
          <td style="width:20px;font-size: 11px;"><%= "2" %></td>
          <td style="width:20px;font-size: 11px;"><%= "1" %></td>
    </tr>          
    <% group.evaluation_types.each do |type| %>
      <tr>
          <td style="font-size: 11px;"><%= type.name%></td>
             <% @eval = ReportBuilder.grade_eval(@student,type,@term)%>
            <% @scales.each do |val| %>
            <% unless @eval.nil? %>
                <% if val.casecmp(@eval) == 0 %> 
                <td>&#42;</td>
                <% else %>
                <td></td>
                <% end %>
            <% else %>
              <td></td>
            <% end %>
           <% end %>
      </tr>
    <% end %>
    <% end %>
   <% end %>
</table>
</td>
</tr>
</table>

<div style="width:780px; margin-top:20px; margin-left:6px;">
        <div style="width:780px;margin-top:20px; height:50px;font-size: 11px;margin-bottom:5px;"><b><%= "Form Tutor's Comment:" %>&nbsp;&nbsp;&nbsp;</b>
             <div style="float:right;">
              <table style="height: 40px; width: 550px;">
                 <td style="font-size: 11px;"> <% @tutor_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,false) %> <%= @tutor_comment.description unless @tutor_comment.nil? %>
                 </td>
              </table>
            </div>
        </div>
        <table class="border" style="width:780px; margin-top:5px; height:50px;">
          <tr style="border-color: white;">
          <td colspan="2" style="font-size: 11px; border-top-style:none; border-bottom-style:none; border-left-style:none;"><b><%= "Signature:" %>&nbsp;</b>
          </td>
            <td colspan="4", style="height: 40px; width: 300px;">&nbsp;&nbsp;
              <% unless  @tutor.nil?%>
                <% if @tutor.signature_attachment.file? %>
                  <%= image_tag @tutor.signature_attachment.url,:size => "150x30" %>
                <% end %>
              <% end %>
            </td>
            <td colspan="2" style="text-align:center;font-size: 11px; border-top-style:none; border-bottom-style:none; border-left-style:none;"><% t = Time.now %><b><%= "Date" %>&nbsp;&nbsp;</b></td>
              <td colspan="2", style="height: 40px; width: 50px; text-align:center;font-size: 11px;">
              <%= t.strftime("%A")%>&nbsp;<%= t.strftime("%B") %>&nbsp;<%= t.strftime("%d") %>&nbsp;<%= t.strftime("%Y")%>
              </td>
         </tr>
        </table>
          <div style="width:780px;margin-top:5px; height:50px;font-size: 11px;"><b><%= "Principal’s  Comment:" %>&nbsp;&nbsp;&nbsp;</b>
              <table style="height: 40px; width: 550px; border: 3px solid black; float:right;">
                 <td style="font-size: 11px;"><% @head_comment =  TutorComment.find_by_student_id_and_term_id_and_batch_id_and_is_principal(student.id,@term.id,@batch.id,true) %><%= @head_comment .description unless @head_comment .nil? %>
                    </td>
              </table>
        </div>
<table class="border" style="width:780px; margin-top:5px; height:50px;">
  <tr style="border-color: white;">
  <td colspan="2" style="font-size: 11px; border-top-style:none; border-bottom-style:none; border-left-style:none;"><b><%= "Signature:" %>&nbsp;</b>
  </td>
    <td colspan="4", style="height: 40px; width: 300px;">&nbsp;&nbsp;
      <% unless  @principal.nil?%>
        <%= image_tag  @principal.signature_attachment.url,:size =>  "150x30"%>
      <% end %>
    </td>
      <td colspan="2" style="text-align:center;font-size: 11px; border-top-style:none; border-bottom-style:none; border-left-style:none;"><% t = Time.now %><b><%= "Date" %>&nbsp;&nbsp;</b></td>
      <td colspan="2", style="height: 40px; width: 40px; text-align:center;font-size: 11px;">
      <%= t.strftime("%A")%>&nbsp;<%= t.strftime("%B") %>&nbsp;<%= t.strftime("%d") %>&nbsp;<%= t.strftime("%Y")%>
      </td>
 </tr>
</table>          
</div>
</div>
</body>
</html>


<style>
  hr {
      border-style: solid;
      border-color: blue;
      border-width: 2px;
}
  /*.first-hr {
    margin-top: 2%;
  }*/
  </style>