<% unless @comment.nil? %>
  <%= @comment.description %>
  <p style="color: limegreen;margin-top:-10px;margin-right:60px;font-size:14px;float:right"><%= Employee.find_by_user_id(@comment.user_id).full_name.upcase  %></p>
<% end %>
