<div class="label-field-pair">
  <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
  <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
  <div class="text-input-bg">
    <%= select "", :batch_id,
      @batches.map{|b|  [b.full_name, b.id]},
      {:prompt => "#{t('select_a_batch')}"},
      {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "batch_students"},
      :with => "'batch_id='+ value + '&template_id=' + #{params[:template_id]} + '&student_id='+ #{params[:student_id] == "true" ? true : false}",
      :before => "Element.show('loader_batch')",
      :success => "Element.hide('loader_batch')")}"}
  %>
  </div>
</div>