<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('batch_wise_report')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :custom_reports, :url=>{:action=>"batch_wise_pdf_report"}, :html => {:target => '_blank'} do |f| %>
    <div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_template')}" %>:</label>
      <div class="text-input-bg">
        <%= select "",:template_id,
          @templates.map {|b| [b.name, b.id]},
          {:prompt => "#{t('select_a_template')}"}
      %>
      </div>
    </div>

    <div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
      <div class="text-input-bg">
        <%= select "", :batch_id,
          @batches.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_batch')}"}
        %>
      </div>
    </div><br />
    <%= f.submit "► #{t('pdf_report')}", :class=>"submit-button" %>
  <% end %>
</div>
