<%= stylesheet_link_tag 'report_builders/generate_template.css' %>
<script type="text/javascript" src="/tinymce/tinymce.js"></script>
<!-- tinymce 4.0.5 dev pkg -->
<%= render "form" %>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :report_builders_edit, @template %>
    <%= render_breadcrumbs  %>
</div>
<% @template = ReportBuilder.find(params[:id]) %>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] -%> </p>
  <% end %>

  <% form_for @template, :url => {:controller => "report_builders",:action=>"update"} do |c| -%>
    <%#= c.error_messages %>
    <div class="news_label_field">
      <div class="label-field">Report Name</div>
      <div id="news_title_text_field_bg"><%= c.text_field :name, :class =>"input" %></div>
    </div>
    <div class="label-field">Design Report</div>
    <div class="editor_size">
      <%= c.text_area :description, :cols => 8, :rows => 21 %><br />
      <%= submit_tag "►  "  "#{t('update_format')}", :class=> "submit_button"  %>
    </div>
    <%= c.hidden_field :id, :value => @template.id %>
  <% end %>

</div>
<!--{text:'Descriptive Report Data', menu:[{text:'sub1'},{text:'sub2'}], onclick: function() {editor.insertContent('$%<i><%#= "menu2" %></i>%');}},-->