<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('add_elective_group_comment')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :comments do |f| %>
    <%= hidden_field_tag :user_id, @current_user.id  %>



    <div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
      <div class="text-input-bg">
        <%= select "", :batch_id,
          @batches.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "batch_elective_groups"},
          :with => "'batch_id='+ value",
          :before => "Element.show('loader_batch')",
          :success => "Element.hide('loader_batch')")}"}
      %>
      </div>
    </div><br />
   
    <div id="batch_elective_groups"> </div>
    
 

    <%= f.submit "► #{t('add_comment')}", :class=>"submit-button" %>
  <% end %>
</div>
