<script type="text/javascript" src="/tinymce/tinymce.js"></script>
<!-- <%= stylesheet_link_tag "design_custom_reports/new"  %> -->
<!-- tinymce 4.0.5 dev pkg -->
<%= render "form" %>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
  <div class="header-sep">|</div>
  <div class="sub-header"><%= t('new') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] -%> </p>
  <% end %>
<% @template = ReportBuilder.new %>
  <% form_for @template, :url => {:controller => "report_builders",:action=>"create_template"} do |c| -%>
    <%= c.error_messages %>
    <div class="news_label_field">
      <div class="label-field">Template Name</div>
      <div id="news_title_text_field_bg"><%= c.text_field :name, :class =>"input" %></div>
    </div>
    <div class="label-field">Design Report</div>
    <div class="editor_size">
      <%= c.text_area :description, :cols => 8, :rows => 21, :value=>params[:description] %><br />
      <%= submit_tag "►  "  "#{t('save_format')}", :class=> "submit_button"  %>
    </div>
  <% end %>

</div>

