<%= stylesheet_link_tag "exam/index" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('generate_report') %></h1>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
    <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to  t('student_wise_report') , :controller=> "report_builders",:action=>'student_wise_report' %></div>
      <div class="link-descr"><%= t('view_studentwise_report') %></div>
    </div>

      <div class="link-box">
      <div class="link-heading"><%= link_to  t('batch_wise_report'), :controller=> "report_builders",:action=>'batch_wise_report' %></div>
      <div class="link-descr"><%= t('view_batchwise_report') %></div>
    </div>

    <div class="extender"></div>
  </div>
</div>


