<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('home_work_ratings')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>


  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :ratings  do |f| %>
    <%= hidden_field_tag :user_id, @current_user.id  %>
    <br /><div class="label-field-pair">
      <label for="configuration_currency_type"><%= "Add Rating" %>:</label>
      <div class="text-input-bg">
        <%= select "", :rating,["Usually Completed","Sometimes Completed","Seldom Completed"] %>
      </div>
    </div>
    <div class="label-field-pair">
      <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
      <div class="text-input-bg">
        <%= select "", :batch_id,
          @batches.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:controller => "terms",:action => "tutor_batch_students"},
          :with => "'batch_id='+ value",
          :before => "Element.show('loader_batch')",
          :success => "Element.hide('loader_batch')")}"}
      %>
      </div>
    </div>
    <div id="batch_students"> </div><br />
    <%= f.submit "► #{t('save')}", :class=>"submit-button", :style => "width:80px;" %>
  <% end %>
</div>