<%= stylesheet_link_tag  "exams/show"  %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('house_parent_comment')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :comment do |f| %>
    <%= hidden_field_tag :user_id, @current_user.id  %>
  
          <%#= text_area "", :description,:size =>"30x4" %>


    <div class="label-field-pair1">
      <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
      <div class="text-input-bg1">
        <%= select "", :batch_id,
          @batches.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "boarding_students"},
          :with => "'batch_id='+ value",
          :before => "Element.show('loader_batch')",
          :success => "Element.hide('loader_batch')")}"}
      %>
      </div>
    </div>

    <div id="boarding_students"> </div><br />
    <%= f.submit "► #{t('add_comment')}", :class=>"submit-button" %>
  <% end %>
</div>

<style>
  .label-field-pair1 {
    height: 40px;
    width: 600px;
    padding-top: 3px;
}

.text-input-bg1 {
    background: transparent;
    height: 28px;
    width: 250px;
    float: left;
}

.label-field-pair1 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair1 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 205px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.label-field-pair1 select {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 10px;
    padding: 5px;
    width: 215px;
    height: 28px;
}

.text-input-bg1 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
</style>