<%= javascript_include_tag "lmcbutton"%>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
  <%#*<div class="header-sep">|</div>%>
  <!--div class="sub-header"><%#= t('images') %></div-->
</div>

<h3><u>Report Builder Images..</u></h3>
<h4>Upload Image.</h4>
<% form_tag('/report_builders/upload_image', :multipart=> true) do %>
  <%= file_field 'upload', 'datafile' %>
  <%= submit_tag "Upload" %>
<% end %>
<h4>Select Image.</h4>
<% @images = Dir.glob("public/report_builder_images/*") %>
<% @images.each_with_index do |image_path, i| %>
&nbsp;&nbsp;&nbsp;<%= image_tag "/report_builder_images/#{image_path.split('/').last}", :size => "75x75" %>
  <% loc = image_path.split("/").drop(1).join("/") %>
  <script type="text/javascript"> ShowLMCButton('<%="../../"+loc %>', 'Copy!','close_window()','/lmcbutton.swf');  </script>
  <%#= link_to "delete", {:action=>"delete_img", :path=>image_path}, :confirm => "Are you sure?" %>
  <%= link_to (image_tag "/images/delete_icon.gif"), {:action=>"delete_img", :path=>image_path}, :confirm => "Are you sure?" %><br/><br/>
<% end %>
  <%#*pagination to be implemented%>