<%= stylesheet_link_tag "exam/index" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if @current_user.admin? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('create_template')}", { :action=>:generate_template} %></div>
        <div class="link-descr"><%= t('create_template_for_reports') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('generate_report')}", {:action=>:generate_report} %></div>
        <div class="link-descr"><%= t('generate_report_for_student') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('template')}", {:action=>:view_template} %></div>
        <div class="link-descr"><%= t('view_templates') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('assign_template')}" ,:controller =>"terms", :action=>'assign_template' %></div>
        <div class="link-descr"><%= t('assign_template_desc') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('upload_signature')}" ,:controller =>"terms", :action=>'upload_signature' %></div>
        <div class="link-descr"><%= t('upload_sinature_desc') %></div>
      </div>
    <% end %>
    <% if (@current_user.privileges.include?(Privilege.find_by_name("TermManager")) and @current_user.employee?) or @current_user.admin? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('head_teacher')}/#{t('tutor_comments')}" ,:controller =>"terms", :action=>'tutor_comments' %></div>
        <div class="link-descr"><%= t('tutor_comment_desc') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('home_work_ratings')}" , :action=>'home_work_ratings' %></div>
        <div class="link-descr"><%= t('home_work_desc') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('add_elective_group_comment')}" , :action=>'elective_group_comment' %></div>
        <div class="link-descr"><%= t('add_elective_group_desc') %></div>
      </div>
     <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('junior_batch_ratings')}" ,:controller =>"terms", :action=>'junior_batch_ratings' %></div>
        <div class="link-descr"><%= t('junior_rating_comment') %></div>
      </div>
      <% if @current_user.employee? %>      
     <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('assign_alpha_numeric_batch')}" ,:controller =>"alpha_numeric_batches", :action=>'index' %></div>
        <div class="link-descr"><%= t('assign_alpha_numeric_batch') %></div>
      </div>
      <% end %>
    <% end %>
    <%  if (@current_user.privileges.include?(Privilege.find_by_name("TermManager"))  and @detail == "true") or  @current_user.admin? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('house_parent_comment')}" , :action=>'house_parent_comment' %></div>
        <div class="link-descr"><%= t('house_parent_comment_desc') %></div>
      </div>
    <% end %>

          <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('excel_template')}" ,:controller =>"term_documents", :action=>'index' %></div>
        <div class="link-descr"><%= t('create_excel') %></div>
      </div>

    <% if @current_user.admin? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('view_comments')}" , :action=>'view_comments' %></div>
        <div class="link-descr"><%= t('view_comments_desc') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('report_pickup_date')}" ,:controller =>"report_pickup_dates", :action=>'create_report_pickup_date' %></div>
        <div class="link-descr"><%= t('create_report_pickup_date') %></div>
      </div>
      
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('assign_alpha_numeric_batch')}" ,:controller =>"alpha_numeric_batches", :action=>'index' %></div>
        <div class="link-descr"><%= t('assign_alpha_numeric_batch') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('explanatory_notes')}" ,:controller =>"explanatory_notes", :action=>'new_explanatory_notes' %></div>
        <div class="link-descr"><%= t('create_explanatory_notes') %></div>
      </div>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
