<%= stylesheet_link_tag "exam/index" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('reports_terms')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('term_wise_management')}" ,:controller =>"terms", :action=>'home' %></div>
        <div class="link-descr"><%= t('term_wise_management') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('report_builder')}" ,:controller =>"report_builders", :action=>'index' %></div>
        <div class="link-descr"><%= t('report_builder') %></div>
      </div>
    <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('set_notification')}" ,:controller =>"remainder_notifications", :action=>'set_notification' %></div>
        <div class="link-descr"><%= t('notification_settings') %></div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('broad_sheet')}" ,:controller =>"rank_ingres_homes", :action=>'broadsheets' %></div>
        <div class="link-descr"><%= t('generte_csv_files') %></div>
      </div>
    </div>
    </div>


