<div id="content-header">
    <%= show_header_icon %>
    <h1><%= "#{t('student_wise_report')}"%></h1><br />
    <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

    <% unless flash[:notice].nil? %>
       <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% form_remote_for :custom_reports, :url=>{:action=>"student_display"},:html => {:multipart => true} do |f| %>
        <%= hidden_field_tag :type, "general"  %>
        <%= hidden_field_tag :student_id, params[:student_id] %>

        <%  if params[:student_id] %>
            <div class="label-field-pair">
              <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
              <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
            <div class="text-input-bg">
               <%= select "", :batch_id,
               @student_batches.map {|b| [b.full_name, b.id]},
               {:prompt => "#{t('select_a_batch')}"},
               {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "batch_students"},
                :with => "'batch_id='+ value + '&student_id='+ #{params[:student_id] ? true : false} + '&profile='",
                :before => "Element.show('loader_batch')",
                :success => "Element.hide('loader_batch')")}"}
               %>
           </div>
           </div>
           <div id="batch_students"> </div><br />
        <% else %>
           <div class="label-field-pair">
             <label for="student_batch"><%= "#{t('select_a_template')}" %>:</label>
           <div class="text-input-bg">
            <%= select "", :template_id,
              @templates.map {|b| [b.name, b.id]},
              {:prompt => "#{t('select_a_template')}"},
              {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "update_batches"},
               :with => "'template_id='+ value + '&student_id='+ #{params[:student_id].present? ? true : false}",
               :before => "Element.show('loader_batch')",
               :success => "Element.hide('loader_batch')")}"}
           %>
          </div>
          </div>
          <div id="template_batch">
          <div class="label-field-pair">
          <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
              <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
          <div class="text-input-bg">
              <%= select "", :batch_id,
              "",
              {:prompt => "#{t('select_a_batch')}"},
              {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "batch_students"},
              :with => "'batch_id='+ value",
              :before => "Element.show('loader_batch')",
              :success => "Element.hide('loader_batch')")}"}
              %>
          </div>
          </div>
          </div>
          <div id="batch_students"> </div><br />
         <% end %>
            <%= f.submit "► #{t('disp_report')}", :class=>"submit-button"%><br /><br />
<% end %>
   </div>
            <div id="student-display">
               <%= render :partial => "student_display_report" %>
            </div>
          