<div id="content-header">
    <%= show_header_icon %>
    <h1><%= "#{t('student_wise_report')}"%></h1>
<div id="inner-tab-menu">
  <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "► #{t('disp_report')}",{:controller => "report_builders", :action => "student_wise_display_report", :student_id => params[:student_id] } %></li>
  </ul>
</div>
    </div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

    <% unless flash[:notice].nil? %>
       <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% form_for :custom_reports, :url=>{:action=>"student_wise_pdf_report"},:html => {:target => "_blank",:multipart => true} do |f| %>
        <%= hidden_field_tag :type, "general"  %>
        <%= hidden_field_tag :student_id, params[:student_id] %>
    
        <%  if params[:student_id] %>
            <div class="label-field-pair">
              <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
              <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
            <div class="text-input-bg">
               <%= select "", :batch_id,
               @student_batches.uniq.map {|b| [b.full_name, b.id]},
               {:prompt => "#{t('select_a_batch')}"},
               {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "batch_students"},
                :with => "'batch_id='+ value + '&student_id='+ #{params[:student_id] ? true : false} + '&profile='",
                :before => "Element.show('loader_batch')",
                :success => "Element.hide('loader_batch')")}"}
               %>
           </div>
           </div>
           <div id="batch_students"> </div><br />
  <% else %>
           <div class="label-field-pair">
             <label for="student_batch"><%= "#{t('select_a_template')}" %>:</label>
           <div class="text-input-bg">
            <%= select "", :template_id,
              @templates.map {|b| [b.name, b.id]},
              {:prompt => "#{t('select_a_template')}"},
              {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "update_batches"},
               :with => "'template_id='+ value + '&student_id='+ #{params[:student_id].present? ? true : false}",
               :before => "Element.show('loader_batch')",
               :success => "Element.hide('loader_batch')")}"}
           %>
          </div>
          </div>
          <div id="template_batch">
          <div class="label-field-pair">
          <label for="student_batch"><%= "#{t('select_a_batch')}" %>:</label>
              <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; margin-top:11px;" ) %>
          <div class="text-input-bg">
              <%= select "", :batch_id,
              @batches.map {|b| [b.name,b.id]},
              {:prompt => "#{t('select_a_batch')}"},
              {:onChange => "#{remote_function(:url => {:controller => "report_builders",:action => "batch_students"},
              :with => "'batch_id='+ value",
              :before => "Element.show('loader_batch')",
              :success => "Element.hide('loader_batch')")}"}
              %>
          </div>
          </div>
          </div>
          <div id="batch_students"> </div><br />
         <% end %>
            <%= f.submit "► #{t('pdf_report')}", :class=>"submit-button"%>
<% end %>
</div> 