<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
</div>
<%= stylesheet_link_tag "exam/index" %>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if @current_user.admin? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('view_tutor_comments')}", { :action=>:view_tutor_comments} %></div>
        <div class="link-descr"><%= t('view_tutor_comments_desc') %></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('view_house_parent_comments')}", {:action=>:view_house_parent_comments} %></div>
        <div class="link-descr"><%= t('view_house_parent_comments_desc') %></div>
      </div>
    <% end %>
  </div>
</div>
