<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('template')}"%></h1>
</div>

<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <ul id="category-list">
    <% @templates.each_with_index do |report,i| %>
      <% i +=1 %>
      <li class="list<%= cycle('odd', 'even')%>">
        <div class="sl_no"><%= i %></div>
        <div class="category-name"><%=link_to report.name.slice(0,1).capitalize + report.name.slice(1..-1), :action => "generate_report", :custom_id => report.id %></div>
        <%# if @report_privileges.include?("ReportDesignerManager") || @current_user.admin? %>
          <div class="category-delete"><%= link_to "Edit", :action => :edit, :id => report.id %>&nbsp&nbsp|</div>
          <div class="category-delete">
               <%  if report.assign_templates.blank? %>
              <%= link_to "Delete", {:action => :destroy, :id => report.id }, :confirm => "Are you sure?" %>
              <% else %>
                 <strike>Delete</strike>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
