<%= stylesheet_link_tag  "exam/create_exam"  %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('view_house_parent_comments') %></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div class="label-field-pair">
      <label for="student_course"><%= t('select_a_course') %>:
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </label>
      <div class="text-input-bg">
        <%= select :courses, :name,
          @course.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_course')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_batch"},
          :with => "'course_name='+ value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"
          )}"} %>
      </div>
    </div>

    <div id="update_batch" >
    </div>
    <div id="house_parent_comment"></div>
    <div class="extender"></div>
  </div></div>
