<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('admission') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%=  t('student_detail_step1') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% if @config.config_value == '0' %>
    <%unless @last_admitted_student.nil?%>
      <p class="flash-msg"><%= t('admission_no_of_last_stud') %> <%= @last_admitted_student.username %> </p>
    <% end %>
  <% end %>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for(@student, :url => {:action=> 'admission1'}, :html=> {:multipart=>true}) do |s| %>
    <%= error_messages_for 'student', :header_message => nil %>

    <div id="admission1_form">

      <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div>

      <div id="autofill-area">

        <div class="student_admission_date">
          <label for="student_admission_no"><%= t('admission_number') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg-admission">
            <% unless @config.config_value == '0' or @next_admission_no.nil? %>
              <%= s.text_field :admission_no , :value=> @next_admission_no %>
            <% else %>
              <%= s.text_field :admission_no %>
            <% end %>
          </div>
        </div>

        <div class="student_admission_date">
          <label for="student_admission_date"><%= t('admission_date') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg-admission">
            <%= calendar_date_select_tag 'student[admission_date]', I18n.l(@student.admission_date || FedenaTimeSet.current_time_to_local_time(Time.now).to_date,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>

      </div>

      <span class="span-sub-heading"><%= t('personal_details') %></span>
      <hr class="sub-heading"></hr>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('first_name') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= s.text_field :first_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('middle_name') %></label>
        <div class="text-input-bg"><%= s.text_field :middle_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('last_name') %></label>
        <div class="text-input-bg"><%= s.text_field :last_name %></div>
      </div>


      <div id="admission1_form_vertical_block_left">


        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_date_of_birth"><%= t('date_of_birth') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[date_of_birth]',
              I18n.l(@student.date_of_birth || FedenaTimeSet.current_time_to_local_time(Time.now).to_date-5.years,:format=>:default) , :year_range => 72.years.ago..0.years.ago,:popup=>"force" %>
          </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label_field_pair">
          <label class="label_for_student_gender" for="student_gender"><%= t('gender') %></label>
          <div class="student_gender_value">
            <label class="label_for_gender" for="student_gender_true"> <%= t('male') %></label>
            <%= s.radio_button  "gender", "m", :checked => "checked" %>
            <label class="label_for_gender" for="student_gender_false"><%= t('female') %></label>
            <%= s.radio_button  "gender", "f" %>
          </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_blood_group"><%= t('blood_group') %></label>
          <div class="text-input-bg"><%= select :student, :blood_group, Student::VALID_BLOOD_GROUPS, {:include_blank => t('unknown')}%></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_birth_place"><%= t('birth_place') %></label>
          <div class="text-input-bg"><%= s.text_field :birth_place %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_nationality"><%= t("nationality") %></label>
          <div class="text-input-bg">
            <%= select :student, :nationality_id, Country.all.map {|c| [c.full_name, c.id]}, :selected=> @student.nationality_id || @selected_value.to_i %>
          </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_birth_place"><%= t("mother_tongue") %></label>
          <div class="text-input-bg"><%= s.text_field :language %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_category"><%= t('category') %></label>
          <div class="text-input-bg"><%= s.select :student_category_id, @categories.map {|c| [c.name, c.id]}, { :prompt => "#{t('select_a_category')}" } %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_religion"><%= t('religion') %></label>
          <div class="text-input-bg"><%= s.text_field :religion %></div>
        </div>

      </div>

      <div id="admission1_form_vertical_block_right">
        <span class="span-sub-heading"><%= t('contact_details') %></span>
        <hr class="sub-heading"></hr>
        <div class="label-field-pair">
          <label for="student_city"><%= t('address_line') %>1</label>
          <div class="text-input-bg"><%= s.text_field :address_line1 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_city"><%= t('address_line') %>2</label>
          <div class="text-input-bg"><%= s.text_field :address_line2 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_city"><%= t('city') %></label>
          <div class="text-input-bg"><%= s.text_field :city %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_state"><%= t('state') %></label>
          <div class="text-input-bg"><%= s.text_field :state %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_pin_code"><%= t('zip') %></label>
          <div class="text-input-bg"><%= s.text_field :pin_code %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_country"><%= t('country') %></label>
          <div class="text-input-bg"> <%= select :student, :country_id, Country.all.map {|c| [c.full_name, c.id]}, :selected=> @student.country_id || @selected_value.to_i %> </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_phone1"><%= t('phone') %></label>
          <div class="text-input-bg"><%= s.text_field :phone1 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_phone2"><%= t('mobile') %></label>
          <div class="text-input-bg"><%= s.text_field :phone2 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_email"><%= t('email') %></label>
          <div class="text-input-bg"><%= s.text_field :email %></div>
        </div>
        <br />

        <div id="admission1_form_vertical_block_right">
          <span class="span-sub-heading"><%= t('course_and_batch_details') %></span>
          <hr class="sub-heading"></hr>

          <div class="label-field-pair">
            <label for="student_grade"><%= t('course_text') %><span class="necessary-field">*</span></label>
            <div class="text-input-bg"><%= select(:course,"", options_for_select(Course.active.map {|c| [c.full_name, c.id]}, :selected => @selected_course.to_i),{:prompt=> "#{t('select_a_course')}"}, :onchange => "render_batch_list(j(this).val());") %></div>
            <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
          </div>
          <hr class="label-underline"></hr>

          <div class="label-field-pair" id="batches_list">
            <label for="student_grade"><%= t('batch') %><span class="necessary-field">*</span></label>
            <div class="text-input-bg"><%= select :student, :batch_id, options_for_select(@batches.map {|b| [b.full_name,b.id]}, :selected => @selected_batch.to_i), {:prompt=> "#{t('select_a_batch')}"} %></div>
          </div>
          <hr class="label-underline"></hr>

          <%  if roll_number_enabled? %>
            <div class="label-field-pair">
              <label for="student_roll_number"><%= t('roll_no') %></label>
              <div class="text-input-bg">
                <div id="prefix"><%= @roll_number_prefix %></div>
                <%= s.text_field :roll_number, :value => (params[:student][:roll_number] if params[:student]) %>
              </div>
            </div>
          <% end %>
        </div>


        <div id="admission1_form_vertical_block_right">
          <span class="span-sub-heading"><%= t('settings') %></span>
          <hr class="sub-heading"></hr>
          <div class="label-field-pair">
            <label for="biometric_id"><%= t('biometric_id') %></label>
            <div class="text-input-bg"><%= s.text_field :biometric_id %></div>
          </div>
          <% if @application_sms_enabled.is_enabled == true %>
            <hr class="label-underline"></hr>
            <div class="label-field-pair">
              <label for="student_sms"><%= t('enable_sms_feature') %></label>
              <div class="text-input-bg"><%= s.check_box :is_sms_enabled %></div>
            </div>
          <% end %>
          <hr class="label-underline"></hr>
          <div class="label-field-pair">
            <label for="student_sms"><%= t('enable_email_feature') %></label>
            <div class="text-input-bg"><%= s.check_box :is_email_enabled %></div>
          </div>
          <br/>
          <script>
            (function($){$.fn.filestyle=function(options){var settings={width:250};if(options){$.extend(settings,options);};return this.each(function(){var self=this;var wrapper=$("<div>").css({"width":settings.imagewidth+"px","height":settings.imageheight+"px","background":"url("+settings.image+") 0 0 no-repeat","background-position":"right","display":"inline","position":"absolute","overflow":"hidden"});var filename=$('<input class="file">').addClass($(self).attr("class")).css({"display":"inline","width":settings.width+"px"});$(self).before(filename);$(self).wrap(wrapper);$(self).css({"position":"relative","height":settings.imageheight+"px","width":settings.width+"px","display":"inline","cursor":"pointer","opacity":"0.0"});if($.browser.mozilla){if(/Win/.test(navigator.platform)){$(self).css("margin-left","-142px");}else{$(self).css("margin-left","-168px");};}else{$(self).css("margin-left",settings.imagewidth-settings.width+"px");};$(self).bind("change",function(){filename.val($(self).val());});});};})(jQuery);
          </script>
        </div>
        <span class="span-sub-heading"><%= t('upload_photo') %></span>
        <hr class="sub-heading"></hr>
        <div class="label-field-pair" id="user_photo">
          <label for="student_image_file"><%= t('upload_photo') %></label>
          <div class="text-input-bg"><%= s.paperclip_file_field :photo, :size=>12, :direct => false %></div>
          <div id="warning_info">
            <p><%= t('maximum_image_size') %></p>
            <p><%= t('recomended_resolution') %></p>
          </div>

        </div><br />
        <span class="span-sub-heading"><%= t('upload_complete_photo') %></span>
        <hr class="sub-heading"></hr>
        <div class="label-field-pair" id="user_photo">
          <label for="student_image_file"><%= t('upload_complete_photo') %></label>
          <div class="text-input-bg"><%= s.paperclip_file_field :upload_document, :size=>12, :direct => false %></div>
          <div id="warning_info">
            <p><%= t('maximum_image_size') %></p>
            <p><%= t('recomended_resolution') %></p>
          </div>

        </div>
      </div>
      <div class="extender">

      </div>
    </div>
    <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
    <%= submit_tag "", :value => "► #{t('save_and_proceed')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>
  <% end %>

</div>


<script type="text/javascript">
  function render_batch_list(course_id){
    j("#loader").show();
    j.get('/student/render_batch_list',{id: course_id}, function() {
      j("#loader").hide();
    });
  }

  function set_prefix(batch_id){
    if ('<%= roll_number_enabled? %>' ) {
      j("#loader").show();
      j.get('/student/set_roll_number_prefix',{id: batch_id}, function(resp){
        if (resp.prefix != null)
        {
          j("#prefix").text(resp.prefix);
        }
        else{
          j("#prefix").text("-");
        }
        j("#loader").hide();

      });
    }
  }
</script>
