<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('edit_details') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('student_details') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :student_edit, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for @student, :url => {:action => 'edit'}, :html => {:multipart => true} do |s| %>
    <%= error_messages_for 'student' %>
    <div id="admission1-form">
      <div id="necessary-field-notification"><%= t('legend1') %><span class="necessary-field">*</span> <%= t('legend2') %></div>

      <div id="autofill_area">

        <div class="label-field-pair-edit">
          <label for="master_student_admission_no"><%= t('admission_no') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= s.text_field :admission_no %></div>
        </div>

        <div class="label-field-pair-edit">
          <label for="master_student_admission_date"><%= t('admission_date') %> <span class="necessary-field">*</span></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[admission_date]', I18n.l(@student.admission_date,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now,:popup => "force" %>
          </div>
        </div>

        <div class="extender"></div>

      </div>

      <span class="span-sub-heading"><%= t('personal_details') %></span>

      <hr class="sub-heading"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= t('first_name') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :first_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= t('middle_name') %></label>
        <div class="text-input-bg"><%= s.text_field :middle_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= t('last_name') %></label>
        <div class="text-input-bg"><%= s.text_field :last_name %></div>
      </div>
      <hr class="label-underline"></hr>


      <div id="admission1_form_vertical_block_left">


        <div class="label-field-pair">
          <label for="master_student_date_of_birth"><%= t('date_of_birth') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[date_of_birth]',
              I18n.l(@student.date_of_birth,:format=>:default), :year_range => 72.years.ago..0.years.ago ,:readonly=>true,:popup => "force"  %>
          </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair-gender">

          <label class="label-gender-edit" for="master_student_gender"><%= t('gender') %></label>
          <div class="edit_student_gender">
            <label class="label_for_gender" for="master_student_gender_true"><%= t('male') %></label>
            <%= s.radio_button  "gender", "m" %>
            <label class="label_for_gender" for="master_student_gender_false"><%= t('female') %></label>
            <%= s.radio_button  "gender", "f" %>
          </div>

          <div class="extender"></div>

        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_blood_group"><%= t('blood_group') %></label>
          <div class="text-input-bg"><%= select :student, :blood_group, Student::VALID_BLOOD_GROUPS,{:include_blank => t('select_blood_group')},
              :selected => @student.blood_group %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_birth_place"><%= t('birth_place') %></label>
          <div class="text-input-bg"><%= s.text_field :birth_place, :value =>@student.birth_place %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_nationality"><%= t('nationality') %></label>
          <div class="text-input-bg"><%= select :student, :nationality_id, Country.all.map {|c| [c.full_name, c.id]}, :selected => @student.nationality.id %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_birth_place"><%= t('mother_tongue') %></label>
          <div class="text-input-bg"><%= s.text_field :language, :value => @student.language %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_religion"><%= t('religion') %></label>
          <div class="text-input-bg"><%= s.text_field :religion, :value =>@student.religion %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_category"><%= t('category') %></label>
          <div class="text-input-bg"><%= select :student, :student_category_id, @student_categories.map {|c| [c.name, c.id]}, { :prompt => 'Select category' } %></div>
        </div>
      </div>
      <br/>

      <span class="span-sub-heading"><%= t('contact_details') %></span>
      <hr class="sub-heading"></hr>

      <div id="admission1_form_vertical_block_right">

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('address_line1') %></label>
          <div class="text-input-bg"><%= s.text_field :address_line1, :value => @student.address_line1 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('address_line2') %></label>
          <div class="text-input-bg"><%= s.text_field :address_line2, :value => @student.address_line2 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('city') %></label>
          <div class="text-input-bg"><%= s.text_field :city, :value => @student.city %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_state"><%= t('state') %></label>
          <div class="text-input-bg"><%= s.text_field :state, :value =>@student.state %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_pin_code"><%= t('zip') %></label>
          <div class="text-input-bg"><%= s.text_field :pin_code, :value =>@student.pin_code %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_country"><%= t('country') %></label>
          <div class="text-input-bg"><%= select :student, :country_id, Country.all.map {|c| [c.full_name, c.id]}, :selected => @student.country.id %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_phone1"><%= t('phone') %></label>
          <div class="text-input-bg"><%= s.text_field :phone1, :value =>@student.phone1 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_phone2"><%= t('mobile') %></label>
          <div class="text-input-bg"><%= s.text_field :phone2, :value =>@student.phone2 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_email"><%= t('email') %></label>
          <div class="text-input-bg"><%= s.text_field :email, :value => @student.email %></div>
        </div>




        <div id="admission1_form_vertical_block_left">



          <span class="span-sub-heading"><%= t('course_and_batch_details') %></span>
          <hr class="sub-heading"></hr>
          <div id="desable_div_course_details">
            <div class="disable_msg"><%= t("course_and_batch_disable_text") unless @student_dependency%></div>
            <div class="label-field-pair">
              <label for="student_grade"><%= t('course_text') %><span class="necessary-field">*</span></label>
              <div class="text-input-bg">
                <% if @student_dependency%>
                  <%= select(:course,"", options_for_select(Course.active.map {|c| [c.full_name, c.id]}, :selected => @student.batch.course.id),{}, :onchange => "render_batch_list(j(this).val());") %>
                  <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
                <%else%>
                  <label style="font-weight:300">
                    <%=@student.batch.course.full_name%>
                  </label>
                <%end%>
              </div>
            </div>
            <hr class="label-underline"></hr>
            <div class="label-field-pair" id="batches_list" style="width: 780px">
              <label for="student_grade"><%= t('batch') %></label>
              <% if @student_dependency%>
                <div class="text-input-bg">
                  <%= select :student, :batch_id, @batches.map {|b| [b.full_name, b.id]}, {:prompt=> "#{t('select_a_batch')}"} %>
                </div>
              <%else%>
                <div class="text-input-bg" style="width: 400px">
                  <label style="font-weight:300">
                    <%=@student.batch.full_name%>
                  </label>
                  <%if can_access_request? :show, :batch_transfers%>
                    <label  id="batch_transfer_label">
                      <%= link_to "#{t('batch_transfer')}",{:controller => 'batch_transfers', :action => 'show', :id => @student.batch.id},{:style=>""} unless @student_dependency%>
                    </label>
                  <%end%>
                </div>
              <%end%>
            </div>
          </div>
          <hr class="label-underline"></hr>
          <%  if roll_number_enabled? %>
            <div class="label-field-pair">
              <label for="student_roll_number"><%= t('roll_no') %></label>

              <div class="text-input-bg">
                <div id="prefix">
                  <%= @roll_number_prefix %>
                </div>
                <%= s.text_field :roll_number, :value => @roll_number_suffix%>
              </div>
            </div>
          <% end %>
        </div>
        <div id="admission1_form_vertical_block_right">
          <span class="span-sub-heading"><%= t('settings') %></span>
          <hr class="sub-heading"></hr>
          <div class="label-field-pair">
            <label for="biometric_id"><%= t('biometric_id') %></label>
            <div class="text-input-bg"><%= s.text_field :biometric_id %></div>
          </div>
          <% if @application_sms_enabled.is_enabled == true %>
            <hr class="label-underline"></hr>
            <div class="label-field-pair">
              <label for="student_sms"><%= t('enable_sms_feature') %></label>
              <div class="text-input-bg"><%= s.check_box :is_sms_enabled %></div>
            </div>
          <% end %>
          <hr class="label-underline"></hr>
          <div class="label-field-pair">
            <label for="student_sms"><%= t('enable_email_feature') %></label>
            <div class="text-input-bg"><%= s.check_box :is_email_enabled %></div>
          </div>
          <br/>
        </div>
        <span class="span-sub-heading"><%= t('upload_photo') %></span>
        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <label for="master_student_image_file"><%= t('upload_photo') %> (<%= t('max_size') %>)</label>
          <div class="text-input-bg"><%= s.paperclip_file_field :photo, :size=>12, :direct => false %></div>
        </div><br />
        <span class="span-sub-heading"><%= t('upload_complete_photo') %></span>
        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <label for="master_student_image_file"><%= t('upload_complete_photo') %> (<%= t('max_size') %>)</label>
          <div class="text-input-bg"><%= s.paperclip_file_field :upload_document, :size=>12, :direct => false %></div>
        </div>
      </div>
      <div class="extender"></div>
    </div>

    <%= submit_tag "", :class => "submit_button", :value => "► #{t('update')}" %>
  <% end %>

</div>
<script type="text/javascript">
  function render_batch_list(course_id){
    j("#loader").show();
    j.get('/student/render_batch_list',{id: course_id}, function() {
      j("#loader").hide();
    });
  }

  function set_prefix(batch_id){
    if ('<%= roll_number_enabled? %>' ) {
      j("#loader").show();
      j.get('/student/set_roll_number_prefix',{id: batch_id}, function(resp){
        if (resp.prefix != null)
        {
          j("#prefix").text(resp.prefix);
        }
        else{
          j("#prefix").text("-");
        }
        j("#loader").hide();

      });
    }
  }
</script>