<div class="label-field-pair">
      <label for="student_course"><%= t('select_a_term') %>
      </label>
      <div class="text-input-bg">
        <%= select :courses, :term,
          @terms.uniq.map {|b| [b.name, b.id]},
          {:prompt => "#{t('select_a_term')}"},
          {:onChange => "#{remote_function(:url => {:action => "term_exam_groups" },
          :with =>  "'term_id='+ value" )}"}%>
      </div>
    </div>

