<div>
          <%#= link_to "► #{t('pdf_report')}", {:controller=>"report", :action=>"cumulative_pdf", :page_height => 680,:report_format_type => "pdf" ,:start_date => params[:start_date], :end_date => params[:end_date]}, :class => 'user_button' ,:format=>'pdf',:target => '_blank' %>
          <%= link_to "► #{t('csv_report')}",  {:controller=>"rank_ingres_homes", :action=>"broadsheet_csv_generation", :report_format_type => "csv",:term_id => params[:term_id]}, :class => 'user_button'%>
  </div>