
<div id="content-header">
  <div class="header-icon student-icon"></div>
  <h1><%= t('broad_sheet') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('generte_csv_files') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :rank_ingres_homes_broadsheets %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
  <div id="update_batch">
  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_batch') %>:</label>
    <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; float:left;margin-top:5px; margin-left: -30px;" ) %>
    <div class="text-input-bg">
      <%= select :batch_id, :id,
        @batch.map {|b| [b.full_name, b.id]},
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "batch_term" },
        :with =>  "'batch_id='+ value+ '&termwise=' + 'true'",
        :before => "Element.show('loader_batch')",
        :success => "Element.hide('loader_batch')"
        )}"} %>
    </div>
  </div>
</div>
    <div id="batch_terms"></div>
    <div id="terms_buttons"></div>
    <div class="extender"></div>
</div></div>
