<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('ingres_academics')}"%></h1>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :rank_ingres_homes_index %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('elective_disable')}" ,:controller =>"rank_student_subject_electives", :action=>'index' %></div>
      <div class="link-descr"><%= t('elective_disable_desc') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('subject_merger')}" ,:controller=>'rank_ingres_subject_mergers',:action=>'index' %> </div>
      <div class="link-descr"><%= t('subject_merger_management') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('attendance_sms')}" ,:controller=>'rank_ingres_sms_modules',:action=>'send_sms' %> </div>
      <div class="link-descr"><%= t('send_sms_to_parents') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('assign_students_to_teachers')}" ,:controller=>'rank_ingres_teacher_students',:action=>'assign_students_teacher' %> </div>
      <div class="link-descr"><%= t('assigning_students_to_subject_teachers') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('teacher_screen')}" ,:controller=>'rank_ingres_teacher_screens',:action=>'index' %> </div>
      <div class="link-descr"><%= t('adding_exam_scores') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('teacher_deadline')}" ,:controller=>'rank_ingres_deadlines',:action=>'index' %> </div>
      <div class="link-descr"><%= t('assign_deadline_to_input_scores') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('staff_progress')}" ,:controller=>'rank_ingres_deadlines',:action=>'teacher_progress' %> </div>
      <div class="link-descr"><%= t('assign_deadline_to_input_scores') %></div>
    </div>
    <div class="extender"></div>
  </div>
</div>