<div id="exam-form">
  <% form_for :report_pickup_dates, :url=>{:action=>"create_report_pickup_date"} do |f|%>
    <%= error_messages_for :report_pickup_dates %>
    <%= f.hidden_field :term_id,:value=>"#{params[:term_id]}"%>
    <%= f.hidden_field :report_builder_id,:value=>"#{params[:report_builder_id]}"%>
    <div class="extender"></div>
    <div class="label-field-pair">
      <label for="date"><%= t('report_pickup_date') %><span class="necessary-field">* </span>:</label>
     <div class="input-container">
        <%if @report_pickup_date.nil? %>
          <%= calendar_date_select_tag 'report_pickup', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
        <%else%>
        <%= calendar_date_select_tag 'report_pickup', I18n.l(@report_pickup_date.report_pickup,:format=>:default),:year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
        <%end%>
      </div>
    </div>
    <div class="extender"></div>
    <%=hidden_field_tag "from","batch" if params[:from].present?%>
    <div class="extender"></div>
    <% unless @batch_students.empty? %>
      <ul id="category-list">
        <li class="listheading">
          <div class="heading-no"><%= t('adm_no') %></div>
          <div class="category-name"><%= t('name') %></div>
          <div class="sel-list">
            <%= link_to_function t('all'), "$$('input.right').each(function(checkbox) { checkbox.checked = true; });" %>,
            <%= link_to_function t('none'), "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" %>
          </div>
        </li>
        <% @batch_students.each do |student| %>
        	<% @report_date = ReportPickupDate.find_by_term_id_and_student_id_and_batch_id(params[:term_id],student.id,params[:batch_id]) %>
          <li class="list<%=cycle('odd', 'even')%>">
            <div class="category-number_disabled"><%= student.admission_no %></div>
            <div class="category-name_disabled"><%= student.full_name %></div>
            <div class="category-edit"><%#= check_box_tag 'transfer[students][]', student.id, true,:class=>"right" %><%= check_box "", "report_pickup_date[#{student.id}][s_name]", :checked=>@report_date.nil? ? false : @report_date.student_select, :class=>"right"%>
            </div>
          </li>
        <% end %>
      </ul>
      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button' %>
    <% else %>
      <ul id="category-list">
        <li class="listheading">
          <div class="category-name"><%= t('no_students_found_in_the_batch') %></div>
        </li>
      </ul>
    <% end %>
  <% end %>

  <div class="extender"></div>
</div>
<style>
  img.calendar_date_select_popup_icon {
    margin-left: 187px !important;
    padding: 0px !important;
    position: relative !important;
    margin-top: 10px !important;
    float: none !important;
}
</style>
