<!-- <div id="exam-form"> -->
  <% form_for :report_pickup_dates, :url=>{:action=>"create_report_pickup_date"} do |f|%>
    <%= error_messages_for :report_pickup_dates %>
    <%= f.hidden_field :batch_id,:value=>"#{params[:batch_id]}"%>
    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_term') %>:
        </label>
        <div class="text-input-bg">
          <%= select :report_pickup_dates,:term_id,
            @terms.map {|b| [b.name, b.id]},
            {:prompt => "#{t('select_term')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_templates",:batch_id => params[:batch_id],:report_builder_id=>params[:report_builder_id]},
            :with => "'term_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
      <div class="extender"></div> 
      <div id="templates" style="width: 100%">
        <%#=render :partial=>"multi_batches"%>
      </div>
    </div>
  <%end%>
<!-- </div> -->