<!-- <div id="exam-form"> -->
  <% form_for :report_pickup_dates, :url=>{:action=>"create_report_pickup_date"} do |f|%>
    <%= error_messages_for :report_pickup_dates %>
    <%= f.hidden_field :batch_id,:value=>"#{params[:batch_id]}"%>
    <div id="exam_form_main">
      <div class="label-field-pair">
        <label for="student_course"><%= t('course_text') %>:
        </label>
        <div class="text-input-bg">
          <%= select :report_pickup_dates,:course_id,
            @courses.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches",:report_builder_id=>params[:report_builder_id]},
            :with => "'course_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>

      </div>
      <div class="extender"></div> 
      <div id="batch_list" style="width: 100%">
      <%#=render :partial=>"multi_batches"%>
    </div>
  <%end%>
<!-- </div> -->