<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('report_pickup_date') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('new_report_pickup_date') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div id="error_display">
  </div>
  <div id="flash"></div>
  <div class="box">
    <div id="error_show_div"></div>

    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_report_builder') %>:
        </label>
        <div class="text-input-bg">
          <%= select "",:report_builder_id,
            @report_builders.map {|b| [b.name, b.id]},
            {:prompt => "#{t('select_report_builder')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_courses"},
            :with => "'report_builder_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
    </div>
    <div class="extender"></div>
    <div id="list_courses" style="width: 100%">
      <%#=render :partial=>"multi_batches"%>
    </div>
  </div>
</div>