<% unless @batch_terms.empty? %>
  <% if params[:termwise] %>
    <br /><br />
  <% end %>
  <% if params[:batch_term] %>
    <br /><div style="  margin-left: 210px;margin-top:5px;"> <%=  "Selected batch : #{@batch.full_name} ( #{@batch.start_date.to_date} to #{@batch.end_date.to_date} )  existing terms :" %></div>
  <% else %>
    <br /><div style="margin:10px 40px;"> Terms: </div>
  <% end %>
  <% @batch_terms.each do |term| %>
    <% if params[:termwise] %>
      <div class="link-box">
        <div class="link-heading"><%= link_to term.name.capitalize, :controller => "rank_ingres_teacher_screens", :action => "term_subjects",:term_id => term.id, :batch_id => @batch.id %></div>
      </div>
    <% elsif params[:batch_term] %>
      <div class="link-box">
        <div style="background-color : #fff1ab; width:60%;height: 25px;margin-left: 210px; margin-top:-7px;"><p style="text-align:center;padding-top: 4px; font-size: 15px;"><%=  term.name.capitalize %>&nbsp;: <%= term.start_date.to_date %> - <%= term.end_date.to_date %></p></div>
      </div>
    <% else %>
      <div class="link-box">
        <div class="link-heading"><%= link_to term.name.capitalize, :controller => "terms", :action => "term_exams",:term_id => term.id, :batch_id => @batch.id %></div>
      </div>
    <% end %>
  <% end %><br />
<% else %>
  <% if params[:batch_term].nil? %>
    <br />
<br />
<br /><div class="link-box">
          <p class="flash-msg"><%= t('no_terms_created') %></p>
          </div>
  <% end %>
<% end %>