      <% unless @terms.nil? %>
    <ul id="category-list"><br />
      <% @terms.uniq.each do |term| %>
        <li  style="width:250px; text-align: center; margin-left: 200px;" class="list<%= cycle('odd')%>">
          <div style="width:240px;" class="category-name">
            <%= check_box :term,  "#{term.id}",:checked=> term =="1" %> <%= term.name.titleize %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>