<%= stylesheet_link_tag  "exams/show"  %>
<div id="content-header">
<div class="header-icon student-icon"></div>
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('teacher_screen') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :rank_ingres_teacher_screens_add_scores_to_teacher_screen, @batch %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>   
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
  <% end %>
  <div class="label-field-pairs">
   <h3>Subject: <%= @subject_name %></h3>
  </div>
  <div class="box">
    <% unless @exam_groups.blank? %>
    <% unless @students.nil?  %>
      <% form_for :exams ,:url => {:action => "save_scores"} do |f| %>
            <%= hidden_field_tag :batch_id,@batch.id %>
            <%= hidden_field_tag :term_id,params[:term_id] %>
        <table id="listing" width="100%">
          <tr class="tr-head">
            <td><%= t('name') %></td>
            <td><%= t('admission_no') %></td>
           <% @exam_groups.each do |e| %>
             <td><%= e.name unless e.nil?%></td>
           <% end %>
           <td><%= t('comment') %></td>
          </tr>
          <% @students.each do |student| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-2"><%= student.full_name %> </td>
              <td class="col-3"><%= student.admission_no %> </td>
               <% @exam_groups.each do |e| %>
                 <% @exam = Exam.find_by_exam_group_id_and_subject_id(e.id,@subject_id)  %>
                 <% unless @exam.nil?%>
                           <% @exam_score = @exam.score_for(student) unless @exam.nil?  %>
                           <td class="col-1"><div class="label-field-pair">
                                <div class="text-input-bg">
                                      <%= text_field_tag "exam[#{@exam.id}-#{student.id}][marks]", (@exam_score.marks unless @exam_score.nil?), :size => '4', :class=>"marks-box" %></div></div></td>
               <% end %>
           <% end %>
            <td class="col-2"><div class="label-field-pair2">
                <div class="text-input-bg2">
                      <%= text_field_tag "exam[#{@exam.id}-#{student.id}][remarks]",(@exam_score.remarks unless @exam.nil?) , :size => '40' %></div></div></td>
           </tr>
          <% end %>
        </table>
        <div id="sub-button"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %></div>
      <% end %>
    <% else %>
      <p class="flash-msg"> <%= t('no_students_found') %> </p>
    <% end %>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
<style>
  .label-field-pairs{
    height:100px;
    padding-top: 3px;
  }
  </style>