<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('b_subjects') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('batch_subjects') %></div>
</div>
<div id="page-yield">
<div class="bread_crumb">
    <%= breadcrumb :rank_ingres_teacher_screens_term_subjects, @batch %>
    <%= render_breadcrumbs  %>
</div>
  <div id="flash_msg"></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg" id="flash_msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
      <% @employee_subjects=[] %>
      <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.id} if @current_user.employee?  %>
      <% unless @all_subjects.nil? %>
      <table id="listing">
        <tr class="tr-head">
          <td><%= t('subject') %></td>
        </tr>
        <% @all_subjects.each do |s| %>
          <% if @employee_subjects.include?(s.id) or @current_user.admin? or @current_user.privileges.map{|p| p.name}.include?('ExaminationControl') or @current_user.privileges.map{|p| p.name}.include?('EnterResults') %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-2"><%= link_to s.name.capitalize, :controller => "rank_ingres_teacher_screens", :action => "add_scores_to_teacher_screen",:term_id => @term_id, :batch_id => @batch.id , :subject_id => s.id  %>  </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
