<div id="content-header">
    <%= show_header_icon %>
    <h1><%= "#{t('form_tutor_reports')}"%></h1>
    </div>
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
<% form_for :custom_reports, :url=>{:controller => "report_builders",:action=>"student_wise_pdf_report"},:html => {:target => "_blank",:multipart => true} do |f| %>
<%= hidden_field_tag :type, "general"  %>
  <% unless @tutors_batchs.blank? %>
  <div id="update_batch">
  <div class="label-field-pair">
    <label for="timetable_entry_course_id"><%= t('select_a_batch') %>*:</label>
    <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_batch", :style =>"display: none; float:left;margin-top:5px; margin-left: -30px;" ) %>
    <div class="text-input-bg">
      <%= select "",:batch_id,
        @tutors_batchs.map {|b| [b.full_name, b.id]},
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "terms_update" },
        :with =>  "'batch_id='+ value+ '&term_students=' + 'true'",
        :before => "Element.show('loader_batch')",
        :success => "Element.hide('loader_batch')"
        )}"} %>
    </div>
  </div>
</div>
<div id="batch_terms"></div>
<div id="batch_students"></div>
  <% else  %>
  <div id="flash_msg"></div>
    <p class="flash-msg" id="flash_msg"> <%= t('no_batches_are_assigned_to_user')  %> </p>
  <% end %>
  <%= f.submit "► #{t('pdf_report')}", :class=>"submit-button"%>
<% end %>
</div>