root { 
    display: block;
}
#page-yield {
    margin: 30px 0;
}
.editor_size{
   width:975px;
   height:700px;
}
.label-field {
    color: #444444;
    font-size:14px;
     height : 26px;
    width : 600px;
    padding-top: 3px;
    font-weight:600;
}
#news_title_text_field_bg {
    border-radius: 15px;
    background-color: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 32px;
    margin-bottom: 20px;
    width: 971px;
}
.news_label_field {
    width: 285px;
}
.input {
    background: none repeat scroll 0 0 transparent;
    border-radius: 15px;
    border: medium none;
    height: 24px;
    padding-left: 10px;
    padding-top: 5px;
    width: 960px;
}
.submit_button {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 9px;
    margin-left: 42%
}