/* 
    Document   : final_archived_report_type
    Created on : Sep 10, 2013, 2:10:07 PM
    Author     : rank2
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
.text-input-bg select {
    border-radius: 10px;
    background-color: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 27px;
    margin: 5px 0 0 10px;
    padding: 3px 6px;
    width: 215px;
}
#page-yield {
    margin: 30px 0;
}
.student{
    font-size: 15px;
    text-align:center;
    font-weight: lighter;
    width: 360px;
}
#inner-tab-menu {
    height: 1.5em;
    margin: 0;
    padding: 0;
}
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:960px;
    margin:0px auto;
}
#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .heading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    font-weight: bold;
    font-size: 13px;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 130px;
    font-weight: lighter;
    font-size:13px;
}
#category-list li div a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}
.category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
#category-list li div.category-name{
    width: 400px;
    font-size: 15px;
    text-align: left;
    font-weight: lighter;
}
#category-list li div a {
    color: #444;
    font-size: 15px;
    text-decoration: none;
    font-weight: lighter;
}
.heading{
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}
.sl_no{
    width: 50px;
    color: #444;
    font-size: 15px;
    text-decoration: none;
}
#category-list li div.category-edit, #category-list div.category-delete{
    font-size: 15px ;
    width: 40px;
    text-align: left;
    font-weight: lighter;
}
#category-list li div.category-edit, #category-list li div.category-delete {
    font-size: 15px;
    font-weight: 500;
}
#inner-tab-menu ul li{
    padding: 0 8px;
    width: auto;
}
.selection {
    float:right;
    padding-right:11px;
}
.selection a {
    color: #BB0000;
    text-decoration: none;
}
.submit-button {
    background: none repeat scroll 0 0 #27292B;
    border-radius: 10px;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float:none;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 385px;
    padding: 5px;
    width: 155px;
    height: 32px;
}
  table
  {
    font-size:14px; color:black; border-color:black;border-weight:1px;
    background : white;
    overflow: auto;
    border-collapse:collapse;
  }

  table, tr, td
  {
    border:1px solid #cccccc;
  }
