root { 
    display: block;
}
#page-yield {
    margin: 30px 0;
}
.student{
    font-size: 15px;
    text-align:center;
    font-weight: lighter;
    width: 360px;
}
#inner-tab-menu {
    height: 1.5em;
    margin: 0;
    padding: 0;
}
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:960px;
    margin:0px auto;
}
#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .heading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    font-weight: bold;
    font-size: 13px;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 130px;
    font-weight: lighter;
    font-size:13px;
}
#category-list li div a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}
.category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
#category-list li div.category-name{
    width: 400px;
    font-size: 15px;
    text-align: left;
    font-weight: lighter;
}
#category-list li div a {
    color: #444;
    font-size: 15px;
    text-decoration: none;
    font-weight: lighter;
}
.heading{
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}
.sl_no{
    width: 50px;
    color: #444;
    font-size: 15px;
    text-decoration: none;
}
#category-list li div.category-edit, #category-list div.category-delete{
    font-size: 15px ;
    width: 40px;
    text-align: left;
    font-weight: lighter;
}
#category-list li div.category-edit, #category-list li div.category-delete {
    font-size: 15px;
    font-weight: 500;
}
#inner-tab-menu ul li{
    padding: 0 8px;
    width: auto;
}


@media print {

      table#sample .toptd {
    font-size: 18px;
    font-weight: bold;
}
  .comment {
    height: 30px;
    font-size: 18px;
    text-align: center;
}
desc.comment {
  height: 50px;
  font-size: 15px;
}
  table#sample {
    width: 750px;
  margin-bottom: 20px;
  margin-left: 100px;
  }
  table#sample td {
    font-size: 16px;
    height: 25px;
    text-align: center;

    }
    table#sample3 {
     width: 750px;
  margin-top: 20px;
  margin-left: 100px;
  height:80px;
  }


      table#sample1 {
      width: 200px;
      margin-right: 270px;
      margin-left:20px;
      float: left;
      }
  table#sample1 td {
    font-size: 16px;
    }
      table#sample2 {
    width: 200px;
    margin-bottom: 10px;
    float: right;
  }
  table#sample2 td {
    font-size: 16px;
    }
     .toprow {
       height: 40px;
  text-align: center;
      }
    #table_container{width:720px;margin:0 auto;}

    table {
        page-break-inside: auto;
        border: none !important;
        border: 1.5px solid black;
        width:740px;
    }

    caption {
        padding: .15em .18em;
        display: table-caption;
        color:red;
        background:gainsboro;
        width:300px;
        font-size:14px;
        height: 15px;
        text-align: left;
        font-weight: bold;
    }



 tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid;
    page-break-after: auto;
     border: 1.5px solid black;
     font-size:13pt;
}
.grade-record {
  float:left;
  width:530px;
  page-break-inside:auto;
}

  .d-odd {
      page-break-inside:auto;
     float:left;
     width: 525px;
     margin-bottom: 10px;
      font-size:10pt;
}


  .d-even {
      page-break-inside:auto;
     float: right;
     width: 535px;
     margin-bottom: 10px;
      font-size:10pt;
  }

  table.comments {
     border: 1px solid black;
    page-break-inside:auto;
      text-align:center;
      width:525px;
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
       font-size:10pt;
       font-family:Arial;
  }

   table.comments tr {
    page-break-inside:avoid;
    page-break-after: auto;
  }
  table.grade-system {
     border: 1px;
     page-break-inside:auto;
      text-align:center;
      float: left;
      width:250px;
       font-size:10pt;
       font-family:Arial;
  }

  table.record {
     border: 1px;
     page-break-inside:auto;
     text-align:center;
      float: left;
      width:190px;
      margin-right: 10px;
       font-size:10pt;
       font-family:Arial;

  }
      table.odd {
        border: 1px;
        page-break-inside:auto;
        float: left;
        width: 530px;
        text-align:center;
        margin-right: 10px;
        margin-left: 10px;
        height:100px;
        font-size:10pt;
    }
    table.even {
        border: 1px ;
        page-break-inside:auto;
        float: right;
        width: 530px;
        text-align:center;
        margin-right: 10px;
        margin-left: 10px;
        height:100px;
        font-size:10pt;
    }

   table.odd td.subject {
     width:130px;
     overflow:hidden;
     page-break-inside:avoid;
     page-break-after: auto;
    }

    table.even td.subject {
     width:130px;
     overflow:hidden;
     page-break-inside:avoid;
     page-break-after: auto;
    }

    table.odd tr.heading {
      border: 1px;
      height: 20px;
       text-align:center;
       page-break-inside:avoid;
       page-break-after: auto;
    }

    table.even tr.heading {
      border: 1px;
      height: 20px;
       text-align:center;
       page-break-inside:avoid;
       page-break-after: auto;
    }

    table.even td.type-exam-group {
      width:30px;
     overflow:hidden;
      text-align:center;
      page-break-inside:avoid;
      page-break-after: auto;
    }

     table.odd td.type-exam-group {
      width:30px;
     overflow:hidden;
      text-align:center;
      page-break-inside:avoid;
      page-break-after: auto;
    }

    table.even td.group-comments {
      width:270px;
      overflow:hidden;
       page-break-inside:avoid;
       page-break-after: auto;
    }

      table.odd td.group-comments {
      width:270px;
      overflow:hidden;
        page-break-inside:avoid;
        page-break-after: auto;
    }
    #header_id{
      font-size: 26pt;
      text-align:center;
    }
    .d-odds {
      page-break-inside:auto;
     float:left;
     width: 525px;
     margin-bottom: 10px;
      font-size:18pt;
      font-weight: normal;
}


  .d-evens {
      page-break-inside:auto;
     float: right;
     width: 535px;
     margin-bottom: 10px;
      font-size:18pt;
      font-weight: normal;
  }

}
.student1{
    font-size: 26pt;
    font-weight: lighter;
}
#pdf-header{
     width:1000px;
     /*padding-top: 10px;*/
     /*overflow: hidden;*/
     /*margin-left: 475px;*/
     margin-top: 10px;
     height: 170px;
   }

   .logo{
     height: 150px;
     width:200px;
     display: block;
     margin-left: 475px;
     margin-right: auto;
   }
   .logo img{
     width: 100%;
     margin-top: 10px;
   }

   .noBorder {
    border:none !important;
    height:30px;
}
.teacher_comment{
  height:160px;
  padding-left:5px;
  padding-top:10px;
}
#header_id1{
      font-size: 22pt;
      text-align:center;
    }
    .student2{
    font-size: 22pt;
    font-weight: lighter;
}