root { 
    display: block;
}
#page-yield {
    margin: 30px 0;
}
.student{
    font-size: 15px;
    text-align:center;
    font-weight: lighter;
    width: 360px;
}
#inner-tab-menu {
    height: 1.5em;
    margin: 0;
    padding: 0;
}
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:960px;
    margin:0px auto;
}
#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
}
#category-list .heading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    font-weight: bold;
    font-size: 13px;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 130px;
    font-weight: lighter;
    font-size:13px;
}
#category-list li div a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}
.category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
#category-list li div.category-name{
    width: 400px;
    font-size: 15px;
    text-align: left;
    font-weight: lighter;
}
#category-list li div a {
    color: #444;
    font-size: 15px;
    text-decoration: none;
    font-weight: lighter;
}
.heading{
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}
.sl_no{
    width: 50px;
    color: #444;
    font-size: 15px;
    text-decoration: none;
}
#category-list li div.category-edit, #category-list div.category-delete{
    font-size: 15px ;
    width: 40px;
    text-align: left;
    font-weight: lighter;
}
#category-list li div.category-edit, #category-list li div.category-delete {
    font-size: 15px;
    font-weight: 500;
}
#inner-tab-menu ul li{
    padding: 0 8px;
    width: auto;
}

