<% form_for :explanatory_notes, :url=>{:action=>"new_explanatory_notes"} do |f|%>
  <%= error_messages_for :explanatory_notes %>
  <%= f.hidden_field :batch_id,:value=>"#{params[:batch_id]}"%>
  <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('explanatory_notes1') %>:</label>
        <div class="text-input-bg">
          <%= text_field"", "explanatory_notes1",:value => @explanatory_notes.nil? ? "" : @explanatory_notes.explanatory_note1, :size =>"10" ,:maxlength=> "200", :id=>"explanatory_notes1" %>
        </div>
      </div>
    </div>
    <div class="extender"></div> 
    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('explanatory_notes2') %>:</label>
        <div class="text-input-bg">
          <%= text_field"", "explanatory_notes2",:value => @explanatory_notes.nil? ? "" : @explanatory_notes.explanatory_note2, :size =>"10" ,:maxlength=> "200" %>
        </div>
      </div>
    </div>
    <div class="extender"></div> 
    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('explanatory_notes3') %>:</label>
        <div class="text-input-bg">
          <%= text_field"", "explanatory_notes3",:value => @explanatory_notes.nil? ? "" : @explanatory_notes.explanatory_note3, :size =>"10" ,:maxlength=> "200" %>
        </div>
      </div>
    </div>
    <div class="extender"></div> 
    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('explanatory_notes4') %>:</label>
        <div class="text-input-bg">
          <%= text_field"", "explanatory_notes4",:value => @explanatory_notes.nil? ? "" : @explanatory_notes.explanatory_note4, :size =>"10" ,:maxlength=> "200" %>
        </div>
      </div>
    </div>
    <div class="extender"></div> 
    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('explanatory_notes5') %>:</label>
        <div class="text-input-bg">
          <%= text_field"", "explanatory_notes5",:value => @explanatory_notes.nil? ? "" : @explanatory_notes.explanatory_note5, :size =>"10" ,:maxlength=> "200" %>
        </div>
      </div>
    </div>
    <div class="extender"></div>
    <div class="text-input-bg">
      <%= f.submit "", :value => "► #{t('save_explanatory_notes')}", :class => "submit_button", :id => 'submit_button', :onclick => "return validateform();", :style => "padding: 7px 10px;color: #fff;background: #27292B;-moz-border-radius:10px;-webkit-border-radius:10px;font-weight: bold;font-size: 14px;border:none;font-family: arial;cursor:pointer;margin-left: 220px;" %>
    </div>
  </div>
<% end%>