<% form_for :explanatory_notes, :url=>{:action=>"new_explanatory_notes"} do |f|%>
  <%= error_messages_for :explanatory_notes %>
  <%= f.hidden_field :batch_id,:value=>"#{params[:batch_id]}"%>
  <div id="exam_form_main2">
    <div class="label-field-pair">
      <label for="student_course"><%= t('select_term') %>:
      </label>
      <div class="text-input-bg">
        <%= select :explanatory_notes,:term_id,
          @terms.map {|b| [b.name, b.id]},
          {:prompt => "#{t('select_term')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_explanatory_notes", :batch_id => params[:batch_id]},
            :with => "'term_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}%>
        <%#= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </div>
    </div>
    <div class="extender"></div>
    <div id="list_notes" style="width: 100%"></div>
<%end%>