<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('explanatory_note') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('create_explanatory_notes') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div id="error_display">
  </div>
  <div id="flash"></div>
  <div class="box">
    <div id="error_show_div"></div>

    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_batch') %>:
        </label>
        <div class="text-input-bg">
          <%= select :explanatory_notes,:batch_id,
            @batch.map {|b| [b.name, b.id]},
            {:prompt => "#{t('select_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_terms"},
            :with => "'batch_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
    </div>
    <div class="extender"></div>
    <div id="list_terms" style="width: 100%"></div>
  </div>
</div>
<script type="text/javascript">
  function validateform() {
    var term = document.getElementById("explanatory_notes_term_id");
    var note1 = document.getElementById('explanatory_notes1');
    var button = document.getElementById('submit_button');   

    if (term.value == null || term.value=="")
    {
      alert('Please select term'); 
      button.disabled = false;     
      return false;      
    }    
    else if (note1.value == "" || note1.value==null)
    {
      alert('Please enter Explanatory note1'); 
      button.disabled = false;    
      return false;      
    }
    else
    {     
      return true;
    }        
  } 
</script> 