body{
    font-family: arial;
}
.link-box {
    margin:10px 40px;
    height:15px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}

.label-field-pair label {
    width:280px;
}

.text-input-bg {
    width:100px;
}
.label-field-pair label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:150px;
}
#update_batch{
    float:left;
    width:800px;
}
.student_list{
}
.header{
    list-style-type: none;
    font-weight: bold;
}
li.student_names, li.student_names a{
    text-decoration: none;
    /*    margin-top: 5px;*/
    color: black;
    width:100%;
    min-width:100%;
    display: block;
    padding: 2px 0 2px 0;
}
.student_list{
    list-style-type: none;
    clear : both;
    width: 200px;
    max-height: 400px;
    overflow-y: auto;
    font-size: 13px;
    padding: 0px;
    float: left;
}

.student_list a:hover{
    text-decoration: none;
    background-color:  #F1F6FF;
    width:100%;

}
.student_list a:active{
    text-decoration: none;
    /*    font-weight: bold;*/
}
.active-link{
    font-weight: bold;
    color: #C00 !important;
}
.student-name{
    height: 28px;
}
.label-field-pair-select-class {
    /*margin: 0 auto;*/
    height:40px;
    padding-top:3px;
    /*width:600px;*/

}
.label-field-pair-select-class label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    /*width:264px;*/
}
#loader{
    padding-top:10px;
}


/*
#page-yield
{
    width:650px;
}*/

#list {
    margin-top: 15px;
    /*margin:20px auto;*/
    width:440px;
    overflow: hidden;
}
#list li {
    padding:6px 0 0 50px;
    list-style-type:none;
}
#list li label input {
    margin-right:10px;
}
.name_listodd{
    background:#E4EBFE;
    height:30px;
    width:425px;
    border-top:1px solid #C2CEEF;
}
.name_listeven{
    background:#DAE6FF;
    height:30px;
    width:425px;
    border-top:1px solid #C2CEEF;
}
.att_list_names {
    float: left;
    width:300px;
    display:inline;
    /*font-weight: 600;*/
    font-size: 13px;
}
label {display:inline;}
.submit_button {
    margin:23px 343px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
#skip{
    margin-top:29px;
    margin-left: 20px;
    float:left;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
}
#skip a{
    color:#fff;
    text-decoration: none;
}
#skip:hover{
    background:  #373B3F;
}
.autocomplete-w1 {
    position:absolute;
    top:0px; left:0px;
    margin:6px 0 0 6px;
    _background:none;
    _margin:1px 0 0 0;
}
.autocomplete {
    border:1px solid #C6C6C6;
    background:#fff;
    cursor:default;
    color:#000;
    text-align:left;
    max-height:350px;
    overflow:auto;
    margin:-7px 5px 6px -7px;
    _height:350px;
    _margin:0;
    _overflow-x:hidden;
    width:auto !important;
}
.autocomplete .selected {
    background:#F8F1D1;
    color:#BB0000;

    /*    border-top:1px solid #990A10;
        border-bottom:1px solid #990A10;*/
}
.autocomplete div {
    padding:2px 5px;
    white-space:nowrap;
    overflow:hidden;
}
.autocomplete strong {
    font-weight:bold;
}
.collection_info{
    overflow-y: auto;
    max-height: 250px;
}
.list_name{
    width: 250px;
    float: left;
}
#flash-div{
    margin: 0 auto;
    width:565px;
}
.collection-select {
    width: auto;
    float:left;
    border-left:1px solid #808080;
    /*padding-top: 45px;*/
}

.collection-select label {
    /*min-width: 270px;*/
    float: left;
    padding-top: 10px;
    display: block;
    color: #444;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 50px;
}

.select-type {
    margin: 0 auto;
}

.collection_operation_select {

    float: left;
    padding-top: -5px;
}

.collection_operation_select label {
    font-weight: normal;
    display: inline;
    max-width: 85px;
    float: left;
    margin-top: -2px;
    word-break: break-all;
}
#receivers{
    margin-top: 60px;
}

table#collection_list tr{

    height:35px;
    overflow-y: auto;
    /*border: 1px solid #000000;*/
}

table#collection_list .header{
    background-color: #808080;
    font-weight: bold;
    /*width:150px;*/
    /*border: 1px solid #000000;*/
}
table#collection_list{
    width:100%;
    border-collapse: collapse;
    /*width:150px;*/
    /*border: 1px solid #808080;*/
}
table#collection_list td {
    border: 1px solid #000000;
}
.cbox {
    /*border-right: 1px solid #000000;*/
    width:35px;
}
table#collection_list td {
    border: 1px solid #000000;
}

table#collection_list td.collection_name{
    padding-left: 5px;
    width:250px;
}

table#collection_list td.student_name{
    padding-left: 5px;
    width:150px;
}


.student-link{
    text-decoration:none;
    font-size:13px;
    color: #000000;
}
.students-box{
    width: 200px;
    float:left;
    height:250px;
    overflow-y: auto;
}

.collections-box{
    width: 365px;
    float:left;
    margin-left:74px;
    height:250px;
    overflow-y: auto;
}



#questions-main {
    margin-bottom: 60px;
    width:978px;
    border: 1px solid#88abe5;
    height:715px;
    float:left;
    border-top:none;
}
#left-panel {
    float:left;
    width:390px;
    border-right:1px solid #cccccc;
    height:550px;
}
#right-panel {
    float:left;
    width: 941px;
    height:545px;
    font-size:13px;
    padding:20px;
}

.exam_group_div{
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.alert_msg_table{
      padding: 20px 15px 30px !important;
}
#left-top-panel {
    width:390px;
    float:left;
    height:50px;
    border-bottom:1px solid #cccccc;
    background-color:#ededed;
}
#left-top-panel select {
    background-color: #fdfdfd;
    border: 1px solid #cccccc;
    margin: 10px 0 0 10px;
    width: 120px;
    height: 31px;
    padding: 5px 6px;
    font-size:13px;
}
#left-bottom-panel {
    width:390px;
    float:left;
    background-color:#ededed;
    height:499px;
    overflow-y:auto;
    overflow-x:hidden;
}
.each-question {
    width:360px;
    float:left;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #cccccc;
    color:#000000;
    cursor:pointer;
}
.each-question input {
    float:left;
    margin:0;
}
.question-box {
    float:left;
    width:360px;
    font-size: 13px;
}
.assigned{
    background-color:#ffffcc;
}
.question-box p{
    margin: 0 !important;
}
.selected {
    background-color:#ffffff;
    color:#000000;
}
/*.question-box iframe{
    width:340px !important;
    height:190px !important;
    margin-top:5px !important;
}*/
.top-div {
    height:50px;
    float:left;
    width:100%;
    background: #f1f1f1;
}
.question-text {
    float:left;
    width:auto;
    margin-top:15px;
    font-weight:bold;
    color:#000000;
    margin-left: 20px;
    margin-bottom: 6px;
}
.format-text{
    float:right;
    width:auto;
    margin-right:30px;
    margin-top:5px;
    color:#666666;
    font-weight:normal;
}
.marks-div{
    float:right;
    width:auto;
    margin-right:30px;
    margin-top:5px;
    color:#000000;
    font-weight:normal;
}
.input-marks{
    margin-top:0 !important;
}
.marks-div label{
    float:left;
    margin-top:5px;
    margin-right:5px;
}
.marks-div input{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 13px;
    margin: 0 !important;
    padding: 5px;
    text-align: left;
    width: 35px;
    font-size:13px;
}
.question-div {
    float:left;
    margin-top:15px;
    width:525px;
    color:#000000;
}
.question-div p{
    margin-top:0 !important;
    margin-bottom:10px !important;
}
.answer-text {
    float:left;
    width:525px;
    margin-top:5px;
    font-weight:bold;
}
.option-main {
    height: 35px;
    float:left;
    width:100%;
    margin-top:12px;
    border-bottom: 1px solid #cccccc;
}
.option-div {
    margin-left: 20px;
    float:left;
    /*width:445px;*/
    margin-bottom: 6px;
    /*background-color: #ededed;*/
}
.option-div p{
    margin:10px !important;
}
.correct-text {
    float:left;
    margin-top:10px;
    margin-left:10px;
    height:20px;
    width:20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position:0px -360px;
}
.no-questions {
    width:390px;
    float:left;
    text-align:center;
    font-size:13px;
    color:#666666;
    margin-top:220px;
    cursor: pointer;
}

.left-top-header{
    margin-left: 20px;
    margin-top: 24px;
    font-weight: bold;
    font-size: 13px;
}
#right-panel-loader label{
    /*margin-top: 250px;*/
    float: left;
    margin-top: 205px;
    margin-left: 440px;
}
#blank_message label {
    /*margin-top: 250px;*/
    float: left;
    margin-top: 205px;
    margin-left: 320px;
}
#right-panel-loader {
    width: auto;
    height: 485px;
    font-size: 13px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #666666;
}
#blank_message {
    width: auto;
    /*height: 485px;*/
    font-size: 13px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #666666;
}
#right-panel-bottom{
    float:left;
    width: 100%;
    height: 435px;
    overflow-y: auto;
    overflow-x: hidden;
}

.label-field-pair label {
    float: left;
    width: 217px;
}

.label-field-pair {
    float: left;
    width:auto;
}

.text-input-bg select{
    width:170px;
}

.description_text_div{
    float: left;
    width: 100%;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 15px;
}
.exam_group_count .item_count_div{
    float: left;
    margin-right: 30px;
    font-weight: 600;
    min-width: 0px;
}
.for_loader{
    margin-right: 10px !important;
    width: 10px;
}
.exam_group_count{
    width: auto;
    float: right;
    margin-bottom: 20px;
}
table#listing{
    webkit-border-radius: 0px;
    padding: 20px 15px 30px;
    float: left;
}
.tabrow {
    width:978px;
    list-style: none;
    margin: 15px 0px 0px 0px;
    padding: 0;
    line-height: 30px;
    height: 54px;
    overflow: hidden;
    font-size: 12px;
    position: relative;
    background-color: #f4f9ff;
    border: 1px solid#88abe5;
    border-bottom: none;
}
.tabrow li {
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    margin-top: 20px;
    width: 108px;
    text-align: center;
    padding-top: 3px;
    margin-left: 10px;

}
#update_batch{
    width:100%;
    float: left;
}
.tabrow a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.tabrow li.selected {
    border: 1px solid #88abe5;
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
    font-weight: 600;
}
.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #88abe5;
    z-index: 1;
}
.bottom-panel{
    height:65px;
    float:left;
    width:100%;
    background: #f1f1f1;
}

.right-part{
    float:right;
}
.right-part ul li {
    text-decoration: none;
    list-style: none;
}
.tabrow li.selected a, .tabrow li.selected a:hover
{
    color: #000 !important;
    display: block;
    width: 110px;
    text-align: center;
    cursor:default;
}
.batch-count,.student-category-count,.student-count{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.total-count{
    float: right;
    margin-right: 10px;
}
.fixer{
    height:30px
}
.count-details{
    margin:0;
    color: #808080;
}
.select_all_main,.collection_box_main{
    min-width: 200px;
    float: left;
    max-width: 200px;
}

.disc_part_name{
    min-width: 300px;
    float: right;
}

#revert-pop-up {
    margin-left: 170px;
}
.revert_arrow_down:after, .revert_arrow_down:before{
    left:-6%
}
.checkbox-hover{
    width:20px;
    float:left;
}
#blank_message .msg{
    margin-top: 205px;
}
.discount_radio_align{
    float: right !important;
}
.margin_left_1px{
    margin-left: 1px;
}
table#listing .tr-even,table#listing .tr-odd {
    font-size: 13px;
    font-weight: 300;
}
table#listing  td{
    padding: 10px !important;
    padding-left: 20px !important;
}
table#listing td.col-1{
    width:5% !important;
}
table#listing td.col-2{
    width:20% !important;
}
table#listing td.col-4{
    width:15% !important;
}
table#listing td.col-3{
    width:25% !important;
}
table#listing .tr-head td{
    color:#000 !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.exam_group_count{
    float: right;
    height: 7px;
}
.collection_receipients_data{
    width: 100%;
}
#update_batch{
    font-size: 13px;
}
.list_batches_index{
    float: left;
    width: 100%;
    margin-top: 50px;
}
#right-panel .list_batches_index{
    margin-top: 0px;
}
.item_count_div input[type="radio"]{
    float: left;
    margin-top: 1px;
}
.pagination{
    margin-top: -24px;
}
.label-field-pair1 {
    /* float: left; */
    width: auto;
}
.sel-list {
    margin-left: 435px;
    margin-top: -17px;
}
.sel-list a{
    color: #BB0000;
    text-decoration: none;
}
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
}
#category-list .listheading{
    background : #BECFFB;
    border-bottom: 2px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
    width:32em;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}

.heading-no {
    font-size:13px;
    font-weight:bold;
    width:200px;
}
#category-list li div.category-name {
    font-size: 13px;
    font-weight: bold;
    width: 250px;
}
#category-list li div.category-name_disabled {
    font-size: 13px;
    font-weight: bold;
    width: 250px;
    color: #6b6b6b;
}
#category-list li div.category-number {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: -30px;
    width: 201px;
}
#category-list li div.category-number_disabled {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: -30px;
    width: 201px;
    color: #6b6b6b;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    font-size:14px;
    color: #444444;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

.submit_button {
    margin-left:370px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;

}
.submit_button:hover{
    background:  #373B3F;
}


.label-field-pair input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.transfer-label{
    font-weight: bold;
    width: 300px;
    float: left;
    padding-top: 10px;
    height: 27px;
    margin: 5px 0 0 10px;
    padding: 3px 0px;
    width: auto;
}

.transfer_batch_details{
    width: 100%;
}
p.flash-msg {
    background-color: #FFF1AB;
    border: 1px solid #EFDC86;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}
img.calendar_date_select_popup_icon {
    margin-left: 187px !important;
    padding: 0px !important;
    position: relative !important;
    margin-top: 10px !important;
    float: none !important;
}
.label-field-pair input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: -33px 0 0 225px;
    width: 160px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    float: left;
}
#category-list li div.category-edit, #category-list li div.category-delete {
    font-size: 0.9em;
    width: 35px;
}
#category-list .listeven {
    background: #EEF2FD;
    border-bottom: 1px solid #BECFFB;
    color: #444;
    height: 1.5em;
    width: 36em;
    list-style-type: none;
    padding: 0.5em 0 0 5em;
}
#category-list .listodd {
    background: #DFEAFF;
    border-bottom: 1px solid #BECFFB;
    color: #444;
    height: 1.5em;
    width: 36em;
    list-style-type: none;
    padding: 0.5em 0 0 5em;
}
#category-list .listheading {
    background: #BECFFB;
    border-bottom: 2px solid #BECFFB;
    color: #444;
    height: 1.5em;
    list-style-type: none;
    padding: 0.5em 0 0 3em;
    width: 38em;
}

.text-input-bg2 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:25px;
}
