
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}


/*#page-yield{
    margin:0px;
}*/
.submit_button {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

table#listing .tr-odd .inplaceeditor-form .editor_field {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:50px;
}

table#listing .tr-odd .inplaceeditor-form .editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}
.in_place_editor_field{
    cursor: pointer;
}

.update_msg input.editor_field{
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:200px;
}

.update_msg input.editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}


.update_msg input.editor_ok_button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.update_msg input.editor_ok_button:hover{
    background:  #373B3F;
}

.update_msg a {
    color:#27292B;
    text-decoration:underline;
    margin-top: 12px;
    font-size: 14px;
}

.update_msg a:hover{
    color:#990a10;
    text-decoration:none;
}
table#listing .tr-even .inplaceeditor-form .editor_field {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:50px;
}
table#listing .tr-even .inplaceeditor-form .editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}


.flash_color
{
    background-color: #FFF1AB;
}
.bread_crumb {
    margin-left: 10px;
}
#loader{
    margin-top: -6px;
    margin-left: 10px;
}
.flash-msg{
    margin-top:-10px;
}
div#exam_group_details{
    float:left;
    width: 100%;
}
#exam_group_details div{
    float:left;
    font-size:14px;
}
#exam_group_details .discription_div {
    width :42%;
}
.set_width_high{
    width:58% !important;
}
.item_input{
    width:200px;
}
.item_input .input_items{
    float: left;
    line-height: 5px;
    clear:both;
}
.set_text_bold{
    font-weight: bold;
    float: left;
    word-wrap: break-word;
}
.set_border_bottom{
    float:left;width :100%;
    border-bottom: 1px solid black;
    height: 24px;
    clear: both
}
#div_batch_list{
    width: 100%;
    float:left;
    margin-top: 30px;
}
.in_place_editor_field{
    font-weight: bold;
    margin-top: 10px;
    float: left;
    margin-bottom: 7px;
}
/*status div*/
.status_div{
    width:100%;
    float: left;
    height:30px;
    padding-top:20px;
    padding-bottom: 20px;
}
.status_div div{
    float: left;
}
.status_div .exam_status_right{
    width:60%;
}
.status_div .exam_status_left{
    width:40%;
}
.status_div p{
    float: left;
    line-height: 2px;
    margin-right:20px;
    font-size: 14px;
}
.exam_status_right a{
    float: left;
    cursor: pointer;
    color: black;
    font-size: 14px;
    text-decoration: none;
}
.exam_status_right p{
    float: right;
}
.exam_status_right span{
    float: right;
    margin-left: 20px;
}
table#listing .tr-even,table#listing .tr-odd {
    font-size: 13px;
    font-weight: 300;
}
table#listing  td{
    padding-top: 10px !important;
    padding-left: 20px !important;
}
table#listing td.col-1{
    width:5% !important;
}
table#listing td.col-2165{
width:20% !important;
}
table#listing td.col-4{
    width:15% !important;
}
table#listing td.col-3{
    width:25% !important;
}
.flash_msg_div{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.input_items span{
    clear:both
}

