.user_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF !important;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:left;
    margin-left:230px;
    text-decoration: none;
    display: block;
}
.user_button:hover{
    background: #373b3f;
    text-decoration: none !important;
}