<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('home') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% if (@current_user.admin? or @current_user.privileges.collect(&:name).include?('ExaminationControl')) %>
    <div class="box">
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('settings')}" ,:controller=>'exam' , :action=>'settings' %></div>
        <div class="link-descr"><%= t('manage_grade_rank_designation') %></div>
      </div>
    <% end %>
    <% @employee_subjects=[] %>
    <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.id} if @current_user.employee?  %>
     <% if (@current_user.admin? or @current_user.privileges.collect(&:name).include?('ExaminationControl')) %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('exam_management')}" ,:action=>'create_exam' %>  </div>
        <div class="link-descr"><%= t('create_a_new_exam_and_enter_result') %></div>
      </div>
    <% end %>
    <% if (@current_user.admin? or @current_user.privileges.collect(&:name).include?('ExaminationControl')) %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('generate_reports')}" , :controller=> "exam",:action=>'generate_reports' %></div>
        <div class="link-descr"><%= t('generate_student_reports_for_grouped_exams') %></div>
      </div>
    <% end %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('report_center')}" , :controller=> "exam",:action=>'report_center' %></div>
      <div class="link-descr"><%= t('view_student_report') %></div>
    </div>


    <!--online exam-->

    <% FedenaPlugin::ADDITIONAL_LINKS[:online_exam_index_link].each do |mod| %>
      <%  if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "#{t("#{mod[:title]}")}",mod[:destination] %></div>
          <div class="link-descr"><%= "#{t("#{mod[:description]}")}" %></div>
        <% end %>
      <% end %>
    </div>

    <div class="extender"></div>
  </div>
</div>

