<%= stylesheet_link_tag  "configuration/settings"  %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('configuration_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('general_settings') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <%= error_messages_for :school_detail %>

  <% form_for(:configuration,:html=> {:multipart=>true}) do |c| %>
    <div class="box">
      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('school_college_name') %></label>
        <div class="text-input-bg">
          <%= text_field :configuration, :institution_name, :value => @config[:institution_name] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('school_college_address') %></label>
        <div class="text-input-bg">
          <%= text_field :configuration, :institution_address, :value => @config[:institution_address] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('school_college_phone') %></label>
        <div class="text-input-bg">
          <%= text_field :configuration, :institution_phone_no, :value => @config[:institution_phone_no] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_institution_type"><%= t('institution_type') %></label>
        <div class="text-input-bg">
          <%= select :configuration, :institution_type, [["#{t('k_12')}", "k12"], ["#{t('highered')}", "hd"]],
            :selected => @config[:institution_type],
            :prompt=>"#{t('select')}"%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_student_attendance_type"><%= t('student_attendance_type') %></label>
        <div class="text-input-bg">
          <%= select :configuration, :student_attendance_type, [["#{t('daily_text')}", "Daily"], ["#{t('subject_wise_text')}", "SubjectWise"]],
            :selected => @config[:student_attendance_type] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="date_format"><%= t('start_day_of_week') %></label>
        <div class="text-input-bg">
          <%= select :configuration, :start_day_of_week, [["#{t("sunday")}", "0"], ["#{t("monday")}", "1"], ["#{t("tuesday")}", "2"],["#{t("wednesday")}", "3"],["#{t("thursday")}", "4"],["#{t("friday")}", "5"],["#{t("saturday")}", "6"]],
            :selected => @config[:start_day_of_week] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="date_format"><%= t('date_format') %></label>
        <div class="text-input-bg">
          <%= select :configuration, :date_format, DateFormat.order.each_with_index.map {|o,i| [o,(i+1).to_s]},
            :selected => @config[:date_format] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="date_format_separator"><%= t('date_format_separator') %></label>
        <div class="text-input-bg">
          <%= select :configuration, :date_format_separator, DateFormat.separator,
            :selected => @config[:date_format_separator] %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('finance_year_start_date') %></label>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'configuration[financial_year_start_date]', I18n.l(@config[:financial_year_start_date].to_date,:format=>:default),
            :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('finance_year_end_date') %></label>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'configuration[financial_year_end_date]',  I18n.l(@config[:financial_year_end_date].to_date,:format=>:default),
            :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
        </div>
      </div>

      <div class="label-field-pair">
        <label><%= t('start_receipt_no')%></label>
        <div class="text-input-bg">
          <%= text_field :configuration, :fee_receipt_no, :value => @config[:fee_receipt_no] %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="configuration_student_attendance_type"><%= "#{t('language') } " %></label>
        <div class="text-input-bg">
          <%= select :configuration, :locale, available_language_options,
            :selected => @config[:locale] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_student_attendance_type"><%= t('time_zone') %></label>
        <div class="text-input-bg">
          <%= select :configuration, :time_zone, @time_zones.map{|t| ["#{t.name}(#{t.code}) - GMT#{t.difference_type}#{Time.at(t.time_difference).gmtime.strftime('%R')}",t.id]},:selected =>@config[:time_zone].to_i  %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="configuration_default_country"><%= t('country') %></label>
        <div class="text-input-bg">
          <% selected_value = @config[:default_country].present? ? @config[:default_country].to_i : 76 %>
          <%= select :configuration, :default_country, @countries.map {|co| [co.full_name, co.id]}, :selected=> selected_value.to_i %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('currency_type') %></label>
        <div class="text-input-bg">
          <%= text_field :configuration, :currency_type, :value => @config[:currency_type] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_precision"><%= t('precision_count') %></label>
        <div class="text-input-bg">
          <%= text_field :configuration, :precision_count, :value => @config[:precision_count] %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="configuration_currency_type"><%= t('upload_logo') %> (<%= t('max_size') %>, <%= t('height_width') %>).</label>
        <div class="text-input-bg">
  <%#= file_field 'school_detail','school_logo', :size=>12 %>
          <%= paperclip_file_field_tag 'school_detail','logo', :size=>12, :direct => false, :object=>@school_detail %>
        </div>
      </div>
      <div class="grades">
        <div class="label-field-pair">
          <label for="configuration_grading_systems"><%= t('include_grading_systems') %></label>
        </div>
        <div class="fee_category_scroll">
          <div class="sel-list">
            <%= t('select') %>: <%= link_to_function t('all'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });" %>,
            <%= link_to_function t('none'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });" %>
          </div>
          <% @grading_types.each do |key,val| %>
            <div class="each_batch">
              <%= check_box :configuration, val.underscore , :checked => (@enabled_grading_types.include? key),:class=>'batches_box' %> <label for="configuration_<%= val.underscore %>"><%= val %></label>
            </div>
          <% end %>
        </div>
      </div>

  <%# FedenaPlugin::REGISTERED_HOOKS[:general_settings_form].each do |mod| %>
  <%#= render :partial=>mod.camelize.constantize.send("general_settings_form") %>
  <%# end %>
      <% FedenaPlugin.deliver_registered_hook(:general_settings_form).each do |mod| %>
        <%= render :partial=>mod.camelize.constantize.send("general_settings_form") %>
      <% end %>
      
      <div class="label-field-pair">
      <label for="termwise_exam_management"><%= t('termwise_exam_management') %></label>
      <div class="checkbox-input-bg">
      <% if @config[:termwise_exam_management] == '1' %>
        <%= check_box :configuration, :termwise_exam_management, :checked => true %>
      <% load "#{Rails.root}/vendor/plugins/pinnacle_term_exam/init.rb" %>
      <% else %>
        <%= check_box :configuration, :termwise_exam_management, :checked => false %>
      <% load "#{Rails.root}/vendor/plugins/pinnacle_term_exam/init.rb" %>
      <% end %>
       </div>
      </div>
      
      <div class="label-field-pair">
        <label for="student_admission_auto"><%= t('student_admission_auto') %></label>
        <div class="checkbox-input-bg">
          <% if @config[:admission_number_auto_increment] == '1' %>
            <%= check_box :configuration, :admission_number_auto_increment, :checked => true %>
          <% else %>
            <%= check_box :configuration, :admission_number_auto_increment, :checked => false %>
          <% end %>
        </div>
      </div>

      <% if Configuration.available_modules.include?('HR') %>
        <div class="label-field-pair">
          <label for="employee_admission_auto"><%= t('employee_admission_auto') %></label>
          <div class="checkbox-input-bg">
            <% if @config[:employee_number_auto_increment] == '1' %>
              <%= check_box :configuration, :employee_number_auto_increment, :checked => true %>
            <% else %>
              <%= check_box :configuration, :employee_number_auto_increment, :checked => false %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="label-field-pair">
        <label for="enable_news_comment_moderation"><%= t('enable_news_comment_moderation') %></label>
        <div class="checkbox-input-bg">
          <% if @config[:enable_news_comment_moderation] == '1' %>
            <%= check_box :configuration, :enable_news_comment_moderation, :checked => true %>
          <% else %>
            <%= check_box :configuration, :enable_news_comment_moderation, :checked => false %>
          <% end %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="enable_news_comment_moderation"><%= t('enable_sibling') %></label>
        <div class="checkbox-input-bg">
          <% if @config[:enable_sibling] == '1' %>
            <%= check_box :configuration, :enable_sibling, :checked => true %>
          <% else %>
            <%= check_box :configuration, :enable_sibling, :checked => false %>
          <% end %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="enable_first_time_login"><%= t('enable_first_time_login') %></label>
        <div class="checkbox-input-bg">
          <% if @config[:first_time_login_enable] == '1' %>
            <%= check_box :configuration, :first_time_login_enable, :checked => true %>
          <% else %>
            <%= check_box :configuration, :first_time_login_enable, :checked => false %>
          <% end %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="enable_roll_number"><%= t('enable_roll_number_for_students') %></label>
        <div class="checkbox-input-bg">
          <% if @config[:enable_roll_number] == '1' %>
            <%= check_box :configuration, :enable_roll_number, :checked => true %>
          <% else %>
            <%= check_box :configuration, :enable_roll_number, :checked => false %>
          <% end %>
        </div>
      </div>

      <% FedenaPlugin.deliver_registered_hook(:general_settings_checkbox).each do |mod| %>
        <br/>
        <%= render :partial=>mod.camelize.constantize.send("general_settings_checkbox") %>
      <% end %>

  <%# FedenaPlugin::REGISTERED_HOOKS[:general_settings_checkbox].each do |mod| %>
  <%#*<br/>%>
  <%#= render :partial=>mod.camelize.constantize.send("general_settings_checkbox") %>
  <%# end %>
      <div id="submit-button">
        <%= submit_tag "► #{t('update')}" %>
      </div>

    <% end %>

  </div>
</div>


