<%= stylesheet_link_tag "tasks/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('task_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('create_new_task') %></div>
</div>
<div id="page-yield">
  <%#*<div class="bread_crumb">%>
    <%#=make_breadcrumb%>
    <%#=render_breadcrumbs%>
  <%#*</div>%>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <%= error_messages_for 'task', :header_message => nil %>
  <%= render :partial => "form_task" %>
</div>
