<%= stylesheet_link_tag "assignments/new" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('assignments_text')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('create_a_new_assignment')}"%></div>

</div>
<div id="page-yield">
  <%#*<div class="bread_crumb">%>
    <%#= make_breadcrumb %>
    <%#= render_breadcrumbs  %>
  <%#*</div>%>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for @assignment , :html => { :multipart => true } do |f| %>
    <%= error_messages_for :assignment %>
    <div class="assignment_container">
      <div class="assignment_form">



        <div class="label-field-pair">
          <label  for="assignment_title"><%= "#{t('title')}"%></label>
          <div class="text-input-bg"><%= f.text_field :title %></div>
        </div>

        <div class="label-field-pair">
          <label  for="assignment_subject"><%= "#{t('subject')}"%></label>    <div class="text-input-bg" >    <%= select :assignment, :subject_id,
              @subjects.map {|s| ["#{s.name}  - #{s.batch.full_name}",s.id]},
              {:prompt=>"select a subject"},
              {:onChange => "#{remote_function(:url => {:action => "subjects_students_list"},
              :with => "'subject_id='+ value",
              :before => "Element.show('loader')",
              :success => "Element.hide('loader')"
              )}"} %></div>
          <% if params[:id].present? %>
            <%= link_to "#{t('change_subject')}" , :action=>:new %>
          <% end %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>

        <div class="label-field-pair " id="assignment_description">
          <label ><%= "#{t('content')}"%></label>
          <div  class="text-input-bg"><%= f.text_area  :content %></div>
        </div>

        <div class="label-field-pair">
          <label ><%= t('attach_a_file')%> &#x200E;(<%= t('maxi_size') %>)&#x200E;</label>
          <div  class="text-input-bg" id="assignment-attachment"><%= f.paperclip_file_field :attachment, :size=>12, :direct => false %></div>
        </div>
        <div class="label-field-pair">
          <label for="duedate"><%= "#{t('due_date')}"%></label>
          <div  class="text-input-bg">
            <%= calendar_date_select_tag "assignment[duedate]",
              I18n.l(1.week.since,:format=>"%Y-%m-%d") ,:class=>"text-input-bg",:readonly=>true,:popup=>:force%>
          </div>
        </div>
        <div id ="assignment-submit" >
          <%= f.submit "#{t('create_new_assignment')}" ,:class=>"submit_button", :disable_with => "#{t('please_wait')}"%>
        </div>

      </div>
      <div id="subjects_student_list">
        <%= render :partial=> "subjects_student_list" %>
      </div>

    </div>
  <% end %>
</div>

