<%= stylesheet_link_tag  "configuration/settings"  %>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
</div>
<br />
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <div class="label-field-pair">
    <label for="configuration_grading_systems"><%= t('task_desc')  %> :</label>
  </div>
 <% form_for :user do |c| %>
    <% i=0 %>
    <% @notification_modes.each do |mode| %>
      <%= mode  %> <%= radio_button_tag :configuration, :"#{mode}", @config_key[:"#{mode}"].to_i == 1 ? true :false, {:id=>"check#{i}",:onClick=>"enable_notification_mode(this)"} %>
      <%= c.check_box :"student#{i}", :disabled=> true , :id=>"weightage#{i}" %>
      <%= c.check_box :"employee#{i}", :disabled=> true, :id=>"weightage1#{i}"  %>
      <%= c.check_box :"parent#{i}", :disabled=> true, :id=>"weightage2#{i}"  %><br /><br />
      <% i=i+1 %>
    <% end %><br />
    <div id="submit-button">
      <%= submit_tag "► #{t('update')}" %>
    </div>
  <% end %>
</div>

<style>
  .fee_category_scroll {
    -moz-background-inline-policy: continuous;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-background-inline-policy: continuous;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 239px;
    margin-left: 250px;
    margin-top: -30px;
    max-height: 90px;
    overflow: auto;
    padding: 7px;
    width: 400px;
  }
  .each_batch {
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    overflow: auto;
    width: 288px;
  }
</style>
<script>
  function enable_notification_mode(val)
  {
    c=val.id;
    if (c == "check0")
    {
      $(weightage0).disabled=false; $(weightage10).disabled=false; $(weightage20).disabled=false;
      $(weightage1).disabled=true; $(weightage11).disabled=true; $(weightage21).disabled=true;
      $(weightage2).disabled=true; $(weightage12).disabled=true; $(weightage22).disabled=true;
    }
    else if (c == "check1")
    {
      $(weightage0).disabled=true; $(weightage10).disabled=true; $(weightage20).disabled=true;
      $(weightage1).disabled=false; $(weightage11).disabled=false; $(weightage21).disabled=false;
      $(weightage2).disabled=true; $(weightage12).disabled=true; $(weightage22).disabled=true;
    }
    else if ( c == "check2")
    {
      $(weightage0).disabled=true; $(weightage10).disabled=true; $(weightage20).disabled=true;
      $(weightage1).disabled=true; $(weightage11).disabled=true; $(weightage21).disabled=true;
      $(weightage2).disabled=false; $(weightage12).disabled=false; $(weightage22).disabled=false;
    }
  }
</script>

