<%= stylesheet_link_tag  "configuration/settings"  %>
<style>
  .fee_category_scroll {
    -moz-background-inline-policy: continuous;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-background-inline-policy: continuous;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 239px;
    margin-left: 250px;
    margin-top: -30px;
    max-height: 90px;
    overflow: auto;
    padding: 7px;
    width: 400px;
  }
  .each_batch {
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    overflow: auto;
    width: 288px;
  }
</style>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
</div>
<br />
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
  <div class="label-field-pair">
    <label for="configuration_grading_systems"><%= t('assignment_desc') %> :</label>
  </div>
  <% form_for(:configuration,:html=> {:multipart=>true}) do |c| %>
    <div class="grades">
      <div class="fee_category_scroll">
        <div class="each_batch">
          <%= radio_button_tag :configuration, :assignment_remainder, @config_key[:assignment_remainder].to_i == 1 ? true :false %><%= t('remainder') %>
          <br />
          <%= radio_button_tag :configuration, :assignment_remainder_and_sms, @config_key[:assignment_remainder_and_sms].to_i == 1 ? true :false %><%= t('remainder_and_sms') %>
          <br />
          <%= radio_button_tag :configuration, :assignment_remainder_and_email, @config_key[:assignment_remainder_and_email].to_i == 1 ? true :false %><%= t('remainder_and_email') %>
          <br />
          <%= radio_button_tag :configuration, :assignment_remainder_and_sms_and_email, @config_key[:assignment_remainder_and_sms_and_email].to_i == 1 ? true :false %><%= t('remainder_and_sms_and_email') %>
          <br />
        </div>
      </div>
    </div>
    <div id="submit-button">
      <%= submit_tag "► #{t('update')}" %>
    </div>
  <% end %>
</div>
