<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
</div>
<%= stylesheet_link_tag "exam/index" %>
<br />
<div id="page-yield">
<div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('assignment_settings')}", { :action=> :set_assignment_notification} %></div>
      <div class="link-descr"><%= t('assignment_desc') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('task_settings')}", {:action=> :set_task_notification} %></div>
      <div class="link-descr"><%= t('task_desc') %></div>
    </div>

   

    <div class="extender"></div>
  </div>
</div>

