<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>
<%unless @normal_subjects.blank? %>
  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head sub-heading"><td><%= "#{t('sl_no')}" %></td>
      <td><%= "#{t('subject')}" %>  </td>
      <td><%= "#{t('status')}" %></td>
    </tr><% i=0 %>
    <% @normal_subjects.each do |s| %>
      <tr class="tr-<%= cycle('odd', 'even') %>"><td class="col-1"><%= i = i+1 %></td>
        <td class="col-2"><%= s.name   %></td>
        <td class="col-2"><%= check_box_tag "subject_id[]",s.id,false,:class => "subject_merger" %></td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
<% else %>
  <%= "#{t('no_subjects_found')}" %>
<% end %>