<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>
<table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
  <tr class="tr-head sub-heading"><td><%="#{t('sl_no')}"%></td>
    <td><%= "#{t('subject')}"%>  </td>
    <td><%= "#{t('status')}" %></td>
  </tr><% i=0 %>
  <% @normal_subjects.each do |s| %>
    <tr class="tr-<%= cycle('odd', 'even') %>"><td><%= i = i+1 %></td>
      <td><%= s.name   %></td>
      <td><%= check_box_tag "subject_id[]",s.id,(@subject_merger.subject_id.include?(s.id.to_s) unless @subject_merger.subject_id.nil?) ? true : false,:class => "subject_merger" %></td>
    </tr>
  <% end %>
</table>
<%= submit_tag "", :value => "► #{t('update')}", :class => "submit_button" %>
