<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>
	<div id="content-header">
	    <div class="header-icon subjects-icon"></div>
	    <h1><%= t('merging_subjects_edit') %></h1>
	  </div>
	  <div id="page-yield" style="width: 1019px;">
	   <div class="bread_crumb">
  <%= breadcrumb :rank_ingres_subject_mergers_edit, @subject_merger %>
    <%= render_breadcrumbs  %>
  </div>
	  <div class="box">

<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
<% form_for :subject_merger do |f| %>
     <div id="form-content">
	      <div class="label-field-pair">
	        <label for="Name"><%= t('subject_name') %><span class="necessary-field">*</span> </label>
	        <div class="text-input-bg"><%= f.text_field :name,:value => @subject_merger.name %></div>
	      </div>
<div class="label-field-pair">  <label for="select_batch"><%= t('select_batch') %><span class="necessary-field">*</span> </label>
	       <div class="text-input-bg">
        <%=f.select :batch_id, options_for_select(@batches.map {|c| [c.full_name, c.id]},:selected=>(@subject_merger.batch_id)),
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "batch_subjects"},
          :with => "'batch_id='+ value")}"}
      %>
                 </div></div>
      </div>
<div id="batch_subjects"><%= render :partial=> "update_subjects" %></div>
<% end %>
 </div>
	  </div>