<%= stylesheet_link_tag "rank_ingres_subect_mergers/new.css" %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <%= show_header_icon %>
  <h1><%= t('subject_merger_management') %></h1>
<div class='header-sep'>|</div>
  <div class='sub-header'><%= t('merged_subjects') %></div>

  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", :controller => "rank_ingres_subject_mergers", :action => "new" %></li>
    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %></p>
  <% end %>
<table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
 <tr class="tr-head sub-heading"><td><%= "#{t('sl_no')}" %></td>
 <td><%= "#{t('batch')}" %></td>
 <td><%= "#{t('name')}" %></td>
 <td><%= "#{t('m_subjects')}" %></td>
 <td><%= "#{t('options')}" %></td>
 </tr><% i=0 %>
 <% unless @subject_mergers.nil? %>
<%  @subject_mergers.each do |s| %>
 <tr class="tr-<%= cycle('odd', 'even') %>">
   <td class="col-1"><div class="category-name"><%= i = i+1 %></div></td>
   <td class="col-2"><div class="category-name"><%=  s.batch.full_name  %></div></td>
    <td class="col-2"><div class="category-name"><%=  s.name  %></div></td>
     <td class="col-2"><% subjects = Subject.find_all_by_id(s.subject_id)   %>
          <% subjects.each do |subject| %>
            <table><tr><%= subject.name %></tr>
               <% end %></table>
            
    </td>
    <td class="col-1"><div class="category-name"><%= link_to "edit", :controller =>  "rank_ingres_subject_mergers", :action =>  "edit", :id => s.id %>|<%= link_to "delete", {:controller => "rank_ingres_subject_mergers", :action => "destroy",:id =>  s.id} ,{:confirm => "Are you sure to delete this record ?"} %></div></td>
 </tr>
 <% end %>
 <% else %>
 <tr><td colspan="4"><%="#{t('no_subjects_merged')}"%></td></tr>
 <% end %>
</table>
    </div>


    