<% unless @batch_terms.uniq.empty?  %>
	<div style="margin:10px 2px;"> Terms: </div>
	<% @batch_terms.uniq.each do |term| %>
		<div class="link-box">
      <div class="link-heading"><%= link_to term.name.capitalize, :controller => "alpha_numeric_batches", :action => "alpha_numeric_exams",:term_id => term.id, :batch_id => params[:batch_id] %></div>
    </div>
  <% end %>
<% else %>
  <div style="background-color : #fff1ab; width:70%;height: 25px; margin-top: 90px;">
    <p style="text-align: center; padding-top:5px; font-size: 13px;"><%= t('no_terms_created')  %></p>
  </div>
<% end %>