<% form_for :alpha_numeric_batches, :url=>{:action=>"create_alpha_numeric_batch"} do |f|%>
  <%= error_messages_for :alpha_numeric_batches %>
  <%= f.hidden_field :batch_id,:value=>"#{params[:batch_id]}"%>
  <div id="exam_form_main2">
    <div class="label-field-pair">
      <label for="student_course"><%= t('select_term') %>:
      </label>
      <div class="text-input-bg">
        <%= select :alpha_numeric_batches,:term_id,
          @terms.map {|b| [b.name, b.id]},
          {:prompt => "#{t('select_term')}"},
          {:onChange => "#{remote_function(:url => {:action => "list_exam_groups",:batch_id=>params[:batch_id]},
          :with => "'term_id='+ value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"
          )}"} %>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </div>
    </div>
    <div class="extender"></div> 
    <div id="list_exam_groups" style="width: 100%"></div>
  </div>
<%end%>