<div id="exam-form">
  <% form_for :alpha_numeric_batches, :url=>{:action=>"create_alpha_numeric_batch"} do |f|%>
    <%= error_messages_for :alpha_numeric_batches %>
    <%= f.hidden_field :batch_id,:value=>"#{params[:batch_id]}"%>
    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_term') %>:
        </label>
        <div class="text-input-bg">
          <%= select :alpha_numeric_batches,:exam_group_id,
            @exam_groups.map {|b| [b.name, b.id]},
            {:prompt => "#{t('select_exam_group')}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
      <div class="extender"></div> 
    </div>
    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="bank_deposit"><%= t('exam_type') %><span class="necessary-field"></span> : </label>
        <div  class="text-input-bg">
          <%= f.select :exam_type, options_for_select(["Alpha Numeric"]),{:prompt=>"#{t('exam_type')}"}, :id => 'type'%> 
        </div>
      </div> 
    </div>
    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button', :onclick => "return validateform();", :style => "padding: 7px 10px;color: #fff;background: #27292B;-moz-border-radius:10px;-webkit-border-radius:10px;font-weight: bold;font-size: 14px;border:none;font-family: arial;cursor:pointer;margin-left: 220px;" %>
  <%end%>
  <div class="extender"></div>
</div>
