<%= stylesheet_link_tag 'exam_groups/index' %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
</div>
<div id="page-yield">
  <div class="bread_crumb">
      <%= breadcrumb :alpha_numeric_batches_alpha_numeric_exams, @term %>
      <%= render_breadcrumbs  %>
  </div>
  <div class="box">
    <table id="listing" width="100%">
      <tr class="tr-head">
        <td><%= t('exam_name') %></td>
      </tr>
      <% @exam_groups.each do |exam_group| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2">
            <%= link_to exam_group.name, :controller => "alpha_numeric_batches", :action => "manage_alpha_numeric_exam",:term_id => @term.id,:batch_id=> exam_group.batch_id, :exam_group_id=>exam_group.id%>
          </td>
        </tr>
      <% end %>
    </table><br /><br />
    <div class="extender"></div>
  </div>
</div>
