<%= stylesheet_link_tag  "exam_groups/new" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>  
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="bread_crumb">
    <% breadcrumb :alpha_numeric_batches_alpha_numeric_exam_details,@alpha_numeric_id.term%>
    <%= render_breadcrumbs  %>
  </div>
  <% form_for :alpha_numeric_exam,:url=>{:controller=>"alpha_numeric_batches",:action=>"alpha_numeric_exam_save"} do |f| %>
    <%= error_messages_for :alpha_numeric_exam %>
  <div class="box">
    <div class="exam-basic-details">
      <div class="label-field-pair">
        <div class="text-input-bg"><%= label :alpha_numeric_exam, t('exam_group_name') %></div>
        <div class="text-input-bg"><%= label :alpha_numeric_exam, @exam_group.name unless @exam_group.nil?%></div>
      </div>
      <div class="label-field-pair">
        <div class="text-input-bg"><%= label :max_grade_score, t('max_grade_score') %></div>
        <div class="text-input-bg"><%= f.text_field :max_grade_score %></div>
      </div>
      <div class="label-field-pair">
        <div class="text-input-bg"><%= label :min_grade_score, t('min_grade_score') %></div>
        <div class="text-input-bg"> <%= f.text_field :min_grade_score %></div>
      </div>
      </div>
    </div>    
      <h4> <%= t('enter_exam_related_details') %>:</h4>
      <table width="100%" id="listing">
        <tr class="tr-head">
          <td><%= t('subject_name') %></td>
          <td><%= t('max_grade_score') %></td>
          <td><%= t('min_grade_score') %></td>
          <td><%= t('start_time') %></td>
          <td><%= t('end_time') %></td>
          <td><%= t('no_exam')%></td>         
        </tr> 
        <% @subjects.each do |subject| %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= subject.name %><%= f.hidden_field :subject_id, :value=>subject.id %>
            </td>
              <%=f.hidden_field :alpha_numeric_id,:value => @alpha_numeric_id.id%>
              <%=f.hidden_field :term_id,:value => "#{params[:term_id]}" %>
              <%=f.hidden_field :batch_id,:value => "#{params[:batch_id]}" %>
              <%=f.hidden_field :exam_group_id,:value => "#{params[:exam_group_id]}" %>
            <td class="col-1"><div class="label-field-pair2">
                <div class="text-input-bg2">
                  <%= text_field"", "alpha_numeric[#{subject.id}][max_grade_score]", :size => 4, :class => 'max_grade_score',:id=>'max_grade_score', :readonly=>true %>
                </div>
              </div>
            </td>
            <td class="col-1">
              <div class="label-field-pair2">
                <div class="text-input-bg2">
                  <%= text_field "", "alpha_numeric[#{subject.id}][min_grade_score]", :size => 4, :class => 'min_grade_score',:id=>'min_grade_score', :readonly=>true %>
                </div>
              </div>
            </td>
            <td class="col-1">
              <div class="label-field-pair3">
                <div class="text-input-bg3">
                  <%= calendar_date_select "", "alpha_numeric[#{subject.id}][start_date]",:popup=>"force",:time => true, :id=>'start_date' %>
                </div>
              </div>
            </td>
            <td class="col-1">
              <div class="label-field-pair3">
                <div class="text-input-bg3">
                  <%= calendar_date_select "", "alpha_numeric[#{subject.id}][end_date]",:popup=>"force",:time => true, :id=>'end_date' %>
                </div>
              </div>
            </td>
            <td class="col-1">
              <div class="label-field-pair2">
                <div class="text-input-bg2">
                  <%= check_box "", "alpha_numeric[#{subject.id}][no_exam]", :checked=>false, :id=>'no_exam' %>
                </div>
              </div>
            </td>           
          </tr> 
        <%end%>     
      </table>
        <%= submit_tag "", :value => "► #{t('create_exam')}", :class => "submit_button",:id=>'submit_button' %> 
    <%end%>    
    <div class="extender"></div>
  </div>
</div>
<script>
  $('alpha_numeric_exam_max_grade_score').observe('blur', function() { $$('.max_grade_score')      .each(function(max_grade_score_obj){ max_grade_score_obj.value = $F('alpha_numeric_exam_max_grade_score'); }); });
  $('alpha_numeric_exam_min_grade_score').observe('blur', function() { $$('.min_grade_score')      .each(function(min_grade_score_obj){ min_grade_score_obj.value = $F('alpha_numeric_exam_min_grade_score'); }); });
</script>
<script type="text/javascript">  
  function validateform() {
    var min = document.getElementById('min_grade_score');
    var max = document.getElementById('max_grade_score');
    var start_date = document.getElementById('start_date');
    var end_date = document.getElementById('end_date');
    var button = document.getElementById('submit_button');
    var decimal=  /^[+-]?\d+(\.\d+)?$/; 
    if (max.value == "" || max.value==null || max.value==0)
    {
      alert('Please enter Maximum marks'); 
      button.disabled = false;     
      return false;      
    }
    else if (min.value == "" || min.value==null)
    {
      alert('Please enter Minimum marks');
       button.disabled = false;       
      return false;           
    } 
  }  
  j('#submit_button').click(function(event){
      validateform();
    // 
    if(j('tr input[type=checkbox]:checked') == true){

    }else{
      j('tr input[type=checkbox]').each( function(element){ 
        var start_date = j(this).parent().parent().parent().parent('tr').find("input[id^='start_date']").val();
        var end_date = j(this).parent().parent().parent().parent('tr').find("input[id^='end_date']").val();
        // alert(this.checked)   
        // if ($('input.checkbox_check').is(':checked')) { 
        if(this.checked == false){    
          if (start_date == "" || start_date == null){
              alert("enter start time");
              event.preventDefault();
              return false;
          }
          else if (end_date == "" || end_date == null){
              alert("enter end time");
              event.preventDefault();
              return false;
          } 
        }         
      });  
    }
    // j('tr input[type=checkbox]').each( function(){ 
    //   var no_exam = j(this).parent().parent().parent().parent('tr').find("input[id^='no_exam']").val();
    //   alert(no_exam);
    // });    
    return true;
  });
</script>
