<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('alpha_numeric_batch') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('create_alpha_numeric_batch') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div id="error_display">
  </div>
  <div id="flash"></div>
  <div class="box">
    <div id="error_show_div"></div>

    <div id="exam_form_main2">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_batch') %>:
        </label>
        <div class="text-input-bg">
          <%= select :alpha_numeric_batches,:batch_id,
            @batch.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_terms"},
            :with => "'batch_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
    </div>
    <div class="extender"></div>
    <div id="list_terms" style="width: 100%"></div>
  </div>
</div>
<script type="text/javascript">
  function validateform() {
    var exam_group_id = document.getElementById('alpha_numeric_batches_exam_group_id');    
    var exam_type = document.getElementById('type');
    var button = document.getElementById('submit_button');   

    if (exam_group_id.value == "" || exam_group_id.value==null)
    {
      alert('Please select exam group'); 
      button.disabled = false;     
      return false;      
    }    
    else if (exam_type.value == "" || exam_type.value==null)
    {
      alert('Please select Exam type'); 
      button.disabled = false;    
      return false;      
    }       
    else
    {     
      return true;
    }        
  } 
</script> 