<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('term') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('edit_alpha_numeric_exam') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :alpha_numeric_batches_edit_alpha_numeric_exam,@alpha_exam%>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>


  <%= error_messages_for :alpha_numeric_exam %>
  <% form_for :alpha_exam,:url=>{:controller=>"alpha_numeric_batches",:action=>"edit_alpha_numeric_exam"} do |f| %>    
    <div class="box">
      <div class="label-field-pair">
        <label for="exam_name"><%= t('exam_group_name') %>:</label>
        <div class="text-input-bg">
          <%= text_field_tag("exam_group", value = "#{@exam_group.name}", options = {:disabled => true})  %>
        </div>
      </div>
      <div class="label-field-pair">
        <%= f.label "#{t('subject')}" %>
        <div class="text-input-bg"><%= f.select :subject_id, @subjects.map { |s| [s.name, s.id]}%></div>
      </div>     
      <div class="label-field-pair">
        <label for="exam_name"><%= t('max_grade_score') %><span class="necessary-field">* </span>:</label>
        <div class="text-input-bg"><%= f.text_field :max_grade_score, :size => 4, :value=>@alpha_exam.max_grade_score %></div>
      </div>
   
      <div class="label-field-pair">
        <label for="exam_name"><%= t('min_grade_score') %><span class="necessary-field">* </span>:</label>
        <div class="text-input-bg"><%= f.text_field :min_grade_score, :size => 4, :value=>@alpha_exam.min_grade_score %></div>
      </div>     

      <div class="label-field-pair">
        <label for="date"><%= t('start_time') %><span class="necessary-field">* </span>:</label>
        <div class="input-container">           
          <%= f.calendar_date_select :start_time,:popup=>"force",:time => true,:value => @alpha_exam.start_time.strftime("%d %B %Y %I:%M %p") %>   
        </div>
      </div>

      <div class="label-field-pair">
        <label for="date"><%= t('end_time') %><span class="necessary-field">* </span>:</label>
        <div class="input-container">      
          <%= f.calendar_date_select :end_time,:popup=>"force",:time => true,:value => @alpha_exam.end_time.strftime("%d %B %Y %I:%M %p") %>      
        </div>
      </div>     

      <%= submit_tag "", :value => "► #{t('update_exam')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>   
    </div>
  <%end%> 
</div>