<%= javascript_include_tag "sortable" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('term') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('result_entry') %></div>  
</div>
<div id="page-yield">

  <div class="bread_crumb">
    <% breadcrumb :alpha_numeric_batches_exam_mark,@alpha_exam%>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
  <% end %>
  <div class="box">


    <% unless @students.empty? %>     
      <% form_for :exam_mark,:url=>{:controller=>"alpha_numeric_batches",:action=>"alpha_numeric_exam_scores",:alpha_numeric_exam_id=>@alpha_exam.id, :subject_id => @subject.id, :batch_id =>@batch.id} do |f| %>
        
        <table class ="sortable" id="listing" width="100%" cellpadding="1" cellspacing="1" onload="sortables_init()" >
          <tr class="tr-head">
            <td class="unsortable"><%= t('sl_no') %></td>
            <td class="default_row"><%= t('name') %></td>
            <td ><%= t('admission_no') %></td>
            <% if roll_number_enabled? %>
              <td data-sorting-type="natural_sort"><%= t('roll_no') %></td>
            <% end %>            
            <td class="unsortable"><%= t('marks_grade') %></td>          
            <td class="unsortable"><%= t('absent') %></td>
          </tr>

          <% @students.each_with_index do |student,i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <td class="col-2"><%= student.full_name %> </td>
              <td class="col-3"><%= student.admission_no %> </td>
              <% if roll_number_enabled? %>
                <td class="col-3"><%= student.roll_number_in_context %></td>
              <% end %>
              
              <% @alpha_exam_score = score_for(student,@subject.id,@batch.id,@alpha_exam.id) %>

             
              <td class="col-1"><div class="label-field-pair">
                <div class="text-input-bg">
                  <%= text_field_tag "exam[#{student.id}][marks_grade]", @alpha_exam_score.marks_grade, :size => '4', :class=>"marks-box" %>                    
                </div></div>
              </td>              
              <td class="col-1">
                <%= check_box_tag "absent_students[]", student.id,(@alpha_exam_score.new_record? ? false : (@alpha_exam_score.marks_grade.nil?)) %>
              </td>
            </tr>

          <% end %>
        </table>

        <div id="sub-button"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %></div>
      <% end %>
    <% else %>
      <p class="flash-msg"> <%= t('no_students_found') %> </p>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
