<%= stylesheet_link_tag "exam/index" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('rt_report_builder')}"%></h1>
</div>
<div id="page-yield">
	<div class="bread_crumb">
	    <%= make_breadcrumb %>
	    <%= render_breadcrumbs  %>
</div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% if @current_user.admin? %>
  <div class="box">
  	<div class="link-box">
        <div class="link-heading"><%= link_to "#{t('alpha_numeric_batch')}" ,:controller =>"alpha_numeric_batches", :action=>'create_alpha_numeric_batch' %></div>
        <div class="link-descr"><%= t('create_alpha_numeric_batch') %></div>
      </div>
  </div>
  <% end %>
  <div class="box">
    <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('alpha_numeric_score')}" ,:controller =>"alpha_numeric_batches", :action=>'list_batches' %></div>
        <div class="link-descr"><%= t('alpha_numeric_score') %></div>
      </div>
  </div>
 </div>