<%= stylesheet_link_tag  "exam_groups/new" %>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div id="inner-tab-menu">
    <ul>
      <%# if can_access_request? :new_term_schedule, :term_schedules %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('add_subject_exams')}", {:controller => "alpha_numeric_batches", :action => "alpha_numeric_exam_details",:term_id => @term.id,:batch_id=> @batch.id, :exam_group_id=>@exam_group.id} %></li>
      <%# end%>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :alpha_numeric_batches_manage_alpha_numeric_exam,[@term,@exam_group]%>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_msg"></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg" id="flash_msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div class="update_msg">
      <div id="exam_group_details">
        <div class="discription_div set_width_high">
          <div class="item_input">
            <p class="set_text_bold"><%=t('exam_group')%></p>
            <p class="input_items"><%=t('term')%></p>
          </div>
          <div class="item_input">
            <p class="set_text_bold">
              <%unless @exam_group.nil?%>
                <%= @exam_group.name.capitalize%>
              <%end%>
            </p>        
            <p class="input_items">
              <%unless @term.nil?%>
                <%= @term.name.capitalize%>
              <%end%>
            </p>        
                
          </div>
        </div>
        <div  class="discription_div">
          <div class="item_input">
            <p class="set_text_bold" style="line-height: normal;"><%=t('course_text')%></p>
            <p class ="input_items"><%=t('batch')%></p>
            <p class ="input_items"><%=t('students')%></p>
            <p class ="input_items"><%=t('batch_tutor')%></p>

          </div>
          <div class="item_input">
            <p class="set_text_bold"><%= @batch.course.course_name%></p>
            <p class ="input_items"><%= @batch.name%></p>
            <p class ="input_items"><%= @batch.students.count%></p>
            <p class ="input_items" style="line-height: normal;margin-top: 7px;"><%= @batch.employees.map{|x| "<span class='item_span'>#{x.full_name} (#{x.employee_number})</span></br>"}%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="extender set_border_bottom"></div>
    <% unless @alpha_numeric_exams.empty?%>
      <% @employee_subjects=[] %>
      <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.id} if @current_user.employee?  %>
      <div class="status_div" id="exam_status">
        <%#=render :partial=>"exam_status"%>
      </div>              
      <div style="clear:both">
          <table id="listing">
            <tr class="tr-head">
              <td><%= t('subject') %></td>
              <td><%= t('max_grade_score') %></td>
              <td><%= t('min_grade_score') %></td>
              <%# if permitted_to? :edit_group_exam, :terms %>      
                <td></td>
              <%# end%>              
            </tr>
            <% done = 0 %>
              <% if @current_user.employee? %>
              <% employees1 = @batch.employees %>
              <% employee = Employee.find_by_user_id(@current_user.id) %>
                <% employees1.each do |emp| %>
                  <% if emp.employee_number == employee.employee_number %>          
                  <% done = 1 %>
                  <% end %>
                <% end %>
              <% @batches = employee.batches %>
              <% end %>
            <% @alpha_numeric_exams.each do |exam| %>
            <% if (done == 1 and @current_user.employee?) or @current_user.admin? %>
              <% @alpha_numeric_exam = exam%>
              <%subject=Subject.find(exam.subject_id)%>              
                <tr class="tr-<%= cycle('odd', 'even') %>">             
                  <td class="col-2"><%= link_to exam.subject.name,  {:action=>:exam_mark, :id=>exam.id, :subject_id=>subject.id}  %></td>
                  <%# if permitted_to? :edit_group_exam, :terms %>                 
                    <td class="col-1">
                      <div class="mark">                        
                          <%=exam.max_grade_score%> 
                      </div>
                    </td>
                    <td class="col-1">
                      <div>                        
                          <%=exam.min_grade_score%>
                      </div>
                    </td>
                    <td class="col-2">
                      <%# if can_access_request? :edit_group_exam, :terms %>
                        <%# if @term_group.is_result_published %>
                          <small><%= link_to "#{t('edit_text')}",  {:action=>:edit_alpha_numeric_exam, :id=>exam.id, :batch_id => @batch.id} %></small> | 
                        <%# else %>
                          <!-- <small>
                              <%#= link_to "#{t('edit_text')}" %>
                          </small> -->
                        <%# end %>
                      <%# end %>
                      <%# if can_access_request? :remove_new_exam, :terms %>
                        <% if @alpha_numeric_exam.removable? %>
                          <small>
                            <%= link_to "#{t('delete_text')}" %>
                          </small>
                        <% else %>
                          <small><s><%= t('delete_text') %></s></small>
                        <% end %>
                      <%# end %>
                    </td>
                  <%# else%>
                    <!-- <td class="col-1">
                      <div class="mark">                        
                          <%#=exam.max_marks%> 
                      </div>
                    </td>
                    <td class="col-1">
                      <div>                        
                          <%#=exam.min_marks%>
                      </div>
                    </td> -->
                  <%# end%>
                </tr>

          <% elsif @current_user.employee? %>
              <% employee = Employee.find_by_user_id(@current_user.id) %>
              <% es = EmployeesSubject.find_all_by_employee_id(employee.id) %>
              <% @alpha_numeric_exam = exam%>
              <%subject=Subject.find(exam.subject_id)%>
              <% s = [] %>
                <% es.each do |subject1| %>
                <%subject=Subject.find(exam.subject_id)%>
                  <% if subject1.subject_id == subject.id %>
                  <% s << subject %>
                  <% end %>
                <% end %>                           
                <tr class="tr-<%= cycle('odd', 'even') %>">
                <% unless s.blank? or s.nil? %>             
                  <td class="col-2"><%= link_to s[0].name,  {:action=>:exam_mark, :id=>exam.id, :subject_id=>s[0].id}  %></td>
                    <td class="col-1">
                      <div class="mark">                        
                          <%=exam.max_grade_score%> 
                      </div>
                    </td>
                    <td class="col-1">
                      <div>                        
                          <%=exam.min_grade_score%>
                      </div>
                    </td>
                    <td class="col-2">
                          <small><%= link_to "#{t('edit_text')}",  {:action=>:edit_alpha_numeric_exam, :id=>exam.id, :batch_id => @batch.id} %></small> | 
                        <% if @alpha_numeric_exam.removable? %>
                          <small>
                            <%= link_to "#{t('delete_text')}" %>
                          </small>
                        <% else %>
                          <small><s><%= t('delete_text') %></s></small>
                        <% end %>
                    </td>
                  <% end%>
                </tr>


                <% end %>
              <%end%>           
          </table>       
      </div>
    <%else%>
      <div  class="flash_msg_div">
        <%if @current_user.is_a_tutor_for_this_batch(@batch) and !@current_user.admin and !@current_user.privileges.include?(Privilege.find_by_name("ExaminationControl")) and !@current_user.privileges.include?(Privilege.find_by_name("EnterResults"))%>
          <p class="flash-msg" id="flash_msg"> <%= t('tutor_cannot_see_subjects') %> </p>
        <%else%>
          <p class="flash-msg" id="flash_msg"> <%= t('no_term_exams_added') %> </p>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
