<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div id="inner-tab-menu">
  <ul>
    <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
      <%  if permitted_to? :new,:exam_groups %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", new_batch_exam_group_path(@batch) %></li>
      <% end %>
    <% end %>
    <%  if permitted_to? :grouping,:exam %>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('connect_exams')}", :controller=>'exam', :action=>'grouping', :id=>@batch %></li>
    <% end %>
  </ul>
</div>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="bread_crumb">
    <%= link_to t('exams_text'), :controller => "exam", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('exam_management')}", :controller => "exam", :action => "create_exam"%> <div class = "bread-crumb-separator"> > </div>
    <%= t('exam_groups_text') %>
  </div>
  <div class="box">


    <table id="listing" width="100%">
      <tr class="tr-head">
        <td><%= t('exam_name') %></td>
        <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
          <td> <%= t('actions') %> <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style =>"display: none;" ) %></td>
        <% end %>
      </tr>
      <% @config = Configuration.available_modules %>
      <% @exam_groups.each do |exam_group| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2">
            <%= link_to "#{exam_group.term_exam_groups.first.term.name} #{exam_group.name}", [@batch, exam_group] unless exam_group.term_exam_groups.first.term.nil? %>
            <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
              <span><small>
                  <%= link_to("#{t('delete_text')}", [@batch, exam_group], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") if exam_group.removable? %>
                  <s><%= "#{t('delete_text')}" unless exam_group.removable? %></s>
                </small></span>
            <% end %>
          </td>
          <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
            <td class="col-2"><small>
                <% unless exam_group.is_published %>
                  <%= link_to_remote("#{t('publish_exam_schedule')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"schedule"},
                    :before => "Element.show('loader')",
                    :success => "Element.hide('loader')")  %>
                <% else  %>
                  <%  unless  exam_group.result_published  %>
                    <%= t('schedule_published') %><% if @sms_setting.application_sms_active and @sms_setting.exam_result_schedule_sms_active %>
                      <%= link_to_remote "#{t('resend')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"schedule"},
                        :before => "Element.show('loader')",
                        :success => "Element.hide('loader')"  %> <%= t('sms_notification') %>.<br />
                    <% end %>
                    <%= link_to_remote("#{t('publish_exam_result')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"result"},:confirm=>"#{t('delete_confirm_msg')}",
                      :before => "Element.show('loader')",
                      :success => "Element.hide('loader')")  %>
                  <% else %>
                    <%= t('result_published') %>. <% if @sms_setting.application_sms_active and @sms_setting.exam_result_schedule_sms_active %>
                      <%= link_to_remote "#{t('resend_sms_notification')}",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"result"},
                        :before => "Element.show('loader')",
                        :success => "Element.hide('loader')"  %>
                    <% end  %>
                  <% end  %>
                <% end  %>

                <span id="publish-notice-<%=exam_group.id%>"></span>

              </small> </td>
          <% end %>
        </tr>
      <% end %>
      <% if @batch.cce_enabled? %>
        <% if permitted_to? :observation_groups,  :assessment_scores %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td colspan="2" class="col-1"><%= link_to "Co-Scholastic result entry", observation_groups_assessment_scores_path(:batch_id=>@batch.id) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="extender"></div>
  </div>
</div>
