<script type="text/javascript"> function setOption(optn) {document.getElementById("option").value = optn;} </script>
<div id="content-header">
  <div class="header-icon student-icon"></div>
  <h1><%= t('student_subject_details') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('view_details') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="search_box_bg">
    <form name="search_form" action="" style="display:inline;">
      <%= hidden_field_tag("option", params['option'], :value => "active") %>
      <label for="user_name"><%= t('search_text') %>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
      </label>
      <div id="search_textbox">
        <%= text_field_tag("query", params['query'], :autocomplete => 'off') %>
      </div>
      <div class="extender"></div>
    </form>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
  <div id="view_all">
  </div>
<%#= observe_fields ['query', 'option'],
:frequency => 0.5,
:update => 'information',
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:url => {:action => 'search_ajax'} %>
  <script type="text/javascript">
    function search_ajax(){
      if ($('query').value.include("%")) return;
<%="#{remote_function(:url => {:action => "search_ajax"},
:with =>"'query='+escape($('query').value)+'&option='+$('option').value",
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:update=>"information"
)}"%>
  }

  document.observe("dom:loaded", function() {
    new Form.Element.Observer('query', 1, search_ajax);
    new Form.Element.Observer('option', 0.5, search_ajax);
  });

  </script>
  <div id="information"></div>
</div>
