<div id="content-header">
  <div class="header-icon student-icon"></div>
  <h1><%= t('student_subject_details') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('elective_enable_disable') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
  <%= breadcrumb :rank_student_subject_electives_rank_elective_subjects, @grade %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
  <div id="student_profile_heading">
    <div id="profile_picture_display">
      <% if @student.photo.file? %>
        <%= image_tag @student.photo.url(:original, false) %>
      <% else %>
        <%= image_tag "master_student/profile/default_student.png" %>
      <% end %>
    </div>
    <div id ="student_main_info">
      <h3> <%= @student.full_name %>  </h3>
      <h4> <%= t('course_text') %>: <%= @student.batch.course.full_name %> </h4>
      <h4> <%= t('batch') %> : <%= @student.batch.name %> </h4>
      <h4> <%= t('adm_no') %> : <%= @student.admission_no %> </h4>
      <% if roll_number_enabled? %>
        <h4> <%= t('roll_no') %> : <%= @student.roll_number.present? ? @student.roll_number : "-" %> </h4>
      <% end %>
    </div>
    <div class="extender"> </div>
  </div>
  <%  @student.batch.terms.each do |term| %>
  <div style="margin-bottom:5px;">
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <caption style="text-align:center; background: #c3d9ff;-webkit-border-radius: 10px;  padding-top: 10px;"><b><%= term.name %></b></caption>

    <% unless @student_subjects.blank? %>
        <tr class="tr-head">
          <td>
            <%= t('sl_no') %>
          </td>
          <td>
            <%= t('elective_group') %>
          </td>
          <td>
            <%= t('elective_subject') %>
          </td>
          <td>
            <%= t('option') %>
          </td>
        </tr>
        <tr class="tr-blank"></tr>
        <% @student_subjects.each_with_index do |elective_subject, i| %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-1"><%= i+1 %></td>
            <td class="col-4"><%= elective_subject.subject.elective_group.name   %></td>
            <td class="col-4"><%=  elective_subject.subject.name%></td>
            <% subject = RankStudentSubjectElective.find_by_students_subject_id_and_term_id(elective_subject.id,term.id)  %>
            <% if subject.nil?  %>
              <td class="col-4"><%=  link_to t('disable'), :controller => 'rank_student_subject_electives', :action => 'elective_disable',:id => params[:id], :students_subject_id =>elective_subject.id,:term_id =>term.id, :mode => "Disable" %></td>
            <% else %>
              <td class="col-4"><%=  link_to t('enable'), :controller => 'rank_student_subject_electives', :action => 'elective_disable',:id => params[:id], :students_subject_id =>elective_subject.id ,:term_id =>term.id,:mode => "Enable"%></td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2"><%= t('no_subjects_found') %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</div>