<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <% unless @students.blank? %>
          <tr class="tr-head">
            <td>
              <%= t('sl_no') %>
            </td>
            <td>
             <%= t('first_name') %>
            </td>
            <td> <%= t('batch') %></td>
            <td> <%= t('adm_no') %></td>
            <% if roll_number_enabled? %>
              <td> <%= t('roll_no') %></td>
            <% end %>
          </tr>
          <tr class="tr-blank"></tr>
          <% @students.each_with_index do |student, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <%if params[:option]=="active"%>
              <td class="col-4"><%=  link_to student.full_name, :controller => 'rank_student_subject_electives', :action => 'rank_elective_subjects', :id => student.id%></td>
              <%else%>
              <td class="col-4"><%=  link_to student.full_name, '#', :onclick=>"update_sibling_selected('#{student.id}','#{student.full_name.gsub("'","\\\\'")}')" %></td>
              <%end%>
              <td class="col-4"><%= student.batch.full_name %></td>
              <td class="col-1"><%= student.admission_no %></td>
              <% if roll_number_enabled? %>
                <td class="col-1"><%= student.roll_number.present? ? student.roll_number : "-" %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>

          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= t('no_students_found') %></td>
          </tr>
        <% end %>
      </table>